<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Glossary of terms and abbreviations used in this Manual
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated January 2019. </p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td>Term</td>
      <td>Definition</td>
    </tr>
    <tr>
      <td>1949 Act</td>
      <td>The Patents Act 1949 (c.87). The authority under which patents were granted prior to the 1977 Act</td>
    </tr>
    <tr>
      <td>1977 Act</td>
      <td>The Patents Act 1977 (c.37). The authority under which patents are presently granted and enforced in the UK</td>
    </tr>
    <tr>
      <td>a.</td>
      <td>Article. Part of a treaty or convention (eg EPC, PCT), which will usually be specified</td>
    </tr>
    <tr>
      <td>All ER</td>
      <td>All England Reports. A series of law reports</td>
    </tr>
    <tr>
      <td>BL number</td>
      <td>Decisions of the Intellectual Property Office and Patents Court are indexed according to “BL numbers” in the format “BL O/nnn/yy” and “BL C/nnn/yy” respectively. BL refers to the British Library Science Technology and Business section, which houses the UK national patent library. This was previously called the Science Reference and Information Service, and BL numbers used to be called “SRIS numbers” for this reason</td>
    </tr>
    <tr>
      <td>CDP Act</td>
      <td>The Copyright, Designs and Patents Act 1988 (c.48)</td>
    </tr>
    <tr>
      <td>CIPA</td>
      <td>The Chartered Institute of Patent Attorneys</td>
    </tr>
    <tr>
      <td>CMLR</td>
      <td>Common Market Law Reports</td>
    </tr>
    <tr>
      <td>COPS</td>
      <td>An Intellectual Property Office computer system.</td>
    </tr>
    <tr>
      <td>CPC</td>
      <td>Community Patent Convention. A convention to establish a unitary patent covering the entire EC, which has never come into force</td>
    </tr>
    <tr>
      <td>CPR</td>
      <td>Civil Procedure Rules. A procedural code for the courts, with the overriding objective of enabling the court to deal with cases justly</td>
    </tr>
    <tr>
      <td>EPC</td>
      <td>European Patent Convention. A convention allowing the grant of patents covering one or more countries within the convention by the European Patent Office. A single application may lead to grant of a patent in each country designated, but once granted the patents are treated in the same way as a set of national applications</td>
    </tr>
    <tr>
      <td>EPC [1973]</td>
      <td>The European Patent Convention of 1973 which was the European Patent Convention which was in force prior to 13 December 2007</td>
    </tr>
    <tr>
      <td>EPO</td>
      <td>European Patent Office. An intergovernmental organisation (not part of the EU) set up to administer the EPC and grant European Patents</td>
    </tr>
    <tr>
      <td>EPOQUE</td>
      <td>A portal for online database searching provided by the EPO</td>
    </tr>
    <tr>
      <td>EPOR</td>
      <td>European Patent Office Reports. A series of law reports published by Sweet and Maxwell covering cases heard by the European Patent Office Boards of Appeal</td>
    </tr>
    <tr>
      <td>European Patent Bulletin</td>
      <td>A journal published by the European Patent Office giving information relating to European patents and applications</td>
    </tr>
    <tr>
      <td>EWCA Civ</td>
      <td>Neutral citation assigned to judgments of the Civil Division of the Court of Appeal</td>
    </tr>
    <tr>
      <td>EWHC number (Pat)</td>
      <td>Neutral citation assigned to judgments of the Patents Court</td>
    </tr>
    <tr>
      <td>Ex parte hearing</td>
      <td>A hearing on an issue solely between an applicant and the comptroller. Also sometimes referred to as a “without-notice” hearing</td>
    </tr>
    <tr>
      <td>FSR</td>
      <td>Fleet Street Reports. A series of law reports relating to intellectual property decisions published by Sweet and Maxwell</td>
    </tr>
    <tr>
      <td>G nn/yy</td>
      <td>A decision of the EPO Enlarged Board of Appeal</td>
    </tr>
    <tr>
      <td>Intellectual Property Office</td>
      <td>An operating name of the Patent Office</td>
    </tr>
    <tr>
      <td>Inter partes hearing</td>
      <td>A hearing by the comptroller of an issue between two parties. Also sometimes referred to as a “with-notice” hearing</td>
    </tr>
    <tr>
      <td>Ipsum</td>
      <td>The Intellectual Property Office’s online patent information and document inspection service</td>
    </tr>
    <tr>
      <td>J nn/yy</td>
      <td>A decision of the EPO Legal Board of Appeal</td>
    </tr>
    <tr>
      <td>OJEPO</td>
      <td>Official Journal of the European Patent Office. A journal giving official information from the European Patent Office</td>
    </tr>
    <tr>
      <td>OJ(P)</td>
      <td>Official Journal (Patents). The original name for the Patents Journal (later called the Patents and Designs Journal (PDJ))</td>
    </tr>
    <tr>
      <td>PA</td>
      <td>Private applicant - an individual or small business applying for a patent personally rather than through the services of a patent agent</td>
    </tr>
    <tr>
      <td>PA 1977</td>
      <td>The Patents Act 1977</td>
    </tr>
    <tr>
      <td>Paris Convention</td>
      <td>The Paris Convention for the Protection of Industrial Property. An agreement concluded in 1883 and updated several times since, providing for national treatment, right of priority and common rules between states for patents and other forms of intellectual property</td>
    </tr>
    <tr>
      <td>PCT</td>
      <td>Patent Cooperation Treaty. A system to aid filing in many different states by initially filing a single “international” application, which after search, publication and optionally examination may be converted into a series of national applications</td>
    </tr>
    <tr>
      <td>PDAX</td>
      <td>An Intellectual Property Office computer system</td>
    </tr>
    <tr>
      <td>PDJ</td>
      <td>Patents and Designs Journal. Now published separately as the Designs  Journal and the Patents Journal: a journal published by the Intellectual Property Office giving notices and information concerning UK patents and applications</td>
    </tr>
    <tr>
      <td>PLT</td>
      <td>Patent Law Treaty. A treaty agreed in 2000 to harmonise the formal requirements for filing patent applications</td>
    </tr>
    <tr>
      <td>PROSE</td>
      <td>An Intellectual Property Office computer system</td>
    </tr>
    <tr>
      <td>r.</td>
      <td>Rule. Part of the Patents Rules 2007 unless otherwise specified</td>
    </tr>
    <tr>
      <td>RPC</td>
      <td>Reports of Patent, Design and Trade Mark Cases - a series of law reports relating to intellectual property cases, published on behalf of the Intellectual Property Office, currently by Oxford University Press</td>
    </tr>
    <tr>
      <td>RSC</td>
      <td>Rules of the Supreme Court. Now substantially replaced by the Civil Procedure Rules (CPR)</td>
    </tr>
    <tr>
      <td>s.</td>
      <td>Section. Part of the Patents Act 1977 unless otherwise specified</td>
    </tr>
    <tr>
      <td>SHB</td>
      <td>Secretariat Hearing Box. A system for numbering records of Office hearings. Now discontinued and replaced by BL number</td>
    </tr>
    <tr>
      <td>SPC</td>
      <td>Supplementary Protection Certificate. Additional protection taking effect after the expiry of a patent for medicinal or plant protection products to compensate the patentee for loss of effective protection due to the time taken to gain regulatory approval</td>
    </tr>
    <tr>
      <td>SRIS number</td>
      <td>See BL number</td>
    </tr>
    <tr>
      <td>TRIPS Agreement</td>
      <td>The Agreement on Trade Related Aspects of Intellectual Property Rights, originating from the Uruguay Round of trade negotiations setting up the WTO and completed in 1994. The TRIPS Agreement requires WTO Members to provide minimum standards of protection for a wide range of intellectual property rights</td>
    </tr>
    <tr>
      <td>T nn/yy</td>
      <td>A decision of the EPO Technical Board of Appeal</td>
    </tr>
    <tr>
      <td>UK Intellectual Property Office</td>
      <td>A former operating name of the Patent Office, now known as the Intellectual Property Office</td>
    </tr>
    <tr>
      <td>V nn/yy</td>
      <td>A decision of the EPO Opposition Division</td>
    </tr>
    <tr>
      <td>WIPO</td>
      <td>World Intellectual Property Organisation. An intergovernmental organization with headquarters in Geneva, Switzerland, responsible for the promotion of the protection of intellectual property throughout the world through cooperation among States, and for the administration of various multilateral treaties dealing with the legal and administrative aspects of intellectual property</td>
    </tr>
    <tr>
      <td>WTO</td>
      <td>World Trade Organisation. An international organisation created by the Uruguay Round of trade negotiations completed in 1994, dealing with rules of trade between nations</td>
    </tr>
    <tr>
      <td>WLR</td>
      <td>Weekly Law Reports</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
