<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Manual of Patent Practice Introduction
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (0.01 - 1.12) last updated: October 2022. </p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="introduction">Introduction</h3>

<p>The long title of the Patents Act 1977 is:</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td>An Act to establish a new law of patents applicable to future patents and applications for patents; to amend the law of patents applicable to existing patents and applications for patents; to give effect to certain international conventions on patents; and for connected purposes.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">0.01</h3>

<p>This Act effected major changes in UK patent law and substantial harmonisation of that law with corresponding provisions of the European Patent Convention (EPC), the Community Patent Convention (CPC) and the Patent Co-operation Treaty (PCT), to provide a patent system intended to be better suited to the needs of modern industry, sufficiently flexible to accommodate future changes in technology and adapted to operate in 
an international context.</p>

<h3 id="section-1">0.02</h3>

<p>The Act is in three parts concerned respectively with (1) domestic law, (2) provisions to put into effect UK treaty obligations in relation to the EPC, PCT and CPC and (3) miscellaneous and general matters including the setting up of the Patents Court and other legal provisions, administrative procedures, and interpretation. There follow six schedules dealing respectively with the application of the 1949 Act to existing patents and applications; the application of the 1977 Act to existing patents and applications; repeals of provisions of the 1949 Act; certain transitional provisions relating to matters in being before the 1977 Act came into effect; amendments to other statutes consequential upon the introduction of this Act; and a list of enactments repealed. Various amendments have been made to the 1977 Act by subsequent legislation, most notably the Copyright, Designs and Patents Act 1988 (hereinafter the CDP Act) and the Patents Act 2004. The effects of these Acts and other legislation on particular sections of the 1977 Act are referred to in the chapters relating to those sections. Certain provisions of the CDP Act itself affecting patents are discussed in this Manual after the commentary on the 1977 Act.</p>

<h3 id="section-2">0.03</h3>

<p>s.123 is also relevant</p>

<p>The Secretary of State is authorised by the 1977 Act to “make such rules as he thinks expedient for regulating the business of the Patent Office” in the administration of the Act. The Patents Rules 1978, made under this provision, came into operation concurrently with the major provisions of the Act on 1 June 1978. They have subsequently been superseded by the Patents Rules 1982, the Patents Rules 1990, the Patents Rules 1995, and most recently the Patents Rules 2007, which have effect from 17 December 2007. In this Manual any reference to the Rules should be construed as referring to the Patents Rules 2007, unless there is specific indication to the contrary.</p>

<h3 id="ref0-04">0.04</h3>

<p>s.123(2A) is also relevant</p>

<p>There are six schedules to the 2007 Rules. Schedule 1 made under r.13(1) makes provision regarding patents and patent applications for inventions which involve the use of or concern biological material. Schedule 2 made under r.14 sets out formal and other requirements for all documents (including drawings) contained in a patent application. Schedule 3 is made under r.73 and sets out the different classes of proceedings before the comptroller to which part 7 of the Patents Rules 2007 applies and the rules which apply to any proceedings heard before the comptroller. Schedule 4 makes provisions for the extension of time limits under r.108. Schedule 5 sets out transitional provisions which are brought into effect by r.120(1), and Schedule 6 lists the instruments which are revoked under r.120(2). The texts of the various forms required in connection with activities under the Patents Act 1977 is specified in directions made under s.123(2A). Replicas of these forms (or a form acceptable to the comptroller and containing the information required by the form specified in any such direction) must be used whenever required. The fees required to accompany the forms under the 1977 Act are prescribed by a separate statutory instrument, the Patents (Fees) Rules, <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-15">see 123.15</a>.</p>

<h3 id="precedent-effect-of-previous-law">Precedent effect of previous law</h3>

<h3 id="ref0-05">0.05</h3>

<p>As stated in the long title, the Act established a new law. For example, the Patents Court, in Unilever Ltd’s Application, [1983] RPC 219, rejected a submission that wording used in the Act should be interpreted in a manner which would involve least change in the concept of patentability as between the old and new statutes. Falconer J observed that “One of the striking changes in the 1977 Act was to include for the first time in our patent law …. a statutory definition of what constituted a patentable invention” and, referring to the principle that where the wording of a statute is susceptible of more than one interpretation there is a presumption against any change in the existing law, stated: “It seems to me that there is no basis for the operation of that principle …. because Parliament made it abundantly clear in the long title to the Act …. that the old law of patents is being swept away”. However, the influence of a limited number of earlier precedents, which have not been rendered nugatory by the 1977 Act and subsequent case law, does continue to apply.</p>

<h3 id="section-3">0.06</h3>

<p>[deleted]</p>

<h3 id="international-agreements">International agreements</h3>

<h3 id="ref0-07">0.07</h3>

<p>The phrase in the long title: “to give effect to certain international conventions on patents” is a reference to Part II of the Act which provides for the effect in the UK of the EPC, CPC and PCT (the CPC not being in operation).</p>

<h3 id="ref0-08">0.08</h3>

<p>s.130(7) and s.91(1) is also relevant</p>

<p>In addition to the specific provisions in Part II, there is a general intention that the patent laws of European states should be harmonised. To this end the Act specifies certain sections which are stated to be “so framed as to have, as nearly as practicable, the same effects in the United Kingdom as the corresponding provisions of the European Patent Convention, the Community Patent Convention and the Patent Co-operation Treaty have in the territories to which those conventions apply”. Moreover judicial notice must be taken of these conventions and of decisions and expressions of opinion given under them by the appropriate bodies, <a href="/guidance/manual-of-patent-practice-mopp/section-91-evidence-of-conventions-and-instruments-under-conventions/#ref91-02">see 91.02</a>.</p>

<h3 id="ref0-09">0.09</h3>

<p>In Merrell Dow Pharmaceuticals Inc. v H.N. Norton &amp; Co Ltd [1996] RPC 76, the House of Lords held that, in construing a section of the Patents Act 1977 said by section 130(7) to have, as nearly as practicable, the same effects as the corresponding provisions of the European Patent Convention, the United Kingdom courts must have regard to the decisions of the EPO. Lord Hoffmann said (at page 82): “These decisions are not strictly binding upon the courts in the United Kingdom but they are of great persuasive authority; first, because they are decisions of expert courts (the Boards of Appeal and Enlarged Board of Appeal of the EPO) involved daily in the administration of the EPC and secondly, because it would be highly undesirable for the provisions of the EPC to be construed differently in the EPO from the way they are interpreted in the national courts of a Contracting State”. Furthermore, the Supreme Court in <a rel="external" href="http://rpc.oxfordjournals.org/content/129/2/102.abstract?sid=776ed992-edab-4f22-ae90-c49ba10697b5">Human Genome Sciences v Eli Lilly  [2011] UKSC 51, [2012] RPC 6</a> held that, although decisions of the EPO Boards of Appeal are not binding upon UK courts, where the Board has adopted a consistent approach to an issue in a number of decisions, it would require very unusual facts to justify a national court not following that approach.</p>

<h3 id="ref0-09">0.10</h3>

<p>In the judgment given by Jacob LJ in Actavis UK Ltd v Merck [2008] EWCA Civ 444, it was held that the Court of Appeal can (but is not bound to) depart from its own precedent if it is satisfied that the EPO Boards of Appeal have formed a settled view of European Patent law which is inconsistent with the Court of Appeal earlier decision. Generally the Court of Appeal will follow the settled view of the EPO (see para 107 of the decision). This approach was approved of in principle in R. v Secretary of State for Work and Pensions [2008] UKHL 63, although it was made clear that conflicting EPO authority would not provide justification for the Court of Appeal to disregard a precedent of the House of Lords.</p>

<h3 id="section-4">0.11</h3>

<p>Given the reference in section 130(7) to the effects that the convention provisions have in “the territories to which those conventions apply”, it is necessary, in construing and applying the sections stipulated, to have regard not only to decisions of the Boards of Appeal of the EPO but also to decisions given in other countries relating to the relevant provisions of the three treaties.</p>

<h3 id="section-5">0.12</h3>

<p>Regard may be had not only to decisions given under these international agreements, but also to the wording of the conventions themselves. This applies particularly in relation to the sections of the Act mentioned in s.130(7), <a href="/guidance/manual-of-patent-practice-mopp/section-130-interpretation/#ref130-30">see 130.30-33</a>.</p>

<h3 id="ref0-13">0.13</h3>

<p>The effect of s.10 of the Interpretation Act 1978 is that any reference to the Sovereign reigning at the time of the passing of any Act of Parliament, is construed as a reference to the Sovereign for the time being. Quotations of, and references to, legislation in MoPP relating to the Sovereign should therefore be construed accordingly.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
