<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 2: Novelty 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (2.01 - 2.41) last updated January 2024.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">


          <div id="default-id-7e511e6a" data-module="govuk-accordion gem-accordion ga4-event-tracker" data-ga4-expandable="" data-anchor-navigation="true" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all sections" data-hide-all-text="Hide all sections" data-this-section-visually-hidden=" this section" class="gem-c-accordion govuk-accordion govuk-!-margin-bottom-6">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="novelty" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Novelty&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-1">Novelty</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-1" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-1" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Novelty&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref2-01">2.01</h3>
<p>s.130(7) is also relevant</p>
<p>Section 2 is so framed as to have, as nearly as practicable the same effect in the UK as the corresponding provisions of the EPC, ie Articles 54 and 55, PCT and CPC. Rule 5 is relevant to this section.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong> Section 2(1)</strong></td>
    </tr>
    <tr>
      <td>An invention shall be taken to be new if it does not form part of the state of the art.</td>
    </tr>
  </tbody>
</table>
<h3 id="ref2-02">2.02</h3>
<p>An invention defined in a claim lacks novelty if the specified combination of features has already been anticipated in a previous disclosure. In <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a>, the House of Lords held there were two requirements for anticipation: prior disclosure (see 2.03 to 2.09) and enablement see <a href="#ref2-10">2.10</a>. These are distinct concepts, each of which has to be satisfied and each of which has its own rules.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="prior-disclosure" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Prior disclosure&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-2">Prior disclosure</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-2" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-2" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Prior disclosure&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref2-03">2.03</h3>
<p>Prior disclosure is  the first requirement to be satisfied for matter to anticipate an invention. To constitute a prior disclosure of an invention, the matter relied upon as prior art must disclose subject matter which, if performed, would necessarily result in infringement of the patent. This infringement test is detailed by the Court of Appeal in <a rel="external" href="https://doi.org/10.1093/rpc/89.17.457">General Tire &amp; Rubber Company v Firestone Tyre &amp; Rubber Company Limited, [1972] RPC 457</a>, at pages 485-6:-</p>
<blockquote>
  <p class="last-child">If the prior inventor’s publication contains a clear description of, or clear instructions to do or make, something that would infringe the patentee’s claim if carried out after the grant of the patentee’s patent, the patentee’s claim will have been shown to lack the necessary novelty, that is to say, it will have been anticipated. The prior inventor, however, and the patentee may have approached the same device from different starting points and may for this reason, or it may be for other reasons, have so described their devices that it cannot be immediately discerned from a reading of the language which they have respectively used that they have discovered in truth the same device; but if carrying out the directions contained in the prior inventor’s publication will inevitably result in something being made or done which, if the patentee’s patent were valid, would constitute an infringement of the patentee’s claim, this circumstance demonstrates that the patentee’s claim has in fact been anticipated.</p>
</blockquote>
<p>Actavis UK Ltd &amp; Ors v Eli Lilly &amp; Company [2017] UKSC 48 held that a product with a feature which is different from, but equivalent to, a claimed feature may nevertheless infringe, even though it falls outside the meaning of the claim’s wording (<a href="/guidance/manual-of-patent-practice-mopp/section-125-extent-of-invention/#ref125-17-3">see 125.17.3-125.18.5</a>). The statement in General Tire that a document infringing after grant would be an anticipation before grant is not thought to apply in such cases - but clarification from the courts on this point is awaited. Note that in <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2017/2629.html">Generics (U.K.) Limited and others v Yeda Research and Development Company Ltd and others [2017] EWHC 2629 (Pat)</a>, Arnold J said that the doctrine of equivalents set out in Actavis v Eli Lilly does not apply to novelty.</p>
<h3 id="ref2-03-1">2.03.1</h3>
<p>The Court of Appeal applied this test in <a rel="external" href="https://doi.org/10.1093/rpc/1995rpc255">Glaverbel SA v British Coal Corporation [1995] RPC 255</a> where it was also held that it is not necessary for the prior art to be equal in practical utility or to disclose the same invention in all respects as the patent in suit. The Patents Court considered the requirement for the prior art “inevitably” to result in a novelty-destroying disclosure in <a rel="external" href="https://doi.org/10.1093/rpc/2002rpc1">Kirin-Amgen Inc. v Roche Diagnostics GmbH [2002] RPC 1</a>. It was held that “the law of patents is ultimately concerned with practicality”, and so a prior art experiment which, when performed, reliably produced a particular result “more than 99 percent of the occasions on which it is conducted” would be regarded for the purposes of disclosure as “inevitably” leading to the result in question.  In <a rel="external" href="http://www.bailii.org/cgi-bin/markup.cgi?doc=/ew/cases/EWHC/Patents/2008/2345.html&amp;query=Dr+and+Reddy%E2%80%99s&amp;method=boolean">Dr Reddy’s Laboratories (UK) Ltd v Eli Lilly and Co Ltd [2008] EWHC 2345 (Pat), [2009] FSR 5</a>, the Patents Court held that where the skilled person would have recognised that there were errors in a prior disclosure, the question to be considered was whether there was a clear and unambiguous disclosure of the invention, not whether the skilled person would have concluded that the document probably disclosed the invention. See also <a href="#ee">2.07-2.07.3</a>.</p>
<h3 id="section">2.04</h3>
<p>It  follows  that  a  claim  which  defines  an  invention  by  reference  to parameters, for example of a process or a product, is anticipated by a disclosure which when put into practice would necessarily fall within the scope of the claim, even if the disclosure does not refer to these particular parameters. (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-121">See also 14.121</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-41">17.41</a>).</p>
<h3 id="ref2-04-1">2.04.1</h3>
<p>In <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t860303eu1.html">T 303/86 (CPC Int) [1993] EPOR 241</a> the Technical Board of Appeal of the EPO considered anticipation arising from two cook-book recipes of a process for making flavour concentrates from vegetable or animal substances by extraction with fat solvents under pressure in the presence of water. The claim specified certain parameters for the ratio between the vapour pressure of the water in the meat or vegetables and the vapour pressure of the free water. The Board said:</p>
<blockquote>
  <p>It is sufficient to destroy the novelty of the claimed process that this process and the known process are identical with respect to the starting material and reaction conditions since processes identical in these features must inevitably yield identical products.</p>

  <p class="last-child">Furthermore, it did not matter that the cook did not realise that they were not only frying a chicken, but also making a “flavour concentrate” in the surplus oil. It was enough, as the Board said, that “some flavour of the fried chicken is extracted into the oil during the frying process even if this is not the desired result of that process.”</p>
</blockquote>
<h3 id="x">2.04.2</h3>
<p>In <a rel="external" href="https://doi.org/10.1093/rpc/1996rpc76">Merrell Dow Pharmaceuticals Inc v H N Norton &amp; Co Ltd [1996] RPC 76</a> Lord Hoffmann held that section 2(2) does not confine the state of the art about products to knowledge of their chemical composition. It is the invention which must be new and which must therefore not be part of the state of the art. It is therefore part of the state of the art if the information which has been disclosed enables the public to know the product under a description sufficient to work the invention. Thus, in Merrell Dow, which centred on a claim to an acid metabolite formed in the liver after administration of terfenadine (itself the subject of an earlier patent), the acid metabolite was held to be anticipated not by prior use (see <a href="#ref2-29">2.29</a>) but because it was the inevitable result of carrying out the directions in the earlier terfenadine patent.</p>
<h3 id="section-1">2.05</h3>
<p>A claim is bad for want of novelty if information about anything falling within its scope has already been disclosed. Thus for example if a claim specifies alternatives, or defines the invention by reference to a range of values (eg of composition, temperature etc), then the invention is not new if one of these alternatives, or if a single example falling within this range, is already known. Thus a specific example is sufficient to destroy the novelty of a claim to the same thing defined generically; for example a disclosure of a metal coil spring anticipates a claim to resilient means. In some (particularly chemical) cases it may be possible to overcome an objection of lack of novelty by means of a disclaimer (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-126">see 14.126</a>).</p>
<h3 id="ref2-06">2.06</h3>
<p>On the other hand, a generic disclosure does not impugn the novelty of a more specific claim, so that an earlier reference to a metal coil spring cannot be used to attack the novelty of a claim specifying such a spring made of copper. In some cases however the disclosure of a comparatively small and restricted field of possible alternatives might properly be held to be a disclosure of each and every member; for example, “fluid” may be taken to disclose both liquid and gas, if the context warrants it, and a reference to an electric motor may be regarded as disclosing the use of both series- and shunt-wound types. In Norton Healthcare Ltd v Beecham Group Plc (BL C/62/95) Jacob J held that a prior suggestion of a combination of sodium or potassium clavulanate with amoxycillin or ampicillin trihydrate (four possible combinations only) was a disclosure of each of  the combinations. (But see <a href="#ref2-18">2.18-2.20</a>).</p>
<h3 id="ref2-06-1">2.06.1</h3>
<p>In <a rel="external" href="https://doi.org/10.1093/rpc/1998rpc1">Union Carbide Corp. v BP Chemicals Ltd [1998] RPC 1</a> Jacob J held that “the information given by a direction not to do X because it will have adverse consequences is not equivalent to a direction to do X because it has beneficial consequences or does not have the supposed adverse consequences” and so novelty will not be impugned by an earlier disclosure which in effect gives clear directions not to do that which is claimed in a later application.  He commented that “invention can lie in finding out that that which those in the art thought ought not be done, ought to be done.</p>
<h3 id="ref2-06-2">2.06.2</h3>
<p>In the situation where a prior art document discloses a range which overlaps with a range claimed in the application in suit, the EPO’s Technical Board of Appeal held that the prior art would be novelty destroying if the skilled person reading the prior art would “seriously contemplate” applying the teaching of the prior art in the area of the overlap (see T 26/85 and T 666/89). However, in <a rel="external" href="https://www.bailii.org/ew/cases/EWCA/Civ/2018/1416.html">Jushi Group Co. Ltd v OCV Intellectual Capital LLC [2018] EWCA Civ 1416</a>, Floyd LJ held that the conventional approach as set out in <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a> and <a rel="external" href="https://doi.org/10.1093/rpc/rcq020">Dr Reddy’s Laboratories (UK) Ltd v Eli Lilly &amp; Co Ltd [2010] RPC 9</a> see <a href="#ref2-19">2.19 below</a> should still be followed. The judge goes on to say that “…there may be circumstances where a prior disclosure of a numerical range…may carry with it an implicit disclosure that the skilled person may choose any value within the range. Whether that is so will depend of the disclosure of the document understood with the benefit of the common general knowledge. It is wrong, however, to elevate that possible conclusion into a rule of law, so that every numerical range must be so understood, whatever the context.</p>
<h3 id="ee">2.07</h3>
<p>While it is generally necessary, for a finding of lack of novelty, for all the features of the claim under consideration to have been explicitly disclosed, the teaching implicit in a document may also be taken into account. If a person skilled in the art would conclude that an earlier invention would, as a matter of normal practice, necessarily be performed in a way which would fall within the scope of the claim under consideration, then the matter defined by the claim is not new. For example the disclosure of a control arrangement for the cooling system of an internal combustion engine might not refer to the presence of a radiator or other heat exchanger in the system, but it is common knowledge that there would necessarily be one and so its presence is implied. Floyd J confirmed in  <a rel="external" href="https://doi.org/10.1093/rpc/rcr016">H.Lundbeck A/S v Norpharma SpA [2011] EWHC 907 (Pat), [2011] RPC 23</a> that prior disclosure includes implicit disclosures. On the other hand, he held that matter may be contained in a prior art document but so submerged in it as to not form a disclosure (i.e. if special knowledge is required for the matter to be understood, such that it would not be understood by a skilled person utilising their common general knowledge).</p>
<h3 id="ref2-07-1">2.07.1</h3>
<p>On the other hand, while it may be a common practice for there to be a radiator mounted in front of the engine, this is not necessarily the case and cannot be inferred; if the claim under consideration specifies a radiator so located and the cited document is silent on this point, the question is one of obviousness rather than lack of novelty. The <a rel="external" href="https://doi.org/10.1093/rpc/89.17.457">General Tire</a> judgment cited in paragraph 2.03 continues:</p>
<blockquote>
  <p class="last-child">If, on the other hand, the prior publication contains a direction which is capable of being carried out in a manner which would infringe the patentee’s claim, but would be at least as likely to be carried out in a way which would not do so, the patentee’s claim will not have been anticipated, although it may fail on the ground of obviousness. To anticipate the patentee’s claim the prior publication must contain clear and unmistakable directions to do what the patentee claims to have invented… A signpost, however clear, upon the road to the patentee’s invention will not suffice. The prior inventor must be clearly shown to have planted his flag at the precise destination before the patentee.</p>

</blockquote>
<h3 id="ref2-07-2">2.07.2</h3>
<p>In discussing this judgment in <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a>, Lord Hoffmann added:</p>
<blockquote>
  <p class="last-child">But the infringement must not merely be a possible or even likely consequence of performing the invention disclosed by the prior disclosure; it must be necessarily entailed. If there is more than one possible consequence, one cannot say that performing the disclosed invention will infringe. The flag has not been planted on the patented invention, although a person performing the invention disclosed by the prior art may carry it there by accident or (if he is aware of the patented invention) by design. Indeed it may be obvious to do so.</p>

</blockquote>
<p>Therefore, a disclosure which is capable of being carried out in a manner which falls within the claim, but is also capable of being carried out in a different manner, does not anticipate - although it may form the basis of an obviousness attack.</p>
<h3 id="section-2">2.07.3</h3>
<p>In this case, Lord Hoffmann summarised the disclosure requirement as follows: “anticipation requires prior disclosure of subject-matter which, when performed, must necessarily infringe the patented invention”.</p>
<h3 id="ref2-08">2.08</h3>
<p>A prior disclosure must be construed as it would have been understood by the skilled person at the date of the disclosure and not in light of the subsequent patent (held by the House of Lords in <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a>. A prior disclosure should be read in light of the common general knowledge of the skilled person at the date of the disclosure. (This compares with the situation when determining obviousness, where the common general knowledge should be determined at the priority date of the invention (<a href="/guidance/manual-of-patent-practice-mopp/section-3-inventive-step/#ref3-11">see paragraph 3.11</a>). See <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2014/2873.html">Teva UK Limited &amp; Anor v AstraZeneca AB [2014] EWHC 2873 (Pat)</a>.</p>
<h3 id="ref2-08-1">2.08.1</h3>
<p>Care should be taken when relying on dimensions derived from drawings. It was held by the EPO Board of Appeal in Decision <a rel="external" href="http://archive.epo.org/epo/pubs/oj_index_e.htm">T204/83 (OJEPO 10/85)</a> that although features shown solely in a drawing form part of the state of the art when a skilled person could derive a technical teaching from them without further description, it is not generally possible to derive a technical teaching by measuring dimensions in a diagrammatic representation; and that dimensions obtained under these circumstances do not therefore form part of the state of the art. In the particular case in suit, claims to a venturi of particular dimensional ratio were found to be novel in the face of a prior document which diagrammatically illustrated a corresponding ratio but without specific identification of the ratio in the description. In Zebra Technologies Corporation (<a rel="external" href="https://www.ipo.gov.uk/patent/p-decisionmaking/p-challenge/p-challenge-decision-results/o65322.pdf">BL O/653/22</a>) the Hearing Officer clarified that there is a distinction between: a) reading specific dimensions from a drawing where no such dimensions are given and attempting to use that information to derive a technical teaching, and b) deriving general information from drawings about components and their shape, function etc. The former is unlikely to be appropriate as per <a rel="external" href="http://www.european-patent-office.org/epo/pubs/oj_index_e.htm">T204/83</a>, whereas there is nothing wrong in principle with the skilled person doing the latter. In this particular case the skilled person upon viewing figures of the cited prior art would not be able to discern whether a 5mm gap existed between two components (as per the claims of the application in suit), however it would be clear to the skilled person that a gap existed between the components, and in the context of their common general knowledge it would be an obvious thing for them to do to reduce/eliminate that gap.</p>
<h3 id="section-3">2.08.2</h3>
<p>The Office practice in relation to anticipation by a document disclosing a chemical compound is to assume that the disclosure of the chemical compound is an enabling disclosure of that compound, ie a disclosure which is clear enough and complete enough for it to be performed by a person skilled in the art and thereby citable.  The applicants against whose application it is cited can challenge that assumption by argument and/or evidence. If they do, the Office will decide, on the balance of probabilities, whether the disclosure is enabling or not.</p>
<h3 id="ref2-08-3">2.08.3</h3>
<p>The House of Lords in <a rel="external" href="http://rpc.oxfordjournals.org/content/126/6/407.abstract?sid=015c17ad-1f4e-4440-846b-413a91099743">Generics (UK) Limited and others v H Lundbeck A/S  [2009] RPC 13</a> confirmed that the disclosure of a racemate does not amount to disclosure of each of its enantiomers. For further details please see <a href="https://www.gov.uk/government/publications/examining-patent-applications-relating-to-chemical-inventions">Examination Guidelines for Patent  Applications Relating to Chemical Inventions</a></p>
<h3 id="ref2-09">2.09</h3>
<p>In order to demonstrate lack of novelty the anticipatory disclosure must be entirely comprised within a single document. If more than one document is cited, each must stand on its own. The cumulative effect of the disclosures cannot be taken into consideration (<a rel="external" href="https://doi.org/10.1093/rpc/49.11.409">Ammonia’s Application, 49 RPC 409</a>, nor may lack of novelty be established by forming a mosaic of elements taken from several documents (<a rel="external" href="https://doi.org/10.1093/rpc/26.6.124">British Ore Concentration Syndicate Ltd v Mineral Separation Ltd, 26 RPC 124</a> at page 147); <a rel="external" href="https://doi.org/10.1093/rpc/45.2.48">Lowndes’ Patent, 45 RPC 48</a> at page 57) this may be done only when arguing obviousness. However if a cited document refers to a disclosure in another document in such a way as to indicate that this disclosure is intended to be included in that of the cited document, then the two may be read together as though they were a single document.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="enablement" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Enablement&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-3">Enablement</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-3" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-3" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Enablement&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>see also <a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-62">14.62 to 14.105</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-72-power-to-revoke-patents-on-application/#ref72-03">72.03</a></p>
<h3 id="ref2-10">2.10</h3>
<p>Enablement  is  the  second  requirement  for  anticipation  as  held  in <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a>. The ordinary skilled person must be able to perform the invention which satisfies the requirement of disclosure. In this case, the House of Lords held that the test for enablement of a prior disclosure for the purpose of anticipation is the same as the test of enablement of the patent itself for the purpose of sufficiency (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-62">see 14.62 to 14.87</a>).  There may however be differences in the application of this test to the facts; for example, because in the case of sufficiency the skilled person is attempting to perform a claimed invention and has that goal in mind, whereas in the case of prior art the subject-matter may have disclosed the invention but not identified it as such.</p>
<h3 id="section-4">2.10.1</h3>
<p>In <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc10">SmithKline Beecham Plc’s (Paroxetine Methanesulfonate) Patent [2006] RPC 10</a>, Lord Hoffmann emphasised that the two requirements of disclosure and enablement should be kept distinct. In particular, the role of the person skilled in the art is different. In the case of disclosure, the skilled person is taken to be trying to understand what the author meant. Their common general knowledge forms the background in construing the disclosure, with the patent being construed on similar principles. Once this performed, to determine whether or not the disclosure would infringe, the person skilled in the art has no further part to play. On the other hand, for enablement, the person skilled in the art is assumed to be willing to make trial and error experiments to get it to work, and the question is not what the skilled person would think the disclosure meant, but rather whether they would be able to work the disclosed invention.</p>
<h3 id="ref2-10-2">2.10.2</h3>
<p>The House of Lords also discussed the need for “enabling disclosure” in  <a rel="external" href="https://doi.org/10.1093/rpc/1991rpc485">Asahi Kasei Kogyo KK [1991] RPC 485</a>, where it was held the requirement for an enabling disclosure applied equally with regard to a disclosure forming part of the state of the art under s.2(3) as to s.2(2). Otherwise, it would be illogical for a disclosure which was inadequate for the purposes of s.2(2) to be adequate for those of s.2(3) merely because of a difference in dates bringing it into one field rather than the other. Lord Oliver of Aylmerton said that since s.14(3) requires that the specification discloses the invention in a way which will enable it to be performed by a person skilled in the art (ie it must contain an “enabling disclosure”) it follows that a description in an earlier application which contains no enabling disclosure will not “support” the invention so as to enable it, as an invention, to claim priority from the date of that application under s.5(2)(a) (although the description will be entitled to a priority as “matter contained” in the application in suit under s.5(2)(b)). He could not construe s.2(3) as deeming to be part of the state of the art anything more than that matter which is entitled to priority under s.5. However, in considering whether to cite a document in the s.2(3) field, the examiner does not normally have ready access to the priority document and should assume that the disclosure of the potentially citable document is supported by the priority document and thus entitled to the priority claimed.  The applicants against whom it is cited can challenge whether such support is present and whether it is enabling.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="construction-of-claims" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Construction of claims&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-4">Construction of claims</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-4" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-4" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Construction of claims&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p><a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-111">See also 14.111-14</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-120-hours-of-business-and-excluded-days">120</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-125-extent-of-invention/#ref125-01">125.01-125.25</a>.</p>
<h3 id="ref2-11">2.11</h3>
<p>In general a document will destroy the novelty of a later claim only if it discloses each and every feature specified in that claim. If the claim contains equivalent or additional features, then the question normally becomes one of obviousness. However since the protection conferred may go beyond the literal wording of the claim (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-111">see also 14.111-14.120</a>) and <a href="/guidance/manual-of-patent-practice-mopp/section-125-extent-of-invention">125</a>, it will on occasion be possible to argue that an earlier disclosure, while not falling within the precise literal words of the claim, nonetheless shows that the invention is not new, since any differences are confined to unessential features.</p>
<h3 id="ref2-12">2.12</h3>
<p>A claim to an apparatus for a particular purpose (eg for carrying out the process of another claim) is normally construed as a claim to apparatus suitable for that purpose. The words do not restrict the claim to the apparatus when used in that way (<a rel="external" href="https://doi.org/10.1093/rpc/49.11.428">Liquide Societe’s Application, 49 RPC 428).</a>). Apparatus which otherwise possessed all of the features specified in the claims, but which would be unsuitable for the stated purpose, or which would require modification to enable it to be so used, should not normally  be considered anticipating the claim. For example, if a claim refers to “A hook for a crane” this implies particular dimensions and strength in the hook. Therefore a fish-hook could never anticipate the claim, but a hook having the necessary dimensions and strength and possessing all the other features specified in the claim would deprive the claim of novelty whether it was stated to be for use in a crane or not.</p>
<h3 id="ref2-12-1">2.12.1</h3>
<p>In <a rel="external" href="http://www.bailii.org/cgi-bin/markup.cgi?doc=/ew/cases/EWHC/Patents/2014/1559.html&amp;query=2014+and+EWHC+and+1559&amp;method=boolean">Rovi Solutions Corporation &amp; Anor v Virgin Media Ltd &amp; Ors [2014] EWHC 1559 (Pat)</a>  the computing hardware without relevant software was not considered “suitable for” the functions in question since a bare computer would not be able to achieve them (the functions in this instance related to displaying future or current TV programming information).</p>
<h3 id="ref2-12-2">2.12.2</h3>
<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2008/329.html">Qualcomm Inc v Nokia Corp [2008] EWHC 329 (Pat)</a> Floyd J considered the expression “suitable for” in the context of apparatus which might or might not require physical modification to make it “suitable for” the purposes of the patent. He gave the following example: whether connected to the mains or not an apparatus for toasting bread infringes a claim to such an apparatus. Supplying power to a toaster does not change the apparatus: it simply puts into use the apparatus which is there already. Modifications to the apparatus are not however contemplated by the phrase “suitable for”. The question in each case is whether the apparatus, as it stands, is suitable for use in a particular way. If the apparatus has to undergo physical modification before it can be used, then it is not suitable for that particular use.</p>
<h3 id="ref2-12-3">2.12.3</h3>
<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/IPEC/2014/475.html">FH Brundle v Perry [2014] EWHC 475 (IPEC)</a> the judge considered the meaning of the phrase “adapted to” in the claims, and held that:</p>
<blockquote>
  <p class="last-child">I accept that as a matter of ordinary English usage, ‘adapted’ carries a connotation of adaption or modification in design to achieve the purpose stated in the feature. However in my view… these [features] are to be construed such that they contain no subjective element. To my mind it is irrelevant where the designer started and what adaptations were made in the design process. Because these features must be assessed objectively, it seems to me that ‘adapted to’ and ‘adapted in use to’ mean the same thing as ‘suitable for’</p>

</blockquote>
<p>In light of this it is unlikely that amendment of a claim to include the term “adapted to” would be sufficient to overcome a novelty objection to an earlier version of the claim which used the term “suitable for”.</p>
<p>However, the judge cautioned:<br/><br/>“I do not say that in the context of other claims it will never be possible to discern a difference between ‘suitable for’ on the one hand and ‘adapted to’ or ‘adapted in use to’, or ‘constructed to’ for that matter, on the other. But I think in this claim the first three mean the same thing.”</p>
<h3 id="ref2-12-3-1">2.12.3.1</h3>
<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2012/1920.html">Schenck Rotec GmbH v Universal Balancing Limited [2012] EWHC 1920</a> the judge considered the meaning of a claim to a device which was “constructed to receive” a plurality of balancing weights. The judge rejected the suggestion that the phrase “constructed to receive” referred to the intention of the device designer (or anyone else), because he found there was nothing in the specification that would lead the skilled person to
that conclusion.</p>
<p>Instead he found, in the circumstances, that a skilled person would understand that the device was “constructed in such a way that it is capable of receiving” a plurality of balancing weights. That is, he found there had to be some physical construction of the device which achieves the claimed objective.</p>
<h3 id="section-5">2.12.4</h3>
<p>A claim is not limited to an apparatus per se if the design of the apparatus is essentially tied to its functionality with some other bit of apparatus. In <a rel="external" href="https://doi.org/10.1093/rpc/1995rpc183">BSH Industries Ltd’s Patents [1995] RPC 183</a> Aldous J did not accept that a claim for “An isolating matching device to enable a heating element of a motor vehicle electrically heatable window ….. to be used as a receiving aerial, …..” was limited to the device and did not include the heating element in the vehicle window. Noting that each type of heating element is likely to have a different impedance, he reasoned that it is not possible to ascertain whether any device takes the invention without considering it in association with a particular heating element in a particular window.</p>
<h3 id="ref2-13">2.13</h3>
<p>It is often necessary to look beyond the words of a claim and to consider what it seeks to monopolise and decide whether the wording used imports a technical, as opposed to merely verbal, distinction. For example, the claim referred to in 2.12 would not be saved by directing it to “a crane-hook”, since this is in practice no different in scope from “a hook for a crane”. However in <a rel="external" href="https://doi.org/10.1093/rpc/1983rpc147">Hickman v Andrews, [1983] RPC 147</a> at pages 183-7, it was alleged that a claim to a workbench was anticipated by a bookbinder’s press. The Court of Appeal found that the press had all the features which had been used to characterise the claimed workbench, which would therefore be anticipated if, as had been argued, the press could serve as a workbench. The Court however, having described a workbench as “a surface of sufficient area to enable one to carry out manual work upon it, said surface being supported at a convenient height, and sufficiently rigidly, having regard to the nature of the relevant work”, concluded that the alleged anticipating press “is not a workbench. It is in our view far too small to be regarded as such, but on the contrary it is a vice to be used on a workbench”.</p>
<h3 id="ref2-14">2.14</h3>
<p>s.4A(3) is also relevant</p>
<p>Likewise a claim to a material or composition for a particular purpose is regarded as a claim to the material or composition per se (<a rel="external" href="https://doi.org/10.1093/rpc/27.14.341">Adhesive Dry Mounting Co Ltd v Trapp and Co, 27 RPC 341</a>; <a rel="external" href="https://doi.org/10.1093/rpc/60.1.1">G.E.C’s Application, 60 RPC</a> at page 3). A known product which is per se the same as the material or composition defined in the claim, but which is in a form which would render it unsuitable for the stated use, would not deprive the claim of novelty, but if the known product is in a form in which it is in fact suitable for the stated use, though it has never been described for that use, it would deprive the claim of novelty. In <a rel="external" href="https://doi.org/10.1093/rpc/47.9.289">G. Farbenindustrie A.G.’s Patents, 47 RPC</a> at page 322, it was stated that “no man can have a patent merely for ascertaining the properties of a known substance”. There is however an exception to this general principle where the claim is to a known substance or composition for use in a surgical, therapeutic or diagnostic method (see 4A.17). In contrast to the above
general principle, the Enlarged Board of Appeal of the EPO has held in <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/g880002ep1.html">Decisions G 2/88</a> and <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/g880006ep1.html">G 6/88</a> (both in OJEPO 4/90) that a claim to the use of a known compound for a particular purpose, which is based on a technical effect which is described in the patent, should be interpreted as including that technical effect as a functional technical feature, and is accordingly not open to an objection of lack of novelty provided that such technical feature has not previously been made available to the public. <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/g880002ep1.html">In G 2/88 (Mobil)</a>, the new technical effect was the discovery that the claimed compound previously used in lubricant compositions to inhibit rust had friction reducing properties. A claim to the use of that compound in a composition for reducing friction was held to be novel even though such friction reduction had inherently occurred in its previous use. Similarly, in <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/g880006ep1.html">G 6/88 (Bayer)</a> use of certain compounds as a fungicide was held to be novel even though the method of use was identical to a known use of the compound as a plant growth regulator. On the other hand, in Robertet SA/Deodorant compositions [2000] OJEPO 1 (T 892/94) it was held that a claim to the use of a known substance for a known purpose could not derive novelty from the discovery of a previously unrecognised technical effect underlying that use. However, these EPO decisions should not be followed and the existing practice of the Office should continue pending clarification or guidance from the courts.</p>
<h3 id="ref2-14-1">2.14.1</h3>
<p>The Office’s existing practice is supported by the decision of the Patents Court in <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t940892ex1.html">Tate &amp; Lyle Technology v Roquette Frères [2010] FSR 1</a> (upheld at appeal; <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2010/1049.html">Tate &amp;  Lyle Technology v Roquette Frères [2010] EWCA Civ 1049</a>). Although the case does not refer to G 2/88 Mobil, it appears to take a different approach from the Enlarged Board to use claims based on an unrecognised technical effect. The only claim in question here was to “the use of maltotriitol to modify or control the form of maltitol crystals”. This was based on a previously unsuspected effect of an impurity (maltotriitol) on the crystallisation of the sweetener maltitol. This was held to lack novelty over a number of prior art documents which disclosed crystallisation of maltitol in the presence of maltotriitol at levels at which it would control crystal formation:</p>
<blockquote>
  <p class="last-child">The industry has been using maltotriitol to control or determine crystal habit without knowing it. What is left of the patent as granted is no more than a discovery as such.</p>

</blockquote>
<h3 id="ref2-15">2.15</h3>
<p>Nevertheless, a claim to an apparatus or material “when used in” a particular process is construed as a claim confined to the use of the apparatus or material in such a process, and its novelty is therefore destroyed only by a disclosure referring to such use. (If the apparatus or material per se is known to be old, this fact should be acknowledged in the specification, in order to ensure that the nature of the invention is presented in its proper perspective). In considering so-called ‘product-by-process’ claims, Lord Hoffmann in <a rel="external" href="https://doi.org/10.1093/rpc/2005rpc9">Kirin-Amgen Inc v Hoechst Marion Roussel Ltd [2005] RPC 9</a> held that it was important that the United Kingdom should apply the same law as the EPO when deciding what counted as new for the purposes of the European Patent Convention. A claim to a product obtained by a process e.g. “Product X obtained by process Y” should therefore be construed as a claim to the product as such, irrespective of whether the term “obtained”, “obtainable”, “directly obtained” or an equivalent wording is used (see EPO Decision <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t820150ep1.html">T150/82 International Flavors and Fragrances Inc. [1984] 7 OJEPO 309</a>. A “product-by- process” claim is therefore not rendered novel merely by the fact it is produced by means of a new process. Furthermore, the House of Lords held that the protection conferred by a process claim should extend to products directly obtained by the process in accordance with EPC Article 64(2). “Product- by- process” claims can be difficult to identify, and may also give rise to a clarity objection (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-120-1">see 14.120.1</a>)</p>
<h3 id="ref2-16">2.16</h3>
<p>Similarly a claim such as “the use of substance X as an insecticide” is regarded as equivalent to a “process” claim of the form “a process of killing insects using substance X” and is not interpreted as directed to the substance X recognisable (eg by further additives) as intended for use of an insecticide.</p>
<h3 id="ref2-17">2.17</h3>
<p>A claim for a method of using a known apparatus may be regarded as novel provided that the method of use is new. Parker J stated in <a rel="external" href="https://doi.org/10.1093/rpc/25.13.428">Flour Oxidizing Co Ltd v Carr and Co Ltd, 25 RPC 428</a> at page 457, “But when the question is solely a question of prior publication, it is not, in my opinion, enough to prove that an apparatus described in an earlier specification could have been used to produce this or that result. It must also be shown that the specification contains clear and unmistakable directions so to use it”.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="selection-inventions" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Selection Inventions&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-5">Selection Inventions</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-5" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-5" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Selection Inventions&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p><a href="/guidance/manual-of-patent-practice-mopp/section-3-inventive-step/#ref3-88">See also 3.88 to 3.93</a></p>
<h3 id="ref2-18">2.18</h3>
<p>A prior disclosure in general terms embracing a number of alternatives may amount to no more than a mere suggestion that any of the members, including any specifically exemplified, might be used, and may therefore be regarded as not anticipating a claim to a specific one of the members. An invention so claimed is generally referred to as a “selection” invention and should be evaluated as set out in 3.89. In <a rel="external" href="https://doi.org/10.1093/rpc/1998rpc1">Union Carbide Corp v BP Chemicals Ltd [1998] RPC 1</a>, it was held that a prior disclosure of a range should normally be regarded as disclosing each and every part of that range. However, there might be room for an invention along the lines of a selection invention if there was something special about a later-claimed part of the range. For situations in which the application in suit specifies a range which overlaps with a range disclosed in prior art, see <a href="#ref2-06-2">2.06.2</a>.</p>
<h3 id="ref2-19">2.19</h3>
<p>An invention is not anticipated by a document which merely points the way which might lead to it (Du Pont de Nemours &amp;c (Witsiepe’s) Application, [1982] FSR 303 – NB this case was decided under the 1949 Patents Act – cf also the words of the judgment quoted in 2.07.1).</p>
<p>The Court of Appeal in <a rel="external" href="https://doi.org/10.1093/rpc/rcq020">Dr Reddy’s Laboratories (UK) Ltd v Eli Lilly &amp; Co Ltd [2010] RPC 9</a> decisively rejected the argument that the mere disclosure of a generic formula or class of compounds discloses every possible compound falling within that class. A particular member of a class of substances is therefore not necessarily taken to be disclosed if the prior document disclosing the broad class merely indicates the inclusion of that particular member, whether by name, formula or starting materials, without any clear indication that the substance has actually been prepared, eg by describing its manufacture or particular properties.</p>
<p>In <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t860427fu1.html">Rhône-Poulenc/Ester Production [1999] EPOR 443 (T427/86)</a> a process wherein a specific pair of compounds were reacted in the presence of a catalyst to form a product was held to be novel over prior art which disclosed the use of reagents and catalyst selected from a list including those specified in the patent in suit. The particular examples in the prior art did not suggest the specified combination, which resulted in a reaction speed significantly greater than could be obtained by following the examples.</p>
<p>In the Du Pont case, a document describing a copolymer with a glycol of general formula HO(CH2)nOH, where n is between 2 and 10, was held not to anticipate a claim to the copolymer where the glycol formula was HO(CH2)4OH, since all the specific examples disclosed in the earlier document used ethylene glycol (n=2). In addition the claimed copolymer was found to have a rapid hardening rate, making it especially effective in injection moulding and high speed extrusion, a fact not previously known or contemplated in the earlier document, which was concerned with textile fibres having a good affinity for dyes. The earlier document thus merely indicated that the use of one preferred glycol would produce a compound with particular properties, suggesting at the same time that use of any one of the other eight glycols would produce the same result. Although the document stated that the C3, C4, C6 and C10 glycols were examples which would be used, there was no statement that any of these others had in fact been used, or that the product resulting therefrom had been found to have any particular advantages. It was therefore open to the applicant to select one of them and discover that the product had valuable properties in a different field. However had the combination been specifically disclosed in the earlier document, a discovery that it had some advantage or useful quality not previously recognised would not make it patentable (<a href="#ref2-14">see also 2.14</a>).</p>
<h3 id="ref2-20">2.20</h3>
<p>The size of the class from which a member or members have been chosen is not relevant to the question of novelty of a selection invention, although it may be relevant to the question of obviousness (Du Pont de Nemours &amp; Co (Witsiepe’s) Application, [1982] FSR 303 at page 310), (see also <a href="#cc">2.06</a>).</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 2(2)</strong></td>
    </tr>
    <tr>
      <td>The state of the art in the case of an invention shall be taken to comprise all matter (whether a product, a process, information about either, or anything else) which has at any time before the priority date of that invention been made available to the public (whether in the United Kingdom or elsewhere) by written or oral description, by use or in any other way.</td>
    </tr>
  </tbody>
</table>
<h3 id="ref2-21">2.21</h3>
<p>The state of the art comprises everything made available to the public before the priority date, wherever in the world this may be, and in whatever manner or language the disclosure takes place (see also <a href="/guidance/manual-of-patent-practice-mopp/section-3-inventive-step#ref3-37-1">3.37.1</a> for discussion of s.2(2) in relation to inventive step). There is no limit on the age of the disclosure. Matter may be disregarded only in the circumstances specified in s.2(4) (see <a href="#aa">2.37-2.41</a>).</p>
<h3 id="section-6">2.22</h3>
<p>s.125(2) is also relevant</p>
<p>It should be borne in mind, when deciding whether or not matter forms part of the state of the art in respect of an invention, that it is the priority date of the invention which is relevant, and not the declared priority date of the application, which may be earlier. Moreover different claims, or different alternatives specified in a single claim, may have different priority dates. (For the practice to be followed during search and substantive examination, <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-74">see 17.74</a>and <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-14">18.14-18.16</a>.</p>
<h3 id="ref2-22-1">2.22.1</h3>
<p>The date of a disclosure should be determined when viewed from the time zone of the office at which the priority document was filed (<a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2015/3366.html">Unwired Planet International Ltd v Huawei Technologies Co Ltd &amp; Ors [2015] EWHC 3366</a>), upheld by the Court of Appeal in Unwired Planet International Ltd v Huawei Technologies Co Ltd &amp; Ors [2017] EWCA Civ This is of significance for disclosures which occurred on (or very close to) the priority date. For example, a disclosure which (in accordance with local time) has occurred before the priority date may actually have occurred on the priority date, once considered in the time zone of the office where the priority document was filed.</p>
<h3 id="section-7">2.23</h3>
<p>In practice the bulk of the matter which needs to be considered consists of documents, such as patent specifications, textbooks or technical journals which have been published in the conventional sense of that term, for example by being on sale or available in libraries.</p>
<h3 id="ref2-24">2.24</h3>
<p>s.130(1) and s.118(1) is also relevant</p>
<p>Publication does not however depend on the degree of dissemination; communication to a single member of the public without inhibiting fetter is enough to amount to making available to the public (<a rel="external" href="https://doi.org/10.1093/rpc/86.5.146">Bristol-Myers Co’s Application, [1969] RPC 146</a>). There is no need even to show that a member of the public has actually seen the document. Any document is regarded as having been published, and thus forms part of the state of the art, if it can be inspected as of right by the public, whether on payment of a fee or not; this includes for example the contents of the “open” part of the file of a UK patent application once the application has been published under s.16. And in <a rel="external" href="https://doi.org/10.1093/rpc/88.8.153">Monsanto (Brignac’s) Application, [1971] RPC 153</a>, it was held that a company had published a document by supplying it to its salespeople, since it had been given to them with no restriction on disclosure; indeed it had been put into their hands with the intention that they should make the information available to the public.</p>
<h3 id="ref2-24-1">2.24.1</h3>
<p>In <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t061553eu1.html">T1553/06 (Public availability of documents on the World Wide  Web/PHILIPS)</a> the EPO Board of Appeal considered whether a document stored on the World Wide Web but only accessible via a specific URL could be considered a disclosure which had been made available to public. The Board of Appeal set out the following test: if, before the filing or priority date of the patent or patent application, a document stored on the World Wide Web and accessible via a specific URL,</p>
<p>i) could be found with the help of a public web search engine by using one or more keywords all related to the essence of the content of that document and</p>
<p>ii) remained accessible at that URL for a period of time long enough for a member of the public, i.e. someone under no obligation to keep the content of the document secret, to have direct and unambiguous access to the document, then the document was made available to the public in the sense of Article 54(2) EPC.</p>
<p>However the Board held that failure to meet this test does not automatically mean that the document was not made available to the public, as the URL itself may have been made available. In exceptional circumstances the URL may be so straightforward or predictable that it could readily be guessed and would therefore be considered to publically disclose documents at that location. EPO Board of Appeal decisions are not binding upon the UK courts but are of great persuasive value.  It therefore remains to be seen what approach the</p>
<p>UK courts will take in light of this decision of the Board, given the longstanding approach to the interpretation of the phrase “made available to the public” as described in 2.24.</p>
<h3 id="ref2-24-2">2.24.2</h3>
<p>The EPO Board of Appeal in <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t090002eu1.html">T0002/09 (Public availability of an e-mail  transmitted via the Internet/PHILIPS)</a> considered whether sending an email over the internet could act as a public disclosure even if the recipient treated the contents of the email as confidential. Having considered whether and in what circumstances an email may be intercepted the Board concluded that the act of transmitting the email via the internet did not in itself make the email available to the public in the sense of Article 54(2) EPC.</p>
<h3 id="ref2-25">2.25</h3>
<p>A date of publication which appears on or in connection with a document is presumed to be the date on which publication actually took place, and any allegation to the contrary must be established by evidence. In <a rel="external" href="https://doi.org/10.1093/rpc/1984rpc29">Microsonics Corporation’s Applications, [1984] RPC 29</a>, a cited US patent was granted before, but published after, the date of filing the application in suit. A notice in the US Official Gazette stated that the delay in printing did not affect the availability to the public of the files, which could be inspected from the date of grant. The applicant however alleged that there was a possibility that the files had not in fact been available to the public. It was held that, in view of the notice in the Gazette, the onus was on the applicant to rebut, on the balance of probabilities, the presumption that the file had been available, and that the evidence adduced (affidavits consisting largely of reports of conversations with staff of the US Patent Office) was mostly hearsay, but even if admissible was not enough to rebut this presumption.</p>
<h3 id="section-8">2.26</h3>
<p>A document published too late to form part of the state of the art may reproduce or summarise disclosure which is alleged to have taken place before the priority date of the invention. For example the document may be a report of a lecture or a public exhibition. In such a case it should be assumed that the account given is correct both as to subject-matter and as to the date on which disclosure is reported to have taken place, unless reasonable ground for doubting either of these is put forward by the applicant, or there is other good reason for doubting them. Likewise any description of prior disclosure given in the specification in suit should be assumed, at least in the first instance, to be accurate (<a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-67">see 18.67</a>) .</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="prior-use" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Prior use&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-6">Prior use</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-6" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-6" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Prior use&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>For the practice at substantive examination, <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-24">see 18.24</a></p>
<h3 id="ref2-27">2.27</h3>
<p>The only matter which becomes part of the state of the art as the result of the use of an invention is that which is thereby made available to the public. Prior secret use does not therefore invalidate a patent, although the user may have some protection against action for infringement [see s.64]. In <a rel="external" href="https://doi.org/10.1093/rpc/1993rpc107">Lux Traffic Controls Ltd v Pike Signals Ltd and Faronwise Ltd, [1993] RPC 107</a> Aldous J recognised that what was made available to the public often differed according to whether the public had an article in their possession to handle, measure and test or whether they could merely look at it. Depending on the circumstances a skilled person might be able to determine how an article was constructed and operated or nothing material might be disclosed. If an article or a material is unconditionally supplied to a member of the public, possibly as the result of just a single sale <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t890482fx1.html">(T482/89 OJEPO 11/92)</a>, this is regarded as also making available any information which could be obtained by dismantling or analysing the article or material, even to destruction <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/g920001ep1.html">(G1/92 OJEPO 5/93)</a>. Novelty is destroyed by prior use of a product if analysis of the product using available techniques shows the skilled person that it falls within the scope of the claims; beyond that, it is not necessary for complete analysis to be possible <a rel="external" href="http://www.epo.org/law-practice/case-law-appeals/recent/t920952ex1.html">(T952/92  OJEPO 11/1995)</a>. In <a rel="external" href="https://uk.westlaw.com/Document/IFAEACBC0E42711DA8FC2A0F0355337E9/View/FullText.html">Milliken Denmark AS v Walk Off Mats Ltd and Anr [1996] FSR 292</a> Jacob J held that the hiring of mats to customers who were free to inspect them amounted to anticipatory prior use even though the mats relied on perforations not visible to the naked eye for their function. While there was no reason to suppose that any customer should have conducted tests which would have revealed the perforations, a skilled person called on to investigate the mats would nonetheless have discovered them. The knowledge of the perforations would enable the skilled person to perform the invention.  It was irrelevant that they would not know of its virtues. Moreover, if the process by which the article or material has been made can be deduced with certainty from such examination, that would also form part of the state of the art. Similarly, if for example a machine is displayed or operated where it can be seen by a member of the public, such as at an exhibition, on the highway, or in a part of a factory to which persons not bound to secrecy are admitted, then all information which a person skilled in the art might be able to glean is regarded as having been disclosed <a rel="external" href="http://www.epo.org/law-practice/legal-texts/official-journal/archive.html">(see T84/83 1979-85 EPOR 796)</a>.</p>
<h3 id="ref2-27-1">2.27.1</h3>
<p>On the other hand, use of a battery in cars on the highway by employees who were well aware that the design was confidential did not amount to disclosure of the battery <a rel="external" href="https://doi.org/10.1093/rpc/1978rpc297">J Lucas (Batteries) Ltd v Gaedor Ltd, [1978] RPC 297</a>. The Patents Court in <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2009/1221.html">Folding Attic Stairs Ltd v Loft Stairs Co. Ltd. [2009] FSR 24</a> and the Hearing Officer in <a rel="external" href="https://www.ipo.gov.uk/p-challenge-decision-results/p-challenge-decision-results-bl.htm?BL_Number=o%2F195%2F10&amp;submit=Go+%BB">Loadhog Ltd. v Polymer Logistics BV BL O/195/10</a> both considered whether a  single instance of a viewing of a prototype (in a non-public location) by a small and defined group of visitors without any duty of confidentiality was novelty-destroying (for discussion of breaches in confidentiality <a href="#ref2-38">see 2.38</a>). In both cases it was decided on the balance of evidence that it was highly improbable that the visitors would or could have ascertained the features of the claimed invention. This was distinguished <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2009/1221.html">(in Folding Attic Stairs Ltd v Loft  Stairs Co. Ltd.)</a> from the display of an item in a public place, where anyone could have inspected it, which would lead to a presumption of disclosure regardless of whether there was any evidence of anyone actually inspecting the item. In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2019/991.html">Emson v Hozelock Ltd &amp; Others [2019] EWHC 991 (Pat)</a> it was argued that the use of an invention by the inventor in their garden was considered to be a prior disclosure as the private garden was within sight of a public road. There were three separate days where a disclosure occurred, but it was necessary to add together what could be seen on more than one day to establish obviousness. This mosaicking was rejected on the basis that, given the nature of each of the three disclosures, the skilled person would not be led to combine them. In obiter remarks, the judge also found that the inventor’s disclosures did not result in information being “made available to the public” within the meaning of s.2(2), since the inventor was aware of the need for confidentiality and would have stopped what he was doing if someone had been watching.</p>
<p>In contrast, in <a rel="external" href="https://www.bailii.org/cgi-bin/format.cgi?doc=/ew/cases/EWHC/IPEC/2021/1007.html">Claydon v Mzuri [2021] EWHC 1007 (IPEC)</a>, the court held that testing of a prototype seed drill on private land prior to the filing of a patent application amounted to public disclosure, because the skilled person would have been able to derive the claimed features of the invention from a nearby public footpath. Hacon HHJ rejected the argument advanced by Claydon that those testing the prototype would have moved the drill so that it was not visible if they had seen a member of the public approaching on the footpath, because unlike the hose in <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2019/991.html">Emson v Hozelock Ltd &amp; Others [2019] EWHC 991 (Pat)</a>, the seed drill was a large piece of agricultural machinery that would have been difficult to conceal easily.</p>
<h3 id="ref2-28">2.28</h3>
<p>In considering prior use in <a rel="external" href="https://doi.org/10.1093/rpc/1990rpc83">Quantel Ltd v Spaceward Microsystems Ltd [1990] RPC 83</a>, Falconer J pointed out that the requirements under the 1977 Act are different from those of the 1949 Act as represented by the decision in Wheatley’s Application [1985] RPC 91 in that “it now requires the prior use, to constitute anticipation, to have made available to the public an enabling disclosure of the invention”.  Even if the tests which could have been carried out on a product would have had an ambiguous result, in <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/1999/830.html">PCME Ltd v  Goyen Controls Co UK Ltd [1999] FSR 801</a> Laddie J held that the conclusion that “it is probably A but may be B” was a disclosure and even if it were not sufficiently precise to support anticipation it may well render a patent claim obvious.</p>
<h3 id="ref2-29">2.29</h3>
<p>In <a rel="external" href="https://doi.org/10.1093/rpc/1996rpc76">Merrell Dow Pharmaceuticals Inc v N H Norton &amp; Co Ltd [1996] RPC 76</a> (see also <a href="#x">2.04.2</a>, where lack of novelty arose because a claim for an acid metabolite sought to monopolise the product as metabolised in the liver, Lord Hoffmann held that making matter available to the public requires the communication of information since an invention is a piece of information. He went on to hold that the use of a product makes an invention part of the state of the art only so far as that use makes available the necessary information. Thus acts, which are done without knowledge of the relevant facts but nevertheless would amount to infringement after the grant of the patent, will not count as anticipations before. In Merrell Dow the fact that volunteers in clinical trials had taken terfenadine and therefore had made the acid metabolite in their livers, was held not to constitute anticipation by use. The volunteers had been given terfenadine capsules for the sole purpose of swallowing them; they took them without knowing their composition and produced within themselves a substance, which was not then readily capable of being identified and was only later known to be the acid metabolite. This construction of s.2(2) is supported by <a rel="external" href="https://uk.westlaw.com/Document/I232CE320E42811DA8FC2A0F0355337E9/View/FullText.html">PLG Research Ltd v Ardon International Ltd [1993] FSR 197</a>, 225 in which Aldous J said:</p>
<blockquote>
  <p class="last-child">Under the 1977 Act, patents may be granted for an invention covering a product that has been put on the market provided the product does not provide an enabling disclosure of the invention claimed. In most cases, prior sale of the product will make available information as to its contents and its method of manufacture, but it is possible to imagine circumstances where that will not happen. In such cases a subsequent patent may be obtained and the only safeguard given to the public is section 64 of the Act.</p>

</blockquote>
<p>Merrell Dow was distinguished in <a rel="external" href="https://doi.org/10.1093/rpc/1998rpc517">Evans Medical Ltd’s Patent [1998] RPC 517</a> where a prior art vaccine had been made available to the public such that it would have been possible to analyse it to determine its contents. Actual prior identification of the process or product claimed was not in itself necessary to find a lack of novelty - merely instructions which, if followed, would inevitably result in the use of the claimed process or product <a href="#ee">(see also 2.07</a>). This was confirmed in <a rel="external" href="https://doi.org/10.1093/rpc/2006rpc2">Halliburton Energy Services Inc v Smith International (North Sea) Ltd [2006] RPC 2</a> where the Patents Court held that a dumb anticipation (i.e. one not explicitly stating the invention) would be effective if it conveyed sufficient information to enable it to be dumbly reproduced.</p>
<h3 id="ref2-29-1">2.29.1</h3>
<p>In cases  of alleged prior  use, the required standard of proof is  the balance of probabilities. Within this standard, the <a rel="external" href="https://doi.org/10.1093/rpc/2004rpc5">Patents County Court in Kavanagh Balloons Pty Ltd v Cameron Balloons Ltd [2004] RPC 5</a> held that a flexible degree of probability should be applied to evidence relating to prior use. The cogency of the evidence had to match the occasion and be proportionate to the subject matter. Because of the nature of the monopoly itself and question of public interest, no stricter standard should be applied. It was held that it was not necessary for an opponent to prove their case “up to the hilt” as had been required by the EPO Technical Board of Appeal in Sekisui/shrinkable sheet [1998] OJEPO 161 (T 472/92). The hearing officer in <a rel="external" href="https://doi.org/10.1093/rpc/1999rpc97">Colley’s Application [1999] RPC 97</a> also distinguished from Sekisui by not requiring proof “up to the hilt”, but followed this decision and Demmeler Maschinenbau GmbH &amp; Co KG (T 908/95) in holding that mere assertion of prior use was insufficient: place, time and detail were essential. In <a rel="external" href="https://uk.westlaw.com/Document/IF8EAB600E42711DA8FC2A0F0355337E9/View/FullText.html">Memcor Australia Pty Ltd v Norit Membraan Technologie BV [2003] FSR 43</a>, it was held that when the patentee is aware of the prior disclosure (e.g. if the alleged prior disclosure was by themselves) the patentee is expected to provide proportionally logical answers, positive and negative, to contradict the evidence that the opponent was able to establish with the disadvantage of having been privy to none of it.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 2(3)</strong></td>
    </tr>
    <tr>
      <td>The state of the art in the case of an invention to which an application for a patent or a patent relates shall be taken also to comprise matter contained in an application for another patent which was published on or after the priority date of that invention, if the following conditions are satisfied, that is to say - <br/>(a) that matter was contained in the application for that other patent both as filed and as published; and <br/>(b) the priority date of that matter is earlier than that of the invention.</td>
    </tr>
  </tbody>
</table>
<h3 id="ref2-30">2.30</h3>
<p>The only kind of document whose contents can form part of the state of the art by virtue of this subsection is an application for a patent, that is, either an application which is made under the Act or one which is treated as such. The field for s.2(3) therefore consists only of the following:-</p>
<p>(a) applications made under the Act and which have been published under s.16;</p>
<p>(b) patent specifications published under the 1949 Act;</p>
<p>(s.128(2) is also relevant)</p>
<p>(c) applications for European patents (UK) which have been published by the European Patent Office under a.93 EPC (see also (e) below).</p>
<p>(s.78(2), (3) is also relevant)</p>
<p>(d) international applications for patents (UK) which have been published by WIPO under a.21 PCT and which have entered the national phase (that is, the national fee (if any) has been paid and, if the application is in a foreign language, an English translation has been filed at the Office; see 89A.06.1 and 89B.04);</p>
<p>s.89(1), 89B(2), s.89(A)(3)(a) is also relevant</p>
<p>(e) international applications for European patents (UK) which have  been published by WIPO under a.21 PCT and which have entered the regional phase (that is, the national fee has been paid and, if the application is in a language other than English, German or French, a translation into one of those languages has been filed at the European Patent Office).</p>
<p>s.79(1), s.79(2) is also relevant</p>
<p>[COPS can be used to determine whether an international application has entered the national phase. The <a rel="external" href="https://register.epo.org/regviewer">European Patent Register</a> can similarly be used to determine whether an international application has entered the regional phase (<a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-20">see 18.20</a>).]</p>
<h3 id="section-9">2.31</h3>
<p>s.14(7) is also relevant</p>
<p>Only the matter contained in the specification (that is, the description, drawings and claims) of an application of the kind referred to in 2.30 can form part of the state of the art by virtue of s.2(3). The abstract contained in such an application does not form part of the state of the art under this subsection, nor does a priority document filed in respect of such an application (although both of these, when published in any way including being made available to public inspection under s.118(1), can form part of the state of the art under s.2(2)).</p>
<h3 id="ref2-32">2.32</h3>
<p>s.78(5), (5A) is also relevant</p>
<p>Subject-matter enters the s.2(3) field when the application containing it has been published (and, in the case of an international application, it has also entered the national or regional phase - <a href="#ref2-30">see 2.30</a>). Once this has occurred, the status of the matter is not affected by the subsequent fate of the application; the matter remains part of the state of the art even if the application is subsequently withdrawn or otherwise terminated. However, if the application is withdrawn prior to publication, but too late to prevent publication (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-205">see 14.205</a>) and <a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-02">16.02</a> then it is not regarded as forming part of the state of the art under s.2(3) (following the Patents Court decision in <a rel="external" href="https://doi.org/10.1093/rpc/2002rpc39">Woolard’s Application [2002] RPC 39</a>. A European application which is terminated without being published will not be treated as an application for a patent under the Act, and will thus not enter the s.2(3) field. However, once an application for a European patent (UK) has been published, it remains part of the state of the art by virtue of s.2(3) even if the application is later refused or withdrawn, as provided for by s.78(5A). Under the EPC all European patent applications filed on or after 13 December 2007 designate all Contracting States (including the UK) automatically at the date of filing. Every European patent application will therefore become a European patent (UK) application. Section 78(5A) further provides that removal of the UK designation before publication of the European patent (UK) application does not prevent the matter contained in the European patent (UK) application becoming part of the state of the art by virtue of section 2(3). Every European patent application which was filed after 13 December 2007 will therefore enter the state of the art by virtue of section 2(3) once it is published. For European patent applications filed prior to 13 December 2007, removal of the UK designation before publication will continue to prevent the matter contained in those applications from forming part of the state of the art by virtue of section 2(3).</p>
<h3 id="section-10">2.33</h3>
<p>Only matter which was present both in the application as filed and as published forms part of the state of the art under s.2(3). If for example the published application contains claims added subsequent to filing, then their subject-matter does not form part of the state of the art under s.2(3). (It is of course in the state of the art under s.2(2), even if the matter is subsequently deleted from the application during substantive examination).</p>
<h3 id="section-11">2.34</h3>
<p>It should be remembered that it is the priority dates of the matter in the earlier application and of the invention in suit which need to be compared, and not the declared priority dates of the respective applications. Moreover a claim to priority is not established until the requirements of r.6 have been complied with (<a href="/guidance/manual-of-patent-practice-mopp/section-5-priority-date/#ref5-04">see 5.04 to 5.13</a>); in particular, even if the application has already been published, a claimed priority date which has subsequently been lost (for example through failure to file a translation in time) must be disregarded when deciding whether the application forms part of the state of the art under s.2(3). (For the practice to be followed at search and examination, <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-74">see 17.74</a> <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-14-18-16">and 18.14-18.16</a>. With regard to the need for enabling disclosure, see <a href="#ref2-10-2">2.10.2</a>.</p>
<h3 id="ref2-35">2.35</h3>
<p>s3 is also relevant</p>
<p>In order to decide whether or not an invention is new, matter which is in the state of the art under s.2(3) is considered in exactly the same way as matter in the s.2(2) field (<a href="#ref2-02">see 2.02-2.20</a>).  This was confirmed by the Court of Appeal in <a rel="external" href="https://doi.org/10.1093/rpc/2003rpc6">SmithKline Beecham plc’s Patent [2003] RPC 6</a>. Matter which is in the state of the art under s.2(3) cannot however be used to argue obviousness (but see the remarks in <a href="#ee">2.07-2.08</a> on implicit disclosure, and in <a href="#ff">2.11</a> on purposive construction of claims).</p>
<h3 id="section-12">2.36</h3>
<p>s.73(1) is also relevant</p>
<p>The comptroller may on their own initiative revoke a patent which has been granted for an invention which, having regard to matter in the s.2(3) field, is not new (<a href="/guidance/manual-of-patent-practice-mopp/section-73-comptroller-s-power-to-revoke-patents-on-his-own-initiative/#ref73-02">see 73.02-73.04</a>).</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 2(4)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of this section the disclosure of matter constituting an invention shall be disregarded in the case of a patent or an application for a patent if occurring later than the beginning of the period of six months immediately preceding the date of filing the application for the patent and either -<br/>(a) the disclosure was due to, or made in consequence of, the matter having been obtained unlawfully or in breach of confidence by any person - <br/>(i) from the inventor or from any other person to whom the matter was made available in confidence by the inventor or who obtained it from the inventor because he or the inventor believed that he was entitled to obtain it; or <br/>(ii) from any other person to whom the matter was made available in confidence by any person mentioned in sub-paragraph (i) above or in this sub-paragraph or who obtained it from any person so mentioned because he or the person from whom he obtained it believed that he was entitled to obtain it; <br/>(b) the disclosure was made in breach of confidence by any person who obtained the matter in confidence from the inventor or from any other person to whom it was made available, or who obtained it, from the inventor; or <br/>(c) the disclosure was due to, or made in consequence of the inventor displaying the invention at an international exhibition and the applicant states, on filing the application, that the invention has been so displayed and also, within the prescribed period, files written evidence in support of the statement complying with any prescribed conditions.</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="section-25" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Section 2(5)&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-7">Section 2(5)</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-7" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-7" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Section 2(5)&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>In this section references to the inventor include references to any proprietor of the invention for the time being.</p>
<h3 id="aa">2.37</h3>
<p>If an applicant wishes an earlier disclosure to be regarded as not forming part of the state of the art, the onus is on them to make out a sufficient prima facie case (on the basis of an affidavit or other evidence if necessary) that one of the conditions specified in s.2(4) is satisfied. Moreover the disclosure can be disregarded only if it occurred after a date six months before the filing date (not the priority date) of the application; thus for example, while the protection of this subsection would apply to an application made within six months of display at an international exhibition, it would not apply to a subsequent application claiming priority from that application and filed more than six months after the display. For the purpose of s.2(3), s.2(4) provides for the disregarding of disclosure in patent applications published not only during the six months before the filing date but also on or after the filing date (but of earlier priority than the application in suit).</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="unlawful-obtaining-breach-of-confidence" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Unlawful obtaining: Breach of confidence&quot;,&quot;index_section&quot;:8,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-8">Unlawful obtaining: Breach of confidence</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-8" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-8" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Unlawful obtaining: Breach of confidence&quot;,&quot;index_section&quot;:8,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref2-38">2.38</h3>
<p>An allegation that an earlier disclosure was made as a result of unlawful obtaining or breach of confidence must be fully particularised, and the examiner should disregard the disclosure only if they are convinced by the applicant’s submissions that, on the balance of probabilities, s.2(4) applies.  It may be necessary to ask the applicant to clarify or substantiate their allegation, for example by filing evidence or a statutory declaration. If the applicant is either unable or unwilling to substantiate their allegation, they should be informed that the objection based on the earlier disclosure is still outstanding and a hearing should be offered. Any person desiring an actual determination of their entitlement may make a reference under section 8 or 37. An obligation of confidence may exist where there is no formal contract between the parties. Guidance as to what constitutes a breach of confidence was set out by Megarry J in <a rel="external" href="https://doi.org/10.1093/rpc/86.2.41">Coco v A N Clark (Engineers) Ltd [1969] RPC 41</a> and was followed by the Hearing officer in <a rel="external" href="http://rpc.oxfordjournals.org/content/129/7/473.abstract?etoc">Threeway Pressings Ltd’s Application [2012] RPC 129 BL  O/124/12</a>. For a breach of confidence to have taken place the information must be of a confidential nature, the information must have been imparted in circumstances importing an obligation of confidence and there must be an unauthorised use or disclosure of information relating to the invention to the detriment of the inventor.</p>
<h3 id="ref2-39">2.39</h3>
<p>s.118(1) is also relevant</p>
<p>Any communication on this subject will be open to public inspection. If the applicant requests under r.53 that the communication be treated as confidential, they should be informed that such treatment would not be justified, having regard to the interests of third parties and that, unless the allegation is withdrawn within one month the communication will be placed on the open file; a hearing may be offered on this point.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="international-exhibitions" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;International exhibitions&quot;,&quot;index_section&quot;:9,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-9">International exhibitions</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-9" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-9" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;International exhibitions&quot;,&quot;index_section&quot;:9,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>(For procedure, <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-84">see 17.84</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-23">18.23</a>)</p>
<h3 id="ref2-40">2.40</h3>
<p>r.5 r.67 is also relevant</p>
<p>If an applicant wishes disclosure by, or in consequence of, display of the invention at an international exhibition to be regarded as not forming part of the state of the art they must, at the time of filing the application, inform the comptroller in writing of the display. They must also, within four months of the date of filing the application, file a certificate issued by the authority responsible for the international exhibition and a statement, duly authenticated by that authority, identifying the invention as being the invention displayed at the exhibition. The certificate must also state the opening date of the exhibition or if later, the date on which the invention was first displayed. For the requirements in the case of an international application for a patent (UK), <a href="/guidance/manual-of-patent-practice-mopp/section-89a-international-and-national-phases-of-application/#ref89A-12">see 89A.12</a></p>
<h3 id="ref2-41">2.41</h3>
<p>s.130(1), s.130(2) and r.5(6) is also relevant</p>
<p>Only an exhibition which falls within the terms of the 1928 Convention on International Exhibitions (as modified by the 1951 Protocol) is regarded as an international exhibition. Such an exhibition has to satisfy stringent conditions; for example, it must run for at least three weeks, and invitations to participate must be issued at government level through diplomatic channels. A statement published in the Patents Journal that an exhibition constitutes an international exhibition within the meaning of the Convention is conclusive evidence of that fact. Regularly held events and trade fairs organised by  particular industries are unlikely to qualify.</p>
<p>[A list of exhibitions which have been designated as international exhibitions is available from the <a rel="external" href="http://www.bie-paris.org/site/en/">Bureau International des Exhibitions</a> or telephone 0033 1 45 00 38 63). Upcoming qualifying international exhibitions are also published in the <a rel="external" href="http://www.epo.org/law-practice/legal-texts/official-journal.html">Official Journal of the EPO</a>. <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-84">See also 17.84</a></p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="section-26-repealed" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;[Section 2(6) Repealed]&quot;,&quot;index_section&quot;:10,&quot;index_section_count&quot;:10}"><span class="govuk-accordion__section-button" id="default-id-7e511e6a-heading-10">[Section 2(6) Repealed]</span></h2>
          
</div>        <div id="default-id-7e511e6a-content-10" class="govuk-accordion__section-content" aria-labelledby="default-id-7e511e6a-heading-10" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;[Section 2(6) Repealed]&quot;,&quot;index_section&quot;:10,&quot;index_section_count&quot;:10}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>[Subsection 2(6) was concerned with the patentability of substances or compositions for use in methods of treatment or diagnosis. This is now provided for in section 4A(3)]</p>
<p>[2.42 – 2.52 moved to 4A.16 – 4A.26]
[2.53 – 2.56 moved to 4A.30 – 4A.33]</p>
</div>
</div>
</div>
</div>
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
