<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 285: Offences committed by partnerships and bodies corporate
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (285.01 - 285-05)  last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">285.01</h3>

<p>This contains standard procedural provisions relating to criminal proceedings against bodies corporate and partnerships. It provides inter alia that where offences are committed with the consent or connivance of a director or partner those persons may in addition be proceeded against in their own personal capacities. It also provides that for some purposes, partnerships should be treated in the same way as bodies corporate.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 285(1)</strong></td>
    </tr>
    <tr>
      <td>Proceedings for an offence under this Part alleged to have been committed by a partnership shall be brought in the name of the partnership and not in that of the partners; but without prejudice to any liability of theirs under subsection (4) below.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">285.02</h3>

<p>Where proceedings are brought against a partnership, they are to be brought in the name of the partnership as a whole. This applies to proceedings for an offence under Part V of the CDP Act (patent agents and trade mark agents). Individual partners may still be held liable, however, under subsection (4) of this section.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 285(2)</strong></td>
    </tr>
    <tr>
      <td>The following provisions apply for the purposes of such proceedings as in relation to a body corporate -<br/><br/>(a) any rules of court relating to the service of documents;<br/><br/>(b) in England, Wales or Northern Ireland, Schedule 3 to the Magistrates’ Courts Act 1980 or Schedule 4 to the Magistrates’ Courts (Northern Ireland) Order 1981 (procedure on charge of offence).</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">285.03</h3>

<p>Certain provisions applicable to proceedings against bodies corporate also apply to partnerships.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 285(3)</strong></td>
    </tr>
    <tr>
      <td>A fine imposed on a partnership on its conviction in such proceedings shall be paid out of the partnership assets.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 285(4)</strong></td>
    </tr>
    <tr>
      <td>Where a partnership is guilty of an offence under this Part, every partner, other than a partner who is proved to have been ignorant of or to have attempted to prevent the commission of the offence, is also guilty of the offence and liable to be proceeded against and punished accordingly.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">285.04</h3>

<p>Should a partnership be guilty of an offence under this Part, any fine imposed on the partnership should be paid out of the partnership assets; but every partner is also guilty and liable to be proceeded against. However, this does not apply to any partner who was ignorant of or attempted to prevent the commission of the offence, but the onus is on such a partner so to prove.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 285(4)</strong></td>
    </tr>
    <tr>
      <td>Where an offence under this Part committed by a body corporate is proved to have been committed with the consent or connivance of a director, manager, secretary or other similar officer of the body, or a person purporting to act in any such capacity, he as well as the body corporate is guilty of the offence and liable to be proceeded against and punished accordingly.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-4">285.05</h3>

<p>Where an offence has been committed by a body corporate with the consent or connivance of a director or other officer of the company, that person is also guilty and is liable to be proceeded against.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
