<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 48: Compulsory licences: general 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (48.01 - 48.23) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref48-01">48.01</h3>
<p>s.52(2) is also relevant</p>

<p>Under section 48, applications may be made to the comptroller for them to order the grant of a licence under a patent or make an entry in the register making licences under a patent available as of right. The grounds on which such an application may be made are set out in s.48A(1) if the patent’s proprietor is a WTO proprietor (as defined in s.48(5)), or s.48B(1) if the proprietor is not a WTO proprietor. Those grounds are basically concerned with whether the monopoly conferred by the patent in question is operating against the public interest. A WTO proprietor may apply to have a compulsory licence or register entry cancelled if the circumstances leading to the order or entry have ceased to exist and are unlikely to recur.</p>

<h3 id="section">48.02</h3>

<p>The Patents and Trade Marks (World Trade Organisation) Regulations 1999 replaced previous section 48 with current sections 48, 48A and 48B with effect from 29 July 1999. The amendments bring the section more clearly into line with Articles 30 and 31 of the GATT Agreement on Trade-Related Aspects of Intellectual Property Rights (TRIPS Agreement) (1994) and the Treaty establishing the European Economic Community (Treaty of Rome), instead of relying on the limitation of section 53(5), which requires that no such licence should be granted which would be at variance with any treaty or convention to which the UK is a party. These amendments came into effect in the Isle of Man by virtue of the Patents Act 1977 (Isle of Man) Order 2003 (SI 2003 No. 1249).</p>

<h3 id="section-1">48.03</h3>

<p>Further provisions regarding applications for compulsory licences or for licences to be available as of right and resultant licences are contained in ss.49 to 54. Section 46 is also relevant to “licences of right” entries made under s.48 to 51 (<a href="#ref48-16">see 48.16</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-49-provisions-about-licences-under-s-48/#ref49-07">49.07</a>).</p>

<h3 id="section-2">48.04</h3>

<p><a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-02">See 46.02-07</a> for general discussion of the licence of right and compulsory licence provisions, including the relationship of the voluntary “licences of right” provisions (ss.46 and 47) with the compulsory licence and “licences of right” provisions (ss.48 to 54).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(1)</strong></td>
    </tr>
    <tr>
      <td>At any time after the expiration of three years, or of such other period as may be prescribed, from the date of the grant of a patent, any person may apply to the comptroller on one or more of the relevant grounds-<br/>(a) for a licence under the patent;<br/>(b) for an entry to be made in the register to the effect that licences under the patent are to be available as of right; or<br/>(c) where the applicant is a government department, for the grant to any person specified in the application of a licence under the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="making-an-application">Making an application</h3>

<h3 id="section-3">48.05</h3>
<p>s.48(6) is also relevant</p>

<p>Applications under s.48 are not entertained for a period of three years from the date when the notice of the grant of a patent appears in the Journal <a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-02">see 25.02</a> in order to give some time for the invention to be worked. This period can be altered by a rule approved by Parliament, <a href="#ref48-23">see 48.23</a>.</p>

<h3 id="section-4">48.06</h3>
<p>s.48(3) is also relevant</p>

<p>Such an application may be made at any time after this period expires and may be made by any person (including an existing licensee).</p>

<h3 id="section-5">48.07</h3>
<p>s.48B(4) is also relevant</p>

<p>The application may be for a “licences of right” entry to be made in the register or for the grant of a licence to the applicant. Such an entry is not available where the grounds for application are that a market for the export of any patented product made in the UK is not being supplied (only relevant where the proprietor is not a WTO proprietor).</p>

<h3 id="section-6">48.08</h3>
<p>PR part 7 is also relevant</p>

<p>Any application under  s.48(1) should be made by filing Patents Form 2 accompanied by a copy thereof and a statement of grounds in duplicate; it is not necessary (as was the case under r.68 of the Patents Rules 1995) to file evidence  verifying  the statement with the application. The statement should set out the grounds on which the application is made; these should be one or more of those specified in s.48A(1) <a href="/guidance/manual-of-patent-practice-mopp/section-48a-compulsory-licences-wto-proprietors/#ref48a-02">see 48A.02 et seq</a> if the proprietor is a WTO proprietor or 48B(1) otherwise <a href="/guidance/manual-of-patent-practice-mopp/section-48b-compulsory-licences-other-cases/#ref48b-03">see 48B.03 et seq</a>. The filing of Form 2 starts proceedings before the comptroller, the procedure for which (including the filing of evidence) is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05</a> – <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-13">123.05.13</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(2)</strong></td>
    </tr>
    <tr>
      <td>Subject to sections 48A and 48B below, if he is satisfied that any of the relevant grounds are established, the comptroller may-<br/>(a) where the application is under subsection (1)(a) above, order the grant of a licence to the applicant on such terms as the comptroller thinks fit;<br/>(b) where the application is under subsection (1)(b) above, make such an entry as is there mentioned;<br/>(c) where the application is under subsection (1)(c) above, order the grant of a licence to the person specified in the application on such terms as the comptroller thinks fit.</td>
    </tr>
  </tbody>
</table>

<h3 id="considering-the-application">Considering the application</h3>

<h3 id="ref48-09">48.09</h3>

<p>In considering the application, not only the provisions of ss.48-48B but also those of ss.49 and 50 should be borne in mind. Section 49 is concerned with the grant of licences on an application under s.48, while s.50 concerns the general purposes to be secured and matters to be taken into account by the comptroller when exercising their powers under s.48. Sections 52 to 54 are also relevant. Consideration of  the  application  is essentially a two-stage process, namely determination of whether the grounds of s.48A(1) or 48B(1) as appropriate are established, followed by exercise of the discretion afforded by s.48(2) so as to determine whether to order the grant of a licence (or the making of a “licences of right” entry) taking s.50 into account (Monsanto’s CCP Patent [1990] FSR 93).</p>

<h3 id="section-7">48.10</h3>

<p>[deleted]</p>

<h3 id="section-8">48.11</h3>

<p>[deleted]</p>

<h3 id="ref48-12">48.12</h3>
<p>r.75  and r.77 is also relevant</p>

<p>The application is advertised in the Journal. A copy of the application and the statement of grounds is sent to the proprietor of the patent and any other person shown on the register as having any right in or under the patent. These measures give an opportunity for opposition under s.52(1), <a href="/guidance/manual-of-patent-practice-mopp/section-52-opposition-appeal-and-arbitration/#ref52-03">see 52.03-06</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-3">123.05.3</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-6">123.05.6</a>.</p>

<h3 id="ref48-13">48.13</h3>

<p>The proprietor of the patent cannot be heard on the terms of any licence ordered unless they oppose under s.52(1), although he can make written submissions for consideration by the comptroller (Ultimatte Corp’s Patent (<a href="https://www.gov.uk/government/publications/patent-decision-000184">BL O/1/84</a>).</p>

<h3 id="section-9">48.14</h3>
<p>s.49(2) is also relevant</p>

<p>Where the applicant under s.48 already holds a licence under the patent in question, the comptroller may, if they order the grant of a licence to the applicant, order the existing licence to be cancelled or may, instead of ordering such a new licence, order amendment of the existing licence.</p>

<h3 id="ref48-15">48.15</h3>

<p>A failure to discharge the onus on the applicant to show in their evidence that one or more of the grounds in s.48A(1) or 48B(1) is met cannot be remedied by seeking discovery from the patent proprietor to supplement that evidence (Richco Plastic Co’s Patent [1989] RPC 722). However, if the evidence submitted by the applicant is sufficient to establish their grounds, on the usual principle of the balance of probabilities, then it is immaterial whether it is technically the “best” evidence (Monsanto’s CCP Patent [1990] FSR 93).</p>

<h3 id="ref48-16">48.16</h3>

<p>s.53(3), s.53(4) and s.52(3) is also relevant</p>

<p>The comptroller may make a “licences of right” entry under s.48 notwithstanding any contract precluding a voluntary entry under s.46.  An entry made under s.48 has for all purposes the same effect as an entry made under s.46, except that a WTO proprietor may apply to have the entry cancelled and any licenses granted under the entry terminated if the circumstances leading to the order or entry have ceased to exist and are unlikely to recur.</p>

<h3 id="ref48-17">48.17</h3>

<p>s.53(5) is also relevant</p>

<p>No order or entry is made which would be at variance with any treaty or international convention to which the UK is a party <a href="/guidance/manual-of-patent-practice-mopp/section-53-compulsory-licences-supplementary-provisions/#ref53-06">see 53.06</a>. If any Order in Council is made under s.54, this will also restrict the making of orders or entries where the invention concerned is being commercially worked in a country with which the UK has reciprocal arrangements, <a href="/guidance/manual-of-patent-practice-mopp/section-54-special-provisions-where-patented-invention-is-being-worked-abroard/#ref54-01">see 54.01</a>.</p>

<h3 id="ref48-18">48.18</h3>

<p>In settling the terms of any licence ordered, particular notice is taken of the provisions of ss. 50 and 48A or 48B as appropriate. The royalty for a compulsory licence under s.48 should be one which would be negotiated between a willing licensor and a willing licensee; even though s.50(1)(b) requires the patentee to receive “reasonable remuneration”, the royalty should not be such that the applicants could not bear it and were thus put out of the market (Montgomerie Reid’s Application <a href="https://www.gov.uk/government/publications/patent-decision-014583">BL O/145/83</a>.</p>

<h3 id="ref48-19">48.19</h3>

<p>s.108 is also relevant</p>

<p>The effective date of a licence is the date on which all the terms of the licence are fixed and not merely the date on which it was decided to grant a compulsory licence (Geigy S.A.’s Patent [1966] RPC 250). Without prejudice to any other method of enforcement, an order for the grant of a licence has effect as if it were a deed, executed by the proprietor of the patent and all other necessary parties, granting a licence in accordance with the order.</p>

<h3 id="ref48-20">48.20</h3>

<p>Sometimes where attempts to negotiate a licence voluntarily have broken down, not only is there an application for a compulsory licence by the party seeking a licence, but also proceedings against that party for infringement of the patent in question are commenced by the patentee. The question may then arise of whether there should be a stay in the s.48 proceedings rather than letting them proceed in parallel with a High Court infringement action. This is a matter of convenience having regard to all the circumstances, and of how the comptroller should exercise their discretion in the light of those circumstances. In a preliminary decision in Halcon SD Group Inc’s Patents [1989] RPC 1, the hearing officer ordered a stay in the s.48 proceedings until the decision from the High Court was handed down. The main factors influencing this decision were that further evidence and discovery were still required before the substantive hearing could be held in the s.48 proceedings, a decision on infringement was necessary before the licence application could be satisfactorily resolved, the High Court action was set down to commence very shortly and the s.48 proceedings before the comptroller were liable to be rather lengthy and costly.</p>

<h3 id="section-10">48.21</h3>

<p>s.97(1) is also relevant</p>

<p>An appeal lies to the Patents Court from any decision of the comptroller under s.48. Section 52(4) makes special provision for the Attorney General or their representative to be heard in any such appeal.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(3)</strong></td>
    </tr>
    <tr>
      <td>An application may be made under this section in respect of a patent even though the applicant is already the holder of a licence under the patent; and no person shall be estopped or barred from alleging any of the matters specified in the relevant grounds by reason of any admission made by him, whether in such a licence or otherwise, or by reason of his having accepted a licence.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(4)</strong></td>
    </tr>
    <tr>
      <td>In this section “the relevant grounds” means-<br/>(a) in the case of an application made in respect of a patent whose proprietor is a WTO proprietor, the grounds set out in section 48A(1) below;<br/>(b) in any other case, the grounds set out in section 48B(1) below.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(5)</strong></td>
    </tr>
    <tr>
      <td>A proprietor is a WTO proprietor for the purposes of this section and sections 48A, 48B, 50 and 52 below if-<br/>(a) the is a national of, or is domiciled in, a country which is a member of the World Trade Organisation; or<br/>(b) he has a real and effective industrial or commercial establishment in such a country.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref48-22">48.22</h3>

<p>The TRIPS Agreement limits the circumstances and manner in which use may be made of the subject matter of a patent without the authorisation of the patent holder if they are a “national” of another Member of the WTO as defined in note 1 of that agreement. For non-WTO proprietors, the provisions are equivalent to those provided by the original section 48.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 48(6)</strong></td>
    </tr>
    <tr>
      <td>A rule prescribing any such other period under subsection (1) above shall not be made unless a draft of the rule has been laid before, and approved by resolution of, each House of Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref48-23">48.23</h3>

<p>Sections 48(1) and 48(6) provide for the three-year period before compulsory licences or “licences of right” endorsements could be applied for to be varied by means of a rule approved by Parliament.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
