<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 51: Powers exercisable in consequence of report of Competition and Markets Authority 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (51.01 - 51.06) last udpated: April 2015.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref51-01">51.01</h3>

<p>This section makes provision for Ministers to apply to the comptroller in response to reports by the Competition and Markets Authority (previously known as the Competition Commission of situations operating against the public interest. Such an application may lead to cancellation or modification of conditions in existing licences, and/or a “licences of right” entry in the register, in respect of a patent. In April 2014, this section was amended by the Enterprise and Regulatory Reform Act 2013 (Competition) (Consequential, Transitional and Saving Provisions) Order 2014 to reflect the change in name and responsibilities from the Competition Commission to the Competition and Markets Authority.</p>

<h3 id="section">51.02</h3>
<p>The  application  may  be  made  in  any  of  the  circumstances  set  out  in subsection (1), the relief available being as set out in subsection (3).</p>

<h3 id="section-1">51.03</h3>
<p>s.51(2), PR  part  7 and r.75 is also relevant</p>

<p>Before making the application, the Minister should publish notice of it and consider any representations made within thirty days by persons likely to be affected. The application should be made on Patents Form 2 accompanied by a copy thereof and a statement of grounds in duplicate. This starts proceedings before the comptroller, the procedure for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>. The application is advertised in the journal; this gives an opportunity for opposition under section 52(1) (<a href="/guidance/manual-of-patent-practice-mopp/section-52-opposition-appeal-and-arbitration/#ref52-03">see 52.03-06</a>), <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-3">123.05.3</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-6">123.05.6</a>.</p>

<h3 id="section-2">51.04</h3>

<p>Applications under s.51 are subject to ss.52 to 54.</p>

<h3 id="section-3">51.05</h3>

<p>For the comptroller to take action under s.51, the report of the Competition and Markets Authority must indicate that factors operating against the public interest include the terms or conditions in patent licences or a refusal to grant such licences on reasonable terms. Paragraphs (a) and (b) of section 51(1) which covered reports of the Competition and Markets Authority following monopoly and merger references, respectively, were repealed by the Enterprise Act 2002, which inserted section 50A into the 1977 Act to provide powers exercisable by the comptroller following merger and market investigations (<a href="/guidance/manual-of-patent-practice-mopp/section-50a-powers-exercisable-following-merger-and-market-investigations/#ref50A-01">see 50A.01-04</a>).</p>

<h3 id="section-4">51.06</h3>

<p>Statements in reports of the Competition and Markets Authority are also treated as prima facie evidence in s.48 proceedings, <a href="/guidance/manual-of-patent-practice-mopp/section-53-compulsory-licences-supplementary-provisions/#ref53-04">see 53.04</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 51(1)</strong></td>
    </tr>
    <tr>
      <td>Where a report of the Competition and Markets Authority has been laid before Parliament containing conclusions to the effect -<br/>(a) and (b) [Repealed]<br/>(c) on a competition reference, that a person was engaged in  an  anti- competitive practice which operated or may be expected to operate against the public interest, or<br/>(d) on a reference under section 11 of the Competition Act 1980 (reference of public bodies and certain other persons), that a person is pursuing a course of conduct which operates against the public interest, the appropriate Minister or Ministers may apply to the comptroller to take action under this section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 51(2)</strong></td>
    </tr>
    <tr>
      <td>Before making an application the appropriate Minister or Ministers shall publish, in such manner as he or they think appropriate, a notice describing the nature of the proposed application and shall consider any representations which may be made within 30 days of such publication by persons whose interests appear to him or them to be affected.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 51(3)</strong></td>
    </tr>
    <tr>
      <td>If on an application under this section it appears to the comptroller that the matters specified in the Competition and Markets Authority report as being those which in the opinion of the Competition and Markets Authority operate, or operated or may be expected to operate, against the public interest include -<br/>(a) conditions in licences granted under a patent by its proprietor restricting the use of the invention by the licensee or the right of the proprietor to grant other licences, or<br/>(b) a refusal by the proprietor of a patent to grant licences on reasonable terms<br/><br/>he may by order cancel or modify any such condition or may, instead or in addition, make an entry in the register to the effect that licences under the patent are to be available as of right.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 51(4)</strong></td>
    </tr>
    <tr>
      <td>In this section “the appropriate Minister or Ministers” means the Minister or Ministers to whom the report of the Competition and Markets Authority was made.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
