<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 98: Proceedings in Scotland 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (98.01 - 98.03-1) last updated: April 2008.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">98.01</h3>

<p>This   section   concerns   proceedings   relating   to   patents   (other   than proceedings before the comptroller) in Scotland.</p>

<h3 id="section-981">Section 98(1)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 98(1)</strong></td>
    </tr>
    <tr>
      <td>In Scotland proceedings relating primarily to patents (other than proceedings before the comptroller) shall be competent in the Court of Session only, and any jurisdiction of the sheriff court relating to patents is hereby abolished except in relation to questions which are incidental to the issue in proceedings which are otherwise competent there.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">98.02</h3>
<p>s.130(1) is also relevant</p>

<p>Court proceedings in Scotland relating primarily to patents may be in the Court of Session only and not in the sheriff court. In the 1977 Act, various powers are specifically given to the “court” which, as respects Scotland, means the Court of Session (unless the context otherwise requires). Powers in relation to appeals from decisions of the comptroller in proceedings which under r.88 are held in Scotland, are specifically given to the Court of Session by s.97(4) and (5), <a href="/guidance/manual-of-patent-practice-mopp/section-97-appeals-from-the-comptroller/#ref97-10">see 97.10 and 97.11</a>. In addition, the Court of Session may order the Office to provide reports, under s.99B. It should be noted that procedures before the Court of Session are governed by the Act of Sederunt (Rules of Court of Session) Rules 1994 (S.I. 1994 No.1443). Chapter 55 of these Rules, which is relevant to intellectual property cases, was reproduced as [1995] RPC 1.</p>

<h3 id="section-982">Section 98(2)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 98(2)</strong></td>
    </tr>
    <tr>
      <td>The remuneration of any assessor appointed to assist the court in proceedings under this Act in the Court of Session shall be determined by the Lord President of the Court of Session with the consent of the Treasury and shall be defrayed out of moneys provided by Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">98.03</h3>

<p>The reference to the “Treasury” in s.98(2) was substituted for a reference to the “Minister for the Civil Service” by S.I. 1981 No.1670 arts.2(2), 3(5).</p>

<h3 id="section-3">98.03.1</h3>

<p>Subsection (2) lays down how any assessor assisting the Court of Session in proceedings under the 1977 Act is remunerated.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
