<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 16: Publication of application 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (16.01 - 16.37) Last updated: October 2023.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-161">Section 16(1)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td>Subject to section 22 below and to any prescribed restrictions, where an application has a date of filing, then, as soon as possible after the end of the prescribed period, the comptroller shall, unless the application is withdrawn or refused before preparations for its publication have been completed by the Patent Office, publish it as filed (including not only the original claims but also any amendments of those claims and new claims subsisting immediately before the completion of those preparations) and he may, if so requested by the applicant, publish it as aforesaid during that period, and in either event shall advertise the fact and date of its publication in the journal.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref16-01">16.01</h3>

<p>s.130(5) is also relevant</p>

<p>r.26(1) and r.26(2) is also relevant</p>

<p>References in the Act to publication of an application are to publication under s.16, the publication consisting of the application as filed including the original claims and also any amendments of those claims and any new claims subsisting immediately before the completion of preparations for publication (<a href="#ref16-02">see 16.02</a>). The application is published as soon as possible after the expiry of the period of eighteen months from the declared priority date or, where there is none, the filing date. On the publication date an “A document” is made available consisting, as far as possible, of (a) the specification as published; (b) a front page bearing certain bibliographic data, classification information, a list of the documents cited in the search report under s.17, the abstract and any drawing selected to accompany the abstract; and (c) a copy of the external search report(s). The bibliographic data will not contain an inventor’s name if the comptroller has accepted an application from the inventor to waive their right to be mentioned (<a href="/guidance/manual-of-patent-practice-mopp/section-13-mention-of-inventor/#ref13-03">see 13.03</a>). <a href="/guidance/manual-of-patent-practice-mopp/section-89a-international-and-national-phases-of-application/#ref89A-14-2">See 89A.14-89A14.2</a> regarding PCT applications entering the national phase under section 89.</p>

<p>[Deleted]</p>

<h3 id="ref16-02">16.02</h3>

<p>s.118(2) is also relevant</p>

<p>The determination as to when preparations for publication have been completed is made on a case by case basis. The hearing officer in Peabody International’s Application [1986] RPC 521 applied the guidance given by the Court of Appeal in Intera Corporation’s Application [1986] RPC 459 that preparations have been completed when the print-out of the application data and the specification have been allocated to one of the printing contractors and are ready to be sent to or collected by them from Publishing Section. Following subsequent computerisation, the nearest equivalent point in the procedure is now selected. Unless accelerated publication is requested (<a href="#ref16-04">see 16.04</a>), a letter issued with the search report gives an estimated date soon after which the preparations for publication of the application will be completed. This letter mentions that the applicant will receive a further letter at this time giving the date of publication, publication number and exact date when the preparations for publication will be completed (the PPC date). The letter with the search report also advises the applicant that any amended or new claims for inclusion with the published application or any request to withdraw the application so as to prevent publication must be filed before the PPC date since it is not possible to withdraw an application from publication on or after this date. This letter should not be relied upon as a reminder if the applicant wishes to withdraw the application before publication. If accelerated publication has been requested, it is unlikely that there will be sufficient time after issue of the search report to file amended or new claims for inclusion with the published application or to request withdrawal before publication because the preparations for publication will be completed very soon after issue of the report. Unless accelerated publication is requested, completion will be at least sixteen months and three weeks after the declared priority date or the filing date and at least four weeks after the date of issue of the search report. The fact of publication is advertised in that issue of the Patents Journal which is published on the same date as the application, since information about the application may not be disclosed before the date of publication (except for the bibliographic information which may be published earlier under s.118(3)(b), <a href="/guidance/manual-of-patent-practice-mopp/section-118-information-about-patent-applications-and-patents-and-inspection-of-documents/#ref118-18">see 118.18</a>.</p>

<h3 id="ref16-03">16.03</h3>

<p>s. 8; r.51 is also relevant</p>

<p>On the date of publication the file on the application becomes open to public inspection, as does the relevant entry in the Register. In particular, any amendments to the claims which were filed too late to be included in the published application and any amendments to the description or drawings, are published on that date by being open to public inspection, as is any matter omitted (other than under s.16(2) - see <a href="#ref16-34">16.34-16.37</a> from the A document, for example, in the circumstances referred to in <a href="#ref16-27">16.27</a>. In addition, certain documents are available free of charge on the Office website through Ipsum, the Office’s online patent information and document inspection service.</p>

<h3 id="ref16-04">16.04</h3>

<p>S.16(1) permits the publication of an application before the expiry of the period prescribed by r.26(1) at the request of the applicant. When such a request is made, an application should be sent for publication as soon as the necessary formal requirements have been complied with and a report under s.17(5) has been issued. The application is thus accelerated in that it is placed at the head of the queue waiting to pass through the publication cycle. It is not necessary to give a reason for wanting accelerated publication.</p>

<p>[ A case on which accelerated publication has been requested should have the appropriate label applied to the cover of the dossier by the Formalities Examiner. Formalities should check the action log and minute sheet on PDAX for an indication that the application has been diarised to return to the examiner after publication. If such a diary entry is present formalities should update it so that the case returns at the appropriate time after accelerated publication. ]</p>

<p>[ There are no established Office procedures for providing “instant” publication of an application, or for shortening the 5-week A-publication cycle. To make the  most of the 5-week cycle, Formalities need to generate “Ready for A Publication” by the end of Wednesday. DIS PRO should be checked by the examiner on the following day to make sure that the case has been picked. If “Ready for A picklist” is still displayed, contact PD/A3 immediately. ]</p>

<h3 id="section">16.05</h3>

<p>s.22(3)(a) is also relevant</p>

<p>An application on which, for security reasons, directions prohibiting publication have been imposed will not be published until such directions have been revoked.</p>

<h3 id="section-1">16.06</h3>

<p>r.8 is also relevant</p>

<p>Where there is a declared priority date the claim to priority is relinquished if the file number of the priority application and priority document is not filed within sixteen months (extendible in accordance with r.108(2) or (3), <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-34">see 123.34-41</a>), unless this requirement does not apply (<a href="/guidance/manual-of-patent-practice-mopp/section-5-priority-date/#ref5-08">see 5.08 to 5.10</a>). If this occurs the applicant should be so informed and the declaration on Form 1 amended and COPS updated. If the priority date so lost is the earliest or only date declared then the time when publication becomes due will be correspondingly later (<a href="#ref16-01">see 16.01</a>). An application should not be sent for publication until either the priority document has been filed or the priority date has been lost. Thus the filing of a priority document towards the end of the prescribed period will cause an application to be sent late for publication (<a href="#ref16-31">see 16.31</a>) and will thus delay publication under s.16 until after the end of the normal eighteen month period. Publication should not however be delayed solely because a translation (when needed) of a priority document has not been filed.</p>

<h3 id="ref16-07">16.07</h3>

<p>s.118(3)(b) is also relevant</p>

<p>r.55 is also relevant</p>

<p>If an application has been withdrawn or treated as withdrawn or has been refused (either under s.15A(7) or, after a hearing following a preliminary objection (<a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-96-2">see 17.96.2</a>), under s.18(3)) before the completion of preparations for publication, it will not be published, nor, subject to the exceptions provided for in s.118, will any of the documents become open to public inspection. However, the termination will be advertised in the Journal.</p>

<h3 id="content-of-the-published-application-and-a-document">Content of the published application and ‘A’ document</h3>

<h3 id="the-application-as-filed">The application as filed</h3>

<h3 id="ref16-08">16.08</h3>

<p>s.130(4) is also relevant</p>

<p>The application must be published as filed, that is, in the state in which it was on the filing date. Therefore if any of the documents originally filed is subsequently replaced by another, for example because the original did not comply with formal requirements, the new document must conform essentially with the original. (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-30">See 14.30</a>) for private applicant cases and <a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-22">15A.22</a>) for the situation where there is a discrepancy between formal and informal drawings). The A document will carry a notice (<a href="#ref16-29">see 16.29</a>) that replacement documents or drawings or formulae, as the case may be, were filed later than the filing date. (If the examiner has reframed the abstract (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-170">see 14.170-191</a>) then the A document includes the abstract in its amended form instead of as originally filed.) A divisional application which as filed discloses additional matter may under s.76.(1) proceed following exclusion of the additional matter (<a href="/guidance/manual-of-patent-practice-mopp/section-76-amendments-of-applications-and-patents-not-to-include-added-matter/#ref76-02">see 76.02</a>). However it should be published under s.16(1) as filed, that is including the additional matter (<a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-35">see also 15.35</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-39">15.39</a>). The requirement to publish the application as filed includes any personal information in the specification.</p>

<p>[ If personal information is identified during the examining process in the as-filed specification, the examiner, heading examiner, or group head should immediately inform the applicant. The applicant should be given the opportunity to either withdraw their application and refile or proceed to publication with the personal information present. Claiming priority from an application containing personal information will not be an option if the applicant wishes to avoid publication of the personal information, as priority documents are made public on Ipsum. Legal Section should be contacted if the applicant expresses a desire for their personal information to be published.]</p>

<h3 id="ref16-09">16.09</h3>

<p>If the formalities examiner is unable to establish that the text of a replacement page is identical with that originally filed they should refer the matter to the search examiner. If the search examiner confirms that the original text is literally illegible (as distinct from merely difficult to read) then square brackets should be placed around the text replacing the illegible matter in the copy of the document to be published, and the front page should carry a notice, in addition to the notice referred to in <a href="#ref16-08">16.08</a>, to the effect that matter so shown was submitted after the filing date to replace defective text. If no legible replacement for illegible matter is filed, arrangements should be made to omit it from the A document and to insert on the front page a notice that this has been done. In view of the serious consequences for the applicant which may follow an allegation that the application as filed contained illegible matter, the procedure referred to in this paragraph should be followed only when the examiner is satisfied that the original matter cannot be deciphered.</p>

<p>[ When the search examiner wishes illegible matter which has not been replaced by legible matter to be omitted from the A document, they should send the case to the appropriate formalities group for retyping and/or blanking out as appropriate. ]</p>

<h3 id="ref16-10">16.10</h3>

<p>In deciding the “as filed” state of an application, account should be taken of any documents relating to the application which were present in the Office at the close of business on the date of filing (or in the case of a divisional application, on the date of lodging of that application). Any such document or set of documents tending to complete an otherwise deficient application should be incorporated into the application, as should any alterations to the specification, whether in the form of replacement pages or proposed in a letter. If the resulting specification does not comply adequately with formal requirements (<a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-05">see 15A.05</a>) objection should be raised under <a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-03">s.15A(3)</a> making it clear what form of the application is being objected to.</p>

<h3 id="section-2">16.11</h3>

<p>Where two versions of a document were present on the filing date and the only difference is that one is formal and the other informal, then the formal version should be regarded as the effective one; the informal copy should be marked “surplus”. Where there is a difference in substance between two versions of the same document, then, if the applicant has given explicit instructions, or if it is implicit or obvious which version is intended to be definitive, the application should be reconstituted accordingly.</p>

<p>[ If the formalities examiner is in doubt how to proceed they should consult the Formalities Manager and, if necessary, the divisional Head of Administration or relevant Deputy Director. If they are unsure the case should be referred to the Divisional Director. If they consider that the applicant’s intention is in doubt they should select which appears to them to be the most appropriate version and proceed as in <a href="#ref16-12">16.12</a>. ]</p>

<h3 id="ref16-12">16.12</h3>

<p>If the applicant’s intention regarding amendments or different versions of the same document is in doubt they should be informed which version appears to the Office to be most appropriate and that, unless they indicate clearly their intentions within a specified short period (generally one month), that version will be treated as definitive. When the application is subsequently reconstituted (whether after a reply or not), the applicant should be informed in writing of the course taken.</p>

<p>[ Letter SL11 should be used in the first instance, and SL12 to inform the applicant of the action eventually taken. ]</p>

<h3 id="section-3">16.13</h3>

<p>[ Deleted ]</p>

<h3 id="ref16-14">16.14</h3>

<p>Where the description as filed is in a foreign language and is not accompanied by a translation, <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-06">see 15.06.1-2</a>. If a translation is filed, the A document will carry a notice (<a href="#ref16-29">see 16.29</a>) that the specification was originally filed in a foreign language.</p>

<h3 id="later-filed-claims">Later-filed claims</h3>

<h3 id="section-4">16.15</h3>

<p>The published application includes not only the specification in the state in which it was on the date of filing but also original claims filed later than the filing date within the period prescribed by r.19(1) and (3). The front page of the A document should carry a notice (<a href="/#ref16-29">see 16.29</a>) that the claims were filed later than the filing date of the application, but the actual date on which the claims were filed will not be referred to in the published application.</p>

<h3 id="amended-or-new-claims">Amended or new claims</h3>

<h3 id="ref16-16">16.16</h3>

<p>Amendments to original claims, or new claims, are also included in the published application, provided they are filed before preparations for publication have been completed. (The actual date on which they were filed is not material and is not mentioned in the A document). Since the publication is required to include, in addition to original claims, only those amended or new claims which subsist immediately before completion of preparations for publication, any amended or new claims which have been in the meantime further amended or cancelled are not included. The amended or new claims are included in the A document if they are available in a suitable form for direct reproduction with the original description and claims. For this purpose, it is necessary for all the changes to appear on fresh pages which are self-explanatory and do not rely on instructions in a covering letter. The first such page should preferably be suitably headed, eg “Amendments to the claims”. If suitable pages are not received by the time preparations for publication are completed the amended or new claims are omitted from the A document but published by inclusion in the file laid open to public inspection: a notice on the front page of the A document indicates that amended or new  claims unsuitable for reproduction have been filed.</p>

<p>[ To obtain the footnote re omitted amendments to the claims, an appropriate free text entry should be entered on COPS. ]</p>

<h3 id="section-5">16.17</h3>

<p>As a consequence of the wording of s.16(1), if a prohibition order under s.22 is revoked but the application is published under s.16 only after substantive examination the published application will include both the claims in their original form and (if they have been amended) the claims of the application as in order for grant.</p>

<h3 id="ref16-18">16.18</h3>

<p>When amendments to the claims, or new claims, are filed they should be checked and collated for inclusion in the A document by the formalities examiner. Amended or new claims are to be published with the original claims only if the changes to the claims are filed as fresh pages meeting the requirements of r.14 and Schedule 2. The applicant or agent should be informed of any deficiency but publication should not be delayed to await any response. The formalities examiner should consult or refer the application to the search examiner for advice when necessary.</p>

<p>[No attempt should be made to edit new sets of claims to avoid unnecessary repetition of the wording of the original claims nor add explanatory text. Furthermore, unless new claims are received before the search (<a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-35">see 17.35</a>), they should not be considered for any lack of clarity as to the precise effect of the changes on the existing claims until substantive examination. Applicants and agents are now encouraged to provide a heading identifying the fresh pages as relating to changes to the claims.</p>

<p>When new or amended claims are filed the formalities examiner should check that they meet the requirements of r.14 and Schedule 2 and annotate them with “Incorporate after A Pub” in the TOC on the dossier. If the new or amended claims are not a complete set, the document assembler should be used to create a full set, the pages of new or amended claims and external search report being renumbered as appropriate. After publication, the amended claims should be annotated “Working Copy” in the TOC by the formalities examiner.</p>

<p>If on receipt of new or amended claims<br/><br/>(a) the search report has not yet issued<br/>(b) a report, such as letters SL2 or SL2PA, that no search is possible has already issued<br/>(c) new or amended claims have already been filed<br/>(d) there is a gap in the numbering of the new or amended claims, or<br/>(e) there is reason to doubt that what has been filed are new or amended claims, the application should be referred to the heading or search examiner. ]</p>

<p>[Amendments containing personal information should only be published or placed on Ipsum with the explicit, written consent of the applicant. Extra checks should be conducted before A and B publication to ensure consent has not been rescinded. The Formalities examiner is responsible for ensuring these checks are completed and should liaise with Publishing and the Patent Examiner as necessary. If the amendments contain sensitive personal information which the applicant subsequently removes through filing further amendments, the original pages should not be placed on Ipsum or made OPI, they should be redacted and deleted as necessary by the Formalities examiner.]</p>

<h3 id="section-6">16.19</h3>

<p>Unless amended or new claims are filed under r.31(5)(a) before search, no attempt should be made to establish whether they introduce new subject-matter. Amended or new claims allowed under r.31(5)(a) or filed at the applicant’s own volition under r.31(4) are published as filed, subject to the omission of matter under s.16(2).</p>

<h3 id="other-amendments-corrections-or-alterations">Other amendments, corrections or alterations</h3>

<h3 id="ref16-20">16.20</h3>

<p>s.118 is also relevant</p>

<p>Any amendments to the specification other than the claims are not included in the A document, although they do become open to public inspection on the publication date.</p>

<p>r.31(5)(b)and r.49 is also relevant</p>

<h3 id="section-7">16.21</h3>

<p>Any amendment to the Request for Grant (Form 1) is however included, provided that a written notification or Patents Form 20 (required for a correction of a name), as appropriate, setting out the proposed amendment has been filed before preparations for publication have been completed (<a href="/guidance/manual-of-patent-practice-mopp/section-19-general-power-to-amend-application-before-grant/#ref19-05">see 19.05-19.12</a> and <a href="/guidance/manual-of-patent-practice-mopp/sections-32-register-of-patents-etc/#ref32-06">32.06</a>); the front page of the A document will bear an appropriate notice (<a href="#ref16-29">see 16.29</a>) eg that such amendment has been made under r.31(5) or under r.49(1). (If the amendment concerns the declaration of priority the date on which the application is due to be sent for publication may need to be revised - see <a href="#ref16-01">16.01</a>.</p>

<p>[ Where a footnote regarding amendments made under r.49(1) is required, an appropriate free text entry should be entered on COPS. ]</p>

<h3 id="section-8">16.22</h3>

<p>If it is requested that the application proceed in the name of a person other than the or an original applicant, for example because the application has been assigned under s.30, or because the original applicant has died and the application is to proceed in the name of the deceased’s personal representative, then,  provided  the change has been effected before preparations for publication have been completed, the A document will reflect the change and will carry an appropriate footnote (<a href="#ref16-29">see 16.29</a>). (<a href="/guidance/manual-of-patent-practice-mopp/section-19-general-power-to-amend-application-before-grant/#ref19-09">See also 19.09</a>).</p>

<h3 id="ref16-23">16.23</h3>

<p>r.105(1) and r.49(1) is also relevant</p>

<p>If correction of a clerical error (<a href="/guidance/manual-of-patent-practice-mopp/section-117-correction-of-errors-in-patents-and-applications">see s.117</a>) is sought and allowed before completion of preparations for publication, the application will be published as corrected and the A document will bear a notice (<a href="#ref16-29">see 16.29</a>) that a correction has been made. Except in the case of a name (where correction must be requested on Form 20), an error may be rectified merely by written notification (<a href="/guidance/manual-of-patent-practice-mopp/section-117-correction-of-errors-in-patents-and-applications/#ref117-03">see 117.03</a>); if no form has been received in the case of a request for correction of a name, the examiner should ask by telephone that it be filed. Reasonable time should be allowed for this, although a case should not be retained on this account for long after it is due to be sent for publication. If no Form (or suitable evidence) is forthcoming the application should proceed to publication uncorrected, and the matter may be dealt with afterwards.</p>

<h3 id="ref16-24">16.24</h3>

<p>If an application contains an applicant’s or agent’s identifying reference to another application filed on the same day or earlier under the 1977 Act, the search examiner should supplement it by the application number, even if it is necessary to telephone the applicant or agent to ascertain the number. All other references are published as filed.</p>

<h3 id="section-9">16.25</h3>

<p>s.19(2) is also relevant</p>

<p>The comptroller may, of their own volition, amend the specification contained in an application in order to acknowledge a registered trade mark (<a href="/guidance/manual-of-patent-practice-mopp/section-19-general-power-to-amend-application-before-grant/#ref19-23">see 19.23- 19.26</a>).</p>

<h3 id="section-10">16.26</h3>

<p>Since the Office is under a statutory obligation to publish an application in the conditions in which it was filed, subject only to the derogation of s.16(2), if an application contains matter accompanied by wording suggesting that the copyright is owned by a person other than the applicant, then it must still be published as filed.</p>

<h3 id="computer-programs-biological-sequence-listings-and-other-bulky-ancillary-material">Computer programs, biological sequence listings and other bulky ancillary material</h3>

<h3 id="ref16-27">16.27</h3>

<p>Computer programs, and nucleic acid or protein sequences listings, ancillary to the main text and extending over many pages are unduly burdensome to include in the published specification. This is also the case with other extensive material clearly ancillary to the main text. Therefore if an application contains such a program, sequence listing or material, it is normally omitted from the A document at the discretion of the examiner, although of course it remains part of the published application and becomes open to public inspection on the publication date (<a href="/guidance/manual-of-patent-practice-mopp/section-24-publication-and-certificate-of-grant/#ref24-04">see also 24.04</a>). A notice referring to the omission should be included on the front page (<a href="#ref16-29">see 16.29</a>). If however the search examiner considers that the program or other material would facilitate a ready understanding of the invention it may be included in the A document.</p>

<p>[ If the program or other ancillary material is to be omitted from the A document the examiner should minute the file to instruct Formalities which pages of the application are not to be included. The minute should also instruct Formalities that the appropriate common standard text (see 16.29) relating to computer programs et al is to be included on the front page of the A document. If other material is to be omitted, the minute should include details of an appropriate non- standard text. ]</p>

<h3 id="section-11">16.28</h3>

<p>If the pages of a computer program, sequence listing or other ancillary material do not comply with r.14 and Schedule 2 the formalities examiner should report accordingly, but no objection should be raised unless the pages are to be included in the A document or are unsuitable for reproduction in response to requests on Form 23 after publication. (If the applicant retains the pages in the specification, objection should be made during substantive examination).</p>

<h3 id="final-procedure">Final procedure</h3>

<h3 id="ref16-29">16.29</h3>

<p>When one or more notices is to be included on the front page of the A document, the formalities examiner and/or the search examiner should give appropriate instructions.</p>

<p>[ Where appropriate, the search examiner should add a minute to the dossier instructing Formalities which of the standard texts (see the “Notices for front page of ‘A’ document” form in annex 8A of the formalities manual) are to be included on the front page of the A document. When necessary, a minute should also be added to the dossier outlining the exact wording of any non-standard texts to be inserted. A PSM message should then be sent to the appropriate Formalities Group/Examiner. This data will subsequently be inputted to COPS for preparation of front page data. Note that, the text of pre-printed notices should not be altered in any way, save the non-standard text relating to drawings omitted under s.15(5) or (6) which requires completion. ]</p>

<p>[As part of the pre-A publication checks, formalities examiners should check all documents and consider if personal or sensitive information contained therein should be redacted for Ipsum. After publication, formalities examiners should check all incoming documents as they are received and redact as necessary.]</p>

<p>[The Enhance feature on PDAX may be used to redact any personal information, either at the head or foot of the correspondence or in the body of the text. Once this has been done, “set handle” is applied to the redacted version and the redacted document is annotated as “OLFI” to enable post–publication display of the letter on Ipsum.]</p>

<h3 id="ref16-30">16.30</h3>

<p>When the search examiner sends the application for issue of the search report and of any documents cited thereon (<a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-104">see 17.104, 17.104.1</a>) or of a report that a search would serve no useful purpose they should normally authorise publication of the application, regardless of whether this is yet due, whether or not there are any outstanding formal objections and whether formal or formula drawings are awaited. They should not however authorise publication if the abstract is awaited.</p>

<p>[The search examiner should record the appropriate COPS processing status in PROSE. Processing status 5 “May be s.16 published” will apply to the majority of completed searches and CS&amp;Es (including divisionals). It applies when the application will be in order for A-publication with respect to the examiner’s requirements once the search report is ready to be issued. It also applies to PCT national phase applications which have been classified and are ready for republication. This status should also be used when an application is in order for publication having previously had a status recorded as processing status 2 (see 18.47) or 3. Processing status 3 “Searched – Do not s.16 publish yet” should be used when a formal search or CS&amp;E has been carried out but for some reason the examiner needs to see the dossier again before it is sent for publication. This is most often used when no abstract has yet been filed.]</p>

<h3 id="ref16-31">16.31</h3>

<p>If formalities have been complied with and unless accelerated publication is requested (<a href="#ref16-04">see 16.04</a>), the application should be sent for publication 16 months and 3 weeks after the earliest declared priority date or, where there is none, the filing date, provided that 4 weeks have elapsed since issue of the search report. When accelerated publication is wanted the application should be sent for publication immediately because the normal 4 week wait after issue of the search report is taken to be waived.</p>

<p>[ On receipt of the application the formalities examiner will use COPS to check the date of intended publication. The formalities examiner will either accept this date or overtype with “today’s date” for accelerated publication. Once this COPS action has been completed the application enters the “A-publication” queue. At the start of the publication cycle the appropriate applications are picked and transferred to Publishing Section. ]</p>

<p>[Deleted]</p>

<h3 id="ref16-32">16.32</h3>

<p>If formalities have not been complied with or if the 16 months and 3 weeks has not yet passed (provided accelerated publication is not requested) publication should be deferred, the application being sent for publication at the appropriate time and after any objections have been met without, in general, being referred to the examiner. Applications should however be referred to the search examiner if necessary upon the filing of amendments or formal drawings or formula drawings (<a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-22">see 15A.22</a> <a href="#ref16-09">16.09</a> and <a href="#ref16-18">16.18</a>), or if a letter needing the examiner’s attention or a request for further search is received. In such circumstances, the documents selected for publication may need amending before publication.</p>

<blockquote>
  <p class="last-child">[Deleted]</p>
</blockquote>

<p>[Once all the formalities are complied with, the application should be transferred to Publishing Section or enter the A-publication queue, or the application should be referred to the search examiner, whichever is appropriate.</p>

<p>[ When the search examiner has dealt with any such matters referred to them after issue of the search report (see the second sentence of 16.32),then they should refer the application to the appropriate formalities group, after setting the appropriate COPS status if they have not already done so (<a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-47">see list in 18.47</a>). The formalities group will resume responsibility for forwarding the application to Publishing Section at the appropriate time.]</p>

<h3 id="correction-of-printers-errors">Correction of printer’s errors</h3>

<h3 id="ref16-33">16.33</h3>

<p>If the A document contains a printer’s error, whether in the specification, the bibliographic or classification data or in a footnote (<a href="#ref16-29">see 16.29</a>) or in the search report, it may be corrected by the issue of an erratum. In this context, “printer’s error” is interpreted broadly to embrace any error originating within the Office or during the publication process. However, it does not extend to errors made elsewhere, such as by the applicant. (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-191">See also 14.191</a>).</p>

<p>[ An erratum should not be issued to correct an error in the specification which is detected by the search/substantive examiner unless the error is significant, in the sense that it misleads or introduces doubt. An erratum should be issued for an error in the specification which is notified by the applicant or by a member of the public or for any error in the bibliographic or classification data or the footnotes or for an omitted footnote. An erratum should also be issued whenever an error is found in an external search report or when an additional citation is found before A-publication (see also 17.105), but where in each case it is too late for the amended or corrected external search report form to be incorporated in the A document. No erratum is necessary in respect of citations found after A-publication.</p>

<p>[ As soon as a search/substantive examiner appreciates that the classification assigned to an A document is erroneous and/or does not reflect fully the disclosure of an inventive concept or other significant disclosure, the COPS record should be amended to indicate the classification that the document should have carried at the date of A publication.</p>

<p>[ When the search/substantive examiner detects a significant error in the specification or any other error requiring correction, the relevant formalities group should be instructed to arrange for the production and issue of an erratum.
Where the correction relates to classification or field of search bibliographic data, is in the text of the specification or abstract, or is complex, the search/substantive examiner should give precise instructions concerning the content and location of each deletion and insertion before referring the case to the formalities group. When errors are brought to the attention of a formalities group other than by search or substantive examiners, the formalities group will not normally consult the relevant examiner except in respect of technical matters. See also paragraph 5.12.1 of the OPTICS Manual re correction of OPTICS front page data. ]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 16(2)</strong></td>
      <td> </td>
    </tr>
    <tr>
      <td>The comptroller may omit from the specification of a published application for a patent any matter - <br/><br/> (a)	which in his opinion disparages any person in a way likely to damage him, or<br/> (b)	the publication or exploitation of which would in his opinion be generally expected to encourage offensive, immoral or anti-social behaviour</td>
      <td>.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref16-34">16.34</h3>

<p>While the search examiner should not specially look for material of the kind referred to in s.16(2), where they become aware of such matter which is in their opinion both evident and blatant they should take steps to see that it is withheld from publication. The published specification will contain a statement at the place(s) concerned that “certain matter has here been suppressed from publication under Section 16(2)”. If a specification is either completely offensive or is so riddled with offending matter that publication of any text would appear ridiculous, the whole of the specification may be suppressed. Care should be taken that any matter which it is considered should be omitted under s.16(2) is not only absent from the A document but also will not become open to public inspection after the publication date. Rule 51(2)(d) provides the same power in respect of documents other than the published application (<a href="/guidance/manual-of-patent-practice-mopp/section-118-information-about-patent-applications-and-patents-and-inspection-of-documents/#ref118-07">see 118.07</a>).</p>

<p>[ If formalities notice matter which may require omission under s.16(2) the document code should be changed to CONFIDENTIAL and the document annotated as “Not Open to Public Inspection”. A minute should be added to the dossier clearly and unequivocally identifying the matter to be suppressed and the reasons for it being withheld from publication. A PDAX message should then be sent to the examiner.</p>

<p>[ If the examiner becomes aware of matter which may require omission under s.16(2) they should immediately ask formalities to change the document code and annotate accordingly.</p>

<p>[ The Group Head should be consulted and the examiner should use the “Enhance” function on PDAX to blank-out the matter concerned. Once this has been done the redacted version should be annotated appropriately and given the appropriate document code (e.g. DESC). The original version should retain the document code CONFIDENTIAL and should not be made public following publication.]</p>

<p>[ If the highlighted material is not considered offensive or libellous, and may therefore be open to public inspection, the examiner should write a minute to formalities asking them to reinstate the original document code, remove any annotation and set public following publication.]</p>

<h3 id="section-12">16.35</h3>

<p>Statements which are critical of prior inventions (whether identified, eg by reference to specific patents, or not) should be regarded as falling within the scope of s.16(2)(a) only if they are explicitly disparaging of a person (natural or corporate) or if by very clear implication they reflect adversely on the character or competence of any person. Mere statements that prior inventions are in some way unsatisfactory cannot be omitted under s.16(2)(a).</p>

<h3 id="section-13">16.36</h3>

<p>The question as to what would be considered to encourage offensive, immoral or anti-social behaviour is discussed in paragraphs <a href="/guidance/manual-of-patent-practice-mopp/section-1-patentability/#ref1-41">1.41-1.45</a>.</p>

<p>s.97(1)(b) is also relevant</p>

<h3 id="section-14">16.37</h3>

<p>Although there is no appeal from a decision of the comptroller under s.16(2), the applicant should be informed that matter is to be omitted under this subsection from their application as published. The substantive examiner may be required to consider whether the matter may be restored before grant.</p>


</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
