<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 119: Service by post 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (119.01 - 119.08) last updated October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 119</strong></td>
    </tr>
    <tr>
      <td>Any notice required or authorised to be given by this Act or rules, and any application or other document so authorised or required to be made or filed, may be given, made or filed by post.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref119-01">119.01</h3>

<p>This section allows any notice or document required or authorised by the 1977 Act or rules thereunder to be served by post. It does not preclude other methods of service, eg by hand or e-filing. The reference to “post” is construed widely to mean any item of mail delivered by any service in exchange for payment, and is thus not restricted to delivery services operated by the Post Office.</p>

<h3 id="section">119.02</h3>

<p>Service of a document by post is deemed to be effected by properly addressing, paying for and posting a letter containing the document.</p>

<h3 id="ref119-03">119.03</h3>

<p>Documents are accorded the date of receipt within the Office. This contrasts with practice under r.97 of the Patents Rules 1995, where a document sent by post was deemed to have been received at the Office on the day when it would have been delivered in the ordinary course of post. This deeming arrangement applied to any document posted prior to 17 December 2007.</p>

<h3 id="section-1">119.04</h3>

<p>[deleted]</p>

<h3 id="section-2">119.05</h3>

<p>[deleted]</p>

<h3 id="section-3">119.06</h3>

<p>[deleted]</p>

<h3 id="section-4">119.07</h3>

<p>s.120 is also relevant</p>

<p>Where a communication sent by post is received at the Office on an excluded day (<a href="/guidance/manual-of-patent-practice-mopp/section-120-hours-of-business-and-excluded-days/#ref120-05">see 120.05</a>) it is treated as having been received on the next non-excluded day, any time limit expiring on the former day being extended to the latter. However, if its receipt on the excluded day was the result of postal delay, r.110 or r.111 may apply, <a href="#ref119-08">see 119.08</a>.</p>

<h3 id="ref119-08">119.08</h3>

<p>r.110 and r.111 are also relevant</p>

<p>Under r.110 the comptroller is empowered to certify any day where there r.111 is a general interruption or subsequent dislocation in the UK postal services as an interrupted day; any time limits expiring on such an interrupted day are automatically extended to the next day which is not an interrupted day, <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-43">see 123.43 to 123.45</a>. Under r.111 the comptroller may extend any period of time specified in the Act or Rules, in a particular case of failure to meet that time period, where the Comptroller is satisfied that the failure was wholly or mainly attributable to a failure or delay in a communication service, <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-46">see 123.46-47</a>.</p>

<p>[Where correspondence from the Office is reported as never having arrived at its intended destination, or is reported as being misdirected or delayed, this fact should be recorded by sending a minute to the relevant formalities group with any relevant details.]</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
