<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 124: Rules, regulations and orders; supplementary 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated: April 2007</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">124.01</h3>

<p>The ways in which rules, orders etc under the Act are made are governed by this section.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124(1)</strong></td>
    </tr>
    <tr>
      <td>Any power conferred on the Secretary of State by this Act to make rules, regulations or orders shall be exercisable by statutory instrument.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">124.02</h3>

<p>The Secretary of State is given a general power to make rules by s.123 and also has the power to make rules for specific purposes under a number of other sections, eg s.125A concerning biological material; s.25(5) concerning notification of non-payment of renewal fees; s.32(1) and (2) concerning entries in the register; s.92(3) and (4) concerning evidence for use under the EPC; s.130(2) concerning international exhibitions; and
supplementary protection certificates (<a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-02-01">see 123.02.1</a>).</p>

<h3 id="ref124-03">124.03</h3>

<p>Certain provisions of the Act may be varied by rules made under s.25(2) (to vary the effective date of grant), s.48(2) (to vary the period after which compulsory licences become available) and ss.77(9) and 78(8) (to bring into effect, and to remove, requirements regarding translations of European patents (UK) and of the claims of applications for such patents).</p>

<h3 id="section-2">124.04</h3>

<p>[deleted]</p>

<h3 id="ref124-05">124.05</h3>

<p>The Secretary of State may by order under s.1(5) vary those things excluded from being treated as inventions.</p>

<h3 id="ref124-06">124.06</h3>

<p>All rules, regulations or orders such as mentioned above are made by statutory instrument.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124(2)</strong></td>
    </tr>
    <tr>
      <td>Any Order in Council and any statutory instrument containing an order, rules or regulations under this Act, other than an order or rule required to be laid before Parliament in draft or an order under section 132(5) below, shall be subject to annulment in pursuance of a resolution of either House of Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref124-07">124.07</h3>

<p>Orders in Council which may be made under the Act are under s.54(1) where a patented invention is being worked abroad, under s.59(3) and (4) regarding Crown use during a period of emergency, under s.90(1) and (2) to declare a country to be a convention country and under s.132(2) to modify the Act as it applies in the Isle of Man.</p>

<h3 id="ref124-08">124.08</h3>

<p>Such Orders in Council and statutory instruments, with the following exceptions, are annulled if either House of Parliament so resolves. The exceptions are statutory instruments containing an order or rule required to be laid before Parliament in draft, ie an order under s.1(5) as referred to <a href="#ref124-05">in 124.05</a> or a rule under s.25(2) or s.48(2) as referred to <a href="#ref124-03">in 124.03</a>, or an order under s.59(3) and (4) as referred to <a href="#ref124-07">in 124.07</a> or under s.132(5) as referred to <a href="#ref124-05">in 124.05</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124(3)</strong></td>
    </tr>
    <tr>
      <td>Any Order in Council or order under any provision of this Act may be varied or revoked by a subsequent order.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
