<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 112: Misuse of title "Patent Office" 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (112.01 - 112.02) last updated: July 2010.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 112</strong></td>
    </tr>
    <tr>
      <td>If any person uses on his place of business, or on any document issued by him, or otherwise, the words “Patent Office” or any other words suggesting that his place of business is, or is officially connected with, the Patent Office, he shall be liable on summary conviction to a fine not exceeding level 4 on the standard scale.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">112.01</h3>

<p>It is an offence under s.112 to suggest that a place of business (other than the Patent Office) is, or is officially connected with, the Patent Office.</p>

<p>[ Any queries relating to offences under this section should be referred to Patents Legal Section. ]</p>

<h3 id="section-1">112.02</h3>

<p>The maximum fine was converted to a level on the standard scale by the Criminal Justice Act 1982.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
