<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 131: Northern Ireland
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (131.01 - 131.03) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-131">Section 131</h3>

<p>In the application of this Act to Northern Ireland -</p>

<p>(a) “enactment” includes an enactment of the Parliament of Northern Ireland and a Measure of the Northern Ireland Assembly;</p>

<p>(b) any reference to a government department includes a reference to a Department of the Government of Northern Ireland;</p>

<p>(c) any reference to the Crown includes a reference to the Crown in right of His Majesty’s Government in Northern Ireland;</p>

<p>(d) any reference to the Companies Act 1985 includes a reference to the corresponding enactments in force in Northern Ireland; and</p>

<p>(e) [repealed]</p>

<p>(f) any reference to a claimant includes reference to a plaintiff.</p>

<h3 id="section">131.01</h3>

<p>The Act extends to Northern Ireland but, in its application thereto, is interpreted in accordance with this section.</p>

<h3 id="section-1">131.02</h3>
<p>s.130(1) is also relevant</p>

<p>In the Act, various powers are specifically given to the “court” which, as respects Northern Ireland, means the High Court in Northern Ireland (unless the context otherwise requires).</p>

<h3 id="section-2">131.03</h3>

<p>The reference to the Companies Act 1985 in (d) was substituted by the Companies Consolidation (Consequential Provisions) Act 1985 for the original reference to the Companies Act 1948. Part (e) was repealed by the Arbitration Act 1996. Part (f) was added by the Patents Act 2004 to clarify that the term “claimant” used in the Act includes “plaintiff” when the Act is applied in Northern Ireland.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
