<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 79: Operation of s.78 in relation to certain European patent applications 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (79.01 - 79.04) last updated April 2008.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">79.01</h3>
<p>a.150 EPC  is also relevant.</p>

<p>An international application made under the PCT in which the EPO acts as designated or elected Office (and will therefore conduct the substantive examination) is deemed to be a European patent application. This section provides for the operation of s.78 in relation to such an application which designates the UK as a country in which protection is sought.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 79(1)</strong></td>
    </tr>
    <tr>
      <td>Subject to the following provisions of this section, section 78 above, in its operation in relation to an international application for a patent (UK) which is treated by virtue of the European Patent Convention as an application for a European patent (UK), shall have effect as if any reference in that section to anything done in relation to the application under the European Patent Convention included a reference to the corresponding thing done under the Patent Co-operation Treaty.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">79.02</h3>
<p>s.79(1)-(3) s.78(7) are also relevant.</p>

<p>An application for a European patent (UK) initiated by an international application is treated as an application under the 1977 Act to the extent specified in s.78, in the same way as any other application for a European patent (UK) except for requirements with regard to language and filing at the EPO (<a href="#ref79-03">see 79.03-04</a>) and the fact that acts done under the PCT are treated as if they were the corresponding acts done under the EPC. Publication by the International Bureau under PCT a.21 in French or German can be taken to be publication by the EPO for the purposes of s.78(7), <a href="/guidance/manual-of-patent-practice-mopp/section-78-effect-of-filing-an-application-for-a-european-patent-uk/#ref78-11">see 78.11</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 79(2)</strong></td>
    </tr>
    <tr>
      <td>Any such international application which is published under that treaty shall be treated for the purposes of section 2(3) above as published only when a copy of the application has been supplied to the European Patent Office in English, French or German and the relevant fee has been paid under that convention.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref79-03">79.03</h3>

<p>The matter in such an international application published under the PCT becomes part of the state of the art under s.2(3) only if a copy of the application in English, French or German has been filed at the EPO.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 79(3)</strong></td>
    </tr>
    <tr>
      <td>Any such international application which is published under that treaty in a language other than English, French or German shall, subject to section 78(7) above, be treated for the purposes of sections 55 and 69 above as published only when it is re-published in English, French or German by the European Patent Office under that convention.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref79-04">79.04</h3>

<p>If the international application is published under the PCT in a language other than English, French or German, it is not treated as published for Crown use or infringement purposes under the Act until it is re-published in English, French or German by the EPO. However, under s.78(7), those re-published in French or German are not so treated until an English translation of the claims has been filed at and published by the UK Office, <a href="/guidance/manual-of-patent-practice-mopp/section-78-effect-of-filing-an-application-for-a-european-patent-uk/#ref78-11">see 78.11</a>.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
