<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 109: Falsification of register etc 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (109.01 - 109.03) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 109</strong></td>
    </tr>
    <tr>
      <td>If a person makes or causes to be made a false entry in any register kept under this Act, or a writing falsely purporting to be a copy or reproduction of an entry in any such register, or produces or tenders or causes to be produced or tendered in evidence any such writing, knowing the entry or writing to be false, he shall be liable<br/>(a) on summary conviction, to a fine not exceeding the prescribed sum,<br/>(b) on conviction on indictment, to imprisonment for a term not exceeding two years or a fine, or both.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">109.01</h3>

<p>This section lays down penalties for certain offences relating to entries in any register kept under the 1977 Act. It thus applies to the register of patents kept under s.32 of the 1977 Act. The offences in question are, in essence, to procure a false entry or falsely represent an entry.</p>

<h3 id="section-1">109.02</h3>

<p>The maximum fine on summary conviction corresponds to that applicable under s.22(9) <a href="/guidance/manual-of-patent-practice-mopp/section-22-information-prejudicial-to-national-security-or-safety-of-public/#ref22-26-1">see 22.26.1</a>.</p>

<h3 id="section-2">109.03</h3>

<p>The reference to “indictment” in s.109(b) is treated as a reference to “information” for the Isle of Man only (SI 2003 No 1249).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
