<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 295: Patents: miscellaneous amendments
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (295.01) last updated April 2007</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>The Patents Act 1949 and the Patents Act 1977 are amended in accordance with Schedule 5.</p>

<h3 id="section">295.01</h3>

<p>This section makes various amendments to the Patents Acts 1949 and 1977 mainly to remove anomalies and simplify procedures. The amendments are specified in Schedule 5 to the CDP Act, the first paragraph of which relates to the 1949 Act. The remaining twenty-nine paragraphs relate to the 1977 Act and their effects are discussed in the chapters about the particular provisions in question.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
