<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 117A: Effect of resuscitating a withdrawn application under section 117 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (117A.01 - 117A.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">117A.01</h3>

<p>Sections 117A(1) to (6) were added by Article 18 of the Regulatory Reform (Patents) Order 2004, while subsection 117A(7) was added by the Patents Act 2004, all with effect from 1 January 2005. This section provides protection to those persons affected by resuscitation of a published withdrawn application under section 117, similar to the protection provided by section 28A in the case of a restoration of a lapsed patent under section 28.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(1)</strong></td>
    </tr>
    <tr>
      <td>Where -  <br/><br/> (a) the comptroller is requested to correct an error or mistake in a withdrawal of an application for a patent, and  <br/><br/> (b) an application has been resuscitated in accordance with that request,   <br/><br/> the effect of that resuscitation is as follows.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(2)</strong></td>
    </tr>
    <tr>
      <td>Anything done under or in relation to the application during the period between the application being withdrawn and its resuscitation shall be treated as valid.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(3)</strong></td>
    </tr>
    <tr>
      <td>If the comptroller has published notice of the request as mentioned in section 117(3) above, anything done during that period which would have constituted an infringement of the rights conferred by publication of the application if the application had not been withdrawn shall be treated as an infringement of those rights if it was a continuation or repetition of an earlier act infringing those rights.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(4)</strong></td>
    </tr>
    <tr>
      <td>If the comptroller has published notice of the request as mentioned in section 117(3) above and, after the withdrawal of the application and before publication of the notice, a person (a) began in good faith to do an act which would have constituted an infringement of the rights conferred by publication of the application if the termination had not taken place, or (b) made in good faith effective and serious preparation to do such an act, he has the right to continue to do the act or, as the case may be, to do the act, notwithstanding the resuscitation of the application and the grant of the patent; but this right does not extend to granting a licence to another person to do the act.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(5)</strong></td>
    </tr>
    <tr>
      <td>If the act was done, or the preparations were made, in the course of a business, the person entitled to the right conferred by subsection (4) above may(a) authorise the doing of that act by any partners of his for the time being in that business, and (b) assign that right, or transmit it on death (or in the case of a body corporate on its dissolution), to any person who acquires that part of the business in the course of which the act was done or the preparations were made.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(6)</strong></td>
    </tr>
    <tr>
      <td>Where a product is disposed of to another in exercise of a right conferred by subsection (4) or (5) above, that other and any person claiming through him may deal with the product in the same way as if it had been disposed of by the applicant.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117A(7)</strong></td>
    </tr>
    <tr>
      <td>The above provisions apply in relation to the use of a patented invention for the services of the Crown as they apply in relation to infringement of the rights conferred by publication of the application for a patent (or, as the case may be, infringement of the patent). “Patented invention” has the same meaning as in section 55 above.</td>
    </tr>
  </tbody>
</table>

<h3 id="a02">117A.02</h3>

<p>Subsections (4) to (6) give protection to persons who take steps to work an invention which is the subject of a withdrawn published patent application before notice is published of a request to correct an error or mistake in the withdrawal (<a href="/guidance/manual-of-patent-practice-mopp/section-117-correction-of-errors-in-patents-and-applications/#ref117-31">see 117.31</a>). They are free not only to continue what they have started without infringing the rights conferred by the resuscitated application and the granted patent, but also to pass their right to work the invention to others (but not to license others to work the invention). Subsection (7) ensures that the Crown is not liable for payment of compensation to the patent proprietor for Crown use if it takes steps to work an invention which is the subject of a withdrawn patent application before notice of a request to resuscitate the application is published.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
