<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 28A: Effect of order for restoration of patent 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (28A.01 - 28A.03) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">28A.01</h3>

<p>Section 28A concerns the effect of an order by the comptroller for the restoration of
a patent under s.28(3).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(1)</strong></td>
    </tr>
    <tr>
      <td>The effect of an order for the restoration of a patent is as follows.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(2)</strong></td>
    </tr>
    <tr>
      <td>Anything done under or in relation to the patent during the period between expiry and restoration shall be treated as valid.</td>
    </tr>
  </tbody>
</table>

<h3 id="a02-deleted">28A.02 [deleted]</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(3)</strong></td>
    </tr>
    <tr>
      <td>Anything done during that period which would have constituted an infringement if the patent had not expired shall be treated as an infringement­ <br/>(a) if done at a time when it was possible for the patent to be renewed under section 25(4), or <br/> (b) if it was a continuation or repetition of an earlier infringing act.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(4)</strong></td>
    </tr>
    <tr>
      <td>If after it was no longer possible for the patent to be so renewed, and before publication of notice of the application for restoration, a person <br/>(a) began in good faith to do an act which would have constituted an infringement of the patent if it had not expired, or<br/>(b) made in good faith effective and serious preparations to do such an act, he has the right to continue to do the act or, as the case may be, to do the act, notwithstanding the restoration of the patent; but this right does not extend to granting a licence to another person to do the act.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(5)</strong></td>
    </tr>
    <tr>
      <td>If the act was done, or the preparations were made, in the course of a business, the person entitled to the right conferred by subsection (4) may ­<br/>(a) authorise the doing of that act by any partners of his for the time being in that business, and <br/>(b) assign that right, or transmit it on death (or in the case of a body corporate on its dissolution), to any person who acquires that part of the business in the course of which the act was done or the preparations were made.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(6)</strong></td>
    </tr>
    <tr>
      <td>Where a product is disposed of to another in exercise of the rights conferred by subsection (4) or (5), that other and any person claiming through him may deal with the product in the same way as if it had been disposed of by the registered proprietor of the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref28A-03">28A.03</h3>

<p>Subsections (4) to (6) give protection to persons who take steps to work an invention which is the subject of a lapsed patent before notice of an application for restoration is published (see 28.05.1). They are free not only to continue what they have started without infringing the restored patent, but also to pass their right to work the invention to others (but not to license others to work the invention). However, this protection does not
apply to steps taken during the six months period of grace under s.25(4) in which late renewal is still possible. Subsection (3) provides that steps taken during that grace period will still infringe, and that steps taken during the period between expiry and restoration which are a continuation or repetition of earlier infringing ones are also infringements.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 28A(7)</strong></td>
    </tr>
    <tr>
      <td>The above provisions apply in relation to the use of a patent for the services of the Crown as they apply in relation to infringement of the patent.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
