<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 116: Immunity of department as regards official acts 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (116.01) last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 116</strong></td>
    </tr>
    <tr>
      <td>Neither the Secretary of State nor any officer of his<br/>(a) shall be taken to warrant the validity of any patent granted under this Act or any treaty or international convention to which the United Kingdom is a party; or<br/>(b) shall incur any liability by reason of or in connection with any examination or investigation required or authorised by this Act or any such treaty or convention, or any report or other proceedings consequent on any such examination or investigation.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">116.01</h3>

<p>This section protects the Secretary of State and their officers, including officials of the Patent Office, from any liability arising from official acts connected with examination or investigation under the 1977 Act or the EPC or PCT. It also provides that no warranty is given in respect of the validity of patents, including 1977 Act patents and European patents.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
