<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 55: Use of patented inventions for services of the Crown 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref55-01">55.01</h3>

<p>s.55(4) is also relevant</p>

<p>This is the first of a group of sections (55 to 59) relating to Crown use of patented inventions. Section 55 provides for any government department or person authorised thereby to do certain acts for the services of the Crown. It applies at all times but is supplemented by s.59 during periods of emergency. Section 56 lays down how various features in s.55 are to be interpreted. Section 57 provides for the effects of such Crown use on third parties such as licensees and assignees. Compensation for Crown use may be agreed between the parties; disputes may be referred to the court under s.58 (but Crown use may occur without any compensation of the proprietor of the patent in the circumstances of s.55(3)). Section 57A was added to the 1977 Act by the CDP Act to provide an additional form of compensation for loss of certain forms of profit as a result of Crown use. The comptroller is not normally involved in such matters and detailed discussion is therefore beyond the scope of this Manual.</p>

<h3 id="deleted">55.02 [deleted]</h3>

<h3 id="ref55-03">55.03</h3>

<p>s.55(1), s.56(1), s.77(1), s.78(2) is also relevant.</p>

<p>Sections 55 to 59 relate to Crown use of “a patented invention”, ie an  invention for which a patent has been or is subsequently granted. The patent in question may be one granted under the 1977 Act or a European Patent (UK). In the case of subsequent grant, an application for a European patent (UK) or 1977 Act patent may be in question. There are special provisions concerning Crown use in relation to European patents or applications in s.77(3) and (5) <a href="/guidance/manual-of-patent-practice-mopp/section-77-effect-of-european-patent-uk/#ref77-10">see 77.10</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-77-effect-of-european-patent-uk/#ref77-12">77.12</a>, s.78(6) and (7) <a href="/guidance/manual-of-patent-practice-mopp/section-78-effect-of-filing-an-application-for-a-european-patent-uk/#ref78-10">see 78.10­ 11</a>, s.79(3) <a href="/guidance/manual-of-patent-practice-mopp/section-79-operation-of-s-78-in-relation-to-certain-european-patent-applications/#ref79-04">see 79.04</a> and s.80(3) and (4) <a href="/guidance/manual-of-patent-practice-mopp/section-80-authentic-text-of-european-patents-and-patent-applications/#ref80-03">see 80.03-04</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(1)</strong></td>
    </tr>
    <tr>
      <td>Notwithstanding anything in this Act, any government department and any person authorised in writing by a government department may, for the services of the Crown and in accordance with this section, do any of the following acts in the United Kingdom in relation to a patented invention without the consent of the proprietor of the patent, that is to say <br/>(a) where the invention is a product, may <br/>­(i) make, use, import or keep the product, or sell or offer to sell it where to do so would be incidental or ancillary to making, using, importing or keeping it; or <br/>(ii) in any event, sell or offer to sell it for foreign defence purposes or for the production or supply of specified drugs and medicines, or dispose or offer to dispose of it (otherwise than by selling it) for any purpose whatever; <br/>(b) where the invention is a process, may use it or do in relation to any product  obtained directly by means of the process anything mentioned in paragraph (a) above; <br/>(c) without prejudice to the foregoing, where the invention or any product obtained directly by means of the invention is a specified drug or medicine, may sell or offer to sell the drug or medicine;<br/>(d) may supply or offer to supply to any person any of the means, relating to an essential element of the invention, for putting the invention into effect; <br/>(e) may dispose or offer to dispose of anything which was made, used, imported or kept in the exercise of the powers conferred by this section and which is no longer required for the purpose for which it was made, used, imported or kept (as the case may be), and anything done by virtue of this subsection shall not amount to an infringement of the patent concerned.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref55-04">55.04</h3>

<p>The acts set out in subsection (1)(a) to (e) may be done in the UK, for the services of the Crown, without the consent of the proprietor of the patent for the invention in question and without amounting to infringement of that patent. The persons thus empowered are any government department or person authorised in writing thereby. Although the Act does not define “government department”, judgments under previous legislation relating to its meaning (eg Pfizer Corp. v. Ministry of Health [1965] RPC 261) apparently remain relevant. It is now stated to include certain things listed in s.56(2), although that list is clearly not exhaustive (see 56.03). This was confirmed in <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2020/132.html">IPCom GmbH v Vodafone [2020] EWHC 132 (Pat)</a>. In addition, the court confirmed that “the words “for the services of the Crown” do not necessarily mean that the use has to benefit the Crown itself directly” and that the concept of use for the Crown’s benefit is wide. The court also held that “there has to be evidence of authorisation in writing by a government department”.  These findings were not challenged on appeal. Subsection (1)(a) and (c) are interpreted in accordance with s.56(3) and (4).</p>

<h3 id="section">55.05</h3>

<p>The power conferred by s.55(1) has been extended to include the use of patented inventions for the purposes of a visiting force or headquarters, to the extent that the use would have been permitted if the visiting force or headquarters were a part of the home forces. However, this extension does not apply to acts which fall within s.55(1)(a)(ii) or s.55(1)(c), nor to acts done for a purpose relating to the production or use of atomic energy or research into related matters. See the Visiting Forces and International Headquarters (Application of Law) Order 1999 (SI 1999/1736).</p>

<h3 id="ref55-05-1">55.05.1</h3>

<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2020/132.html">IPCom GmbH v Vodafone [2020] EWHC 132 (Pat)</a>, the court held that the requirement for authorisation in writing did not have to expressly identify the specific patent in question and, in particular, it did not need to be shown that it was necessary to infringe a patent when carrying out the authorised act. The judge determined that all that was required was for the authorisation to identify the relevant acts to be carried out, commenting that “if these acts happen to infringe then there is a defence [of Crown use]”. On appeal <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2021/205.html">([2021] EWCA Civ 205)</a>, Arnold LJ determined (at [149]-[173]) that this interpretation was not correct, as it was inconsistent with, amongst other factors, the existing case law on Crown use, the policy objectives of the section, and the Agreement on Trade-Related Aspects of Intellectual Property Rights. The authorisation had to be to do acts in relation to a patented invention. Although it was not necessary to decide the point to address the appeal, Arnold LJ considered the preferred interpretation to be that an authorisation had to either be express or permit acts which necessarily infringed the patent.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(2)</strong></td>
    </tr>
    <tr>
      <td>Any act done in relation to an invention by virtue of this section is in the following provisions of this section referred to as use of the invention; and “use”, in relation to an invention, in sections 56 to 58 below shall be construed accordingly.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(3)</strong></td>
    </tr>
    <tr>
      <td>So far as the invention has before its priority date been duly recorded by or tried by or on behalf of a government department or the United Kingdom Atomic Energy Authority otherwise than in consequence of a relevant communication made in confidence, any use of the invention by virtue of this section may be made free of any royalty or other payment to the proprietor.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(4)</strong></td>
    </tr>
    <tr>
      <td>So far as the invention has not been so recorded or tried, any use of it made by virtue of this section at any time either ­<br/>(a) after the publication of the application for the patent for the invention; or <br/>(b) without prejudice to paragraph (a) above, in consequence of a relevant communication made after the priority date of the invention otherwise than in confidence; shall be made on such terms as may be agreed either before or after the use by the government department and the proprietor of the patent with the approval of the Treasury or as may in default of agreement be determined by the court on a reference under section 58 below.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref55-06">55.06</h3>

<p>S.55(4) is modified by the Atomic Energy (Weapons Group) Act 1973 (as amended by the Patents Act 1977 s.132(5), sch.5 para.6)</p>

<h3 id="section-1">55.07</h3>

<p>Terms for Crown use may thus be agreed with the proprietor of the patent or determined by the court under s.58, unless s.55(3) applies. Where rights have been assigned or a licence granted in relation to the patent, s.57(3) to (9) apply to the operation of s.55(4).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(5)</strong></td>
    </tr>
    <tr>
      <td>Where an invention is used by virtue of this section at any time after publication of an application for a patent for the invention but before such a patent is granted, and the terms for its use agreed or determined as mentioned in subsection (4) above include terms as to payment for the use, then (notwithstanding anything in those terms) any such payment shall be recoverable only ­<br/>(a) after such a patent is granted; and <br/>(b) if (apart from this section) the use would, if the patent had been granted on the date of the publication of the application, have infringed not only the patent but also the claims (as interpreted by the description and any drawings referred to in the description or claims) in the form in which they were contained in the application immediately before the preparations for its publication were completed by the Patent Office.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">55.08</h3>

<p>Where Crown use occurs after publication of an application but before grant, compensation is recoverable only after grant and if the conditions of subsection (5)(b) regarding infringement are met. The terms of subsection (5) are closely similar to those of s.69(2) and place the Crown in a position equivalent to that of an infringer under s.69, [see 69.07].</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(6)</strong></td>
    </tr>
    <tr>
      <td>The authority of a government department in respect of an invention may be given under this section either before or after the patent is granted and either before or after the use in respect of which the authority is given is made, and may be given to any person whether or not he is authorised directly or indirectly by the proprietor of the patent to do anything in relation to the invention.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(7)</strong></td>
    </tr>
    <tr>
      <td>Where any use of an invention is made by or with the authority of a government department under this section, then, unless it appears to the department that it would be contrary to the public interest to do so, the department shall notify the proprietor of the patent as soon as practicable after the second of the following events, that is to say, the use is begun and the patent is granted, and furnish him with such information as to the extent of the use as he may from time to time require.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(8)</strong></td>
    </tr>
    <tr>
      <td>A person acquiring anything disposed of in the exercise of powers conferred by this section, and any person claiming through him, may deal with it in the same manner as if the patent were held on behalf of the Crown.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(9)</strong></td>
    </tr>
    <tr>
      <td>In this section “relevant communication”, in relation to an invention, means a communication of the invention directly or indirectly by the proprietor of the patent or any person from whom he derives title.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(10)<strong/></strong></td>
    </tr>
    <tr>
      <td>Subsection (4) above is without prejudice to any rule of law relating to the confidentiality of information.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 55(11)</strong></td>
    </tr>
    <tr>
      <td>In the application of this section to Northern Ireland, the reference in subsection (4) above to the Treasury shall, where the government department referred to in that subsection is a department of the Government of Northern Ireland, be construed as a reference to the Department of Finance for Northern Ireland.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
