<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 124A: Use of electronic communications 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated: October 2009</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">124A.01</h3>

<p>This section was introduced by the Patents Act 1977 (Electronic Communications) Order 2003 (S.I. 2003 No. 512), made under the provisions of Sections 8 and 9 of the Electronic Communications Act 2000, and came into force on 1 April 2003. It allows the comptroller to make directions on the form of electronic patent documents and the manner by which they are delivered by electronic communications to the Office. The
provisions came into force in the Isle of Man by virtue of the Patents Act 1977 (Isle of Man) Order 2003 (SI 2003 No. 1249).</p>

<h3 id="a02">124A.02</h3>

<p>s.21	is also relevant</p>

<p>The comptroller has made Directions governing the following activities: filing patent applications by electronic means; filing documents relating to pending patent applications by electronic means; electronic delivery of applications to amend patents under s.27 and s.75; withdrawal of patent applications by email; email requests for extensions of specified periods; submitting third party observations by electronic means; submitting
opinion observations by electronic means; and requesting electronic uncertified copies from patent files. The current Directions are reprinted in the “Relevant Official Notices and Directions” section of this Manual, and are available on the <a rel="external" href="http://www.ipo.gov.uk">Office website</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(1)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may make directions as to the form and manner in which documents to be delivered to the comptroller –<br/>(a) in electronic form; or<br/>(b) using electronic communications, are to be delivered to him.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(2)</strong></td>
    </tr>
    <tr>
      <td>A direction under subsection (1) may provide that in order for a document to be delivered in compliance with the direction it shall be accompanied by one or more additional documents specified in the direction.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(3)</strong></td>
    </tr>
    <tr>
      <td>Subject to subsections (14) and (15), if a document to which a direction under subsection (1) or (2) applies is delivered to the comptroller in a form or manner which does not comply with the direction the comptroller may treat the document as not having been delivered.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(4)</strong></td>
    </tr>
    <tr>
      <td>Subsection (5) applies in relation to a case where –<br/>(a) a document is delivered using electronic communications, and<br/>(b) there is a requirement for a fee to accompany the document.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(5)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may give directions specifying –<br/>(a) how the fee shall be paid;<br/>(b) when the fee shall be deemed to have been paid.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(6)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may give directions specifying that a person who delivers a document to the comptroller in electronic form or using electronic communications cannot treat the document as having been delivered unless its delivery has been acknowledged.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(7)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may make directions specifying how a time of delivery is to be accorded to a document delivered to him in electronic form or using electronic communications.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(8)</strong></td>
    </tr>
    <tr>
      <td>A direction under this section may be given –<br/>(a) generally<br/>(b) in relation to a description of cases specified in the direction;<br/>(c) in relation to a particular person or persons.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(9)</strong></td>
    </tr>
    <tr>
      <td>[repealed]</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(10)</strong></td>
    </tr>
    <tr>
      <td>[repealed]</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(11)</strong></td>
    </tr>
    <tr>
      <td>A direction under this section may be varied or revoked by a subsequent direction under this section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(12)</strong></td>
    </tr>
    <tr>
      <td>[repealed]</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(13)</strong></td>
    </tr>
    <tr>
      <td>The delivery using electronic communications to any person by the comptroller of any document is deemed to be effected, unless the comptroller has otherwise specified, by transmitting an electronic communication containing the document to an address provided or made available to the comptroller by that person as an address of his for the receipt of electronic communications; and unless the contrary is proved such delivery is deemed to be effected immediately upon the transmission of the communication.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(14)</strong></td>
    </tr>
    <tr>
      <td>A requirement of this Act that something must be done in the prescribed manner is satisfied in the case of something that is done­<br/>(a) using a document in electronic form, or<br/>(b) using electronic communications, only if the directions under this section that apply to the manner in which it is done are complied with.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(15)</strong></td>
    </tr>
    <tr>
      <td>In the case of an application made as mentioned in subsection 14(a) or (b) above, a reference in this Act to the application not having been made in compliance with rules of requirements of this Act includes a reference to its not having been made in compliance with any applicable directions under this section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 124A(16)</strong></td>
    </tr>
    <tr>
      <td>This section applies­<br/>(a) to delivery at, in, with or to the Patent Office as it applies to delivery to the comptroller; and<br/>(b) to delivery by the Patent Office as it applies to delivery by the comptroller.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
