<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 106: Costs and expenses in proceedings before the Court 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (106.01 - 106.06) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">106.01</h3>

<p>This section concerns costs (expenses in Scotland) in proceedings before the court.</p>

<h3 id="section-1">106.02</h3>

<p>PA 2004, s.14(4) is also relevant.</p>

<p>For proceedings launched on or after 1 January 2005, s.106 applies to proceedings under s.40 (i.e. applications for compensation by employee inventors), proceedings for infringement (i.e. proceedings under s.61 or s.69), proceedings in respect of an actionable threat under s.70A (i.e. proceedings against a person making unjustified threats to bring infringement proceedings), or proceedings under s.71 (i.e. applications for a declaration of non-infringement of a patent). For proceedings launched before 1 January 2005, s.106 only applies to proceedings under s.40. In either case, section 106 applies only to proceedings before the court, whether initiated before the court or on appeal from a decision of the comptroller. Proceedings before the comptroller only are not covered by this section.</p>

<h3 id="section-2">106.03</h3>

<p>CPR44.3 is also relevant.</p>

<p>When deciding on an award of costs in proceedings, this section requires the court to consider the financial position of both parties amongst other circumstances normally required to be taken into account, including their conduct before and during the proceedings, whether a party has been successful in proving part, if not all, of its case, and whether any effort was made to settle the case.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 106(1)</strong></td>
    </tr>
    <tr>
      <td>In proceedings to which this section applies, the court, in determining whether to award costs or expenses to any party and what costs or expenses to award, shall have regard to all the relevant circumstances, including the financial position of the parties.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 106(1A)</strong></td>
    </tr>
    <tr>
      <td>This section applies to proceedings before the court (including proceedings on appeal to the court) which are-<br/>(a) proceedings under section 40;<br/>(b) proceedings for infringement;<br/>(c) proceedings in respect of an actionable threat under section 70A; or<br/>(d) proceedings on an application for a declaration or declarator under section 71.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">106.04</h3>

<p>In determining whether to award costs and the amount of such costs in proceedings to which this section applies, the court is required to have regard to all the relevant circumstances including the financial position of the parties. Where other issues are raised in these proceedings (e.g. where the issue of validity is raised as a defence to infringement proceedings), s.106 also applies to any award of costs relating to the other issues raised in the proceedings.</p>

<h3 id="section-4">106.05</h3>

<p>s.130(1) is also relevant.</p>

<p>This subsection, unlike subsection (2), applies to the court in general, ie the appropriate High Court (or patents county court) or, in Scotland, the Court of Session (as set out more fully in <a href="/guidance/manual-of-patent-practice-mopp/section-99-general-powers-of-the-court/#ref99-02">99.02</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 106(2)</strong></td>
    </tr>
    <tr>
      <td>If in any such proceedings the Patents Court directs that any costs of one party shall be paid by another party, the court may settle the amount of the costs by fixing a lump sum or may direct that the costs shall be taxed on a scale specified by the court, being a scale of costs prescribed by the Rules of the Supreme Court or by the County Court Rules.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-5">106.05.1</h3>

<p>Section 106(1A)(c) was amended by the Intellectual Property (Unjustified Threats) Act 2017 to refer to the relevant part of the threats provisions as reformed by that Act,
Page 2 of 2 October 2017
namely to an actionable threat under section 70A.</p>

<h3 id="section-6">106.06</h3>

<p>Subsection (2) applies only to the Patents Court. It gives that court discretion to award a lump sum or costs taxed on a specified scale, when directing that one party should pay any costs of another. The Rules of the Supreme Court and the County Court Rules have both been superseded by the Civil Procedure Rules.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
