<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 24: Publication and certificate of grant 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (24.01 - 24.05) last updated: April 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 24(1)</strong></td>
    </tr>
    <tr>
      <td>As soon as practicable after a patent has been granted under this Act the comptroller shall publish in the journal a notice that it has been granted.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref24-01">24.01</h3>

<p>At the same time as the applicant is informed, in a “grant” letter, that grant has taken place <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent#ref18-86">see 18.86</a> they are notified of the date on which it will be advertised in the Journal. This is generally several weeks after the date of the “grant” letter.</p>

<h3 id="section">24.02</h3>

<p>s.77(1) is also relevant.</p>

<p>A European patent (UK) is advertised in the Journal on the date on which its grant is mentioned in the European Patent Bulletin.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 24(2)</strong></td>
    </tr>
    <tr>
      <td>The comptroller shall, as soon as practicable after he publishes a notice under subsection (1) above, send the proprietor of the patent a certificate in the prescribed form that the patent has been granted to the proprietor.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">24.03</h3>

<p>r.34 is also relevant.</p>

<p>The certificate includes the name of the proprietor of the patent, the date of filing the application and is dated with the date that the patent took full effect i.e. the date that the entry for grant shows in the journal and the B document is published. A notice on the back of the certificate reminds the proprietor of their responsibility for setting up effective arrangements for paying renewal fees <a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-06">see 25.06-25.08</a>.</p>

<p>[The Office may provide replacement certificates of grant either to correct an error on an original certificate or to replace one that has been lost. Return of the original certificate is not required. Replacement of old-style certificates will be with certificates in the current style.]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong> Section 24(3) </strong></td>
    </tr>
    <tr>
      <td>The comptroller shall, at the same time as he publishes a notice under subsection (1) above in relation to a patent publish the specification of the patent, the names of the proprietor and (if different) the inventor and any other matters constituting or relating to the patent which in the comptroller’s opinion it is desirable to publish.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 24(4)</strong></td>
    </tr>
    <tr>
      <td>Subsection (3) above shall not require the comptroller to identify as inventor a person who has waived his right to be mentioned as inventor in any patent granted for the invention.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref24-04">24.04</h3>

<p>The specification is reproduced directly from the typescript of the specification as in order. It is published accompanied by a front page bearing the same publication number as the published application (A document) but followed by B, and this document is often referred to as the B document. The front page also carries the same bibliographic data as the A document, a list of all documents cited as relevant to the issues of lack of novelty or of inventive step, either in the search report or in subsequent proceedings, and revised classification data. It includes the date on which the patent was published, which is the effective date of grant (<a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-02">see 25.02-03</a>). It does not include an abstract. <a href="/guidance/manual-of-patent-practice-mopp/section-13-mention-of-inventor/#ref13-03">See 13.03</a> for suppression of inventor details. Computer programs, sequences and other ancillary material omitted from the A publication (<a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-27">see 16.27</a>) should also be omitted from the B publication.</p>

<h3 id="section-2">24.04.1</h3>

<p>If the B document contains a printer’s error, whether in the specification, the list of citations, or in the bibliographic or classification data, it may be corrected by the issue of an erratum. In this context, “printer’s error” is interpreted broadly to embrace any error originating within the Office or during the publication process. However, it does not extend to errors made elsewhere, such as by the applicant. An erratum should not be issued to correct an error in the specification which is detected by the Office unless the error is significant, in the sense that it misleads or introduces doubt. An erratum should be issued for an error in the specification which is notified by the applicant or by a member of the public or for any error in the bibliographic or classification data. <a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-33">See 16.33</a> for procedure.</p>

<h3 id="section-3">24.05</h3>

<p>a.98 EPC is also relevant.</p>

<p>European patents (UK) are published by the EPO on the date on which the mention of grant is published in the Bulletin.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
