<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 114: Restrictions on practice as patent agent [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (114.01 - 114.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">114.01</h3>

<p>This section imposed limitations on who could do business as a patent agent. It also allowed patent agents to prepare certain instruments without committing an offence.</p>

<h3 id="section-1">114.02</h3>

<p>Section 114, together with other provisions of the 1977 Act concerning patent agents, has been repealed by the CDP Act (section 303(2) and schedule 8). Those provisions have been replaced by the new regime provided by Part V of the CDP Act (Patent Agents and Trade Mark Agents), <a href="/guidance/manual-of-patent-practice-mopp/section-274-persons-permitted-to-carry-on-business-of-a-patent-agent">see 274.01</a> et al.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
