<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 57A: Compensation for loss of profit 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (57A.01 - 57A.02) last updated: April 2007</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref57A-01">57A.01</h3>

<p>Section 57A was added by the CDP Act to make available an additional form of compensation for Crown use of a patented invention, which made consequential amendments to s.58. This supplements the provisions of sections 55 to 59 regarding Crown use.</p>

<h3 id="a02">57A.02</h3>

<p>Section 57A is effective for any Crown use after commencement (1 August 1989) even if terms for such use had been settled previously.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(1)</strong></td>
    </tr>
    <tr>
      <td>Where use is made of an invention for the services of the Crown, the government department concerned shall pay<br/>(a) to the proprietor of the patent, or<br/>(b) if there is an exclusive licence in force in respect of the patent, to the exclusive licensee,<br/><br/> compensation for any loss resulting from his not being awarded a contract to supply the patented product or, as the case may be, to perform the patented process or supply a thing made by means of the patented process.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(2)</strong></td>
    </tr>
    <tr>
      <td>Compensation is payable only to the extent that such a contract could have been fulfilled from his existing manufacturing or other capacity; but is payable notwithstanding the existence of circumstances rendering him ineligible for the award of such a contract.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(3)</strong></td>
    </tr>
    <tr>
      <td>In determining the loss, regard shall be had to the profit which would have been made on such a contract and to the extent to which any manufacturing or other capacity was underused.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(4)</strong></td>
    </tr>
    <tr>
      <td>No compensation is payable in respect of any failure to secure contracts to supply the patented product or, as the case may be, to perform the patented process or supply a thing made by means of the patented process, otherwise than for the services of the Crown.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(5)</strong></td>
    </tr>
    <tr>
      <td>The amount payable shall, if not agreed between the proprietor or licensee and the government department concerned with the approval of the Treasury, be determined by the court on a reference under section 58, and is in addition to any amount payable under section 55 or 57.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(6)</strong></td>
    </tr>
    <tr>
      <td>In this section ‘the government department concerned’, in relation to any use of an invention for the services of the Crown, means the government department by whom or on whose authority the use was made.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 57A(7)</strong></td>
    </tr>
    <tr>
      <td>In the application of this section to Northern Ireland, the reference in subsection (5) above to the Treasury shall, where the government department concerned is a department of the Government of Northern Ireland, be construed as a reference to the Department of Finance and Personnel.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
