<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 22: Information prejudicial to national security or safety of public 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (22.01 - 22.29) last updated: April 2022.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">22.01</h3>

<p>This section gives the comptroller the power to prohibit the communication of information disclosed in an application filed at the Office, specifies how such an application is to be dealt with by the Office, lays down how prohibition directions are to be reviewed by the Secretary of State, confers certain rights on an applicant where grant of a patent is prevented by such a direction, and finally specifies penalties for failure to comply with such a direction. S.22 applies to all applications filed at the Office, whether filed under the 1977 Act or filed at the Office in its capacity as a Receiving Office under the EPC or the PCT. It also applies to applications under the 1949 Act, except that where such an application was, on the date (1st June 1978) on which the 1977 Act came into force, already the subject of directions under s.18 of the 1949 Act, those directions continue in force; if and
when directions on such an application are revoked any patent is published and granted under the 1949 Act (unless the application is withdrawn in which case it is neither granted nor, following paragraph 1 of Schedule 5 to the CDP Act, published). S.22 was amended by the Patents Act 2004 with effect from 1 January 2005, which substituted the original term “the defence of the realm” with “national security” throughout this section, without any intended change of scope. The 2004 Act also amended s.22(6) to remove references to the United Kingdom Atomic Energy Authority (UKAEA).</p>

<h3 id="section-1">22.02</h3>

<p>The term “Secretary of State” when used in a statute means “one of his Majesty’s Principal Secretaries of State” (Interpretation Act 1978, Schedule 1).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(1)</strong></td>
    </tr>
    <tr>
      <td>Where an application for a patent is filed in the Patent Office (whether under this Act or any treaty or international convention to which the United Kingdom is a party and whether before or after the appointed day) and it appears to the comptroller that the application contains information of a description notified to him by the Secretary of State as being information the publication of which might be prejudicial to national security, the comptroller may give directions prohibiting or restricting the publication of that information or its communication to any specified person or description of persons.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(2)</strong></td>
    </tr>
    <tr>
      <td>If it appears to the comptroller that any application so filed contains information the publication of which might be prejudicial to the safety of the public, he may give directions prohibiting or restricting the publication of that information or its communication to any specified person or description of persons until the end of a period not exceeding three months from the end of the period prescribed for the purposes of section 16 above.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref22-03">22.03</h3>

<p>Every application filed at the Office, is, once it has passed through Document Reception and New Applications (or has been filed securely - <a href="#ref22-07">see 22.07</a>), scrutinised by an examiner in Security Section, who is supplied with a list of material, the publication of information about which might be prejudicial to national security. If such information is disclosed, the application is removed from the general stream of applications and directions are given under s.22(1) prohibiting the publication of the application and the communication of its contents. Similar directions are given under s.22(2) if the information disclosed is such that its publication might be prejudicial to the safety of the public. In this case no general guidance is given by the Secretary of State, and the decision as to what falls into this category is a matter for the comptroller.</p>

<h3 id="section-2">22.03.1</h3>

<p>Every application arriving in an examining group will therefore have been screened by Security Section and usually no further checks under s.22 are needed. However, if an examiner becomes aware that material potentially relevant to s.22 has subsequently been placed on file, for example in correspondence from the agent or by amendment (whether allowable under s.76 or not), the examiner should refer the application
to Security Section in Room G.R70 for advice.</p>

<h3 id="section-3">22.04</h3>

<p>Directions under s.22(1) continue in force until revoked (<a href="#ref22-14">see 22.14</a>), while directions under s.22(2), unless confirmed (<a href="#ref22-13">see 22.13</a>), automatically lapse at the end of the period of twenty-one months from the priority date or, where there is no priority date, the filing date of the application.</p>

<h3 id="section-4">22.05</h3>

<p>s.97(1)(c) is also relevant</p>

<p>In neither case is there any appeal from a decision by the comptroller to issue prohibition directions.</p>

<h3 id="section-5">22.06</h3>

<p>Although prohibition directions initially impose a blanket prohibition against any disclosure of the patent application and information therein, permission may be sought from the comptroller for disclosure to specified persons. If granted such permission will impose conditions on the persons so specified; thus they should not without specific authorisation disclose the information to any other person. Permission must be sought for filing corresponding applications abroad <a href="/guidance/manual-of-patent-practice-mopp/section-23-restrictions-on-applications-abroad-by-united-kingdom-residents/#ref23-04">see 23.04</a>.</p>

<h3 id="ref22-07">22.07</h3>

<p>Although all applications are inspected by Security Section, anyone filing an application, knowing that a Government department or a foreign government wishes its contents to be kept secret, or the contents of which relate to a classified Government contract, should file the application at Room G.R70, Concept House, and not to the usual Front Office. Such applications may be filed by hand at the Newport or London office, in envelopes marked “For the attention of GR70”, but only between the hours of 9am and 5pm. The receptionist should be informed that the application is for GR70 rather than the usual Front Office. Documents which might include information of relevance to national defence or security should not be filed by facsimile transmission. In respect of a filing connected with a classified Government contract the application should be accompanied by a notification of the number of the contract together with the name and address of the Government agency involved in the contract.</p>

<h3 id="section-6">22.08</h3>

<p>Documents involved in applications subject to prohibition directions under Section 22(1) must be despatched under security rules; Room G.R70 will always advise on this procedure. If such documents are being despatched to the Office, the envelope should be clearly marked “for attention of Room G.R70” and should be addressed to Room G.R70, Concept House, Cardiff Road, Newport, South Wales, NP10 8QQ.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(3)</strong></td>
    </tr>
    <tr>
      <td>While directions are in force under this section with respect to an application -<br/>(a) if the application is made under this Act, it may proceed to the stage where it is in order for the grant of a patent, but it shall not be published and that information shall not be so communicated and no patent shall be granted in pursuance of the application;<br/>(b) if it is an application for a European patent, it shall not be sent to the European Patent Office; and<br/>(c) if it is an international application for a patent, a copy of it shall not be sent to the International Bureau or any international searching authority appointed under the Patent Co-operation Treaty.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(4)</strong></td>
    </tr>
    <tr>
      <td>Subsection (3)(b) above shall not prevent the comptroller from sending the European Patent Office any information which it is his duty to send that office under the European Patent Convention.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-7">22.09</h3>

<p>For as long as prohibition directions are in force an application for a patent under the Act is dealt with by an examiner in Security Section. Search and substantive examination are carried out in the usual way for the period allowed for requesting substantive examination, <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-02">see 18.02</a>, but the application is not published, and at no stage is it mentioned in the Journal. When it appears to the examiner that the application is in order, a formal report indicating that the application complies with the Act and Rules is issued under s.18(4). The application does not however, proceed to publication and grant whilst the prohibition directions remain in force.</p>

<p>EPC r.37(2), EPC a.135, s.81 is also relevant.</p>

<h3 id="section-8">22.10</h3>

<p>An application for a European patent which is filed at the Office is not forwarded to the European Patent Office while it is the subject of prohibition directions. If as a consequence it does not reach the European Office before the end of fourteen months from the declared priority date or, where there is none, the filing date, the European
application is deemed to be withdrawn. The applicant may then apply for the application to be converted to one for a patent under the Act <a href="/guidance/manual-of-patent-practice-mopp/section-81-conversion-of-european-patent-applications#ref81-03">see 81.03-06</a> and/or, subject to the comptroller’s permission, <a href="/guidance/manual-of-patent-practice-mopp/section-23-restrictions-on-applications-abroad-by-united-kingdom-residents/#ref23-04">see 23.04</a> to appropriate foreign applications.</p>

<h3 id="section-9">22.11</h3>

<p>PCT a.27(8), PCT rr.22.1(a),15.6(iii),16.2(iii) is also relevant.</p>

<p>Likewise an international application filed at the Office which has attracted prohibition directions is not forwarded to WIPO or to the International Searching Authority. An international application subject to prohibition directions is no longer treated as such and must enter the national phase early if it is to proceed. Any international and search fees paid will be refunded to the applicant. There is no provision for the application to be converted to one for a patent under the Act although as soon as the conditions of s.15(1) are complied with a filing date under the Act may be accorded.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(5)</strong></td>
    </tr>
    <tr>
      <td>Where the comptroller gives directions under this section with respect to any application, he shall give notice of the application and of the directions to the Secretary of State, and the following provisions shall then have effect -<br/>(a) the Secretary of State shall, on receipt of the notice, consider whether the publication of the application or the publication or communication of the information in question would be prejudicial to national security or the safety of the public; <br/>(b) if the Secretary of State determines under paragraph (a) above that the publication of the application or the publication or communication of that information would be prejudicial to the safety of the public, he shall notify the comptroller who shall continue his directions under subsection (2) above until they are revoked under paragraph (e) below;<br/> (c) if the Secretary of State determines under paragraph (a) above that the publication of the application or the publication or communication of that information would be prejudicial to national security or the safety of the public, he shall (unless a notice under paragraph (d) below has previously been given by the Secretary of State to the comptroller) reconsider that question during the period of nine months from the date of filing the application and at least once in every subsequent period of twelve months;<br/> (d) if on consideration of an application at any time it appears to the Secretary of State that the publication of the application or the publication or communication of the information contained in it would not, or would no longer, be prejudicial to national security or the safety of the public, he shall give notice to the comptroller to that effect; and <br/>(e) on receipt of such a notice the comptroller shall revoke the directions and may, subject to such conditions (if any) as he thinks fit, extend the time for doing anything required or authorised to be done by or under this Act in connection with the application, whether or not that time has previously expired.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(6)</strong></td>
    </tr>
    <tr>
      <td>The Secretary of State may do the following for the purpose of enabling him to decide the question referred to in subsection (5)(c) above -<br/> (a) where the application contains information relating to the production or use of atomic energy or research into matters connected with such production or use, he may at any time do one or both of the following, that is to say,<br/> (i) inspect the application and any documents sent to the comptroller in connection with it; <br/>(ii) authorise a government body with responsibility for the production of atomic energy or for research into matters connected with its production or use, or a person appointed by such a government body, to inspect the application and any documents sent to the comptroller in connection with it; and<br/>(b) in any other case, he may at any time after (or, with the applicant’s consent, before) the end of the period prescribed for the purposes of section 16 above inspect the application and any such documents; and where a government body or a person appointed by a government body carries out an inspection which the body or person is authorised to carry out under paragraph (a) above, the body or (as the case may be) the person shall report on the inspection to the Secretary of State as soon as is practicable.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref22-12">22.12</h3>

<p>When directions under s.22(1) or (2) have been given with respect to an application the Secretary of State must be so informed, and must advise whether or not it should continue in force. Such advice will not be tendered in advance of the Secretary of State (usually, in practice, the Ministry of Defence) inspecting the application. This inspection is however done immediately if the application contains information relating to the production or use of atomic energy or research into matters connected with such production or use, and the Secretary of State may authorise a government body with responsibility for the production of atomic energy or for research into its production or use, or a person appointed by such a body to inspect the application. (<a href="#ref22-27">See also 22.27-22.29</a>). Otherwise the inspection cannot take place until after the expiry of eighteen months from the declared priority date or, where there is none, the filing date, unless the applicant gives permission for an earlier inspection. It is therefore advantageous, if early consideration for revocation of the directions is desired, to complete and return to Room G.R70 Concept House together with a copy of the specification the Form of Assent to Inspection which is despatched with the letter sent to the applicant stating that the order has been imposed. Even when early revocation is not being sought, it is desirable to acknowledge receipt of the letter imposing the directions.</p>

<h3 id="ref22-13">22.13</h3>

<p>If the Secretary of State informs the comptroller that in their opinion the application contains information the publication of which would be prejudicial to the safety of the public, then the direction given under s.22(2) are confirmed. They then do not lapse, but continue in force until revoked.</p>

<h3 id="ref22-14">22.14</h3>

<p>If the Secretary of State notifies the comptroller that publication of the information is not considered prejudicial the directions given under s.22(1) or (2) are revoked. The application then proceeds as described <a href="#ref22-19">in 22.19-22.23</a>.</p>

<h3 id="section-10">22.15</h3>

<p>If on the other hand the Secretary of State decides that publication would be prejudicial to defence or public safety, so that the prohibition directions given by the comptroller continue in force, then the Secretary of State must periodically reconsider their decision. This must be done within nine months of the application being filed, and at least once a year thereafter (but <a href="#ref22-12">see 22.12</a>). The applicant is not informed when such reconsideration has taken place, but it is open to the applicant at any time to enquire whether directions could be revoked. If and when it is decided that publication would no longer be prejudicial, the procedure in <a href="#ref22-14">22.14</a> is followed.</p>

<h3 id="ref22-16">22.16</h3>

<p>The letter notifying revocation of prohibition directions on an application may indicate that any subsequent application claiming priority from it may nevertheless need to be scrutinized. In such cases Room G.R70 Concept House should be informed of any such subsequent application made in this office, preferably by means of a letter stating whether there are changes in the specification compared with that of the earlier application. If they are at all substantial, the changes should be shown on a copy of the later application or the relevant parts thereof. The same procedure should be followed before making such subsequent applications abroad (with or without benefit of priority) under the EPC, PCT or national routes <a href="/guidance/manual-of-patent-practice-mopp/section-23-restrictions-on-applications-abroad-by-united-kingdom-residents/#ref23-03">see also 23.03</a>. Correspondence with Room G.R70 Concept House on these and other matters not germane to the examination of the application will not be placed open to public inspection. It should be noted that failure to mention the existence of an earlier application for the same or similar matter when priority is not claimed can sometimes lead to unnecessary prohibition.</p>

<h3 id="section-11">22.17</h3>
<p>s.16(1) is also relevant.</p>

<p>Following revocation of prohibition directions an application for a patent under the Act will normally be published under s.16 as soon as practicable, and details of the application will be published in the Journal. It will not be so published however if it is withdrawn before the prohibition directions are revoked or preparations for publication have been completed <a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-07">see 16.07</a>.</p>

<h3 id="not-used">22.18 [not used]</h3>

<h3 id="procedure-after-directions-have-been-revoked">Procedure after directions have been revoked</h3>

<h3 id="ref22-19">22.19</h3>

<p>When prohibition directions are revoked before a search has been carried out, the application is sent either for search in an ordinary examining group or to await the filing of Form 9A and/or claims; it then proceeds in the normal way <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-02">see 17.02 et seq</a>.</p>

<p>[ When the directions are revoked in this situation, the application is forwarded to the appropriate Formalities Manager; it is then either forwarded after fine allocation to the appropriate examining group or (if it is a paper case) put in store to await filing of the outstanding document(s). ]</p>

<h3 id="ref22-20">22.20</h3>

<p>If the directions are revoked after issue of a search report but before issue of a substantive examination report the application is sent to the appropriate examining group. The group examiner should consider the search which has been carried out by Security Section and should perform an additional search if they is reasonably sure that it would yield more pertinent prior art; any relevant document so discovered should be dealt with as described in <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-105">17.105 - 17.105.2</a>. The application should then be classified and sent for s.16 publication <a href="/guidance/manual-of-patent-practice-mopp/section-17-search/#ref17-102">see 17.102</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-30">16.30</a>, and will then proceed as an ordinary application being dealt with in the appropriate examining group.</p>

<p>[An additional search will not often be required. ]</p>

<h3 id="ref22-21">22.21</h3>

<p>If the directions are revoked after issue of a substantive examination report but before the application is in order, the application should be sent at once for publication, after following the procedure described <a href="#ref22-20">in 22.20</a>. In addition to the text of the specification as filed, the published application should include the claims in their current form if this differs from that originally filed. Substantive examination is then continued, either by the Security Section examiner who prepared the first examination report or, if thought appropriate, by the examiner responsible for the subject-matter concerned.</p>

<p>[Unless the specification has remained unamended, the security examiner should annotate the appropriate description and claims in the table of contents in PDAX. If the drawings have been amended a copy of the unamended formal drawings as filed should also be annotated in the table of contents. If the application is a paper case, the security examiner should place a copy of the specification, flagged “TO BE PRINTED AS ‘A’ DOCUMENT”, in front of the original specification in the shell. If the abstract has been reframed, the reframed original copy of the abstract should replace any duplicate copy in the duplicate specification during production of the ‘A’ document. Also, a copy of the claims in their current form if this differs from that on filing should be attached to the duplicate specification. If the drawings have been amended a copy of the unamended formal
drawings as filed should  be flagged “TO BE PRINTED IN ‘A’ DOCUMENT” andattached to the specification sent for publication.</p>

<p>The above preparations for “A” publication are made by the examiner in security section; any subsequent changes therein should be made only after consulting the security examiner. When in due course, the application is returned for completion of the substantive examination, the examiner who is completing the examination should ensure that the set of documents is properly re-assembled and that the duplicate copy of the abstract, if removed as above, has been returned to its correct position (paper cases only). ]</p>

<h3 id="section-12">22.22</h3>

<p>As a result of the directions having been in force, it may be necessary to extend the compliance period using the discretion conferred on the comptroller by s.22(5)(e). Such discretion should not be exercised earlier than necessary in a particular case. It should be noted that discretion under s.22(5)(e) can be exercised only after the prohibition directions have been revoked. It is not regarded as enabling the comptroller to resuscitate 
an application which, when the prohibition was revoked, had already been treated as having been withdrawn or refused, for example through failure to file Form 9A or Form 10 in time or through not being in order at the end of the compliance period.</p>

<h3 id="section-13">22.23</h3>

<p>When the prohibition directions are revoked after an application has been put in order, it should first of all be published under s.16, after following the procedure described <a href="#ref22-20">in 22.20</a>. As a consequence of the wording of s.16(1) the published application should include both the text of the specification as filed and the claims in their final form, if different. The application should then proceed to grant <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-85">see 18.85-18.86</a>.</p>

<p>[ For s.16 publication procedure, <a href="#ref22-21">see 22.21</a>. When in due course the file is returned to the examiner for revision of the classification prior to B publication, he should see that the documents going forward for publication have been properly assembled. ]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(7)</strong></td>
    </tr>
    <tr>
      <td>Where directions have been given under this section in respect of an application for a patent for an invention and, before the directions are revoked, that prescribed period expires and the application is brought in order for the grant of a patent, then-<br/>(a) if while the directions are in force the invention is worked by (or with the written authorisation of or to the order of) a government department, the provisions of sections 55 to 59 below shall apply as if -<br/>(i) the working were use made by section 55;<br/>(ii) the application had been published at the end of that period; and<br/>(iii) a patent had been granted for the invention at the time the application is brought in order for the grant of a patent (taking the terms of the patent to be those of the application as it stood at the time it was so brought in order); and<br/>(b) if it appears to the Secretary of State that the applicant for the patent has suffered hardship by reason of the continuance in force of the directions, the Secretary of State may, with the consent of the Treasury, make such payment (if any) by way of compensation to the applicant as appears to the Secretary of State and the Treasury to be reasonable having regard to the inventive merit and utility of the invention, the purpose for which it is designed and any other relevant circumstances.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-14">22.24</h3>

<p>Thus if an application was brought in order within the compliance period and, while a prohibition order was still in force, was used for the services of the Crown, that use is to be treated as though the patent had been granted and published, and the applicant and other parties have the rights provided for in ss.55-59. Moreover if the prohibition direction has caused hardship the applicant may be awarded reasonable compensation.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(8)</strong></td>
    </tr>
    <tr>
      <td>Where a patent is granted in pursuance of an application in respect of which directions have been given under this section, no renewal fees shall be payable in respect of any period during which those directions were in force.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-15">22.25</h3>

<p>r.37, r.38 is also relevant.</p>

<p>No renewal fees are payable either in respect of years preceding that in which the direction is revoked or in respect of the year during which it is revoked. The first renewal date in respect of which fees are payable will be the first anniversary of the date of filing following revocation of the direction, or three months after the date of grant, whichever is the later. The period within which fees for subsequent years must be paid is governed by by r.38.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 22(9)</strong></td>
    </tr>
    <tr>
      <td>A person who fails to comply with any direction under this section shall be liable -<br/>(a) on summary conviction, to a fine not exceeding the prescribed sum; or<br/> (b) on conviction on indictment, to imprisonment for a term not exceeding twoyears or a fine, or both.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-16">22.26</h3>

<p>It should be noted that a failure to comply with a direction under s.22 (or with the requirements of s.23(1)) is a criminal offence. A notice drawing attention to these matters appears prominently in every issue of the Patents Journal.</p>

<h3 id="ref22-26-1">22.26.1</h3>

<p>The Magistrates’ Courts Act 1980 amended s.22(9) to set the maximum fine on summary conviction as the “prescribed sum”. The reference to “indictment” in (b) is treated as a reference to “information” for the Isle of Man only (S.I. 2003 No. 1249).</p>

<h3 id="appendix">Appendix</h3>

<h3 id="euratom-treaty">Euratom Treaty</h3>

<div class="call-to-action">
<h3 id="ref22-27">22.27</h3>

<p>The provisions of Art.16 of the Euratom Treaty, requiring the UK to inform the European Commission of the existence of applications relating to atomic energy no longer apply following the UK’s withdrawal from the European Union.</p>
</div>

<div class="call-to-action">
<h3 id="section">22.28</h3>

<p>[Deleted. ]</p>
</div>

<div class="call-to-action">
<h3 id="section">22.29</h3>

<p>[Deleted. ]</p>
</div>


</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
