<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 278: Use of the term "patent attorney": supplementary provisions 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (278.01 - 278.03) last updated: April 2007</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">278.01</h3>

<p>This provides that certain uses of the term “patent attorney” do not contravene certain provisions.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 278(1)</strong></td>
    </tr>
    <tr>
      <td>The term “patent attorney” may be used in reference to a solicitor, and a firm of solicitors may be described as a firm of “patent attorneys”, without any contravention of section 276.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">278.02</h3>

<p>Use of that term by solicitors is allowed without contravening <a href="https://www.gov.uk/guidance/manual-of-patent-practice-mopp/section-276-persons-entitled-to-describe-themselves-as-patent-agents">section 276</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 278(2)</strong></td>
    </tr>
    <tr>
      <td>No offence is committed under the enactments restricting the use of certain expressions in reference to persons not qualified to act as solicitors <br/>(a) by the use of the term “patent attorney” in reference to a registered patent agent, or<br/>(b) by the use of the term “European patent attorney” in reference to a person on the European list.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 278(3)</strong></td>
    </tr>
    <tr>
      <td>The enactments referred to in subsection (2) are section 21 of the Solicitors Act 1974, section 31 of the Solicitors (Scotland) Act 1980 and Article 22 of the Solicitors (Northern Ireland) Order 1976.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">278.03</h3>

<p>Use of the term “patent attorney” by registered patent agents, and the term “European patent attorney” by persons on the European list, is allowed without committing any offence under the enactments listed in subsection (3) concerning titles reserved for solicitors.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
