<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 99: General powers of the Court 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (99.01 - 99.02) last updated October 2022.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-99-general-powers-of-the-court">Section 99: General powers of the Court</h3>

<h3 id="section-99">Section 99</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99</strong></td>
    </tr>
    <tr>
      <td>The court may, for the purpose of determining any question in the exercise of its original or appellate jurisdiction under this Act or any treaty or international convention to which the United Kingdom is a party, make any order or exercise any other power which the comptroller could have made or exercised for the purpose of determining that question.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref99-01">99.01</h3>
<p>Sch. 2, para 1 and 2 are also relevant</p>

<p>For the purpose of determining any question within its jurisdiction under 1 and 2 the 1977 or 1949 Act or any relevant treaty etc, the court may exercise any power which the comptroller could have exercised for that purpose. This applies not only to actions initiated in the court but also to appeals to the court from decisions of the comptroller, see for example <a href="/guidance/manual-of-patent-practice-mopp/section-97-appeals-from-the-comptroller/#ref97-04">97.04</a>.</p>

<h3 id="ref99-02">99.02</h3>

<p>s.130(1) is also relevant</p>

<p>The “court” means (a) as respects England and Wales, the High Court (ie normally the Patents Court) and any patents county court having jurisdiction by virtue of ss.287-292 of the CDP Act; (b) as respects Scotland, the Court of Session; (c) as respects Northern Ireland, the High Court in Northern Ireland; and (d) as respects the Isle of Man, His Majesty’s High Court of Justice in the Isle of Man.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
