<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 275: The register of patent attorneys 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (275.01 - 275.05) last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">275.01</h3>

<p>This provides for the continued existence of a register of patent attorneys (other sections of Part V of the CDP Act and the Legal Services Act 2007 provide that those on the register are entitled to certain benefits not available to the lay person). Provision is also made for the regulation of patent attorneys under section 275A
introduced through section 185(3) of the Legal Services Act 2007.</p>

<h3 id="ref275-02">275.02</h3>

<p>In addition to the rights of registered patent attorneys provided by statute, it has long been the accepted practice that in patent proceedings before the comptroller, and on appeals from any decision of theirs in those proceedings, counsel may be instructed by registered patent attorneys without the intermediary of a solicitor (confirmed by the Patents Court in Reiss Engineering Co Ltd v G J Harris [1987] RPC 171).</p>

<h3 id="section-1">275.03</h3>

<p>This section was amended by the Legal Services Act, section 185(3) on 1 January 2010.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(1)</strong></td>
    </tr>
    <tr>
      <td>There is to continue to be a register of persons who act as agent for others for the purpose of applying for or obtaining patents.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong> Section 275(2)</strong></td>
    </tr>
    <tr>
      <td>In this Part a registered patent attorney means an individual whose name is entered on the register kept under this section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(3)</strong></td>
    </tr>
    <tr>
      <td>The register is to be kept by the Chartered Institute of Patent Attorneys.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref275-04">275.04</h3>

<p>The CDP Act previously empowered the Secretary of State to make rules requiring the keeping of a register of patent attorneys (the Register of Patent Agent Rules 1990 (SI 1990/1457) which required the Chartered Institute of Patent Attorneys (CIPA) to keep the register and appoint the registrar). Following amendment of section 275 by section 185(3) of the Legal Services Act 2007 this power has been replaced by the requirement for a register of patent attorneys to be kept by CIPA.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(4)</strong></td>
    </tr>
    <tr>
      <td>The Secretary of State may, by order, amend subsection (3) so as to require the register to be kept by the person specified in the order.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(5)</strong></td>
    </tr>
    <tr>
      <td>Before making an order under subsection (4), the Secretary of State must consult the Legal Services Board.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(6)</strong></td>
    </tr>
    <tr>
      <td>An order under this section must be made by statutory instrument.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275(7)</strong></td>
    </tr>
    <tr>
      <td>An order under this section may not be made unless a draft of it has been laid before, and approved by a resolution of, each House of Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">275.05</h3>

<p>Under subsections (4) to (7), the Secretary of State is empowered to amend by order subsection (3) to require someone other than CIPA to be the keeper of the register. The Secretary of State must consult the Legal Services Board and enact a statutory instrument which has been laid and approved by each House of Parliament.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
