<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 84: Patent agents and other representatives [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (84.01 -84.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">84.01</h3>

<p>This section formerly determined who was permitted to practise in the UK as a representative of other persons in relation to European patents and patent applications. This included taking part in proceedings relevant thereto before the EPO or the comptroller as well as applying for or obtaining European patents.</p>

<h3 id="section-1">84.02</h3>

<p>Section 84, together with other provisions of the 1977 Act concerning patent agents, has been repealed by the CDP Act and replaced.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
