<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 104: Privilege for communications with patent agents relating to patent proceedings [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (104.01 - 104.02) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">104.01</h3>

<p>This section provided privilege from disclosure to communications with patent agents akin to that applying to communications with solicitors (the latter being specifically applied in relation to patent proceedings in accordance with s.103).</p>

<h3 id="section-1">104.02</h3>

<p>Section 104, together with other provisions of the 1977 Act concerning patent agents, has been repealed by the CDP Act and replaced by Part V of the CDP Act (Patent Agents and Trade Mark Agents). In particular, section 280 of the CDP Act provides privilege for communications with patent agents, <a href="/guidance/manual-of-patent-practice-mopp/section-280-privilege-for-communications-with-patent-agents/#ref280-01">see 280.01-05</a>.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
