<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 59: Special provisions as to Crown use during emergency 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">59.01</h3>

<p>This is the sixth and last of the group of sections relating to use of patented inventions for the services of the Crown. The powers for Crown use under s.55 (<a href="/guidance/manual-of-patent-practice-mopp/section-55-use-of-patented-inventions-for-services-of-the-crown/#ref55-04">see 55.04</a>) are extended by s.59 during any period of emergency as defined by s.59(3). The meanings of “the services of the Crown” and “use for the services of the Crown” are extended beyond their normal meanings (<a href="/guidance/manual-of-patent-practice-mopp/section-56-interpretation-etc-of-provisions-about-crown-use/#ref56-03">see 56.03</a>) by s.59(1) and (2). With regard to ss.55 to 59 in general, <a href="/guidance/manual-of-patent-practice-mopp/section-55-use-of-patented-inventions-for-services-of-the-crown/#ref55-01">see 55.01-03</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 59(1)</strong></td>
    </tr>
    <tr>
      <td>During any period of emergency within the meaning of this section the powers exercisable in relation to an invention by a government department or a person authorised by a government department under section 55 above shall include power to use the invention for any purpose which appears to the department necessary or expedient ­ <br/>(a) for the efficient prosecution of any war in which His Majesty may be engaged;<br/>(b) for the maintenance of supplies and services essential to the life of the community; <br/>(c) for securing a sufficiency of supplies and services essential to the well-being of the community;<br/>(d) for promoting the productivity of industry, commerce and agriculture; <br/>(e) for fostering and directing exports and reducing imports, or imports of any classes, from all or any countries and for redressing the balance of trade;<br/>(f) generally for ensuring that the whole resources of the community are available for use, and are used, in a manner best calculated to serve the interests of the community; or <br/>(g) for assisting the relief of suffering and the restoration and distribution of essential supplies and services in any country or territory outside the United Kingdom which is in grave distress as the result of war; and any reference in this Act to the services of the Crown shall, as respects any period of emergency, include a reference to those purposes.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 59(2)</strong></td>
    </tr>
    <tr>
      <td>In this section the use of an invention includes, in addition to any act constituting such use by virtue of section 55 above, any act which would, apart from that section and this section, amount to an infringement of the patent concerned or, as the case may be, give rise to a right under section 69 below to bring proceedings in respect of the application concerned, and any reference in this Act to “use for the services of the Crown” shall, as respects any period of emergency, be construed accordingly.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 59(3)</strong></td>
    </tr>
    <tr>
      <td>In this section “period of emergency” means any period beginning with such date as may be declared by Order in Council to be the commencement, and ending with such date as may be so declared to be the termination, of a period of emergency for the purposes of this section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 59(4)</strong></td>
    </tr>
    <tr>
      <td>A draft of an Order under this section shall not be submitted to His Majesty unless it has been laid before, and approved by resolution of, each House of Parliament.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
