<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 77: Effect of European patent (UK) 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (77.01 - 77.25) last updated October 2023.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">77.01</h3>
<p>This section provides for a granted European patent (UK) to be treated like a granted domestic patent. It further relates to the effects on a European patent (UK) of certain proceedings under the EPC (involving amendment, revocation, restoration or determination of the validity of the patent).</p>

<h3 id="section-1">77.02</h3>
<p>s.130(1) is also relevant.</p>

<p>European patent (UK) means a patent granted under the EPC designating the United Kingdom as a country in which protection is sought for the invention which is the subject of the patent. The EPC is the European Patent Convention, ie the Convention on the Grant of European Patents.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(1)</strong></td>
    </tr>
    <tr>
      <td>Subject to the provisions of this Act, a European patent (UK) shall, as from the publication of the mention of its grant in the European Patent Bulletin, be treated for the purposes of Parts I and III of this Act as if it were a patent under this Act granted in pursuance of an application made under this Act and as if notice of the grant of the patent had, on the date of that publication, been published under section 24 above in the journal; and <br/><br/> (a) the proprietor of a European patent (UK) shall accordingly as respects the United Kingdom have the same rights and remedies, subject to the same conditions, as the proprietor of a patent under this Act; <br/><br/> (b) references in Parts I and III of this Act to a patent shall be construed accordingly; and (c) any statement made and any certificate filed for the purposes of the provision of the convention corresponding to section 2(4)(c) above shall be respectively treated as a statement made and written evidence filed for the purposes of the said paragraph (c).</td>
    </tr>
  </tbody>
</table>

<h3 id="ref77-03">77.03</h3>
<p>A European patent (UK) granted under the EPC is thus treated as if it were a patent granted under the Patents Act 1977, and the proprietors of the patent have the same rights and remedies as the proprietors of a domestic patent. The effective date of grant from which it is so treated is the date of mention of the grant in the Bulletin published under the EPC.</p>

<h3 id="ref77-03-1">77.03.1</h3>

<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2013/1713.html">Virgin Atlantic Airways Ltd v Jet Airways (India) Ltd &amp; Ors [2013] EWCA Civ 1713</a> the Court of Appeal considered whether the UK had jurisdiction over the decisions of the EPO for the purposes of Article 1 of the European Convention on Human Rights (ECHR). The court held that the EPO is factually and legally independent of the IPO and since s.77(1) makes European patents directly effective in domestic law from the date of publication in the Bulletin the Comptroller’s function in the process is purely administrative. It was considered that the recognition of the validity and effect of European patents by virtue of s.77 is not sufficient to create a jurisdictional link. Consequently the automatic recognition of grant of an EP(UK) is not subject to qualification by the ECHR, and the courts and the Comptroller do not have a general power to review the validity of patents granted by the EPO on grounds other than those specified in the EPC (in this case it was claimed that the EP(UK) was not valid as the UK designation was the result of a procedural error at the EPO - <a href="/guidance/manual-of-patent-practice-mopp/section-72-power-to-revoke-patents-on-application/#ref72-03">see also 72.03</a>). The court went on to say that to allow such a power would fatally undermine the whole system for the grant of European patents.</p>

<h3 id="section-2">77.04</h3>
<p>a.86 EPC, r.37(4) and r.38(1) are also relevant.</p>

<p>The term of a European patent (UK) is twenty years measured from the date of filing accorded to it under Rule 40 of the EPC. Fees to keep it in force in respect of years up to and including the year in which mention of grant is published are paid direct to the EPO. Annual renewal fees should be paid to the UK Office in order to maintain the patent after the end of the year of grant or, if it is granted before the end of the fourth year of its term, after the end of that fourth year (for procedure, see <a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-06">25.06</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-08">25.08-25.11</a>).</p>

<h3 id="ref77-05">77.05</h3>
<p>r.103 and r.39 are also relevant.</p>

<p>The proprietors of a European patent (UK) may provide an address for service within the United Kingdom (including the Isle of Man), Gibraltar or the Channel Islands. A convenient time for proprietors to notify the Office of this address is as soon as it becomes apparent that a European patent application is going to be granted, which will usually be on receipt of the notice issued by the EPO under EPC rule 71(3). If, however, the comptroller is not notified of an address for service for the proprietor of a European patent (UK), then the proprietor’s address on the register will be treated as the address for service, even if that address is outside the UK, Gibraltar or the Channel Islands (<a href="#ref77-05-1">see 77.05.1 below</a>. Where no other address is provided, this address will be used for issuing any notice under rule 39(2) reminding the proprietor of overdue renewal fees (<a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-08">see 25.08</a>) unless an address specifically for this purpose has been given on Form 12 at a previous renewal (<a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-12">see 25.12</a>). Notification to the Office of an address for service can be made on Form 51 appointing an agent in the UK, or by letter. If this letter or form is filed in duplicate, receipt is acknowledged by returning the copy. The publication (serial) number of the European patent (UK) should be clearly stated in the notification.</p>

<h3 id="section-3">77.05.1</h3>
<p>r.103, r.104, PR Sch. 4 and Parts 2 &amp; 3 are also relevant.</p>

<p>Any person, including the proprietor of a European patent (UK), who makes any application, reference or request relating to any proceeding under the Patents Act 1977 or Patents Rules 2007, or who gives any notice of opposition under the Patents Act 1977, or who opposes such an application, reference, request or notice must furnish the Office with an address for service in the United Kingdom (including the Isle of Man), Gibraltar or the Channel Islands. The payment of renewal fees is not considered to amount to proceedings under the Patents Act 1977 (as amended) or the Patents Rules 2007 (as amended). If a person fails to provide such an address for service, and there is sufficient information to contact the person, they should be contacted and be directed to file an acceptable address for service within 2 months (this period can be extended using rule 108(2) and 108(3) - <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-36-5">see 123.36.5</a>). If an acceptable address is not provided within this time period, or there is insufficient information to make contact with anyone to provide such an address, the person is taken either to have failed to initiate or to have withdrawn from proceedings as appropriate.</p>

<h3 id="section-4">77.06</h3>
<p>Where the invention to which a European patent (UK) relates was disclosed at an international exhibition within the six months preceding the filing of the European patent application, the statement and certificate filed under EPC Article 55 and EPC rule 25 are treated as the statement and evidence required under s.2(4)(c) and r.5, <a href="/guidance/manual-of-patent-practice-mopp/section-2-novelty/#ref2-40">see 2.40</a>.</p>

<h3 id="section-5">77.07</h3>
<p>r.31(1) and EPC are also relevant.</p>

<p>In accordance with paragraphs 2 and 3 of Schedule 1 of the Patents Rules 2007, if the invention to which a European patent (UK) relates involves the use of or concerns biological material, the relevant disclosure is regarded as clear enough and complete enough for the invention to be performed by a person skilled in the art if the relevant provisions of the Implementing Regulations to the EPC have been complied with, and the biological material has been deposited, on or before the date of filing of the application, in a depositary institution which is able to furnish subsequently a sample of the biological material, and the specification of the application as filed contains such relevant information as is available to the applicant on the characteristics of the biological material. See also <a href="/guidance/manual-of-patent-practice-mopp/section-125a-disclosure-of-invention-by-specification-availability-of-samples-of-biological-material/#ref125A-07">125A.07</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(2)</strong></td>
    </tr>
    <tr>
      <td>Subsection (1) above shall not affect the operation in relation to a European patent (UK) of any provisions of the European Patent Convention relating to the amendment or revocation of such a patent in proceedings before the European Patent Office.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref77-08">77.08</h3>

<p id="ref77-08-09">a.99 EPC and a.101 EPC are also relevant.</p>

<p>Even though a European patent (UK) is treated as if it were a patent under the 1977 Act, it is still subject to revocation, including amendment, proceedings before the EPO. Notice of opposition to a European patent may be given to the EPO within nine months of the mention of its grant, and the opposition applies in all the contracting states in which the patent has effect. This can lead to revocation of the patent or its maintenance in amended or unamended form, whichever is decided by the EPO.</p>

<p>[ If proceedings before the comptroller are initiated in respect of a European patent (UK) which is the subject of opposition proceedings before the EPO, it is important to be aware of the progress of the opposition. This can be monitored through the online file and register inspection facilities available through the <a rel="external" href="https://register.epo.org/espacenet/regviewer">European Patent Register</a>. Queries about using this inspection facility should be raised with the European Patent Filing Department on ext 4636.]</p>

<h3 id="section-6">77.09</h3>
<p>s.77(4) and(4A) are also relevant.</p>

<p>A European patent (UK) amended or revoked under the EPC is treated as if it had been amended or revoked under the Act.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(3)</strong></td>
    </tr>
    <tr>
      <td>Where in the case of a European patent (UK) <br/><br/>(a) proceedings for infringement, or proceedings under section 58 above, have been commenced before the court or the comptroller and have not been finally disposed of, and <br/><br/>(b) it is established in proceedings before the European Patent Office that the patent is only partially valid, <br/><br/> the  provisions of section 63 or, as the case may be, of subsections (7) to (9) of section 58 apply as they apply to proceedings in which the validity of a patent is put in issue and in which it is found that the patent is only partially valid.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref77-10">77.10</h3>

<p>In proceedings under the Act relating to infringement of, or Crown use of an invention protected by, a European patent (UK), the effect of a finding of partial validity before the EPO is the same as that of a finding of partial validity under the Act. The provisions of ss.58(7) to (9) (relief for Crown use of invention of patent found to be only partially valid) and 63 (relief for infringement of patent found to be only partially valid) thus apply regardless of which of these ways partial validity was found. Section 77(3) was amended by the CDP Act to make it clear that its provisions apply to Crown use proceedings under s.58 as well as to infringement proceedings.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(4)</strong></td>
    </tr>
    <tr>
      <td>Where a European patent (UK) is amended in accordance with the European Patent Convention, the amendment shall have effect for the purposes of Parts I and III of this Act as if the specification of the patent had been amended under this Act; but subject to subsection (6)(b) below.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(4A)</strong></td>
    </tr>
    <tr>
      <td>Where a European patent (UK) is revoked in accordance with the European Patent Convention, the patent shall be treated for the purposes of Parts I and III of this Act as having been revoked under this Act.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-7">77.11</h3>

<p>See <a href="#ref77-08-09">77.08-09</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(5)</strong></td>
    </tr>
    <tr>
      <td>Where <br/><br/> (a) under the European Patent Convention a European patent (UK) is revoked for failure to observe a time limit and is subsequently restored or is revoked by the Board of Appeal and is subsequently restored by the Enlarged Board of Appeal; and <br/><br/> (b) between the revocation and publication of the fact that it has been restored a person begins in good faith to do an act which would, apart from section 55 above, constitute an infringement of the patent or makes in good faith effective and serious preparations to do such an act; <br/><br/> he shall have the rights conferred by section 28A(4) and (5) above, and subsections (6) and (7) of that section shall apply accordingly.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref77-12">77.12</h3>

<p>Where under the EPC a European patent (UK) is revoked for failure to observe a time limit and subsequently restored or is revoked by the Board of Appeal and is subsequently restored by the Enlarged Board of Appeal, the exemption of third parties from infringement proceedings provided by s.28A applies to acts or preparations in the intervening period. This includes acts of Crown use which, but for s.55, would constitute infringement.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(5A)</strong></td>
    </tr>
    <tr>
      <td>Where, under the European Patent Convention, a European patent (UK) is revoked and subsequently restored (including where it is revoked by the Board of Appeal and subsequently restored by the Enlarged Board of Appeal), any fee that would have been imposed in relation to the patent after the revocation but before the restoration is payable within the prescribed period following the restoration.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref77-12-1">77.12.1</h3>

<p>r.41A and r.36 are also relevant.</p>

<p>This subsection was introduced on 1 October 2014 by the Intellectual Property Act 2014. It relates to the situation where a European patent (UK) has been revoked by the EPO Board of Appeal and is subsequently restored by the Enlarged Board of Appeal following a petition for review under Art.112a EPC. Unlike other forms of appeal, where a petition for review has been filed this does not have suspensive effect, meaning that the patent remains revoked whilst the petition for review is being considered. Renewal fees cannot be paid when a patent is revoked. Section 77(5A) and rule 41A introduce a clear requirement for any renewal fees which fell due whilst the patent was revoked to be paid within a two-month period following the restoration. As with any other renewal fees, Patents Form 12 should accompany any payment.</p>

<h3 id="section-8">77.12.2</h3>
<p>s.25(5) and r.39 are also available.</p>

<p><a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-12">See 25.12-15</a> for the actions taken should any outstanding renewal fees not be paid in the two-month period following the restoration, and for the consequences of nonpayment.</p>

<h3 id="section-776-not-in-force-from-1-may-2008">Section 77(6) (Not in force from 1 May 2008)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(6)</strong></td>
    </tr>
    <tr>
      <td>While this subsection is in force - <br/><br/> (a) subsection (1) above shall not apply to a European patent (UK) the specification of which was published in French or German, unless a translation of the specification into English is filed at the Patent Office and the prescribed fee is paid before the end of the prescribed period;<br/><br/> (b) subsection (4) above shall not apply to an amendment made in French or German unless a translation into English of the specification as amended is filed at the Patent Office and the prescribed fee is paid before the end of the prescribed period.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(7)</strong></td>
    </tr>
    <tr>
      <td>Where such a translation is not filed, the patent shall be treated as always having been void.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(8)</strong></td>
    </tr>
    <tr>
      <td>The comptroller shall publish any translation filed at the Patent Office under subsection (6) above.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 77(9)</strong></td>
    </tr>
    <tr>
      <td>Subsection (6) above shall come into force on a day appointed for the purpose by rules and shall cease to have effect on a day so appointed, without prejudice, however, to the power to bring it into force again.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-9">77.12.3</h3>
<p>r.56(10) is also relevant</p>

<p>Rule 56(10) sets out that the appointed day is the day of coming into force of the Agreement on the Application of Article 65 of the convention on the grant of European patents made in London on 17 October 2000 (“the London Agreement”). The London Agreement came into force on 1 May 2008 from which date section 77(6) is no longer in force.</p>

<h3 id="translations-of-european-patents-uk-in-french-or-german">Translations of European patents (UK) in French or German</h3>

<h3 id="ref77-13">77.13</h3>

<p>s.80(2) is also relevant</p>

<p>While s.77(6) was in force, European patents (UK) published or amended in French or German were treated in the UK as ineffective and always having been void unless an English translation of the specification or amended specification was filed. Any translation filed of such a specification or amended specification was published by the Office. Such a translation of a specification may in some circumstances be treated as the authentic text for the purposes of proceedings under the Act, <a href="/guidance/manual-of-patent-practice-mopp/section-80-authentic-text-of-european-patents-and-patent-applications/#ref80-02">see 80.02</a>.</p>

<h3 id="section-10">77.14</h3>
<p>The Patents (Amendment) Rules 1987 (S.I. 1987 No. 288) appointed 1 September 1987 as the day on which s.77(6) came into force but only in respect of European patents (UK) granted on or after that day. The date of grant is that on which mention of the grant of the patent is published in the European Patent Bulletin. Rule 56(9)
and (10) of the Patents Rules 2007 make provision for s. 77(6) and rule 56(1)(a) and (5) to (8) to cease to have effect on the date that the Agreement on the application of Article 65 of the Convention on the Grant of European Patents made in London on 17 October 2000 (“the London Agreement”) comes into force. The coming into force date for the London Agreement was 1 May 2008 from which date translations are no longer required. Article 9 of the London Agreement sets out that that the agreement applies to European patents in respect of which the mention of grant is published in the European Patent Bulletin on or after the date the agreement comes into force. However, there are no similar transitional arrangements for rule 56 which has the effect that patent proprietors may take advantage of the three month period prescribed for filing a translation. European patents granted or amended from 1 February 2008 therefore do not require a translation to be filed in order for the patent or amendment to enter into force in the UK.</p>

<h3 id="section-11">77.15</h3>
<p>The prescribed period may be extended in accordance with r.108(2) or (3) and (4) to (6), <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-34">see 123.34-41</a> and therefore patents granted or amended prior to 1 February 2008 may not require a translation to be filed.</p>

<h3 id="section-12">77.16</h3>
<p>[deleted]</p>

<h3 id="section-13">77.17</h3>
<p>[deleted]</p>

<h3 id="section-14">77.18</h3>
<p>[deleted]</p>

<h3 id="section-15">77.19</h3>
<p>[deleted]</p>

<h3 id="section-16">77.20</h3>
<p>[deleted]</p>

<h3 id="section-17">77.21</h3>
<p>[deleted]</p>

<h3 id="section-18">77.22</h3>
<p>[deleted]</p>

<h3 id="section-19">77.23</h3>
<p>[deleted]</p>

<h3 id="section-20">77.24</h3>
<p>[deleted]</p>

<h3 id="section-21">77.25</h3>
<p>Any renewal fees paid in respect of European patents (UK) which are ultimately declared void because of failure to file a necessary translation are not refunded.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
