<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 113: Offences by corporations 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (113.01 - 113.02) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">113.01</h3>

<p>This section relates to the liability of officers of a body corporate for offences committed by the body corporate.</p>

<h3 id="section-1">113.02</h3>

<p>Any of certain officers of the body corporate, as well as the body corporate itself, is guilty of such an offence if it is proved to have been committed with the consent or connivance of, or as a result of neglect by, that officer. The officers in question are directors, managers, secretaries and “other similar officers” of the body corporate (or any person purporting to act in any such capacity) and, in accordance with subsection (2), the members of a body corporate managed by its members.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 113(1)</strong></td>
    </tr>
    <tr>
      <td>Where an offence under this Act which has been committed by a body corporate is proved to have been committed with the consent or connivance of, or to be attributable to any neglect on the part of, a director, manager, secretary or other similar officer of the body corporate, or any person who was purporting to act in any such capacity, he, as well as the body corporate, shall be guilty of that offence and shall be liable to be proceeded against and punished accordingly.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 113(2)</strong></td>
    </tr>
    <tr>
      <td>Where the affairs of a body corporate are managed by its members, subsection (1) above shall apply in relation to acts and defaults of a member in connection with his functions of management as if he were a director of the body corporate.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
