<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 52: Opposition, appeal and arbitration 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (52.01 - 52.10) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">52.01</h3>

<p>The Patents and Trade Marks (World Trade Organisation) Regulations 1999 replaced the original section 52 with effect from 29 July 1999. This section provides as before for opposition to applications under ss. 48 to 51, and for matters arising in such opposition proceedings to be referred to an arbitrator by the comptroller. In addition, WTO proprietors (<a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-22">see 48.22</a>) may apply to have a compulsory licence or register entry cancelled if the circumstances leading to the order or entry have ceased to exist and are unlikely to recur. The section also makes special provision with regard to appeals from decisions made by the comptroller on applications under ss.48 to 51 or 52(2). Such applications may be for compulsory licences or “licences of right” entries or modification of licences, as outlined in <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-01">48.01</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-51-powers-exercisable-in-consequence-of-report-of-competition-and-markets-authority/#ref51-01">51.01</a> or cancellation of orders or register entries as outlined below.</p>

<h3 id="section-1">52.02</h3>

<p>These sections are members of a group (46 to 54) relating to licences of right, compulsory licences etc. For general discussion of this group <a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-02">see 46.02-07</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(1)</strong></td>
    </tr>
    <tr>
      <td>The proprietor of the patent concerned or any other person wishing to oppose an application under sections 48 to 51 above may, in accordance with rules, give to the comptroller notice of opposition; and the comptroller shall consider any opposition in deciding whether to grant the application.</td>
    </tr>
  </tbody>
</table>

<h3 id="opposition">Opposition</h3>

<h3 id="ref52-03">52.03</h3>

<p>Any person, including the patentee, may oppose an application under ss.48 to 51. For example, the opponent was the exclusive licensee in Montgomerie Reid’s Application, <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-18">see 48.18</a> (However, if the patentee does not lodge an opposition under s.52(1), they are is not entitled to be heard in proceedings to settle the terms of any licence, <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-13">see 48.13</a>).</p>

<h3 id="ref52-04">52.04</h3>
<p>r.108(1) is also relevant</p>

<p>Notice of opposition under s.52(1) must be given within four weeks (which cannot be extended) after the advertisement of the application in the Journal as described <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-12">in 48.12</a>. The notice is given by filing a counter-statement in the proceedings in accordance with rr.77(7)-(8).</p>

<h3 id="section-2">52.05</h3>

<p>[deleted]</p>

<h3 id="section-3">52.06</h3>

<p>s.52(5) is also relevant</p>

<p>The comptroller may refer matters to an arbitrator, <a href="#ref52-10">see 52.10</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(2)</strong></td>
    </tr>
    <tr>
      <td>Where an order or entry has been made under section 48 above in respect of a patent whose proprietor is a WTO proprietor-<br/>(a) the proprietor or any other person may, in accordance with rules, apply to the comptroller to have the order revoked or the entry cancelled on the grounds that the circumstances which led to the making of the order or entry have ceased to exist and are unlikely to recur;<br/>(b) any person wishing to oppose an application under paragraph (a) above may, in accordance with rules, give to the comptroller notice of opposition; and<br/>(c) the comptroller shall consider any opposition in deciding whether to grant the application.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(3)</strong></td>
    </tr>
    <tr>
      <td>If it appears to the comptroller on an application under subsection (2)(a) above that the circumstances which led to the making of the order or entry have ceased to exist and are unlikely to recur, he may -<br/>(a) revoke the order or cancel the entry; and<br/>(b) terminate any licence granted to a person in pursuance of the order or entry subject to such terms and conditions as he thinks necessary for the protection of the legitimate interests of that person.</td>
    </tr>
  </tbody>
</table>

<h3 id="revocation-or-cancellation-of-order-or-entry">Revocation or cancellation of order or entry</h3>

<h3 id="ref52-07">52.07</h3>

<p>PR part 7 is also relevant</p>

<p>If the proprietor of the patent is a WTO proprietor, they or any other person may apply to have an order or entry made under section 48 revoked or cancelled on the grounds that the circumstances which led to the making of the order or entry have ceased to exist and are unlikely to recur. An application under s.52(2)(a) should be made on Form 2 accompanied by a copy thereof and a statement of grounds in duplicate. This starts proceedings before the comptroller, the procedure  for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>. It follows the same stages an application for an order or entry - <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-12">see 48.12-48.13</a> mutatis mutandis.</p>

<h3 id="section-4">52.08</h3>

<p>Under section 52(2)(b), and like an application under section 48, an application under section 52(2)(a) may be opposed by anyone. The procedure for opposition is the same as for an opposition under section 52(1) - <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-12">see 48.12</a> <a href="#ref52-04">and 52.04</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(4)</strong></td>
    </tr>
    <tr>
      <td>Where an appeal is brought -<br/>(a) from an order made by the comptroller in pursuance of an application under sections 48 to 51 above;<br/>(b) from a decision of his to make an entry in the register in pursuance of such an application;<br/>(c) from a revocation or cancellation made by him under subsection (3) above; or<br/>(d) from a refusal of his to make such an order, entry, revocation or cancellation, the Attorney General,<br/>the appropriate Law Officer within the meaning of section 4A of the Crown Suits (Scotland) Act 1857 or the Attorney General for Northern Ireland, or such other person who has a right of audience as any of them may appoint, shall be entitled to appear and be heard.</td>
    </tr>
  </tbody>
</table>

<h3 id="appeal">Appeal</h3>

<h3 id="section-5">52.09</h3>

<p>s.97(1) is also relevant</p>

<p>An appeal lies to the Patents Court from any decision of the comptroller on an application under ss.48 to 51 or 52(2). Where such an appeal is brought, the Attorney General (or the equivalent of that officer in different parts of the UK) or such other person who has a right of audience as they may appoint is entitled to appear and be heard.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(5)</strong></td>
    </tr>
    <tr>
      <td>Where an application under sections 48 to 51 above or subsection (2) above is opposed, and either -<br/>(a) the parties consent, or<br/>(b) the proceedings require a prolonged examination of documents  or  any scientific or local investigation which cannot in the opinion of the comptroller conveniently be made before him,<br/>the comptroller may at any time order the whole proceedings, or any question or issue of fact arising in them, to be referred to an arbitrator or arbiter agreed on by the parties or, in default of agreement, appointed by the comptroller.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(6)</strong></td>
    </tr>
    <tr>
      <td>Where the whole proceedings are so referred, unless the parties otherwise agree before the award of the arbitrator or arbiter is made, an appeal shall lie from the award to the court.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 52(7)</strong></td>
    </tr>
    <tr>
      <td>Where a question or issue of fact is so referred, the arbitrator shall report his findings to the comptroller.</td>
    </tr>
  </tbody>
</table>

<h3 id="arbitration">Arbitration</h3>

<h3 id="ref52-10">52.10</h3>

<p>Subsections (5) to (7) provide for reference to an arbitrator (arbiter in Scotland) where an application under ss.48 to 51 or 52(2) is opposed. Such a reference may be of the whole proceedings or of any question or issue of fact arising therein, and may be made by the comptroller at any time where the parties consent or the proceedings require examination or investigation as detailed in subsection (5)(b). Unless the parties previously agreed otherwise, an appeal lies from the award of the arbitrator to the court. Where only a question or issue of fact is referred, proceedings before the comptroller continue after the comptroller receives the arbitrator’s findings.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
