<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 115: Power of comptroller to refuse to deal with certain agents [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (115.01 - 115.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">115.01</h3>

<p>This section authorised the provisions of rule 90 of the 1982 Rules whereby the comptroller could refuse to recognise persons in certain categories as agents. It also concerned recognition of agents not residing or having a place of business in the UK.</p>

<h3 id="section-1">115.02</h3>

<p>Section 115, together with other provisions of the 1977 Act concerning patent agents, has been repealed by the CDP Act and replaced by Part V of the CDP Act (Patent Agents and Trade Mark Agents), see particularly s.281 discussed in <a href="/guidance/manual-of-patent-practice-mopp/section-281-power-of-comptroller-to-refuse-to-deal-with-certain-agents/#ref281-01">281.01-04</a>.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
