<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70E: Supplementary: pending registration
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (70E.01-70E.02) last published: September 2017.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-70e1">Section 70E(1)</h3>

<p>In sections 70 and 70B references to a patent include references to an application for a patent that has been published under section 16.</p>

<h3 id="e01">70E.01</h3>

<p>Section 70E(1) ensures that a threat made in relation to a published patent application is subject to the threats regime set out in section 70 onwards. Threats proceedings can take place before (as well as after) the patent is granted. Infringement proceedings cannot be brought until after grant; however the alleged infringer may be liable from the publication date (<a href="/guidance/manual-of-patent-practice-mopp/section-69-infringement-of-rights-conferred-by-publication-of-application/#ref69-06">see 69.06</a>).</p>

<h3 id="section-70e2">Section 70E(2)</h3>

<p>Where the threat of infringement proceedings is made after an application has been published (but before grant) the reference in section 70C(3) to “the patent” is to be treated as a reference to the patent as granted in pursuance of that application.</p>

<h3 id="e02">70E.02</h3>

<p>Section 70E(2) sets out that, when the infringement defence (<a href="/guidance/manual-of-patent-practice-mopp/section-70c-remedies-and-defences/#ref70C-02">see 70C.02</a>) is relied upon, it relates to the scope of the patent as granted rather than the scope of the patent application when published under section 16.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
