<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 118A: Copyright in documents made available electronically for inspection under section 118(1) [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections 118A.01 -118A.02)  last updated April 2015.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">118A.01</h3>

<p>Section 118A was introduced into the Patents Act 1977 on 1 October 2011. The section provided that copyright was not infringed if documents from the published patent file were made available under section 118(1) electronically so that the public can access them. Copyright was also not infringed by copying the documents in order to enable this electronic access.</p>

<h3 id="a02">118A.02</h3>

<p>Section 118A was repealed by the <a rel="external" href="http://www.legislation.gov.uk/uksi/2014/1385/contents/made">Copyright (Public Administration) Regulations 2014 (SI 2014/1385) which came into force on 1st June 2014</a>. These Regulations introduced into the [Copyright, Designs and Patents Act 1988 new exceptions to copyright infringement, which apply to certain documents which are published online by the relevant public body, such as the Comptroller. The documents must be ones which are open to public inspection or on an official register and concern material communicated to the Crown in the course of public business. The new exceptions mean that section 118A became redundant.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
