<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 68: Effect of non-registration on infringement proceedings 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (68.01 - 68.08)  last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">68.01</h3>

<p>This section inhibits the award of costs or expenses by the court or the comptroller, in respect of infringement of a patent, to a person who has become a proprietor or exclusive licensee of the patent by virtue of a transaction, instrument or event which was not, or not sufficiently promptly, registered in the register of patents. The transactions, instruments or events in question are those to which s.33 applies; these are listed in s.33(3). This section was amended by The Intellectual Property (Enforcement, etc.) Regulations 2006 (SI 2006 No. 1028) which came into force on 29 April 2006. This removed the restriction on grant of damages or an account of profits to a proprietor or exclusive licensee who had not sufficiently promptly registered a transaction, instrument or event. Such a restriction was not compatible with article 13.1 of Directive 2004/48/EC on the enforcement of intellectual property rights.</p>

<h3 id="section-1">68.02</h3>

<p>In accordance with s.69, references in this section to a patent and the proprietor of a patent are to be  respectively construed as including references to an application which has been published but not yet granted and the applicant. By an exclusive licensee is meant the holder of an exclusive licence as defined in <a href="/guidance/manual-of-patent-practice-mopp/section-67-proceedings-for-infringement-by-exclusive-licensee/#ref67-04">67.04</a>.</p>

<h3 id="section-2">68.03</h3>

<p>For the applicability of s.68 in relation to European patents, <a href="/guidance/manual-of-patent-practice-mopp/section-60-meaning-of-infringement/#ref60-02">see 60.02</a>. With regard to applications for European patents, see also <a href="#ref68-05">68.05</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 68</strong></td>
    </tr>
    <tr>
      <td>Where by virtue of a transaction, instrument or event to which section 33 above applies a person becomes the proprietor or one of the proprietors or an exclusive licensee of a patent and the patent is subsequently infringed before the transaction, instrument or event is registered, in proceedings for such an infringement, the court or comptroller shall not award him costs or expenses unless <br/>(a) the transaction, instrument or event is registered within the period of six months beginning with its date; or<br/>(b) the court or the comptroller is satisfied that it was not practicable to register the transaction, instrument or event before the end of that period and that it was registered as soon as practicable thereafter.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref68-04">68.04</h3>

<p>If a person became a proprietor or exclusive licensee before a particular infringement occurred, they cannot be awarded costs or expenses if the relevant transaction, instrument or event was not registered before the date of the infringement, unless either of the two conditions in section 68 is met. The conditions are that registration occurs within a period of six months of the date of the transaction, instrument or event, or it is established that registration within that period was not practicable but occurred as soon as practicable thereafter.</p>

<h3 id="ref68-05">68.05</h3>

<p>The appropriate registration procedure is prescribed by r.47 (<a href="/guidance/manual-of-patent-practice-mopp/sections-32-register-of-patents-etc/#ref32-07">see 32.07 to 32.09</a>), except in the case of applications for European patents (UK) which have not yet been granted (<a href="/guidance/manual-of-patent-practice-mopp/sections-32-register-of-patents-etc/#ref32-06">see 32.06</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-78-effect-of-filing-an-application-for-a-european-patent-uk/#ref78-06">78.06 and 78.07</a>).</p>

<h3 id="ref68-06">68.06</h3>

<p>The defendant argued in <a rel="external" href="http://rpc.oxfordjournals.org/content/128/9/657.abstract">H.Lundbeck A/S v Norpharma SpA [2011] EWHC 907 (Pat), [2011] RPC 23</a>, which related to a granted European patent (UK), that registration of an assignment at the EPO counts as registration for the purposes of s.68. However, this argument was rejected by the court. There is no provision which deems registration of a transaction, instrument or event on a granted European patent (UK) at the EPO to be registration under the Act (unlike section 78(3)(f) which allows the registration of an assignment of an application for a European patent (UK) at the EPO to be treated as a registration under the Act). The  transaction, instrument or event therefore has to be registered in the UK to be considered for the purposes of s.68.</p>

<h3 id="ref68-07">68.07</h3>

<p>In considering whether it was not practicable to register the transaction within six months of the date of the transaction, the actions of both the applicant and their agent should be considered. In <a rel="external" href="http://rpc.oxfordjournals.org/content/128/9/657.abstract">H.Lundbeck A/S v Norpharma SpA [2011] EWHC 907 (Pat), [2011] RPC 23</a> the applicant instructed their agent to register the assignment, but the agent subsequently failed to do so. The court held that these actions were not sufficient to show that it was not practicable to register the assignment. Considerations under section 68(b) should take account of what was done by the applicant and their agent and not just the applicant alone.</p>

<h3 id="ref68-08">68.08</h3>

<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2011/927.html">Schütz (UK) Ltd v Werit UK Ltd &amp; Anr [2011] EWCA Civ 927</a>, Sir Robin Jacob explained that this provision was not intended to say that “once a party had failed to register a document in time it could never recover costs even if all the infringements complained of only occurred after registration.” He explained that “if and in so far as a claim covers a period for which a relevant transaction was not registered when it should have been (a “non-registration period”) then any costs incurred during that period cannot be recovered. Costs for periods outside a non-registration period are recoverable in the usual way”.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
