<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 275A: Regulation of patent attorneys 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (275A.01 - 275A.04) last updated: July 2012</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">275A.01</h3>

<p>This section provides for the regulation of patent attorneys and is introduced into the CDP Act by section 185(3) of the Legal Services Act 2007.</p>

<p>Section 275A replaces the rules (The Register of Patent Agents Rules (SI 1990/1457)) previously made under section 275(2) and 275(3) of the CDP Act 1988.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(1)</strong></td>
    </tr>
    <tr>
      <td>The person who keeps the register under section 275 may make regulations which regulate—<br/>(a) the keeping of the register and the registration of persons;<br/>(b) the carrying on of patent attorney work by registered persons.</td>
    </tr>
  </tbody>
</table>

<h3 id="a02">275A.02</h3>

<p>This subsection provides for regulations to be made concerning the registration and maintenance of the register of patent attorneys and concerning the carrying on of patent attorney work by those who have been recorded on the register.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(2)</strong></td>
    </tr>
    <tr>
      <td>Those regulations may, amongst other things, make—<br/>(a) provision as to the educational and training qualifications, and other requirements, which must be satisfied before an individual may be registered or for an individual to remain registered;<br/>(b) provision as to the requirements which must be met by a body (corporate or unincorporate) before it may be registered, or for it to remain registered, including provision as to the management and control of the body;<br/>(c) provision as to the educational, training and other requirements to be met by regulated persons;<br/>(d) provision regulating the practice, conduct and discipline of registered persons or regulated persons;<br/>(e) provision authorising in such cases as may be specified in the regulations the erasure from the register of the name of any person registered in it, or the suspension of a person’s registration; <br/>(f) provision requiring the payment of such fees as may be specified in or determined in accordance with the regulations;<br/>(g) provision about the provision to be made by registered persons in respect of complaints made against them;<br/>(h) provision about the keeping by registered persons or regulated persons of records and accounts;<br/>(i) provision for reviews of or appeals against decisions made under the regulations;<br/>(j) provision as to the indemnification of registered persons or regulated persons against losses arising from claims in respect of civil liability incurred by them.</td>
    </tr>
  </tbody>
</table>

<h3 id="a03">275A.03</h3>

<p>Subsection (2) sets out the areas which may be covered by the regulations. These include provisions for regulating the educational and training qualifications, the requirements which must be met by corporate or incorporate bodies and the payment of fees by those wishing to be registered as patent attorneys.</p>

<h3 id="a04">275A.04</h3>

<p>The regulations may include provisions on the practice, conduct and discipline of registered persons, including provisions in respect of complaints made against patent attorneys, the right to reviews and appeals of any decisions made under the regulations and the provisions for the removal of the names of patent attorneys from the register.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(3)</strong></td>
    </tr>
    <tr>
      <td>Regulations under this section may make different provision for different purposes.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(4)</strong></td>
    </tr>
    <tr>
      <td>Regulations under this section which are not regulatory arrangements within the meaning of the Legal Services Act 2007 are to be treated as such arrangements for the purposes of that Act.</td>
    </tr>
  </tbody>
</table>

<h3 id="a05">275A.05</h3>

<p>The provisions in the regulations can differ according to their purpose and can encompass aspects which are not regulatory arrangements within the meaning of the Legal Services Act 2007.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(5)</strong></td>
    </tr>
    <tr>
      <td>Before the appointed day, regulations under this section may be made only with the approval of the Secretary of State.</td>
    </tr>
  </tbody>
</table>

<h3 id="a06">275A.06</h3>

<p>The regulations made under this section come into force on the “appointed day” as defined in subsection (7) below and which is 1 January 2010. Any regulations made under this section prior to the appointed day (none have been made) may only be made with the approval of the Secretary of State.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(6)</strong></td>
    </tr>
    <tr>
      <td>The powers conferred to make regulations under this section are not to be taken to prejudice—<br/>(a) any other power which the person who keeps the register may have to make rules or regulations (however they may be described and whether they are made under an enactment or otherwise);<br/> (b) any rules or regulations made by that person under any such power.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 275A(7)</strong></td>
    </tr>
    <tr>
      <td>In this section—<br/>“appointed day” means the day appointed for the coming into force of paragraph 1 of Schedule 4 to the Legal Services Act 2007;<br/>“manager”, in relation to a body, has the same meaning as in the Legal Services Act 2007 (see section 207);<br/>“patent attorney work” means work done in the course of carrying on the business of <br/>acting as agent for others for the purpose of—<br/>(a) applying for or obtaining patents, in the United Kingdom or elsewhere, or<br/>(b) conducting proceedings before the comptroller relating to applications for, or otherwise in connection with, patents; “registered person” means—<br/>(a) a registered patent attorney, or<br/>(b) a body (corporate or unincorporate) registered in the register kept under section 275;<br/>“regulated person” means a person who is not a registered person but is a manager or employee of a body which is a registered person.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
