<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 126: Stamp duty [repealed]
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (126.01 126.02) last updated: April 2009.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-126">Section 126</h3>

<h3 id="section">126.01</h3>

<p>This section was neither concerned with applications made, or patents granted, under the 1977 or 1949 Act, nor to European patents (UK). It concerned the liability for stamp duty of instruments (e.g. assignments) relating to Community patents or to applications for certain European patents which were intended to mature into Community patents. However, the section never had any effect because the Community Patent Convention did not come into force prior to the section being repealed by s.156 of, and Schedule 40 to, the Finance Act 2000.</p>

<p><a href="/guidance/manual-of-patent-practice-mopp/sections-32-register-of-patents-etc/#ref32-09">See 32.09</a> for details of stamp duty requirements for instruments relating exclusively to intellectual property or in part to intellectual property and in part to other property.</p>

<h3 id="section-1">126.02</h3>

<p>[deleted]</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
