<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70B: Permitted communications
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (70B .01-70B.0.06)  last updated: September 2017.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="b01">70B.01</h3>

<p>This section defines “permitted communications”. Threats contained in a permitted communication are not actionable, as defined by section 70A(5). Permitted communications allow parties to exchange information without triggering a threats action in situations where a person aggrieved may otherwise be entitled to bring such an action.</p>

<h3 id="section-70b1">Section 70B(1)</h3>

<p>For the purposes of section 70A(5), a communication containing a threat of infringement proceedings is a “permitted communication” if—
(a) the communication, so far as it contains information that relates to the threat, is made for a permitted purpose;
(b) all of the information that relates to the threat is information that—
(i) is necessary for that purpose (see subsection (5)(a) to (c) for some examples of necessary information), and
(ii) the person making the communication reasonably believes is true.</p>

<h3 id="ref70B-02">70B.02</h3>

<p>A communication which contains an implied threat of infringement proceedings is a permitted communication if it satisfies certain conditions. (A communication containing an express threat of infringement proceedings cannot be a permitted communication – (<a href="/guidance/manual-of-patent-practice-mopp/section-70a-actionable-threats/#ref70A-08">see 70A.08</a>) To be a “permitted communication”, the information relating to the threat must be made for a “permitted purpose” (<a href="#ref70B-04">see 70B.04 - 70B.05</a>). Furthermore, the information that relates to the threat must be necessary for the permitted purpose and reasonably believed to be true by the person making the communication.</p>

<h3 id="b03">70B.03</h3>

<p>The conditions of section 70B(1) for a communication containing a threat of infringement proceedings to be a “permitted communication” only apply to the part of the communication that constitutes a threat within the section 70 test (<a href="/guidance/manual-of-patent-practice-mopp/section-70-remedy-for-groundless-threats-of-infringement-proceedings/#ref70-03">see 70.03 -70.04</a>). Other material in the communication is separately subject to the test for a threat under section 70. If that material does not satisfy the test for a threat, then the “permitted communication” provisions are not engaged in respect of that material.</p>

<h3 id="section-70b2">Section 70B(2)</h3>

<p>Each of the following is a “permitted purpose”—
(a) giving notice that a patent exists;<br/>(b) discovering whether, or by whom, a patent has been infringed by an act mentioned in section 70A(2)(a) or (b);<br/>(c) giving notice that a person has a right in or under a patent, where another person’s awareness of the right is relevant to any proceedings that may be brought in respect of the patent.</p>

<h3 id="section-70b3">Section 70B(3)</h3>

<p>The court may, having regard to the nature of the purposes listed in subsection (2)(a) to (c), treat any other purpose as a “permitted purpose” if it considers that it is in the interests of justice to do so.</p>

<h3 id="section-70b4">Section 70B(4)</h3>

<p>But the following may not be treated as a “permitted purpose”-<br/>
(a) requesting a person to cease doing, for commercial purposes, anything in relation to a product or process,<br/>(b) requesting a person to deliver up or destroy a product, or<br/>
(c) requesting a person to give an undertaking relating to a product or process.</p>

<h3 id="ref70B-04">70B.04</h3>

<p>Examples of permitted purposes are listed by section 70B(2). These, among other things, allow a patentee to use the permitted communications to contact a secondary infringer (e.g. a retailer) in order to identify a manufacturer or importer of an allegedly infringing product.</p>

<h3 id="b05">70B.05</h3>

<p>The list of permitted purposes is not exhaustive and gives examples of purposes which will be considered to be permitted purposes. While having regard to the nature of that list, the court has discretion to treat any other purpose as permitted, if it is in the interests of justice to do so. However, section 70B(4) makes clear that certain purposes can never be a “permitted purpose”. These are: requesting that a person stops doing something in relation to a product or process, or requesting that a person delivers up or destroys a product, or seeking an undertaking from a person in relation to a product or process.</p>

<h3 id="section-70b5">Section 70B(5)</h3>

<p>If any of the following information is included in a communication made for a permitted purpose, it is information that is “necessary for that purpose” (see subsection (1)(b)(i))<br/>
(a) a statement that a patent exists and is in force or that an application for a patent has been made;<br/><br/>
(b) details of the patent, or of a right in or under the patent, which—<br/>
(i) are accurate in all material respects, and<br/>
(ii) are not misleading in any material respect; and<br/><br/>
(c) information enabling the identification of the products or processes in respect of which it is alleged that acts infringing the patent have been carried out.</p>

<h3 id="b06">70B.06</h3>

<p>Section 70B(5) sets out examples of information that will fulfil the condition of being necessary for a permitted purpose. These include: a statement that a patent exists, accurate and not misleading details of the patent and enough information to identify the product or process that is allegedly being infringed. The inclusion of this information in a permitted communication satisfying the other conditions of this section will not give rise to an actionable threat.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
