<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 88A: Implementation of Agreement on a Unified Patent Court 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (88A.01 - 88A.05) last updated: January 2015.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">88A.01</h3>

<p>Section 88A was introduced by the Intellectual Property Act 2014 and came into force on 1 October 2014. The section provides a general power to amend any legislation, including the Act itself, in order to bring the Agreement on a Unified Patent Court into effect. It also allows any provisions of the Act to be aligned with any provisions in the Agreement.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88A(1)</strong></td>
    </tr>
    <tr>
      <td>The Secretary of State may by order make provision for giving effect in the United Kingdom to the provisions  of the Agreement on a Unified Patent Court made in Brussels on 19 February 2013.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88A(2)</strong></td>
    </tr>
    <tr>
      <td>In order under this section may, in particular, make provision-<br/>(a) to confer jurisdiction on a court, remove jurisdiction from a court or vary the jurisdiction of a court;<br/>(b) to require the payment of fees.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong> Section 88A(3)</strong></td>
    </tr>
    <tr>
      <td>An order under this section may also make provision for varying the application of specified provisions of this Act so that they correspond to provision made by the Agreement.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong> Section 88A(4)</strong></td>
    </tr>
    <tr>
      <td>An order under this section may-<br/>(a) make provision which applies generally or in relation only to specified cases;<br/>(b) make different provision for different cases.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88A(5)</strong></td>
    </tr>
    <tr>
      <td>An order under this section may amend this Act or any other enactment.</td>
    </tr>
  </tbody>
</table>

<h3 id="a02">88A.02</h3>

<p>Subsection (1) gives the Secretary of State a general power to amend legislation, including the Act, to allow the Unified Patent Court Agreement signed on 19 February 2013 to be brought into effect.</p>

<h3 id="a03">88A.03</h3>

<p>Subsections (2), (3), and (4) list the main areas which may be included in such an order, for example provisions relating to jurisdiction of the Unified Patent Court and for the payment of fees. There is also provision for the order to make different provisions in different cases and to align provisions in the Act with equivalent provisions in the Agreement on a Unified Patent Court. This would allow provisions in the Act relating to all types of patents to be aligned with those in the Agreement.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88A(6)</strong></td>
    </tr>
    <tr>
      <td>An order under this section may not be made unless a draft of the order has been laid before, and approved by resolution of, each House of Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="a04">88A.04</h3>

<p>Subsection (6) states that any statutory instruments made under this section must be approved by resolution of both Houses of Parliament before it can come into law (this is known as the ‘affirmative procedure’).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88A(7)</strong></td>
    </tr>
    <tr>
      <td>The meaning of “court” in this section is not limited by the definition of that expression in section 130(1).</td>
    </tr>
  </tbody>
</table>

<h3 id="a05">88A.05</h3>

<p>The Unified Patent Court is not within the definition of court given in the Act, which is in section 130(1). The effect of subsection (7) is that the definition in section 130(1) does not apply to section 88A. This means that in section 88A the word court includes the Unified Patent Court.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
