<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 291: Proceedings in patents county court [Repealed]
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (291.01 - 291.03) last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">291.01</h3>

<p>This section covered two distinct areas affecting proceedings in the patents county court: the first the nomination and duties of a judge, and secondly the appointment and remuneration of advisers or assessors to assist the Court, and the provision of reports by the Office.</p>

<h3 id="section-1">291.02</h3>

<p>Section 291 required county court rules to make appropriate provision in the above respects, and such provision was made in the Civil Procedure Rules, particularly Part 63. This section was amended by the Constitutional Reform Act 2005 to provide a role for the Lord Chief Justice of England and Wales or a judicial office holder appointed by them to nominate a judge of the patents county court.</p>

<h3 id="section-2">291.03</h3>

<p>Section 291 has been repealed by Schedule 9, paragraph 30 of the Crimes and Courts Act 2013</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
