<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 111: Unauthorised claim that patent has been applied for 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (111.01 - 111-07)  last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">111.01</h3>

<p>s. 78(2) s.89(1) is also relevant</p>

<p>This section relates to representation that a patent has been applied for in respect of an article, and the circumstances in which this constitutes an offence. It applies to claims to the existence of applications under the 1977 Act, including applications for European patents (UK) and international applications for a patent (UK).</p>

<h3 id="section-1">111.02</h3>

<p>It is similar to s.110 whereby a false claim to patent rights may be an offence.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 111(1)</strong></td>
    </tr>
    <tr>
      <td>If a person represents that a patent has been applied for in respect of any article disposed of for value by him and<br/>(a) no such application has been made, or<br/>(b)any such application has been refused or withdrawn,<br/><br/>he shall, subject to the following provisions of this section, be liable on summary conviction to a fine not exceeding level 3 on the standard scale.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">111.03</h3>

<p>Representation by a person that a patent has been applied for in respect of an article may be an offence if such an article is disposed of for value by them. In order for it to be an offence, any such application for a patent must have either been refused or withdrawn, or never been made. This is subject to the exceptions in subsections (2) and (4), <a href="#ref111-05">see 111.05</a> and <a href="#ref111-07">111.07</a>. With regard to what constitutes such representation, <a href="#ref111-06">see 111.06</a>.</p>

<p>[ Any queries relating to offences under this section should be referred to Patents Legal Section. ]</p>

<h3 id="section-3">111.04</h3>

<p>The maximum fine was converted to a level on the standard scale by the Criminal Justice Act 1982.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 111(2)</strong></td>
    </tr>
    <tr>
      <td>Subsection (1)(b) above does not apply where the representation is made (or continues to be made) before the expiry of a period which commences with the refusal or withdrawal and which is reasonably sufficient to enable the accused to take steps to ensure that the representation is not made (or does not continue to be made).</td>
    </tr>
  </tbody>
</table>

<h3 id="ref111-05">111.05</h3>

<p>There is a period of grace following the refusal or withdrawal of the relevant application during which representation that a patent has been applied for does not constitute an offence under this section. That period is of a length regarded as “reasonably sufficient” for the person in question to prevent or cease such representation.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 111(3)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (1) above a person who for value disposes of an article having stamped, engraved or impressed on it or otherwise applied to it the words “patent applied for” or “patent pending”, or anything expressing or implying that a patent has been applied for in respect of the article, shall be taken to represent that a patent has been applied for in respect of it.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref111-06">111.06</h3>

<p>Marking of an article to the effect that a patent has been applied for in respect of it, eg by use of the words “patent applied for” or “patent pending”, is taken (for the purposes of subsection(1)) to represent that a patent has been applied for in respect of it.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 111(4)</strong></td>
    </tr>
    <tr>
      <td>In any proceedings for an offence under this section it shall be a defence for the accused to prove that he used due diligence to prevent the commission of such an offence.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref111-07">111.07</h3>

<p>It is a defence for a person accused of an offence under this section to have used due diligence to prevent its commission, but the onus is on that person so to prove.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
