<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 26: Patent not to be impugned for lack of unity 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (26.01 - 26.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 26</strong></td>
    </tr>
    <tr>
      <td>No person may in any proceeding object to a patent or to an amendment of a specification of a patent on the ground that the claims contained in the specification of the patent, as they stand or, as the case may be, as proposed to be amended, relate - <br/>(a) to more than one invention, or <br/>(b)	to a group of inventions which are not so linked as to form a single inventive concept.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref26-01">26.01</h3>

<p>s.18(4), s.14(5)(d) is also relevant.</p>

<p>Before a patent is granted the examiner must have reported that the application complied with all the requirements of the Act and Rules, including the stipulation that the claims should have unity of invention. S.26 makes clear however that even if the examiner has wrongly decided that there is unity, the grant is in no way invalidated. Nor may an opponent to an application to amend under s.27 or 75 object that a proposed amendment would introduce plurality of invention. Moreover this matter may not be argued in any other proceedings, for example in an application for judicial review.</p>

<h3 id="ref26-02">26.02</h3>

<p>S.26 is not regarded as fettering the comptroller’s discretion to refuse or allow amendment under s.27 or 75. Nonetheless it is not the practice of the Office to withhold consent to an amendment solely because the amended specification would relate to more than one invention.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
