<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 99A: Power of Patents Court to order report 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (99A.01 - 99A.04) last updated last updated January 2023.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref99A-01">99A.01</h3>

<p>The CDP Act inserted sections 99A and 99B into the 1977 Act. These sections give to the Patents Court and the Court of Session, respectively, the power to order the Office to inquire into and report on any question of fact or opinion.</p>

<p>[ A request for a report will come to PDTMD Legal Section who will pass it to a Deputy Director or Group Head or Legal Adviser (as appropriate) for action. The report may be subject to close scrutiny in the court proceedings, so it is particularly important for it to be thorough and accurate. There is likely to be an early time limit for completion. The Office will charge for this service so a record of the number of hours/days taken should be kept. ]</p>

<h3 id="a02">99A.02</h3>

<p>A similar power is given to the Patents County Court by section 291 of the CDP Act (see 291.05).</p>

<h3 id="a03">99A.03</h3>

<p>The Patents Court is empowered to make such an order (<a href="#ref99A-01">see 99A.01</a>) of its own motion or on the application of any party to the relevant proceedings. Rules of court are necessary for this purpose; s.99A(1) requires those rules to make such provision. No such rules have yet been made.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99A(1)</strong></td>
    </tr>
    <tr>
      <td>Rules of court shall make provision empowering the Patents Court in any proceedings before it under this Act, on or without the application of any party, to order the Patent Office to inquire into and report on any question of fact or opinion.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99A(2)</strong></td>
    </tr>
    <tr>
      <td>Where the court makes such an order on the application of a party, the fee payable to the Patent Office shall be at such rate as may be determined in accordance with rules of court and shall be costs of the proceedings unless otherwise ordered by the court.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99A(3)</strong></td>
    </tr>
    <tr>
      <td>Where the court makes such an order of its own motion, the fee payable to the Patent Office shall be at such rate as may be determined by the Lord Chancellor with the approval of the Treasury and shall be paid out of money provided by Parliament.</td>
    </tr>
  </tbody>
</table>

<h3 id="a04">99A.04</h3>

<p>Subsections (2) and (3) provide for the payment of fees to the Office where the Patents Court makes such an order. These subsections cover the rate of payment and who is required to provide the money, depending on whether or not the order is made on the application of a party.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
