<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 88B: Designation as international organisation of which UK is member 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (88B.01 - 88B.03) last updated: April 2015.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="b01">88B.01</h3>

<p>Section 88B was introduced by the Intellectual Property Act 2014 and came into force on 1 October 2014.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 88B</strong></td>
    </tr>
    <tr>
      <td>The Unified Patent Court is to be treated for the purposes of section 1 of the International Organisations Act 1968 (organisations of which the United Kingdom is a member) as an organisation to which that section applies.</td>
    </tr>
  </tbody>
</table>

<h3 id="b02">88B.02</h3>

<p>This provides for the Unified Patent Court to be treated as an organisation to which section 1 of the International Organisations Act 1968 applies.</p>

<h3 id="b03">88B.03</h3>

<p>This will allow an Order in Council to be made granting privileges and immunities to Unified Patent Court and its staff, in accordance with the usual arrangements for international organisations located in the UK.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
