<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 103: Extension of privilege for communications with solicitors relating to patent proceedings 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (103.1 - 103.3) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">103.1</h3>

<p>This section declares  that the privilege from disclosure enjoyed by the clients of solicitors extends to communications with solicitors for the purpose of pending or contemplated proceedings under the 1977 Act, EPC or PCT. This applies to proceedings before the comptroller or, for the EPC and PCT only, before the relevant convention court (as defined in s.130(1)).</p>

<h3 id="section-1">103.2</h3>

<p>Section 280 of the CDP Act makes similar provision in respect of communications with patent agents. Section 103 does not extend to Scotland where section 105 (and section 280(4) of the CDP Act) apply instead.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td>Section 103(1)</td>
    </tr>
    <tr>
      <td>It is hereby declared that the rule of law which confers privilege from disclosure in legal proceedings in respect of communications made with a solicitor or a person acting on his behalf, or in relation to information obtained or supplied for submission to a solicitor or a person acting on his behalf, for the purpose of any pending or contemplated proceedings before a court in the United Kingdom extends to such communications so made for the purpose of any pending or contemplated -<br/>(a) proceedings before the comptroller under this Act or any of the relevant conventions, or <br/>(b) proceedings before the relevant convention court under any of those conventions.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td>Section 103(2)</td>
    </tr>
    <tr>
      <td>In this section -<br/>“legal proceedings” includes proceedings before the comptroller;<br/>the references to legal proceedings and pending or contemplated proceedings include references to applications for a patent or a European patent and to international applications for a patent; and <br/>“the relevant conventions” means the European Patent Convention and the Patent Co-operation Treaty.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td>Section 103(3)</td>
    </tr>
    <tr>
      <td>This section shall not extend to Scotland.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">103.3</h3>

<p>The reference to a solicitor etc includes references to bodies recognised under the Administration of Justice Act 1985, s.9, by the Solicitors’ Incorporated Practices Order 1991, SI 1991 No 2684.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
