<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 90: Orders in Council as to convention countries 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (90.01 - 90.04) last updated: April 2015.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 90(1)</strong></td>
    </tr>
    <tr>
      <td>His Majesty may with a view to the fulfilment of a treaty or international convention, arrangement or  engagement, by Order in Council declare that any country specified in the Order is a convention country for the purposes of section 5 above.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 90(2)</strong></td>
    </tr>
    <tr>
      <td>His Majesty may by Order in Council direct that any of the Channel Islands, any colony shall be taken to be a convention country for those purposes.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 90(3)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (1) above every colony, protectorate, and territory subject to the authority or under the suzerainty of another country, and every territory administered by another country under the trusteeship system of the United Nations shall be taken to be a country in the case of which a declaration may be made under that subsection.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">90.01</h3>

<p>Any country may be declared a convention country by Order in Council, with the effect that priority may be claimed from an application made in or for that country (<a href="/guidance/manual-of-patent-practice-mopp/section-5-priority-date/#ref5-30">see 5.30</a>). The making of a new Order is advertised in the Journal.</p>

<h3 id="ref90-02">90.02</h3>

<p>The following is a list of the countries which have been declared to be a convention country under the Patents (Convention Countries) Order 2007 (SI 2007 No. 276), which revoked the Patents (Convention Countries) Order 2006, and the Patents (Convention Countries) (Amendment) Order 2009 (SI 2009 No. 2746).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>Albania</td>
      <td>Bahamas</td>
      <td>Bosnia and Herzegovina</td>
      <td>Cape Verde</td>
    </tr>
    <tr>
      <td>Algeria</td>
      <td>Bahrain</td>
      <td>Botswana</td>
      <td>Central African Republic</td>
    </tr>
    <tr>
      <td>Andorra</td>
      <td>Bangladesh</td>
      <td>Brazil</td>
      <td>Chad</td>
    </tr>
    <tr>
      <td>Angola</td>
      <td>Barbados</td>
      <td>Brunei Darussalam</td>
      <td>Chile</td>
    </tr>
    <tr>
      <td>Antigua <br/>and Barbuda</td>
      <td>Belarus</td>
      <td>Bulgaria</td>
      <td>China</td>
    </tr>
    <tr>
      <td>Argentina</td>
      <td>Belgium</td>
      <td>Burkina Faso</td>
      <td>Colombia</td>
    </tr>
    <tr>
      <td>Armenia</td>
      <td>Belize</td>
      <td>Burundi</td>
      <td>Comoros</td>
    </tr>
    <tr>
      <td>Australia</td>
      <td>Benin</td>
      <td>Cambodia</td>
      <td>Congo</td>
    </tr>
    <tr>
      <td>Austria</td>
      <td>Bhutan</td>
      <td>Cameroon</td>
      <td>Congo</td>
    </tr>
    <tr>
      <td>Azerbaijan</td>
      <td>Bolivia</td>
      <td>Canada</td>
      <td>Congo, Democratic Republic of the</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>Guinea</td>
      <td>Lebanon</td>
      <td>Netherlands</td>
    </tr>
    <tr>
      <td>Côte d’Ivoire</td>
      <td>Guinea - Bissau</td>
      <td>Lesotho</td>
      <td>Netherlands Antilles <br/> and Aruba</td>
    </tr>
    <tr>
      <td>Croatia</td>
      <td>Guyana</td>
      <td>Liberia</td>
      <td>New Zealand, including the Cook Islands, <br/>Niue and <br/>Tokelau</td>
    </tr>
    <tr>
      <td>Cuba</td>
      <td>Haiti</td>
      <td>Libyan Arab<br/>Jamahiriya</td>
      <td>Nicaragua</td>
    </tr>
    <tr>
      <td>Cyprus</td>
      <td>Holy See</td>
      <td>Liechtenstein</td>
      <td>Niger</td>
    </tr>
    <tr>
      <td>Czech <br/>Republic</td>
      <td>Honduras</td>
      <td>Lithuania</td>
      <td>Nigeria</td>
    </tr>
    <tr>
      <td>Denmark</td>
      <td>Hong Kong</td>
      <td>Luxembourg</td>
      <td>Norway</td>
    </tr>
    <tr>
      <td>Djibouti</td>
      <td>Hungary</td>
      <td>Macao</td>
      <td>Oman</td>
    </tr>
    <tr>
      <td>Dominica</td>
      <td>Iceland</td>
      <td>Macedonia,<br/>Former Yugoslav<br/>Republic of</td>
      <td>Pakistan</td>
    </tr>
    <tr>
      <td>Dominican <br/> Republic</td>
      <td>India</td>
      <td>Madagascar</td>
      <td>Papua New Guinea</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>Indonesia</td>
      <td>Malawi</td>
      <td>Paraguay</td>
    </tr>
    <tr>
      <td>Egypt</td>
      <td>Iran, Islamic Republic of</td>
      <td>Malaysia</td>
      <td>Peru</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>Iraq</td>
      <td>Maldives</td>
      <td>Philippines</td>
    </tr>
    <tr>
      <td>Equatorial Guinea</td>
      <td>Ireland</td>
      <td>Mali</td>
      <td>Poland</td>
    </tr>
    <tr>
      <td>Estonia</td>
      <td>Israel</td>
      <td>Malta</td>
      <td>Portugal</td>
    </tr>
    <tr>
      <td>Faeroe Islands</td>
      <td>Italy</td>
      <td>Mauritania</td>
      <td>Romania</td>
    </tr>
    <tr>
      <td>Fiji</td>
      <td>Jamaica</td>
      <td>Mauritius</td>
      <td>Russian Federation</td>
    </tr>
    <tr>
      <td>Finland</td>
      <td>Japan</td>
      <td>Mexico</td>
      <td>Rwanda</td>
    </tr>
    <tr>
      <td>France, <br/> including <br/>all Overseas Departments <br/> and Territories</td>
      <td>Jordan</td>
      <td>Moldova, Republic of</td>
      <td>Qatar</td>
    </tr>
    <tr>
      <td>Gabon</td>
      <td>Kazakhstan</td>
      <td>Monaco</td>
      <td>Saint Kitts and Nevis</td>
    </tr>
    <tr>
      <td>Gambia</td>
      <td>Kenya</td>
      <td>Mongolia</td>
      <td>Saint Lucia</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>Korea, <br/>Democratic<br/>People’s Republic<br/>of</td>
      <td>Montenegro</td>
      <td>Saint Vincent <br/> and the Grenadines</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>Korea, Republic of</td>
      <td>Morocco</td>
      <td>Samoa</td>
    </tr>
    <tr>
      <td>Ghana</td>
      <td>Kuwait</td>
      <td>Mozambique</td>
      <td>San Marino</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>Kyrgyzstan</td>
      <td>Myanmar</td>
      <td>Sao Tome and Principe</td>
    </tr>
    <tr>
      <td>Grenada</td>
      <td>Lao People’s<br/>Democratic<br/>Republic</td>
      <td>Namibia</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td>Guatemala</td>
      <td>Latvia</td>
      <td>Nepal</td>
      <td>Sri Lanka</td>
    </tr>
    <tr>
      <td>Saudi Arabia</td>
      <td>Sudan</td>
      <td>Tonga</td>
      <td>Uruguay</td>
    </tr>
    <tr>
      <td>Senegal</td>
      <td>Suriname</td>
      <td>Togo</td>
      <td>Uzbekistan</td>
    </tr>
    <tr>
      <td>Serbia</td>
      <td>Swaziland</td>
      <td>Trinidad and Tobago</td>
      <td>Venezuela</td>
    </tr>
    <tr>
      <td>Seychelles</td>
      <td>Sweden</td>
      <td>Tunisia</td>
      <td>Vanuatu</td>
    </tr>
    <tr>
      <td>Sierra Leone</td>
      <td>Switerland</td>
      <td>Turkey</td>
      <td>Vietnam</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>Syrian Arab<br/>Republic</td>
      <td>Turkmenistan</td>
      <td>Yemen</td>
    </tr>
    <tr>
      <td>Slovakia</td>
      <td>Taiwan</td>
      <td>Uganda</td>
      <td>Zambia</td>
    </tr>
    <tr>
      <td>Slovenia</td>
      <td>Tajikistan</td>
      <td>Ukraine</td>
      <td>Zimbabwe</td>
    </tr>
    <tr>
      <td>Solomon Islands</td>
      <td>Tanzania, <br/>United<br/> Republic of</td>
      <td>United Arab Emirates</td>
      <td> </td>
    </tr>
    <tr>
      <td>South Africa</td>
      <td>Thailand</td>
      <td>United States of America<br/> (including Puerto Rico<br/> and all territories and possessions)</td>
      <td> </td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">90.03</h3>

<p>The United Kingdom is not a convention country within the meaning of the Patents Act.</p>

<h3 id="section-2">90.04</h3>

<p>In s.90(2), “any colony” was originally followed by the words “or any British protectorate or protected state” which have been deleted by the Statute Law (Repeals) Act 1986 (c.12).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
