<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 108: Licences granted by order of comptroller
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (108.01 - 108.03) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 108</strong></td>
    </tr>
    <tr>
      <td>Any order for the grant of a licence under section 11, 38, 48 or 49 above shall, without prejudice to any other method of enforcement, have effect as if it were a deed, executed by the proprietor of the patent and all other necessary parties, granting a licence in accordance with the order.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">108.01</h3>

<p>The grant of a licence may be ordered by the comptroller (or by the court on appeal) under s.11 or 38 (order in favour of original applicant, patentee or licensee who worked the invention prior to a reference under s.8 or 37 resulting in substitution of new applicant or patentee) or s.48 or 49 (order for compulsory licence because invention not being adequately worked or activities being unfairly prejudiced by actions of patentee).</p>

<h3 id="section-1">108.02</h3>

<p>Section 108 ensures that such an order under one of those sections will be effective even if the parties affected take no action in response to it. The order has effect as if it were a deed, executed by the patentee and all other necessary parties, granting a licence in accordance with the order.</p>

<h3 id="section-2">108.03</h3>

<p>This section applies to 1977 Act patents including European patents (UK).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
