<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 65: Certificate of contested validity of patent 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (65.04-65.06) last updated July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">65.01</h3>

<p>Both the court and the comptroller are empowered by this section to grant a certificate of contested validity. A party successfully relying on such a certificate in subsequent infringement or revocation proceedings is, unless the court or comptroller otherwise directs, entitled to their costs (expenses in Scotland) as detailed in s.65(2).</p>

<h3 id="section-1">65.02</h3>

<p>For the applicability of s.65 in relation to European patents, <a href="/guidance/manual-of-patent-practice-mopp/section-60-meaning-of-infringement/#ref60-02">see 60.02</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 65(1)</strong></td>
    </tr>
    <tr>
      <td>If in any proceedings before the court or the comptroller the validity of a patent to any extent is contested and that patent is found by the court or the comptroller to be wholly or partially valid, the court or the comptroller may certify the finding and the fact that the validity of the patent was so contested.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">65.03</h3>

<p>The conditions in which a certificate may be issued are thus that the validity of the patent in question is contested, at least in part, and it is found to be valid, at least in part. This must occur in proceedings before the court or the comptroller each of which then has discretion to issue such a certificate certifying that validity was so contested and the resultant finding. Validity may be put in issue in any of the proceedings listed in s.74(1), <a href="/guidance/manual-of-patent-practice-mopp/section-74-proceedings-in-which-validity-of-patent-may-be-put-in-issue/#ref74-03">see 74.03</a>.</p>

<h3 id="section-3">65.04</h3>

<p>[deleted]</p>

<h3 id="ref65-05">65.05</h3>

<p>In Brupat Ltd v Smith [1985] FSR 156, the proprietors of a patent sought a certificate of contested validity in respect of two claims, the validity of both of which had been unsuccessfully challenged. Even though the other party had conceded the validity of one of those claims during the course of the hearing, the court held that since issue had been fully joined on the matter of that claim, the certificate should cover both claims.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 65(2)</strong></td>
    </tr>
    <tr>
      <td>Where a certificate is granted under this section, then, if in any subsequent proceedings before the court or the comptroller for infringement of the patent concerned or for revocation of the patent a final order or judgment or interlocutor is made or given in favour of the party relying on the validity of the patent as found in the earlier proceedings, that party shall, unless the court or the comptroller otherwise directs, be entitled to his costs or expenses as between solicitor and own client (other than the costs or expenses of any appeal in the subsequent proceedings).</td>
    </tr>
  </tbody>
</table>

<h3 id="ref65-06">65.06</h3>

<p>In SmithKline Beecham Plc v Apotex Europe Ltd (No.2) [2005] FSR 24, the Court of Appeal held that the reference to “costs as between solicitor and own client” should be taken to mean “costs on an indemnity basis” within the meaning of r.44.4 of the Civil Procedure Rules. Where the patentee is issued with a certificate of validity from earlier proceedings, and the patentee is again victorious in a subsequent action on the validity of the patent, they can have their costs of the victory on an indemnity basis, but only at first instance. Jacob LJ held that the words “(other than the costs or expenses of any appeal in the subsequent proceedings)” had the effect that the provision did not apply to appeals because “subsequent proceedings” could not mean anything other than the second proceedings vexing the patentee.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
