<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 38: Effect of transfer of patent under s.37 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (38.01 - 38.10) last updated: April 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">38.01</h3>

<p>Orders that a patent (ie a patent granted under the Act or a granted European patent (UK)) should be transferred from its existing proprietor(s) to specified proprietor(s) may be made under s.37. The effects of such orders on licences or other rights granted or created by the existing proprietor(s) are laid down by s.38. This section also gives certain rights to existing proprietor(s) or licensee(s) who worked the invention, or prepared to do so, before the registration of a reference under s.37, see <a href="#ref38-05">38.05 to 38.07</a>.</p>

<h3 id="section-1">38.02</h3>

<p>The provisions of s.38 in relation to a patent correspond to those of s.11 in relation to an application for a patent.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 38(1)</strong></td>
    </tr>
    <tr>
      <td>Where an order is made under section 37 above that a patent shall be transferred from any person or persons (the old proprietor or proprietors) to one or more persons (whether or not including an old proprietor), then, except in a case falling within subsection (2) below, any licences or other rights granted or created by the old proprietor or proprietors shall, subject to section 33 above and to the provisions of the order, continue in force and be treated as granted by the person or persons to whom the patent is ordered to be transferred (the new proprietor or proprietors).</td>
    </tr>
  </tbody>
</table>

<h3 id="where-an-existing-proprietor-is-retained">Where an existing proprietor is retained</h3>

<h3 id="section-2">38.03</h3>

<p>This subsection applies where the effect of an order under s.37 is that the proprietor(s) to whom the patent is transferred include one or more of the existing proprietor(s). Licences or other rights continue in force as if granted by the new proprietor(s), unless the order provides otherwise and subject to s.33 (which concerns the
effects of transactions, instruments or events, and registration thereof, on rights in patents).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 38(2)</strong></td>
    </tr>
    <tr>
      <td>Where an order is so made that a patent shall be transferred from the old proprietor or proprietors to one or more persons none of whom was an old proprietor (on the ground that the patent was granted to a person not entitled to be granted the patent), any licences or other rights in or under the patent shall, subject to the provisions of the order and subsection (3) below, lapse on the registration of that person or those persons as the new proprietor or proprietors of the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="where-no-existing-proprietor-is-retained">Where no existing proprietor is retained</h3>

<h3 id="section-3">38.04</h3>

<p>Subsection (2) applies instead of subsection (1) where the effect of an order under s.37 is that the proprietor(s) to whom the patent is transferred include none of the existing proprietor(s). Licences or other rights lapse on registration of the new proprietor(s), unless the order provides otherwise (but<a href="#ref38-05"> see 38.05</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 38(3)</strong></td>
    </tr>
    <tr>
      <td>Where an order is so made that a patent shall be transferred as mentioned in subsection (2) above or that a person other than an old proprietor may make a new application for a patent and before the reference of the question under that section resulting in the making of any such order is registered, the old proprietor or proprietors or a licensee of the patent, acting in good faith, worked the invention in question in the United Kingdom or made effective and serious preparations to do so, the old proprietor or proprietors or the licensee shall, on making a request to the new proprietor or proprietors or, as the case may be, the new applicant within the prescribed period, be entitled to be granted a licence (but not an  exclusive licence) to continue working or, as the case may be, to work the invention, so far as it is the subject of the new application.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref38-05">38.05</h3>

<p>Subsection (3) concerns the situation where an order is made under s.37 transferring the patent to new proprietor(s) none of whom was an existing proprietor or allowing a person other than an existing proprietor to make a new application (<a href="/guidance/manual-of-patent-practice-mopp/section-37-determination-of-right-to-patent-after-grant/#ref37-15">see 37.15 to 37.18</a>). The Office notifies all existing proprietors and their licensees of whom it is aware of the making of the order. In that situation, an existing proprietor or licensee who before
registration of the relevant s.37 reference (<a href="/guidance/manual-of-patent-practice-mopp/section-37-determination-of-right-to-patent-after-grant/#ref37-08">see 37.08</a>) acting in good faith worked the invention in the UK or made effective and serious preparations to do so, is entitled to a nonexclusive licence to work or continue working the invention. (For the meanings of “exclusive licence” and “non-exclusive licence”, see s.130(1).)</p>

<h3 id="section-4">38.06</h3>

<p>r.90(2) r.108(1) is also relevant.</p>

<p>In order to obtain such a licence, a request for its grant should be made, in the case of an existing proprietor, within two months of the date of the order mentioned in s.38(2). This period is extensible at the discretion of the comptroller.</p>

<h3 id="ref38-07">38.07</h3>

<p>The period and terms of the licence to be granted should comply with s.38(4), ie, be “reasonable”. Any dispute regarding such period or terms or whether the person requesting the licence is entitled to one may be referred to the comptroller under s.38(5) by either party, <a href="#ref38-08">see 38.08 to 38.10</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 38(4)</strong></td>
    </tr>
    <tr>
      <td>Any such licence shall be granted for a reasonable period and on reasonable terms.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 38(5)</strong></td>
    </tr>
    <tr>
      <td>The new proprietor or proprietors of the patent or, as the case may be, the new applicant or any person claiming that he is entitled to be granted any such licence may refer to the comptroller the question whether that person is so entitled and whether any such period is or terms are reasonable, and the comptroller shall determine the question and may, if he considers it appropriate, order the grant of such a licence.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref38-08">38.08</h3>

<p>PR part 7	is also relevant.</p>

<p>The dispute (<a href="#ref38-07">see 38.07</a>) should be referred by filing Patents Form 2 accompanied by a copy thereof and a statement of grounds in duplicate. This starts proceedings before the comptroller, the procedure for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>. In accordance with r.76(4)(c) the statement should set out the period or the terms of the licence which the claimant is prepared to accept or grant.</p>

<h3 id="section-5">38.09</h3>

<p>r.77 is also relevant.</p>

<p>The Office sends a copy of the reference and statement to the new proprietor(s) or, as the case may be, the new applicant, and each person claiming to be entitled to a licence, other than the referrer. If any recipient does not agree to grant or accept a licence as specified they should file a counter-statement in the proceedings.</p>

<h3 id="section-6">38.10</h3>

<p>s.108 is also relevant.</p>

<p>When the comptroller determines the question to which the s.38(5) reference relates they may, if appropriate, order the grant of such a licence (<a href="#ref38-05">see 38.05</a>). Without prejudice to any other method of enforcement, such an order has effect as if it were a deed, executed by the proprietor of the patent and all other necessary parties, granting a licence in accordance with the order.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
