<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 81: Conversion of European patent applications 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (81.01 - 81.19) last updated October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">81.01</h3>

<p>a.135 EPC is also relevant.</p>

<p>This section provides for the conversion of applications for European patents (UK) into applications under the Patents Act 1977, at the discretion of the comptroller in response to a request by the applicant and includes the circumstances in which conversion may be allowed and the effects of conversion.</p>

<p>[ For applications resulting from EPC s.81 conversions the order of documents on a file is similar to that for PCT s.89 conversions (<a href="/guidance/manual-of-patent-practice-mopp/section-89-effect-of-international-application-for-patent/#ref89-01">see 89.01</a>). ]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(1)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may direct that on compliance with the relevant conditions mentioned in subsection (2) below an application for a European patent (UK) shall be treated as an application for a patent under this Act where the application is deemed to be withdrawn under the provisions of the European Patent Convention relating to the time for forwarding applications to the European Patent Office.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(2)</strong></td>
    </tr>
    <tr>
      <td>The relevant conditions referred to above are<br/><br/>[(a) repealed]<br/><br/>(b) that -<br/><br/>(i) the applicant requests the comptroller within the relevant prescribed period (where the application was filed with the Patent Office) to give a direction under this section, or<br/><br/>(ii) the central industrial property office of a country which is party to the convention, other than the United Kingdom, with which the application was filed transmits within the relevant prescribed period a request that the application should be converted into an application under this Act, together with a copy of the application; and<br/><br/>(c) that the applicant within the relevant prescribed period pays the application fee and if the application is in a language other than English, files a translation into English of the application and of any amendments previously made in accordance with the convention.</td>
    </tr>
  </tbody>
</table>

<h3 id="circumstances-for-convention">Circumstances for convention</h3>

<h3 id="section-1">81.02</h3>

<p>Deleted</p>

<h3 id="failure-to-transmit-application-to-epo">Failure to transmit application to EPO</h3>

<h3 id="ref81-03">81.03</h3>

<p>a.77(3) is also relevant</p>

<p>Sections 81(1) and 81(2)(b) provide for the situation where a European EPC patent application is deemed to be withdrawn because it has not been received by the EPO within a period of fourteen months from its date of filing or, if priority is claimed, the declared priority date. The filing of the application may have been made at the UK Patent Office, see <a href="#ref81-05">81.05</a>, or at the central industrial property office of another country which is party to the EPC, see <a href="#ref81-06">81.06</a>.</p>

<h3 id="section-2">81.04</h3>

<p>a.77(4) EPC S.22(3) are also relevant</p>

<p>Failure to transmit a European application to the EPO arises as a result of a EPC decision at a national office to make the subject of the application secret, eg prohibition s.22(3)(b) directions under s.22 in the case of the UK. It could also arise accidentally.</p>

<h3 id="ref81-05">81.05</h3>

<p>r.58(1) r.58(3) PR Sch 4, Part 1 r.58(4) PR Sch 4, Parts 2 &amp; 3 are also relevant</p>

<p>Where the application was filed with the UK Patent Office, a request for r.58(3) conversion should be made in writing by the applicant with the prescribed fee (if any), within PR Sch 4, three months (which cannot be extended) from the date on which the applicant is notified by Part 1 the EPO that their application for a European patent (UK) has been deemed to be withdrawn. r.58(4) This notification should accompany the request. Within two months of the date of filing of PR Sch 4, that request, the applicant should file the application fee, an English language translation of Parts 2 &amp; 3 the application, where necessary, Patents Form 9A with fee requesting search, and Patents Form 7 if appropriate (<a href="#ref81-11">see 81.11</a>). This period may be extended in periods of two months only in accordance with r.108(2) or (3) and (4) to (7) (<a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-34">see 123.34-41</a>). According to r.108(7), no extension may be granted more than two months after the expiry of the period as prescribed (or previously extended). If the application fee is paid at the time of requesting conversion, no surcharge will be payable. However if the application fee is paid at a later date, a surcharge will be due.</p>

<h3 id="section-3">81.05.1</h3>

<p>r.58(2) is also relevant</p>

<p>At the same time as making a request for conversion referred to in <a href="#ref81-05">81.05</a>, the applicant may also request that a copy of the European patent application, together with a copy of the request, be sent by the comptroller in accordance with the relevant provisions of the EPC to the central industrial property office of any specified Contracting State designated in the application.</p>

<h3 id="ref81-06">81.06</h3>

<p>r.59 pr Sch 4 are also relevant</p>

<p>Where the application was filed with another national office, a request for PR Sch 4 conversion should be filed by the applicant at that office for transmission, together with a copy of the application, to the UK Patent Office within twenty months (which cannot be extended) from the declared priority date or, if no priority was claimed, the filing date of the application for a European patent (UK). The Office sends a notification of receipt of the request to the applicant who should, within four months of the date of the notification, file the application fee, an English language translation of the application, where necessary, Patents Form 9A with fee requesting search and Patents Form 7 if appropriate see <a href="#ref81-11">81.11</a>. The four month period may be extended in periods of two months only in accordance with r.108(2) or (3) and (4) to (7) (<a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-34">see 123.34-41</a>). According to r.108(7), no extension may be granted more than two months after the expiry of the period as prescribed (or previously extended). If the application fee is paid at the time of requesting conversion, no surcharge will be payable. However if the application fee is paid at a later date, a surcharge will be due.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(3)(a)</strong></td>
    </tr>
    <tr>
      <td>Where an application for a European patent falls to be treated as an application for a patent under this Act by virtue of a direction under this section <br/><br/> ( a) the date which is the date of filing the application under the European Patent Convention shall be treated as its date of filing for the purposes of this Act, but if that date is re-dated under the convention to a later date, that later date shall be treated for those purposes as the date of filing the  application;</td>
    </tr>
  </tbody>
</table>

<h3 id="effects-of-conversion">Effects of conversion</h3>

<h3 id="ref81-07">81.07</h3>

<p>Where conversion is allowed, the application for a European patent (UK) is treated as an application under the Act. The filing date of the application under EPC Article 80 and EPC rule 40 is treated as its filing date under the Act, unless it is re-dated under the EPC to a later date in which case that later date is so treated.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(3)(b)</strong></td>
    </tr>
    <tr>
      <td>if the application satisfies a requirement of the convention corresponding to any of the requirements of this Act or rules designated as formal requirements, it shall be treated as satisfying that formal requirement;</td>
    </tr>
  </tbody>
</table>

<h3 id="ref81-08">81.08</h3>

<p>r.25 and r.103 are also relevant</p>

<p>Those requirements of Patents Rules 12(1) and 14(1), (2) and (3) which are designated as formal requirements (<a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-04">see 15A.04</a>) are treated as having been complied with provided that the corresponding provisions of the EPC Implementing Regulations have been fulfilled (<a href="/guidance/manual-of-patent-practice-mopp/section-15a-preliminary-examination/#ref15A-10">see 15A.10</a>). However, amendments filed after conversion are subject to the Patents Rules in the normal way. An address for service within the United Kingdom (including the Isle of Man), Gibraltar or the Channel Islands is also required in the same way as for any other application under the Act (<a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-04-13">see 14.04.13</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(3)(c)</strong></td>
    </tr>
    <tr>
      <td>Any document filed with the European Patent Office under any provision of the convention corresponding to any of the following provisions of this Act, that is to say, sections 2(4)(c), 5, 13(2) and 14, or any rule made for the purposes of any of those provisions shall be treated as filed with the Patent Office under that provision or rule; and</td>
    </tr>
  </tbody>
</table>

<h3 id="section-4">81.09</h3>

<p>Where the invention to which the application relates was disclosed at an international exhibition within the six months preceding the filing of the European patent application, the statement and certificate filed under EPC Article 55 and EPC rule 25 are treated as filed under s.2(4)(c) and r.5, <a href="/guidance/manual-of-patent-practice-mopp/section-2-novelty/#ref2-40">see 2.40</a>.</p>

<h3 id="section-5">81.10</h3>

<p>r.3 and r.8 are also relevant</p>

<p>The date of filing of the earliest previous application mentioned in the declaration of priority filed by the applicant in respect of the application for a European patent (UK) under EPC Article 88(1) and EPC rule 53 (where the priority date claimed in the declaration has not been lost or abandoned and where the declaration has not been withdrawn before conversion is allowed) is treated as the declared priority date of the converted application. The declaration of priority and the file number and certified copy of the or each previous application mentioned therein, filed under EPC Article 88(1) and EPC rules 52 and 53, are treated as filed under s.5 and r.8(1) and (2).</p>

<h3 id="ref81-11">81.11</h3>

<p>rr. 58(4) and 59 (3) are also relevant</p>

<p>A statement of inventorship filed under EPC Article 81 and EPC rule 19 is treated as filed under s.13(2), <a href="/guidance/manual-of-patent-practice-mopp/section-13-mention-of-inventor/#ref13-12">see 13.12</a>. (Otherwise, Form 7 should be filed within the same period as that specified for filing Form 9A in <a href="#ref81-05">81.05</a> or <a href="#ref81-06">81.06</a> as appropriate.)</p>

<h3 id="section-6">81.12</h3>

<p>The description of the invention, the claim(s), any drawings and the abstract filed under EPC Article 78 are treated as filed under s.14.</p>

<h3 id="ref81-13">81.13</h3>

<p>PR sch 1, para 3(4) are also relevant</p>

<p>If the invention involves the use of or concerns biological material, information regarding the biological material and its deposit in a culture collection filed under EPC Article 83 and EPC rules 31-33 is treated as filed under the Act. The relevant disclosure is regarded as clear enough and complete enough if EPC rule 31 has been complied with, <a href="/guidance/manual-of-patent-practice-mopp/section-125a-disclosure-of-invention-by-specification-availability-of-samples-of-biological-material/#ref125A-07">see 125A.07</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 81(3)(d)</strong></td>
    </tr>
    <tr>
      <td>the comptroller shall refer the application for only so much of the examination and search required by sections 15A, 17 and 18 above as he considers appropriate in view of any examination and search carried out under the convention, and those sections shall apply with any necessary modifications accordingly.</td>
    </tr>
  </tbody>
</table>

<h3 id="examination-and-search">Examination and search</h3>

<h3 id="section-7">81.14</h3>

<p>Search should be requested by the filing of Patents Form 9A as mentioned in <a href="#ref81-05">81.05</a> and <a href="#ref81-06">81.06</a>.</p>

<h3 id="section-8">81.15</h3>

<p>Preliminary examination under s.15A is modified in that many requirements are regarded as met if those of corresponding EPC provisions have been fulfilled, see <a href="#ref81-07">81.07</a> to <a href="#ref81-13">81.13</a>.</p>

<h3 id="section-9">81.16</h3>

<p>r.31(3) &amp; (5) are also relevant</p>

<p>No search will have been carried out under the EPC. A search under s.17 is (5) therefore conducted in the normal way on the basis of the documents filed under the EPC and treated as filed under the Act but incorporating with the comptroller’s consent any amendments filed since conversion.</p>

<h3 id="ref81-17">81.17</h3>

<p>r.60  PR Sch 4, Parts 2 &amp; 3 r.28(1) are also relevant</p>

<p>A request for substantive examination of the converted application should PR Sch 4, be made on Patents Form 10 with fee, within two years (extensible under r.108 (2) or (3) and Parts 2 &amp; 3 (4) to (7), however r.108(7) states that no extension may be granted after two months r.28(1) following the expiry of the period as prescribed or previously extended - <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-36-10">see 123.36.10-12</a>) from the declared priority date, if any, or the date of filing of the application for a European patent (UK). Substantive examination under s.18 follows in due course.</p>

<h3 id="section-10">81.18</h3>

<p>[deleted]</p>

<h3 id="ref81-19">81.19</h3>

<p>r.30 PR Sch 4A, Parts 2 &amp; 3 are also relevant</p>

<p>The periods prescribed (including permissible extensions thereto) for the PR Sch 4A, purposes of ss.18(4) and 20(1) as set out in <a href="/guidance/manual-of-patent-practice-mopp/section-20-failure-of-application/#ref20-02">20.02</a> also apply to a converted application Parts 2 &amp; 3 except that any reference to the date of filing is taken to refer to the date of filing of the application for the European patent (UK). These periods may be extended in tranches of two months in accordance with r.108(2) or (3) and (4) to (7) (<a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-34">see 123.34-41</a>). According to r.108(7), no extension may be granted more than two months after the expiry of the period as prescribed (or previously extended).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
