<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 60: Meaning of infringement 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (60.01 - 60.33) last updated: January 2024.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">


          <div id="default-id-7e57bb2d" data-module="govuk-accordion gem-accordion ga4-event-tracker" data-ga4-expandable="" data-anchor-navigation="true" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all sections" data-hide-all-text="Hide all sections" data-this-section-visually-hidden=" this section" class="gem-c-accordion govuk-accordion govuk-!-margin-bottom-6">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="introduction" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Introduction&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-1">Introduction</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-1" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-1" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Introduction&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">60.01</h3>
<p>s.67 is also relevant.</p>
<p>This section is the first of a group (ss.60 to 71) relating to infringement. Section 60 governs what constitutes infringement of a patent for an invention under the Act while the patent is in force. Its provisions also apply, to the extent defined by section 69, in relation to a patent application under the Act which has been published but not granted. References to the proprietor of a patent are therefore to be construed as including references to the applicant. References to the proprietor are also to be construed as including references to an exclusive licensee and, in the case of two or more joint proprietors, are to be construed as set out in section 66.</p>
<h3 id="ref60-02">60.02</h3>
<p>s.77(1), s.78(2) is also relevant.</p>
<p>Sections 60 to 70F also apply in relation to European patents (UK) and sections 60 to 69 also apply in relation to applications for European patents (UK).</p>
<h3 id="section-1">60.03</h3>
<p>s.80(1), s.80(2) is also relevant.</p>
<p>In proceedings before the comptroller or the court the authentic text of a European patent is the text of the patent in the language used to prosecute the patent before the EPO, unless section 80(2) applies (<a href="/guidance/manual-of-patent-practice-mopp/section-80-authentic-text-of-european-patents-and-patent-applications/#ref80-02">see 80.02</a>). The translated claims of a European patent published in French or German which are filed under Article 14(6) are for information only. <a href="/guidance/manual-of-patent-practice-mopp/section-80-authentic-text-of-european-patents-and-patent-applications/#ref80-01">See 80.01-80.02</a> for more detail.</p>
<h3 id="ref60-04">60.04</h3>
<p>s.130(7) is also relevant.</p>
<p>Section 60 is so framed as to have, as nearly as practicable, the same effect in the UK as the corresponding provisions of the EPC, CPC and PCT. Articles 29 to 31 of the CPC (renumbered in December 1989 as Articles 25 to 27 [1989]) and Article 64 of the EPC are in question and are commented on below, see <a href="#ref60-11">60.11 to 60.14</a>, <a href="#ref60-16">60.16</a>, <a href="#ref60-17">60.17</a>, <a href="#ref60-20">60.20</a>, <a href="#ref60-21">60.21</a>, <a href="#ref60-23">60.23</a>, <a href="#ref60-24">60.24</a> and <a href="#ref60-30">60.30</a>.</p>
<h3 id="section-2">60.05</h3>
<p>Prior to the Patents Act 1977, the meaning of infringement was a matter of common law.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="extent-of-protection" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Extent of protection&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-2">Extent of protection</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-2" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-2" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Extent of protection&quot;,&quot;index_section&quot;:2,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref60-06">60.06</h3>
<p>Whether or not a patent is infringed depends on the construction placed on the extent of the protection afforded by the patent. That protection is determined in accordance with the s.125(1) definition of an invention as that specified in a claim as interpreted by the description and any drawings. See <a href="/guidance/manual-of-patent-practice-mopp/section-2-novelty/#ref2-11">2.11 to 2.17</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-111">14.111 to 14.120</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-125-extent-of-invention/#ref125">125</a> with regard to construction in this respect. For biotechnological inventions, see paragraphs <a href="/guidance/manual-of-patent-practice-mopp/section-76a-biotechnological-inventions/#ref76A-07">76A.07 to 76A.09</a>; which make clear that s.60 must be read in the light of paragraphs 7-10 of Schedule A2.</p>
<h3 id="ref60-07">60.07</h3>
<p>Matter which falls in some material respect outside the scope of the claims, when they have been interpreted in the light of s.125(1), is not protected. The following observation of Viscount Radcliffe in the House of Lords in Van der Lely N V v Bamfords Ltd [1963] RPC 61 at page 78 states: “one must be very careful to see that the inventor has not by the actual form of his claim left open to the world the appropriation of just that property
that he says has been filched from him by piracy or theft. After all, it is he who has committed himself to the unequivocal description of what he claims to have invented, and he must submit in the first place to be judged by his own action and words”.</p>
<h3 id="section-3">60.08</h3>
<p>[deleted]</p>
<h3 id="ref60-09">60.09</h3>
<p>Something which differs in an unessential respect from a patented invention may still infringe the patent; it is a question of considering substance rather than mere form. In the House of Lords in Rodi &amp; Wienenberger AG v Henry Showell Ltd [1969] RPC 367 at page 380, Lord Morris of Borth-y-Gest endorsed the observations made in Marconi v British Radio Telegraph and Telephone Co Ltd (1911) 28 RPC 181 to the effect that no one who borrows the substance of a patented invention can escape the consequences of infringement by making immaterial variations, and that everyone who produces the same results by using the essential parts of the combination or process is an infringer, even though they have replaced some unessential part by an equivalent part.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(1)</strong></td>
    </tr>
    <tr>
      <td>Subject to the provision of this section, a person infringes a patent for an invention if, but only if, while the patent is in force, he does any of the following things in the United Kingdom in relation to the invention without the consent of the proprietor of the patent, that is to say <br/>­(a) where the invention is a product, he makes, disposes of, offers to dispose of, uses or imports the product or keeps it whether for disposal or otherwise;<br/>(b) where the invention is a process, he uses the process or he offers it for use in the United Kingdom when he knows, or it is obvious to a reasonable person in the circumstances, that its use there without the consent of the proprietor would be an infringement of the patent;<br/>(c) where the invention is a process, he disposes of, offers to dispose of, uses or imports any product obtained directly by means of that process or keeps any such product whether for disposal or otherwise.</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="acts-constituting-infringement" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Acts constituting infringement&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-3">Acts constituting infringement</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-3" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-3" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Acts constituting infringement&quot;,&quot;index_section&quot;:3,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="direct-use-of-the-invention-substantive-infringement">Direct use of the invention (substantive infringement)</h3>
<h3 id="section-4">60.10</h3>
<p>A person infringes if they perform any of certain acts in the UK without the consent of the proprietor of the patent or, by virtue of s.69 in the case of a published application, the consent of the applicant. The acts in question are as set out in s.60(1)(a) where the invention is a product and as set out in s.60(1)(b) and (c) where the invention is a process.</p>
<h3 id="ref60-11">60.11</h3>
<p>CPC Article 29 (renumbered as Article 25 [1989]) corresponds to s.60(1) although its wording is somewhat different. The Article is headed “Prohibition of direct use of the invention”.</p>
<h3 id="ref60-12">60.12</h3>
<p>Where the invention is a product, the infringing acts according to s.60(1)(a) are to make, dispose of, offer to dispose of, use or import the product or keep it whether for disposal or otherwise; whereas according to CPC a.29(a) (renumbered as a.25(a) [1989]) they are to make, offer, put on the market or use the product, or import or stock the product for these purposes. Comparison of these corresponding provisions may serve as an aid in construction since they should have the same effect, <a href="#ref60-04">see 60.04</a>.</p>
<h3 id="section-5">60.12.1</h3>
<p>In <a rel="external" href="http://rpc.oxfordjournals.org/content/118/13/439.abstract?sid=68780e03-262c-4a32-bc23-0f8909fd0559">United Wire Ltd v Screen Repair Services (Scotland) Ltd ([2001] RPC 24)</a> the view of the Court of Appeal (subsequently endorsed by the House of Lords) was that “genuine repair” of a patented product does not amount to making that product and so does not constitute an infringing act. However, Aldous LJ observed that acts prohibited by s.60 are infringing acts whether or not they can be categorised as ‘repairs’ and stated:</p>
<blockquote>
  <p class="last-child">It is therefore better to consider whether the acts of a defendant amount to manufacture of the product rather than whether they can be called repair, particularly as what could be said to be repair can depend upon the perception of the person answering the question. Even so, when deciding whether there has been manufacture of the product of the invention, it will be necessary to take into account the nature of the invention as claimed and what was done by the defendant.</p>

</blockquote>
<p>The case in question centred around mesh screen assemblies used in vibratory sifting or filtering machines, comprising two tensioned filter meshes bound to a frame. The defendants ‘repair’ of the screen involved stripping the frame, re-coating with adhesive and applying new meshes, followed by tensioning and heating to cure the adhesive. This process was found to be equivalent to purchasing the frames on the open market and then using them to produce an assembly, and thus constituting an infringing act.</p>
<h3 id="section-6">60.12.2</h3>
<p>The Supreme Court in <a rel="external" href="http://www.bailii.org/uk/cases/UKSC/2013/16.html">Schütz (UK) Ltd v Werit UK Ltd [2013] UKSC 16</a> considered whether the alleged infringing act constituted “making” the claimed product. In this case, the claimed invention was a liquid container comprising a bottle and protective cage. The new and inventive component of the container was the cage, and the alleged infringing act was replacement of the bottle within a re-used Schütz cage. The Supreme Court held that (as set out in <a rel="external" href="http://rpc.oxfordjournals.org/content/118/13/439.abstract?sid=68780e03-262c-4a32-bc23-0f8909fd0559">United Wire Ltd v Screen Repair Services (Scotland) Ltd ([2001] RPC 24)</a> the critical question is whether replacing a component of an article constitutes “making” that article, and that the Court of Appeal <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2011/303.html">([2011] EWCA Civ 303)</a> had failed to recognise that this question is a matter of fact and degree. In this case given that the bottle (i) was a freestanding, replaceable component of the patented article, (ii) had no connection with the claimed inventive concept, (iii) had a much shorter life expectancy than the other, inventive, component and (iv) could not be described as the main component of the article, and given that no additional work was done to the article beyond routine repairs, replacing the bottle did not constitute “making” the claimed invention. The patent was therefore not infringed.</p>
<h3 id="ref60-12-3">60.12.3</h3>
<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2013/923.html">Nestec SA &amp; Ors v Dualit Ltd &amp; Ors [2013] EWHC 923 (Pat)</a> the claimed invention was a system consisting of a coffee machine and a capsule adapted for use in that machine. With reference to both <a rel="external" href="http://www.bailii.org/uk/cases/UKSC/2013/16.html">Schütz (UK) Ltd v Werit UK Ltd [2013] UKSC 16</a> and <a rel="external" href="http://rpc.oxfordjournals.org/content/118/13/439.abstract?sid=68780e03-262c-4a32-bc23-0f8909fd0559">United Wire Ltd  v Screen Repair Services (Scotland) Ltd ([2001] RPC 24</a> the Judge held that owners of the relevant coffee machine do not “make” the claimed system when they purchase capsules for use in said machine.</p>
<h3 id="ref60-13">60.13</h3>
<p>In Smith, Kline and French Laboratories Ltd v R D Harbottle (Mercantile) Ltd and Others [1980] RPC 363, the corresponding wording of CPC a.29 (renumbered as a.25 [1989]) was one of the reasons for the conclusion of the Patents Court that “keeps” in s.60(1)(a) connotes a keeping in some capacity and for a purpose other than that of a mere custodian or warehouse operator; it was held that what the drafter had in mind was “keeping” in the sense of “keeping in stock” so as to give effect to the words of the Convention “stocking the product for these purposes”. A further reason for that conclusion was the lack of evidence of any intention to effect a revolutionary change from the situation before 1977 that a carrier or warehouse operator who did no more than innocently carry or store infringing goods for a consignor or consignee was not liable as an infringer.</p>
<h3 id="section-7">60.14</h3>
<p>In Kalman and another v PCL Packaging (UK) Ltd and another [1982] FSR 406, the Patents Court considered the meaning to be given to the phrase “dispose of” in s.60(1)(a) and the equivalent expression “putting on the market” in CPC a.29(a) (renumbered as a.25(a) [1989]), and concluded that “dispose of” must at least include
selling. In endorsing the conclusions reached in the Smith, Kline and French case (<a href="#ref60-13">see 60.13</a>) the Court held that mere carriers did not themselves “dispose of” the goods which they carried. The Court further held that “offers to dispose of” in s.60(1)(a) means “offers in the United Kingdom to dispose of the product in the United Kingdom”.</p>
<h3 id="ref60-15">60.15</h3>
<p>According to s.60(1)(a), importing a patented product is an infringing act. Article 28 of the Treaty establishing the European Community prohibits quantitative restrictions on imports and all measures having equivalent effect between Member States, but Article 30 of that Treaty provides that Article 28 shall not preclude prohibitions or restrictions on imports or goods in transit justified on grounds of inter alia the protection of
industrial and commercial property. When considering Articles 28 and 30 of the Treaty (then Articles 30 and 36, respectively) in the case of Allen and Hanburys’ Salbutamol Patent [1988] FSR 312, the European Court of Justice held that a person importing from another Member State of the then European Economic Community should be treated the same as one manufacturing in the UK: such importation can only be banned by injunction or by the terms of a licence if such manufacture would also be banned. This applies even if the product being imported is not patentable in the Member State in which it was manufactured (<a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-53">see 46.53</a>). In SABAF SpA v Meneghetti SpA [2003] RPC 14 one defendant had sold some goods and then arranged carriage and importation of those goods into the UK for the owner. The Court of Appeal held that the seller had no title to those goods and so was not an infringer. It was artificial to regard someone as an importer within the meaning of s.60(1)(a) if they had no legal or beneficial interest in the goods. It was the owner of the goods who would be regarded as the importer in these circumstances. On appeal to the House of Lords, reported as SABAF SpA v MFI Furniture Centres Ltd [2005] RPC 10, the argument that the seller was the sole importer was rejected since the owner was the importer and it was accepted they were not jointly liable.</p>
<h3 id="ref60-16">60.16</h3>
<p>Where the invention is a process, the infringing acts in respect of any product obtained directly by means of that process are given in s.60(1)(c) and are the same (except for the omission of making the product) as those given in s.60(1)(a) and discussed above. The corresponding CPC provision is Article 29(c) (renumbered as Article 25(c) [1989]) which likewise refers to the same acts (except for making the product) as those in Article 29(a) (renumbered as Article 25(a) [1989]), <a href="#ref60-12">see 60.12</a>. EPC Article 64(2) provides that the protection conferred extends to products directly obtained by such process. After considering the French and German texts of the corresponding EPC provision Aldous J in Pioneer Electronics Capital Inc and anr. v Warner Music Manufacturing Europe GmbH and anr. [1995] RPC 487 considered it appropriate to assign to the word “directly” the meaning “without intermediary”, and the Court of Appeal [1997] RPC 757 agreed with and adopted this interpretation in this case. Thus to infringe, a product must be the direct product of the claimed process and not a product resulting from further material and important steps. The Patents Court in Halliburton Energy Services Inc v Smith International (North Sea) Ltd [2006] RPC 2 held that section 60(1)(c) should be given an interpretation that went as far as a product by process claim might go, but no further (<a href="/guidance/manual-of-patent-practice-mopp/section-2-novelty/#ref2-15">see 2.15</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-121">14.121-14.122</a>).</p>
<h3 id="ref60-16-1">60.16.1</h3>
<p>“Swiss-type” second medical use claims (<a href="/guidance/manual-of-patent-practice-mopp/-section-4a-methods-of-treatment-or-diagnosis/#ref4A-26">see 4A.26-31</a>) are considered to be a special form of “purpose-limited” process claims, and so the relevant sections for direct infringement are 60(1)(b) and (c). In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2015/2548.html">Generics (UK) Ltd (t/a Mylan) v Warner-Lambert Company LLC [2015] EWHC 2548</a>, the patents court considered whether there was infringement under s.60(1)(c) of a Swiss-type claim to the use of a drug (pregabalin) in the manufacture of a medicament for the treatment of pain. The alleged infringer manufactured a drug with a so-called “skinny label” which listed the non-protected uses of the drug and did not refer to treatment of pain. Nevertheless it was alleged that the manufacturer would know that its drug would in fact be prescribed for the treatment of pain (NB s.60(1)(b) did not apply as the drug was manufactured overseas). It was held that “for treatment of pain” meant “suitable and intended for treatment of pain”, and in an interim decision, the Court of Appeal in <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2015/556.html">Warner-Lambert Company, LLC v Actavis Group Ptc EHF &amp; Ors [2015] EWCA Civ 556</a> held that “intended for” meant that the manufacturer would know or could reasonably foresee that the product would be used for the claimed therapeutic method. In applying this test at the full trial, Arnold J held that this meant the manufacturer would know or could reasonably foresee that a doctor or pharmacist would intentionally prescribe or administer the manufacturer’s drug (as opposed to the branded drug of the patent proprietor) for the claimed purpose. On the facts of the case the judge found that there was no infringement. However, on appeal from this decision, the Court of Appeal <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2016/1006.html">(Warner-Lambert Company v Generics (UK) Ltd (t/a Mylan) &amp; Ors [2016] EWCA Civ 1006)</a> held that Arnold J’s interpretation was too restrictive – instead, all that is required for infringement is that the manufacturer could reasonably foresee that there would be intentional use of the drug for the claimed medical use. Nevertheless, the decision was upheld by the Court of Appeal. This was further appealed to the Supreme Court; in its judgment (Warner-Lambert Company LLC v Generics (UK) Ltd (t.a. Mylan) &amp; Anor. [2018] UKSC 56) the patent in question was found to be invalid, and so it was emphasised that the comments on infringement were obiter dicta and not a binding precedent. Nevertheless, the judges were unanimous that whether the manufacturer could “reasonably foresee” that some of the drug would be used for the protected purpose (as favoured by the Court of Appeal) was not the correct test for infringement, as some use of the drug for the infringing purpose could always be foreseen and so any downstream use of the drug – for any purpose – would infringe under s.60(1)(c). The five judges were however divided on the correct test. Two of the judges favoured a test based on whether the manufacturer subjectively intended the drug to be used for the protected purpose. On the other hand, two judges took the view that the appropriate test was the “outward presentation” test; whether the drug was manufactured “for” the protected purpose would be determined by its physical characteristics, including its formulation and dosage, packaging and labelling and the patient information leaflet, and there would be no need to analyse the manufacturer’s intention. The fifth judge took an intermediate position, and so this decision is not conclusive on this point. It should be emphasised that these decisions relate to “Swiss-type” second medical use claims only, and the scope (for the purposes of infringement) of the “new form” second medical use claims of the form “Substance X for use in the treatment of disease Y” has not yet been tested (<a href="/guidance/manual-of-patent-practice-mopp/-section-4a-methods-of-treatment-or-diagnosis/#ref4A-26">see 4A.26-31</a>).</p>
<h3 id="ref60-17">60.17</h3>
<p>s.60(1)(b) is also relevant.</p>
<p>It is also an infringing act, where the invention is a process, for a person to use that process or, subject to certain conditions, to offer it for use in the UK. Those conditions are that the person knows, or it is “obvious to a reasonable person in the circumstances” that the use of the process in the UK without the consent of the proprietor or applicant as the case may be would be an infringement. The corresponding CPC provision
is Article 29(b) (renumbered as Article 25(b) [1989]) which is similar but uses the expression “obvious in the circumstances” without any reference to a “reasonable person”.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(2)</strong></td>
    </tr>
    <tr>
      <td>Subject to the following provisions of this section, a person (other than the proprietor of the patent) also infringes a patent for an invention if while the patent is in force and without the consent of the proprietor, he supplies or offers to supply in the United Kingdom a person other than a licensee or other person entitled to work the invention with any of the means, relating to an essential element of the invention, for putting the invention into effect when he knows, or it is obvious to a reasonable person in the circumstances, that those means are suitable for putting, and are intended to put, the invention into effect in the United Kingdom.</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="indirect-use-of-the-invention-contributory-infringement" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Indirect use of the invention (contributory infringement)&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-4">Indirect use of the invention (contributory infringement)</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-4" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-4" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Indirect use of the invention (contributory infringement)&quot;,&quot;index_section&quot;:4,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="deleted">60.18 [deleted]</h3>
<h3 id="ref60-19">60.19</h3>
<p>Under section 60(2) a person may infringe if, without consent, they supply or offer to supply in the UK a person not entitled to work the invention with means relating to an essential element of an invention for putting the invention into effect in the UK. A person does not infringe unless they know, or it is “obvious to a reasonable person in the circumstances”, that those means are suitable and intended for putting the invention into effect in the UK. The “intention” to use the means for putting the invention into effect is on the part of the end user, not the supplier of the product, as held by the Court of Appeal in Grimme v Scott [2010] EWCA Civ 1110. In this decision, Jacob LJ set out the following criteria for interpreting the requirements of s.60(2) for knowledge and intention:</p>
<blockquote>
  <p class="last-child">In short, the knowledge and intention requirements of … section 60(2) are satisfied if, at the time of supply or offer of supply, the supplier knows, or it is obvious in the circumstances, that ultimate users will intend to put the invention into effect. That is to be proved on the usual standard of balance of probabilities. It is not enough merely that the means are suitable for putting the intention into effect (for that is a separate requirement), but it is likely to be the case where the supplier proposes or recommends or even indicates the possibility of such use in his promotional material.</p>

</blockquote>
<p>Not withstanding this final sentence, contributory infringement may still have taken place even without the supplier suggesting the possibility of an infringing use. In KCI Licensing Inc &amp; Ors v Smith &amp; Nephew Plc &amp; Ors [2010] EWCA Civ 1260 the claimed invention was a canister for use in a wound treatment system, in which the inlet tube included “clamp means” for preventing escape of liquid. The alleged infringer supplied a canister which did not have any clamps on the inlet tube, and there was no suggestion from the supplier that any should
be used. However, Jacob LJ observed that clamps were readily available in the hospital environment, and it would have been obvious to a reasonable person that medical staff would be highly likely to clamp the tube when using the device.</p>
<h3 id="ref60-19-1">60.19.1</h3>
<p>The supply must occur in the UK (judgment of the Patents Court in the Kalman case, see 60.14). The meaning of “putting the invention into effect in the UK” was considered in Menashe Business Mercantile Ltd v William Hill Organization Ltd by the Court of Appeal [2003] RPC 31. The patent in suit related to a host computer in communication with one or more terminal computers, and a program for operating the terminal computer.
The alleged infringer provided a program in the UK which turned a user’s computer into the terminal computer, but the host computer was located abroad. The court considered that locating the host computer abroad provided no defence to an allegation of infringement under s.60(2) and held that s.60(2) was concerned with “putting the invention into effect in the United Kingdom” and not something which merely has an effect in the UK. Aldous LJ determined that the invention had been put into effect in the United Kingdom as the terminal
computer was being operated by the user in the UK, so the user could also be considered to be using the host computer in the UK; the actual location of the host computer was of no relevance to the functioning of the invention. <a href="#ref60-29">See 60.29-31</a> with regard to persons entitled to work the invention for the purposes of s.60(2).</p>
<h3 id="ref60-19-2">60.19.2</h3>
<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2015/2548.html">Generics (UK) Ltd (t/a Mylan) v Warner-Lambert Company LLC [2015] EWHC 2548</a> the patents court considered whether the manufacture and supply of a drug with a so-called “skinny label” could be considered to be an indirect infringement under s.60(2) if the manufacturer knew or could foresee that the drug would be used for a protected purpose. The “skinny label” listed only non-protected uses of the drug. It did not refer to treatment of pain (which was protected by the patentees’ “Swiss-type” second medical use claim). Arnold J held that there was no possibility of indirect infringement (despite an interim decision by the Court of Appeal which held that there was an arguable case - <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2015/556.html">Warner-Lambert Company, LLC v Actavis Group Ptc EHF &amp; Ors [2015] EWCA Civ 556</a>) as a “Swiss-type” claim was a claim to a method of manufacture, and the pharmacists and doctors were not doing anything which could be considered part of the manufacture of the drug. He therefore held that there was therefore no possibility of pharmacists or doctors supplying a “means… for putting the invention into effect”. However, the Court of Appeal <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2016/1006.html">(Warner-Lambert Company v Generics (UK) Ltd (t/a Mylan) &amp; Ors [2016] EWCA Civ 1006)</a> held that the process of “manufacture” could include any labelling step performed by the pharmacist which ascribed the purpose to the drug, and so disagreed with this reasoning (though Arnold J’s overall decision was upheld). Moreover, there could be indirect infringement if a doctor or pharmacist does anything which constitutes “manufacturing” the drug or composition, rather than simply administering or prescribing it. This decision was further appealed to the Supreme Court, in its judgment (Warner-Lambert Company LLC v Generics (UK) Ltd (t.a. Mylan) &amp; Anor. [2018] UKSC 56) the five judges unanimously rejected the Court of Appeal’s view on this point and agreed with Arnold J that there was no possibility of the generics manufacture being liable for indirect infringement of a Swiss-form second medical use claim through supply of the drug to hospitals or pharmacists. However, the patent in question was found to be invalid, and so it was emphasised that the comments on infringement were obiter dicta and not a binding precedent.  In <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2015/555.html">Actavis UK Ltd &amp; Ors v Eli Lilly &amp; Company [2015] EWCA Civ 555</a>, the Court of Appeal held that the supply of the potassium salt of a drug could constitute indirect infringement of a Swiss type claim to the use of the sodium salt, as the drug was supplied with instructions to reconstitute the dried salt in a saline (sodium chloride) solution, with the result that the sodium salt was made up in solution. It should be emphasised that these decisions relate to “Swiss-type” second medical use claims only, and the scope (for the purposes of infringement) of the “new form” second medical use claims of the form “Substance X for use in the treatment of disease Y” has not yet been tested (<a href="/guidance/manual-of-patent-practice-mopp/-section-4a-methods-of-treatment-or-diagnosis/#ref4A-26">see 4A.26-31</a>).</p>
<h3 id="ref60-20">60.20</h3>
<p>The corresponding provision of the CPC is paragraph 1 of Article 30 (renumbered as Article 26 [1989]), the wording of which is similar to that of s.60(2) although it does not mention a “reasonable person” (cf 60.17) and refers to a “party entitled to exploit the patented invention” instead of to a “licensee or other person entitled to work the invention”. The Article is headed “Prohibition of indirect use of the invention”.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(3)</strong></td>
    </tr>
    <tr>
      <td>Subsection (2) above shall not apply to the supply or offer of a staple commercial product unless the supply or the offer is made for the purpose of inducing the person supplied or, as the case may be, the person to whom the offer is made to do an act which constitutes an infringement of the patent by virtue of subsection (1) above.</td>
    </tr>
  </tbody>
</table>
<h3 id="ref60-21">60.21</h3>
<p>The supply or offer of a staple commercial product does not constitute an infringing act under s.60(2) unless it is for the purpose of inducing the recipient to do an infringing act under s.60(1). CPC Article 30 (renumbered as Article 26 [1989]), paragraph 2, corresponds to s.60(3).</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="section-604-repealed" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;[Section 60(4) Repealed]&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-5">[Section 60(4) Repealed]</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-5" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-5" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;[Section 60(4) Repealed]&quot;,&quot;index_section&quot;:5,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref60-22">60.22</h3>
<p>Section 60(4) was repealed by the Patents Act 2004. This subsection was concerned with the application of exhaustion of rights provisions of the Community Patent Convention, which has never come into force.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="exempted-acts" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Exempted acts&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-6">Exempted acts</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-6" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-6" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Exempted acts&quot;,&quot;index_section&quot;:6,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(5)</strong></td>
    </tr>
    <tr>
      <td>An act which, apart from this subsection, would constitute an infringement of a patent for an invention shall not do so if ­<br/>(a) it is done privately and for purposes which are not commercial;<br/>(b) it is done for experimental purposes relating to the subject-matter of the invention;<br/>(c) it consists of the extemporaneous preparation in a pharmacy of a medicine for an individual in accordance with a prescription given by a registered medical or dental practitioner or consists of dealing with a medicine so prepared;<br/>(d) it consists of the use, exclusively for the needs of a relevant ship, of a product or process in the body of such a ship or in its machinery, tackle, apparatus or other accessories, in a case where the ship has temporarily or accidentally entered the internal or territorial waters of the United Kingdom; <br/>(e) it consists of the use of a product or process in the body or operation of a relevant aircraft, hovercraft or vehicle which has temporarily or accidentally entered or is crossing the United Kingdom (including the air space above it and its territorial waters) or the use of accessories for such a relevant aircraft, hovercraft or vehicle;<br/>(f) it consists of the use of an exempted aircraft which has lawfully entered or is lawfully crossing the United Kingdom as aforesaid or of the importation into theUnited Kingdom, or the use or storage there, of any part or accessory for such an aircraft;<br/>(g) it consists of the use by a farmer of the product of his harvest for propagation or multiplication by him on his own holding, where there has been a sale of plant propagating material to the farmer by the proprietor of the patent or with his consent for agricultural use;<br/>(h) it consists of the use of an animal or animal reproductive material by a farmer for an agricultural purpose following a sale to the farmer, by the proprietor of the patent or with his consent, of breeding stock or other animal reproductive material which constitutes or contains the patented invention.<br/>(i) it consists of ­<br/>(i) an act done in conducting a study, test or trial which is necessary for and is conducted with a view to the application of paragraphs 1 to 5 of article 13 of Directive 2001/82/EC or paragraphs 1 to 4 of article 10 of Directive 2001/83/EC, or<br/> (ii) any other act which is required for the purpose of the application of those paragraphs.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (2) above a person who does an act in relation to an invention which is prevented only by virtue of paragraph (a), (b) or (c) of subsection (5) above from constituting an infringement of a patent for the invention shall not be treated as a person entitled to work the invention, but ­<br/> (a) the reference in that subsection to a person entitled to work an invention includes a reference to a person so entitled by virtue of section 55 above, and <br/>(b) a person who by virtue of section 20B(4) or (5) above or section 28A(4) or (5) above or section 64 below or section 117A(4) or (5) below is entitled to do an act in relation to the invention without it constituting such an infringement shall, so far as concerns that act, be treated as a person entitled to work the invention.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6A)</strong></td>
    </tr>
    <tr>
      <td>Schedule A1 contains <br/>­ (a) provisions restricting the circumstances in which subsection (5)(g) applies; and <br/>(b) provisions which apply where an act would constitute an infringement of a patent but for subsection (5)(g).</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6B)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (5)(h), use for an agricultural purpose ­<br/> (a) includes making an animal or animal reproductive material available for the purposes of pursuing the farmer’s agricultural activity; but <br/> (b) does not include sale within the framework, or for the purposes, of a commercial reproduction activity.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6C)</strong></td>
    </tr>
    <tr>
      <td>In paragraphs (g) and (h) of subsection (5) “sale” includes any other form of commercialisation.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6D)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (5)(b), anything done in or for the purposes of a medicinal product assessment which would otherwise constitute an infringement of a patent for an invention is to be regarded as done for experimental purposes relating to the subject-matter of the invention.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6E)</strong></td>
    </tr>
    <tr>
      <td>In subsection (6D), “medicinal product assessment” means any testing, course of testing or other activity undertaken with a view to providing data for any of the following purposes- <br/>a) obtaining or varying an authorisation to sell or supply, or offer to sell or supply, a medicinal product (whether in the United Kingdom or elsewhere);<br/>b) complying with any regulatory requirement imposed (whether in the United Kingdom or elsewhere) in relation to such an authorisation;<br/>c) enabling a government or public authority (whether in the United Kingdom or elsewhere), or a person (whether in the United Kingdom or elsewhere) with functions of-<br/>(i) providing health care on behalf of such a government or public authority, or<br/>(ii)	 providing advice to, or on behalf of, such a government or public authority about the provision of health care, to carry out an assessment of suitability of a medicinal product for human use for the purpose of determining whether to use it, or recommend its use, in the provision of health care.</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(6F)</strong></td>
    </tr>
    <tr>
      <td>In subsection (6E) and this subsection-<br/>“medicinal product” means a medicinal product for human use or a veterinary medicinal product;<br/>“medicinal product for human use” has the meaning given by article 1 of Directive 2001/83/EC(a);<br/>“veterinary medicinal product” has the meaning given by article 1 of Directive 2001/82/EC(b).</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60 (6G)</strong></td>
    </tr>
    <tr>
      <td>Nothing in subsections (6D) to (6F) is to be read as affecting the application of subsection (5)(b) in relation to any act of a kind not falling within subsection (6D).</td>
    </tr>
  </tbody>
</table>
<h3 id="ref60-23">60.23</h3>
<p>Exempted from constituting infringement are certain acts done privately for non-commercial purposes (sub-section (5)(a)); for experimental purposes (sub-section (5)(b)); in preparing or dealing with a prescribed medicine (sub-section (5)(c)); in connection with a temporary or accidental incursion into or crossing of UK territory or air space by a ship, aircraft, hovercraft or vehicle as defined in s.60(7) (sub-sections (5)(d), (e) and (f)); by farmers in connection with certain harvested products, animals or animal reproductive material (sub-sections (5)(g) and (h)), or conducting studies, tests and trials on certain medicinal products (sub-section 5(i)).  Sub-sections (5)(g) and (h) were added by the Patents Regulations 2000 (SI 2000/2037), along with ss.60(6A), 60(6B) and 60(6C). These subsections have effect in the Isle of Man by virtue of the Patents Act 1977 (Isle of Man) Order 2003 (SI 2003/1249). Article 31 of the CPC (renumbered as Article 27 [1989]) corresponds to s.60(5)(a) to (f). Sub-section (5)(i) was added by the Medicines (Marketing Authorisations Etc.) Amendment Regulations 2005 (SI 2005/2759), and came into force on 30 October 2005. Sub-sections 6D to 6G were added by the Legislative Reform (Patents) Order 2014 (SI 2014/1997) and came into force on 1st October 2014. The exception set out in sub-sections 6D to 6G does not apply to acts committed before 1st October 2014.</p>
<h3 id="ref60-24">60.24</h3>
<p>s.130(7) is also relevant.</p>
<p>In Monsanto Co v Stauffer Chemical Co and another [1985] RPC 515, the Court of Appeal considered the meaning and effect of the words “for experimental purposes relating to the subject-matter of the invention” in s.60(5)(b). It was held that earlier decisions on phrases such as “reasonable trial” or “reasonable trial or experiment” were not of any assistance; there was no reason to suppose that the signatories of the CPC were concerning themselves with the minutiae of earlier UK patent law when deciding the wording of Article 31(b) (renumbered as Article 27(b) [1989]) to which s.60(5)(b) corresponds. Moreover, the word “experiment” is an ordinary word in the English language and has never been a term of art in UK patent law. Further, the presence of a reference to “purposes which are not commercial” in sub-section 5(a) but the absence of any such reference in subsection 5(b) indicates that experimental purposes in the latter may yet have a commercial end in view. Trials carried out in order to discover something unknown or to test a hypothesis or even in order to find out whether something which is known to work in specific conditions will work in different conditions can fairly, it was held, be regarded as experiments.</p>
<h3 id="section-8">60.24.1</h3>
<p>Sub-section 6D sets out that for the purposes of subsection (5)(b), anything done in or for the purposes of a medicinal product assessment which would otherwise constitute an infringement of a patent for an invention is to be regarded as done for experimental purposes relating to the subject-matter of the invention. Use of a patented product is permitted when carrying out work to provide information to the regulatory authorities who decide whether a drug should be given a marketing authorisation. It is also possible to use a patented product in work done to supply information for health technology assessments. Only products which fall within the definition of medicinal product provided by the Directive on the Community code relating to medicinal products for human use (2001/83/EC) or the Directive on the Community code relating to veterinary medicinal products (2001/82/EC) are covered by this exception (see also 60.33) although, as mentioned below, the product does not have to be being used for approval in the UK or the EU.</p>
<h3 id="section-9">60.24.2</h3>
<p>Sub-section 6E defines what is meant by “medicinal product assessment”. The definition covers activities carried out to provide information required by regulatory authorities e.g. clinical trials; or activities carried out to enable a government or public body to assess if a medicine should be used in the provision of healthcare e.g. health technology assessments.  Examples of regulatory authorities include the Medicines and Healthcare Products Regulatory Authority (MHRA) and the European Medicines Agency (EMA).  An example of a body which assesses if a new drug should be used in the provision of healthcare is the National Institute for Health and Care Excellence (NICE). Provided the purpose of the work is for assessment of a medicinal product, as defined in sub-section 6E, it will fall within the exemption even where the work is performed for drug approval abroad.  The “medicinal product assessment” exception does not extend to commercial activities but does cover assessments of combinations where the patented drug is part of the combination.</p>
<h3 id="section-10">60.24.3</h3>
<p>It remains to be seen how the courts will interpret the exception set out in sub-sections 6D to 6F however the following activities would appear to fall within its scope: <br/>a) Activities carried out to provide data to regulatory authorities.<br/>b) Activities carried out to provide data to bodies carrying out health technology assessments. <br/>c) Post approval studies to comply with regulatory requirements. <br/>d) Activities carried out to amend an authorisation for a medicine.<br/>e) Activities done to obtain an authorisation for a new indication of an existing drug <br/>f) Any tests or studies required by regulatory bodies.<br/>g) Activities carried out for the purposes of obtaining full authorisation of a generic drug or biosimilar e.g. where the abridged procedure exempted by the Bolar exception (<a href="#ref60-28">see 60.28</a>) is not used.<br/>h) Activities related to health technology assessment of a generic or biosimilar product.<br/>i) Activities carried out to provide data for obtaining regulatory approval for a generic or biosimilar product in another country.</p>
<h3 id="ref60-25">60.25</h3>
<p>In Smith, Kline &amp; French Laboratories Ltd v Evans Medical Ltd [1989] FSR 513, Aldous J said that s.60(5) sets out the exceptions from s.60(1) and rejected the submission that, in addition, all patentees must be taken to have impliedly consented to the carrying out of experiments with a view to challenging the validity of the patent. He also considered that the word “privately” in s.60(5)(a) includes commercial and non-commercial situations; is not synonymous with “secret” or “confidential”; and is used as the opposite of “publicly”, denoting an act done for the person’s own use. With regard to the reference to “purposes which are not commercial” in s.60(5)(a), the purposes of acts had to be considered: there would be infringement if the purposes included any commercial ones in addition to the non-commercial ones. Experiments done for legal proceedings in the High Court or the Office were not done for a commercial purpose. Aldous J also considered that if an act is to fall within s.60(5)(b) it must be done for purposes relating to the subject matter of the invention found in the claims of the patent alleged to be infringed. The purposes must relate to the claimed subject matter in the sense of having a real and direct connection with it.</p>
<h3 id="ref60-26">60.26</h3>
<p>In Stena Rederi Aktiebolag v Irish Ferries Ltd [2002] RPC 50, the Patents Court considered the meaning and effect of the defence in s.60(5)(d), which relates to ships which have “temporarily or accidentally entered the internal or territorial waters of the United Kingdom”. The judgment of the Patents Court was upheld by the Court of Appeal [2003] RPC 36. The case concerned a high-speed catamaran used to provide a regular ferry
service between Eire and the UK, with three or four crossings being made each day. The vessel’s home port was in Dublin, but it spent around three hours in UK territorial waters on each crossing. The vessel’s superstructure was found to fall within the scope of the claimant’s patent, and the claimant argued that the vessel’s regular and frequent crossings took it outside the ambit of s.60(5)(d) because “temporarily” should be interpreted as “on isolated occasions or casually”. The court rejected this argument, stating that the primary purpose of the word “temporarily” was to distinguish between vessels which were engaged in essentially internal operations, and those which travelled between countries. Regard was to be had for the intention of the vessel’s operator; on each crossing, the intention was for the vessel to enter and then leave UK territorial waters, and the fact that each crossing was repeated frequently did not alter the fact that each entry into UK waters was designed to be short-lived. The court therefore held that s.60(5)(d) applied and so infringement had not occurred. The court also rejected an argument that the defence in s.60(5)(d) applied only to “machinery, tackle, apparatus or other accessories” associated with the vessels. A purposive construction made clear that s.60(5)(d) applied as much to vessels as a whole as to any parts used on them.</p>
<h3 id="section-11">60.27</h3>
<p>Sch. A1 paras 304, Sch. A1 paras 5-8 is also relevant.</p>
<p>Sub-section (5)(g) relates to the product of plant propagating material (incorporating patented material), where the material has been sold to a farmer by the proprietor of the patent, or with the proprietor’s consent, for agricultural use. A farmer may subsequently use the product of their harvest from such material for further propagation or multiplication of the plant on their own land without infringing the patent in question. However,
under s.60(6A) the infringement exemption provided by sub-section (5)(g) only applies in respect of certain varieties which are specified in paragraph 2 of Schedule A1 to the Act. Furthermore, the Schedule sets out the conditions which apply where an otherwise infringing act falls within the scope of sub-section (5)(g). These include (i) the requirement that a farmer (other than a “small farmer”) must pay equitable remuneration to the proprietor (which must, however, be less than the farmer would have paid for buying more plant propagating material from the proprietor); and (ii) certain specified information must be supplied by the farmer and by the proprietor, on request from the other.</p>
<h3 id="section-12">60.27.1</h3>
<p>Sub-section (5)(h) similarly relates to breeding stock or other animal reproductive material which constitutes or contains a patented invention and which has been sold to a farmer by the proprietor of the patent, or with the proprietor’s consent. A farmer may subsequently use the animal or animal reproductive material for an agricultural purpose without infringing the patent in question. There is no equivalent to Schedule A1 for this subsection and thus no restriction of the infringement exemption to certain varieties of animal. However, s.60(6B) makes clear that the farmer is not allowed subsequently to sell any animals or animal reproductive material derived from the farmer’s “agricultural use” of the original animal or material as part of a commercial reproduction activity.</p>
<h3 id="ref60-28">60.28</h3>
<p>Sub-section (5)(i) relates to clinical trials on patented medicinal products, and implements the so-called “Bolar” exemption. The exemption was derived from the limitation set out in Article 13(6) of Directive 2001/82/EC on veterinary medicinal products and in Article 10(6) of Directive 2001/83/EC on medicinal products for human use (see also 60.32-33).  It exempts from patent infringement acts relating to any studies, tests and trials carried out to show that a generic medicine is bioequivalent to an approved, patented product, where these acts are required to obtain marketing authorisation for the generic medicine under an abbreviated authorisation procedure (where the generic can rely on the data for the patented product to demonstrate its safety and efficacy, provided that bioequivalence is demonstrated).</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="persons-entitled-to-work-the-invention" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;text&quot;:&quot;Persons entitled to work the invention&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:7}"><span class="govuk-accordion__section-button" id="default-id-7e57bb2d-heading-7">Persons entitled to work the invention</span></h2>
          
</div>        <div id="default-id-7e57bb2d-content-7" class="govuk-accordion__section-content" aria-labelledby="default-id-7e57bb2d-heading-7" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;accordion&quot;,&quot;section&quot;:&quot;Persons entitled to work the invention&quot;,&quot;index_section&quot;:7,&quot;index_section_count&quot;:7}">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref60-29">60.29</h3>
<p>Section 60(2), concerning indirect or contributory infringement, refers to a person entitled to work the invention (<a href="#ref60-19">see 60.19</a>). A person authorised under s.55 to use the invention for the services of the Crown is regarded as a person so entitled. In addition, a person who has acquired rights during the period between termination of an application and publication of the notice to request reinstatement (under s.20B(4) or (5)), during the interim period prior to the publication of the notice of the application for restoration of a patent (under s.28A(4) or (5)), before the priority date of the invention (under s.64), or between withdrawal of a patent application and publication of notice under s. 117(3) of a request to correct an error or mistake in a withdrawal of a patent (under s. 117A(4) or (5)) to do an act without it constituting infringement is treated as a person entitled to work the invention but only so far as concerns that act. The references to s.20B and s.117A in s.60(6)(b) were inserted by the Regulatory Reform (Patents) Order 2004.</p>
<h3 id="ref60-30">60.30</h3>
<p>A person who does something which, but for exemption under s.60(5)(a)(b) or (c), would be an infringing act is not treated as entitled to work the invention for the purposes of s.60(2). Paragraph 3 of CPC Article 30 (renumbered as Article 26 [1989]) corresponds to this provision.</p>
<h3 id="section-13">60.31</h3>
<p>As a consequence of s.60(5)(b) and (6), a person doing an act for experimental purposes does not thereby become entitled to work the invention. It may therefore be an infringing act under s.60(2) to supply that person with the material for carrying out that experimental act. In Monsanto Co v Stauffer Chemical Co and another [1985] RPC 515 (<a href="#ref60-24">see 60.24</a>) where the material was a herbicide and the person carrying out tests would benefit by eradication of weeds on their land, it was observed that there was at least force in the argument that such supply would constitute infringement.</p>
<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 60(7)</strong></td>
    </tr>
    <tr>
      <td>In this section ­”relevant ship” and “relevant aircraft, hovercraft or vehicle” mean respectively a ship and an aircraft, hovercraft or vehicle registered in, or belonging to, any country, other than the United Kingdom, which is a party to the Convention for the Protection of Industrial Property signed at Paris on 20 March 1883 or which is a member of the World Trade Organisation; and<br/> “exempted aircraft” means an aircraft to which section 89 of the Civil Aviation Act 1982 (aircraft exempted from seizure in respect of patent claims) applies <br/>“Directive 2001/82/EC” means Directive 2001/82/EC of the European Parliament and of the Council on the Community code relating to veterinary medicinal products as amended by Directive 2004/28/EC of the European Parliament and of the Council; <br/>“Directive 2001/83/EC” means Directive 2001/83/EC of the European Parliament and of the Council on the Community code relating to medicinal products for human use, as amended by Directive 2002/98/EC of the European Parliament and of the Council, by Commission Directive 2003/63/EC, and by Directives 2004/24/EC and 2004/27/EC of the European Parliament and of the Council.</td>
    </tr>
  </tbody>
</table>
<h3 id="ref60-32">60.32</h3>
<p>As a result of the Civil Aviation Act 1982, the original reference to the Civil Aviation Act 1949 in section 60(7) was replaced by the reference to the 1982 Act. The words “or which is a member of the World Trade Organisation” were inserted by the Patents and Trade Marks (World Trade Organisation) Regulations 1999. The references to Directives 2001/82/EC and 2001/83/EC were inserted by the Medicines (Marketing
Authorisations Etc.) Amendment Regulations 2005 (SI 2005 No. 2759).</p>
<h3 id="ref60-33">60.33</h3>
<p>Although Directives 2001/82/EC and 2001/83/EC were not incorporated into domestic law at 11pm on 31 December 2020 by the European Union (Withdrawal) Act 2018, any pre-existing references to EU legislation remain functional. Under paragraph 2A of Schedule 8 to that Act, such “non-ambulatory” references – references that are not to the legislation as amended from time to time - are interpreted with respect to the EU legislation in the form it was in at the time the reference was made. Definitions or other references informed by the non-ambulatory reference are therefore construed on that basis.</p>
</div>
</div>
</div>
</div>
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
