<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 49: Provisions about licences under s.48 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (49.01 - 49.07) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">49.01</h3>

<p>Section 48 provides for the making of an application to the comptroller, by any person, for the grant of a compulsory licence under a patent or the making of a “licences of right” entry in the register in respect of the patent. Section 49 is a supplementary provision concerning licences granted by order of the comptroller, or by virtue of such an entry, as a result of such applications.</p>

<h3 id="section-1">49.02</h3>

<p>These sections are members of a group, 46 to 54, relating to “licences of right” entries and compulsory licences. <a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-02">See 46.02-07</a> for general discussion of this group.</p>

<h3 id="section-2">49.03</h3>

<p>The discussion in <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-17">48.17-21</a> concerning s.48 and orders for the grant of licences thereunder also applies in relation to s.49.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 49(1)</strong></td>
    </tr>
    <tr>
      <td>Where the comptroller is satisfied, on an application made under section 48 above in respect of a patent, that the manufacture, use or disposal of materials not protected by the patent is unfairly prejudiced by reason of conditions imposed by the proprietor of the patent on the grant of licences under the patent, or on the disposal or use of the patented product or the use of the patented process, he may (subject to the provisions of that section) order the grant of licences under the patent to such customers of the applicant as he thinks fit as well as to the applicant.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">49.04</h3>

<p>Subsection (1) empowers the comptroller to order the grant of licences to customers of the applicant under s.48 where the ground set out in the first part of s.48A(1)(c) (WTO proprietor - <a href="/guidance/manual-of-patent-practice-mopp/section-48a-compulsory-licences-wto-proprietors/#ref48a-23">see 48A.23</a>) or s.48B(1)(e) (non-WTO proprietor - <a href="/guidance/manual-of-patent-practice-mopp/section-48b-compulsory-licences-other-cases/#ref48b-16">see 48B.16</a> is established. (The terms “patented product” and “patented process” used in the subsection are defined in s.130(1)).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 49(2)</strong></td>
    </tr>
    <tr>
      <td>Where an application under section 48 above is made in respect of a patent by a person who holds a licence under the patent, the comptroller -<br/>(a) may, if he orders the grant of a licence to the applicant, order the existing licence to be cancelled, or<br/>(b) may, instead of ordering the grant of a licence to the applicant, order the existing licence to be amended.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-4">49.05</h3>

<p>Section 48(3) allows an application under s.48 to be made by an existing licensee under the patent in question. Section 49(2) makes special provision regarding the grant, amendment or cancellation of licences by order of the comptroller on such applications.</p>

<h3 id="section-493--repealed">[Section 49(3)  Repealed]</h3>

<h3 id="section-5">49.06</h3>

<p>Prior to the CDP Act, a licence ordered under s.48 could deprive the patentee of their rights under the patent in question, or revoke all existing licences. However, the comptroller did not in practice use this power and it was removed by the CDP Act with effect from 1 August 1989.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 49(4)</strong></td>
    </tr>
    <tr>
      <td>Section 46(4) and (5) above shall apply to a licence granted in pursuance of an order under section 48 above and to a licence granted by virtue of an entry under that section as it applies to a licence granted by virtue of an entry under section 46 above.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref49-07">49.07</h3>

<p>The holder of a compulsory licence ordered under s.48 or of a licence granted by virtue of a “licences of right” entry made under s.48 has the same rights of suing for infringement as are conferred by s.46(4) and (5), <a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-79">see 46.79</a>.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
