<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 131A: Scotland
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (131A.01) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">131A.01</h3>

<p>This section was introduced by the Scotland Act 1998 (Consequential Modifications)(No.2) Order 1999 (SI 1999 No. 1820). It clarifies how certain references in the Act are to be interpreted in the light of Scottish devolution and the setting up of the Scottish Parliament.</p>

<h3 id="section-131a">Section 131A</h3>

<p>In the application of this Act to Scotland -</p>

<p>(a) “enactment” includes an enactment comprised in, or in an instrument made under, an Act of the Scottish Parliament;</p>

<p>(b) any reference to a government department includes a reference to any part of the Scottish Administration; and</p>

<p>(c) any reference to the Crown includes a reference to the Crown in right of the Scottish Administration.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
