<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 50: Exercise of powers on applications under s.48 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (50.01 - 50.09) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">50.01</h3>

<p>This section sets out purposes and other matters to be borne in mind by the comptroller when dealing with applications under s.48, <a href="/guidance/manual-of-patent-practice-mopp/section-48-compulsory-licences-general/#ref48-01">see 48.01</a>.</p>

<h3 id="section-1">50.02</h3>

<p>Sections 48 to 54 relate to compulsory licences and “licences of right” entries in the register made in response to applications to the comptroller; sections 46 and 47 relate to voluntary “licences of right” entries. <a href="/guidance/manual-of-patent-practice-mopp/section-46-patentee-s-application-for-entry-in-register-that-licences-are-available-as-of-right/#ref46-02">See 46.02-07</a> for general discussion of ss.46 to 54.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 50(1)</strong></td>
    </tr>
    <tr>
      <td>The powers of the comptroller on an application under section 48 above in respect of a patent whose proprietor is not a WTO proprietor shall be exercised with a view to securing the following general purposes -<br/>(a) that inventions which can be worked on a commercial scale in the United Kingdom and which should in the public interest be so worked shall be worked there without undue delay and to the fullest extent that is reasonably practicable;<br/>(b) that the inventor or other person beneficially entitled to a patent shall receive reasonable remuneration having regard to the nature of the invention;<br/>(c) that the interests of any person for the time being working or developing an invention in the United Kingdom under the protection of a patent shall not be unfairly prejudiced.</td>
    </tr>
  </tbody>
</table>

<h3 id="purposes-to-be-secured-non-wto-proprietors">Purposes to be secured (non-WTO proprietors)</h3>

<h3 id="section-2">50.03</h3>

<p>Subsection (1) sets out purposes to which exercise of the comptroller’s powers under s.48 should be directed, which are relevant only when the application under section 48 is in respect of a patent whose proprietor is a non-WTO proprietor (in the case of a WTO proprietor, the requirements of section 48A(6) should be considered). The first of the general purposes concerns inventions which can be worked on a commercial scale in the UK. If such working is in the public interest, it should occur quickly and “to the fullest extent that is reasonably practicable”. The quoted expression is also used in s.48B(1)(a) which sets out a ground for applications under s.48 having a strong affinity with the purpose in s.50(1)(a), <a href="/guidance/manual-of-patent-practice-mopp/section-48b-compulsory-licences-other-cases/#ref48b-03">see 48B.03-05</a>.</p>

<h3 id="section-3">50.04</h3>

<p>The second general purpose is for the inventor (or other person entitled) to receive reasonable remuneration, it being recognised that what is “reasonable” may vary from one invention to another. However, this purpose must be balanced against other considerations when settling the terms of a licence.</p>

<h3 id="ref50-05">50.05</h3>

<p>The final general purpose is that the interests of persons working or developing patented inventions in the UK should not be unfairly prejudiced. This has some affinity with the ground set out in s.48A(1)(b)(i), see 48A.17-21, and s.48B(1)(d)(ii) <a href="/guidance/manual-of-patent-practice-mopp/section-48b-compulsory-licences-other-cases/#ref48B-14">see 48B.14</a>. In Therma-Tru Corporation’s Patent (<a href="https://www.gov.uk/government/publications/patent-decision-o09296">BL O/92/96</a>) the hearing officer decided that the inherent risk that the applicants would take some market share from the proprietors and their licensees could not of itself be said unfairly to prejudice the proprietors and their licensees. In considering this purpose it should be recognised that section 48B does not allow for discrimination between working an invention in the UK and working in EEA states as long as UK demand is met from within the EEA. This takes account of the ruling of the ECJ in European Commission v United Kingdom C-30/90 [1992] 2 CMLR 709, in a case relating to the original section 48, that to treat the case where domestic demand for a patented product is satisfied by imports from other member states differently from that where the product is produced domestically was contrary to Article 30 of the Treaty establishing the European Economic Community.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 50(2)</strong></td>
    </tr>
    <tr>
      <td>Subject to subsection (1) above, the comptroller shall, in determining whether to make an order or entry in pursuance of any application under section 48 above, take account of the following matters, that is to say<br/><br/>(a) the nature of the invention, the time which has elapsed since the publication in the journal of a notice of the grant of the patent and the measures already taken by the proprietor of the patent or any licensee to make full use of the invention;<br/>(b) the ability of any person to whom a licence would be granted under the order concerned to work the invention to the public advantage; and<br/>(c) the risks to be undertaken by that person in providing capital and working the invention if the application for an order is granted,<br/><br/>but shall not be required to take account of matters subsequent to the making of the application.</td>
    </tr>
  </tbody>
</table>

<h3 id="matters-to-be-taken-account-of-all-cases">Matters to be taken account of (all cases)</h3>

<h3 id="section-4">50.06</h3>

<p>In determining whether to order the grant of a licence or make an entry in the register, the comptroller also takes account of the considerations (a) to (c) immediately above. Consideration (a) concerning the nature of the invention, the time since grant of the patent and the measures already taken to make full use of the invention appears to recognise that some inventions require longer than others to establish adequate working. This is also reflected by the power  under s.48B(2)  to adjourn an application to allow sufficient time for working, where the application is made on the ground in s.48B(1)(a) (<a href="/guidance/manual-of-patent-practice-mopp/section-48b-compulsory-licences-other-cases/#ref48b-03">see 48B.03-06</a>).</p>

<h3 id="ref50-07">50.07</h3>

<p>Considerations (b) and (c) concern the ability of a potential licensee to work the invention to the public advantage and the risks to be undertaken by the potential licensee. The question of this ability of the potential licensee was considered by the hearing officer in Enviro-Spray Systems Inc’s Patents [1986] RPC 147</p>

<blockquote>
  <p class="last-child">It would clearly be unreasonable, before the grant of a licence, to require any applicant to show contracts or firm agreements with anyone for either finance or for the other forms of assistance which would be required to operate a licence.  On the other hand, if I am to take account of Section 50(2)(b) I have to be able to form some estimate of the ability of the applicants to work the inventions, at least to the extent of satisfying myself that the applicants are likely to have available to them the various resources, including technical expertise and know-how, which would be necessary to put the inventions into practice in a way which would benefit the public. It is in turn the responsibility of the applicants to explain as far as is reasonable what they expect to do, and also to put me in a position in which I can form some estimate of their likelihood of achieving it.</p>

</blockquote>

<h3 id="section-5">50.08</h3>

<p>In Therma-Tru Corporation’s Patent (<a href="https://www.gov.uk/government/publications/patent-decision-o09296">BL O/92/96</a>) although there was no specific evidence expressly showing that the applicants had the necessary technical expertise, evidence showed that they had gone to some lengths to obtain supplies of the necessary materials, equipment and advice. This, together with an offer by them to include quality control provisions, which would lead to the termination of the licence if breached, led the hearing officer to take the view that, so far as the applicants’ technical expertise was concerned, there was no reason why he should not grant a licence.</p>

<h3 id="section-6">50.09</h3>

<p>The comptroller is not required to take account of matters subsequent to the making of the application under s.48(1), but they apparently may do so if they think fit.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
