<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70D: Professional advisers
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (70D.01-70D.05) last published: 2017.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-70d1">Section 70D(1)</h3>

<p>Proceedings in respect of an actionable threat may not be brought against a professional adviser (or any person vicariously liable for the actions of that professional adviser) if the conditions in subsection (3) are met.</p>

<h3 id="d01">70D.01</h3>

<p>Section 70D(1) sets out that a professional adviser cannot be sued for a threat made on behalf of a client if certain conditions are met (<a href="#ref70D-03">see 70D.03</a>).</p>

<h3 id="section-70d2">Section 70D(2)</h3>

<p>In this section “professional adviser” means a person who, in relation to the making of the communication containing the threat—<br/>
(a) is acting in a professional capacity in providing legal services or the services of a trade mark attorney or a patent attorney, and<br/>(b) is regulated in the provision of legal services, or the services of a trade mark attorney or a patent attorney, by one or more regulatory bodies (whether through membership of a regulatory body, the issue of a licence to practise or any other means).</p>

<h3 id="d02">70D.02</h3>

<p>Section 70D(2) defines a “professional adviser” as someone who is providing legal services and is regulated by one or more regulatory bodies, such as the Intellectual Property Regulation Board (IPReg). This provision does not affect the principle that anyone, not just the patent holder, may be liable for making a threat.</p>

<h3 id="section-70d3">Section 70D(3)</h3>

<p>The conditions are that—<br/>(a) in making the communication the professional adviser is acting on the instructions of another person, and<br/>(b) when the communication is made the professional adviser identifies the person on whose instructions the adviser is acting.</p>

<h3 id="ref70D-03">70D.03</h3>

<p>Section 70D(3) sets out the conditions that must be met for the professional adviser to be protected by section 70D. These conditions apply to both a single instruction to send a specific communication given to a professional adviser and an in-house adviser with a general instruction to protect the intellectual property rights of a specific company. In both cases, the professional adviser is acting on the instructions of another and not of their own volition. This protection applies equally to non-UK advisers if the above conditions are met.</p>

<h3 id="section-70d4">Section 70D(4)</h3>

<p>This section does not affect any liability of the person on whose instructions the professional adviser is acting.</p>

<h3 id="d04">70D.04</h3>

<p>Section 70D(4) states that this protection only relates to the professional adviser. Any liability incurred by the client (patent holder) for making threats is unaffected and a threats action may be brought against the client.</p>

<h3 id="section-70d5">Section 70D(5)</h3>

<p>It is for a person asserting that subsection (1) applies to prove (if required) that at the material time-<br/>(a) the person concerned was acting as a professional adviser, and<br/>(b) the conditions in subsection (3) were met.</p>

<h3 id="d05">70D.05</h3>

<p>The onus is on the professional adviser to prove that they were acting as a professional adviser and that the conditions set out in section 70D(3) (<a href="#ref70D-03">see 70D.03</a>) were met at the time the threat was sent.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
