<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 294: When application may be made for settlement of terms of licence [spent]
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (294.01) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">294.01</h3>

<p>Section 294 inserted paragraph 4B into Schedule 1 to the Patents Act 1977. It gives statutory force to the existing practice of the comptroller not to deal with applications for the settlement of terms for licences of right available under the transitional provisions of the Patents Act 1977 more than one year before the relevant patent becomes subject to the licence of right provisions. This section can now be considered to be spent.</p>

<h3 id="section-1">294.02-04</h3>

<p>[deleted]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 294</strong></td>
    </tr>
    <tr>
      <td>In Schedule 1 to the Patents Act 1977, after the paragraph inserted by section 293 above, insert “ <br/><br/>4B (1) An application under section 46(3)(a) or (b) above for the settlement by the comptroller of the terms on which a person is entitled to a licence by virtue of paragraph 4(2)(c) above is ineffective if made before the beginning of the sixteenth year of the patent.<br/><br/>4B (2) This paragraph applies to applications made after the commencement of section 294 of the Copyright, Designs and Patents Act 1988 and to any application made before the commencement of that section in respect of a patent which has not at the commencement of that section passed the end of its fifteenth year.”.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
