<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 61: Proceedings for infringement of patent 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (61.01 - 61.25) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">61.01</h3>
<p>s.69 is also relevant
(:#ref-61)</p>

<p>This section provides for proceedings to be brought by the proprietor of a patent in relation to allegedly infringing acts and lays down some of the powers of the court and of the comptroller in such proceedings before each. It covers acts which are infringements of patents granted under the 1977 Act and, in respect of patent applications which have been published but not yet granted, acts which would have been infringements if a patent had already been granted under the Act. Proceedings cannot be commenced until notice of grant of the patent has been officially published, <a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-02">see 25.02</a>. In Hartington Conway Ltd’s Patent Applications [2004] RPC 7, the term “proprietor” was held not to mean “registered proprietor”; the statutory right of action was conferred on the person who could trace their title as set out in s.7.</p>

<h3 id="section-1">61.02</h3>

<p>For the applicability of s.61 in relation to European patents, <a href="/guidance/manual-of-patent-practice-mopp/section-60-meaning-of-infringement/#ref60-02">see 60.02</a>.</p>

<h3 id="ref61-03">61.03</h3>

<p>s.74(1) and s.74(3) is also relevant.</p>

<p>In order to refute an accusation of infringement, the validity of the patent in s.74(3) question is often challenged. The validity of a patent may be put in issue by way of defence in s.61  proceedings on any of the grounds on which the patent may be revoked under s.72. These grounds are set out in s.72(1), <a href="/guidance/manual-of-patent-practice-mopp/section-72-power-to-revoke-patents-on-application/#ref72-03">see 72.03</a>.</p>

<h3 id="section-2">61.04</h3>
<p>s.61(6) is also relevant.</p>

<p>In s.61 proceedings, when determining whether to grant the relief claimed and the extent thereof, the court and the comptroller should each apply the principles applied by the court in relation to the same kind of relief immediately before the appointed day (1 June 1978), subject to other provisions in this Part of the Act.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(1)</strong></td>
    </tr>
    <tr>
      <td>Subject to the following provisions of this Part of this Act, civil proceedings may be brought in the court by the proprietor of a patent in respect of any act alleged to infringe the patent and (without prejudice to any other jurisdiction of the court) in those proceedings a claim may be made -<br/><br/> (a) for an injunction or interdict restraining the defendant or defender from any apprehended act of infringement; <br/><br/> (b) for an order for him to deliver up or destroy any patented product in relation to which the patent is infringed or any article in which that product is inextricably comprised; <br/><br/> (c) for damages in respect of the infringement; <br/><br/>(d) for an account of the profits derived by him from the infringement; <br/><br/> (e) for a declaration or declarator that the patent is valid and has been infringed by him.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref61-04-1">61.04.1</h3>

<p>In the assessment of damages in an action for infringement where the defendant knew, or had reasonable grounds to know, that they had engaged in the infringing activity, the factors set out in regulation 3 of The Intellectual Property (Enforcement, etc.) Regulations 2006 (SI 2006 No. 1028) should be taken into account. This implements article 13 of Directive 2004/48/EC on the enforcement of intellectual property rights, and requires the damages awarded to the claimant to be appropriate to the actual prejudice they suffered as a result of the infringement. When awarding such damages, all appropriate aspects shall be taken into account, including in particular, negative economic consequences (e.g. any lost profits which the claimant has suffered and any unfair profits made by the defendant), and elements other than economic factors (e.g. the moral prejudice caused to the claimant by the defendant). Alternatively, where appropriate, the damages may be set on the basis of royalties or fees which would have been due had the defendant obtained a licence.</p>

<h3 id="ref61-04-2">61.04.2</h3>
<p>s.61(2) is also relevant</p>

<p>Following the Supreme Court judgment in <a rel="external" href="http://www.bailii.org/uk/cases/UKSC/2013/46.html">Virgin Atlantic Airways Limited v Zodiac Seats UK Limited [2013] UKSC 46</a>, revocation or amendment of the infringed patent can affect any damages payable by the infringer. The Supreme Court judgment overturns that of the Court of Appeal in <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2007/364.html">Unilin Beheer BV v Berry Floor NV and Others [2007] EWCA Civ 364</a>.</p>

<h3 id="ref61-04-3">61.04.3</h3>

<p>In <a rel="external" href="http://www.bailii.org/uk/cases/UKSC/2014/55.html">Les Laboratoires Servier &amp; Anor v Apotex Inc &amp; Ors (Rev 1) [2014] UKSC 55</a>, Apotex sought damages on the basis that Servier’s EP(UK), under which Apotex had been subject to an interim injunction, had subsequently been found to be invalid. Because Apotex had separately been found to infringe Servier’s Canadian patent, Servier argued that Apotex could not recover the damages sought in the UK, relying upon the principle that a party cannot benefit from their own illegal conduct (ex turpi causa). However, Lord Sumption JSC concluded that the illegality (“turpitude”) must be one that “engage[s …] the public interest” and that patent infringement was a breach of private rights which only affected the patentee’s interests. Thus the ex turpi causa principle did not apply, and did not prevent damages from being sought in those circumstances.</p>

<h3 id="proceedings-before-the-court">Proceedings before the court</h3>

<h3 id="section-3">61.05</h3>
<p>s.61(2) is also relevant</p>

<p>In proceedings for infringement of a patent before the court, the proprietor may claim an injunction (or interdict) restraining infringement, an order to deliver up or destroy infringing articles, damages <a href="#ref:61-11">(see 61.11)</a>, an account of profits and a declaration (or declarator) that the patent is valid and infringed. However, the court cannot both award damages and order an account of profits in respect of the same infringement. (Interdict and declarator are the Scottish terms).</p>

<h3 id="section-4">61.06</h3>

<p>The procedure in an action before the court is in general outside the scope of this Manual, and is governed by the Civil Procedure Rules.</p>

<h3 id="ref61-07">61.07</h3>

<p>Court proceedings for infringement of a patent may be stayed pending the outcome of proceedings under ss.71 and 72 before the comptroller (Hawker Siddeley Dynamics Engineering Ltd v Real Time Developments Ltd [1983] RPC 395) . In <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2013/1496.html">IPcom GmbH &amp; Co Kg v HTC Europe Co Ltd &amp; Ors [2013] EWCA Civ 1496</a> the Court of Appeal provided guidance on deciding whether to allow a stay of legal proceedings on the ground that there are parallel proceedings pending in the EPO contesting the validity of the patent (<a href="/guidance/manual-of-patent-practice-mopp/section-71-declaration-or-declarator-as-to-non-infringement/#ref71-02">see 71.02</a>).</p>

<h3 id="section-5">61.08</h3>
<p>s.130(1) and CPR 63.3 are also relevant</p>

<p>The “court” means the High Court (or the Court of Session in Scotland) and, for England and Wales, the patents county court. However, all High Court s.61 proceedings in England and Wales are assigned to the Chancery Division of the High Court and taken by the Patents Court.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(2)</strong></td>
    </tr>
    <tr>
      <td>The court shall not, in respect of the same infringement, both award the proprietor of a patent damages and order that he shall be given an account of the profits.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(3)</strong></td>
    </tr>
    <tr>
      <td>The proprietor of a patent and any other person may by agreement with each other refer to the comptroller the question whether that other person has infringed the patent and on the reference the proprietor of the patent may make any claim mentioned in subsection (1)(c) or (e) above.</td>
    </tr>
  </tbody>
</table>

<h3 id="proceedings-before-the-comptroller">Proceedings before the comptroller</h3>

<h3 id="section-6">61.09</h3>
<p>s.61(5) is also relevant</p>

<p>If the proprietor and an alleged infringer agree to do so, they may refer the question of infringement to the comptroller. Unless the comptroller declines to do so (<a href="#ref61-24">see 61.24</a>) the comptroller will determine whether the alleged infringer has in fact infringed the patent. However, the powers of the comptroller are more limited than those of the court, and the proprietor can claim only the reliefs mentioned in s.61(1)(c) (damages in respect of the infringement) and (e) (a declaration that the patent is valid and infringed).</p>

<h3 id="section-7">61.10</h3>

<p>It is customary to seek, in the first instance, a finding with regard to validity and infringement and an order for an enquiry as to damages; the amount of damages is then determined in separate proceedings.</p>

<h3 id="ref:61-11">61.11</h3>

<p>The Intellectual Property (Enforcement, etc.) Regulations 2006 (S.I. 2006 No. 1028) provides some guidance on the assessment of damages in an action for infringement <a href="#ref61-04-1">(see 61.04.1)</a>.</p>

<h3 id="section-8">61.12</h3>
<p>s.74(7)  is also relevant</p>

<p>Where proceedings are pending in the court under any of sections 58, 61, 69, 70-70F, 71 and 72, no proceedings may be instituted before the comptroller under s.61(3) without the leave of the court (see also <a href="#ref61-07">61.07</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-74-proceedings-in-which-validity-of-patent-may-be-put-in-issue/#ref74-07">74.07</a>).</p>

<h3 id="procedure">Procedure</h3>

<h3 id="section-9">61.13</h3>

<p>PR part 7 is also relevant</p>

<p>A reference to the comptroller under s.61(3) is made jointly by the parties thereto on Patents Form 2, accompanied by a joint statement giving full particulars of the matters which are in dispute and of those on which they are in agreement, and the capacity in which each is a party to the reference. The application should be accompanied by a statement of grounds in duplicate (see <a href="#ref61-14">61.14</a> and <a href="#ref61-22">61.22</a>. This starts proceedings before the comptroller, the Procedure for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05</a>.</p>

<p>Where validity is not the only matter in dispute</p>

<h3 id="ref61-14">61.14</h3>

<p>r.73(3) is also relevant</p>

<p>The proprietor of the patent or an exclusive licensee should file the statement of grounds, thus becoming the claimant in the proceedings.</p>

<h3 id="section-10">61.15</h3>

<p>[deleted]</p>

<h3 id="section-11">61.16</h3>

<p>r.73(3) and r.82(1) are also relevant</p>

<p>The other party (the defendant in the proceedings before the comptroller) r.82(1) may in their counterstatement challenge the validity of the patent or part thereof <a href="#ref61-03">(see 61.03)</a>. If they do, the claimant may be allowed to file a further statement setting out the grounds on which they contest the allegation of invalidity. The further statement may also include an application to amend the specification under s.75 (<a href="/guidance/manual-of-patent-practice-mopp/section-75-amendment-of-patent-in-infringement-or-revocation-proceedings/#ref75-04">see 75.04 to 75.08</a>).</p>

<h3 id="section-12">61.17</h3>

<p>[deleted]</p>

<h3 id="section-13">61.18</h3>

<p>[deleted]</p>

<h3 id="section-14">61.19</h3>

<p>[deleted]</p>

<h3 id="ref61-20">61.20</h3>

<p>s.65 is also relevant</p>

<p>If the validity of the patent in question is contested to any extent and the patent is found to be wholly or partially valid, the hearing officer acting for the comptroller may certify the finding and the fact that its validity was so contested.</p>

<h3 id="section-15">61.21</h3>

<p>In determining whether or not infringement has occurred, regard is had to the provisions of ss.60 and 64 as to what constitutes infringement. Regard is also had to the provisions of ss.46(3)(c), 62, 63 and 68 which inhibit the award of damages in various respects.</p>

<h3 id="where-only-validity-is-in-dispute">Where only validity is in dispute</h3>

<h3 id="ref61-22">61.22</h3>

<p>r.73(3) is also relevant</p>

<p>The procedure where only validity is in dispute is generally similar to that in <a href="#ref61-14">61.14</a> to <a href="#ref61-20">61.20</a> except that the other party should file the initial statement of grounds (including full particulars of the grounds on which invalidity is alleged) to become the claimant in the proceedings. The proprietor’s counter-statement may include an application to amend the specification under s.75.</p>

<h3 id="section-16">61.23</h3>

<p>s.72(5)  is also relevant</p>

<p>A decision of the comptroller (or on appeal from the comptroller) does not estop any party to civil proceedings in which infringement of a patent is in issue from alleging invalidity of the patent on any of the grounds referred to in s.72(1), whether or not any of the issues involved were decided in that decision.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(4)</strong></td>
    </tr>
    <tr>
      <td>Except so far as the context requires, in the following provisions of this Act - <br/><br/> (a) any reference to proceedings for infringement and the bringing of such proceedings includes a reference to a reference under subsection (3) above and the making of such a reference; <br/><br/> (b) any reference to a claimant or pursuer includes a reference to the proprietor of the patent; and <br/><br/> (c) any reference to a defendant or defender includes a reference to any other party to the reference</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(5)</strong></td>
    </tr>
    <tr>
      <td>If it appears to the comptroller on a reference under subsection (3) above that the question referred to him would more properly be determined by the court, he may decline to deal with it and the court shall have jurisdiction to determine the question as if the reference were proceedings brought in the court.</td>
    </tr>
  </tbody>
</table>

<h3 id="comptroller-declines-to-deal-with-question">Comptroller declines to deal with question</h3>

<h3 id="ref61-24">61.24</h3>
<p>CPR 63.11 is also relevant</p>

<p>The comptroller may consider that a question referred to them under s.61(3) would more properly be determined by the court and decline to deal with it. In such a case any person entitled to do must, within 14 days of the comptroller’s decision, issue a claim form to the court to determine the question. The court then determines the question as if the reference to the comptroller were proceedings brought in the court.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(6)</strong></td>
    </tr>
    <tr>
      <td>Subject to the following provisions of this Part of this Act, in determining whether or not to grant any kind of relief claimed under this section and the extent of the relief granted the court or the comptroller shall apply the principles applied by the court in relation to that kind of relief immediately before the appointed day.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 61(7)</strong></td>
    </tr>
    <tr>
      <td>If the comptroller awards any sum by way of damages on a reference under subsection (3) above, then - <br/><br/> (a) in England and Wales, the sum shall be recoverable, if a county court so orders, by execution issued from the county court or otherwise as if it were payable under an order of that court; <br/><br/> (b) in Scotland, payment of the sum may be enforced in like manner as an extract registered decree arbitral bearing a warrant for execution issued by the sheriff court of any sheriffdom in Scotland; <br/><br/> (c) in Northern Ireland, payment of the sum may be enforced as if it were a money judgment.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-17">61.25</h3>

<p>Section 61(7) was added by the Patents Act 2004 and came into force on 1 January 2005. This subsection enables any award of damages by the comptroller in infringement proceedings to be recovered through the enforcement mechanism of the county court in England and Wales (or the equivalent mechanisms in Scotland and Northern Ireland) without the need to bring fresh proceedings to enforce the award.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
