<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 85: European patent attorneys [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (85.01 - 85.02)  last updated October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">85.01</h3>

<p>This section provided that a person on the European list (ie the list of professional representatives maintained by the EPO under the EPC) could describe themselves as a European patent attorney, and could prepare documents (other than deeds) for use in proceedings before the comptroller under the Act in relation to a European patent or
application therefor, without being guilty of an offence under certain enactments.</p>

<h3 id="section-1">85.02</h3>
<p>Section 85, together with other provisions of the 1977 Act concerning patent agents, has been repealed by the CDP Act and been replaced by Part V of the CDP Act (Patent Agents and Trade Mark Agents), in which s.277 relates particularly to European patent attorneys.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
