<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 120: Hours of business and excluded days
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (120.01 - 120.08) last updated: January 2023.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">120.01</h3>

<p>The section enables the comptroller to give directions regarding the hours of business and excluded days in relation to patents matters. This power was brought in by paragraph 24 of Schedule 2 to the Patents Act 2004, which amended s.120 and came into force on 22 September 2004 through the Patents Act 2004 (Commencement No. 1 and Consequential and Transitional Provisions) Order 2004 (SI 2004 No. 2177). The power to give directions replaced the provision which authorised rules prescribing the days and hours when the Office is closed for business. The latest directions to be made under this section and came into force on 15 July 2011. These are reproduced under the “Relevant Official Notices and Directions” section of this Manual. The official addresses of the Office for the purpose of the filing of documents etc are Concept House, Cardiff Road, Newport, South Wales, NP10 8QQ and 10 Victoria Street, London, SW1H 0NB. Documents may also be sent to the Office in Newport using the DX system. The Office has three DX numbers: 722540, 722541 and 722542. Documents sent using this system should be addressed in the form “DX 722540 Cleppa Park 3”.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 120(1)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may give directions specifying the hour at which the Patent Office shall be taken to be closed on any day for purposes of the transaction by the public of business under this Act or of any class of such business, and the directions may specify days as excluded days for any such purposes.</td>
    </tr>
  </tbody>
</table>

<h3 id="hours-of-business">Hours of business</h3>

<h3 id="section-1">120.02</h3>

<p>The Office is not taken to be closed at any time for the purposes of filing new applications in respect of which no priority declaration under s.5(2) is made. Applications which do not claim priority can be filed on all days and at all times using the postal services, the Office’s e-filing services or hand delivery to the Newport or London office.</p>

<h3 id="section-2">120.03</h3>

<p>For the purposes of filing applications in respect of which a priority declaration under s.5(2) is made and for the purposes of filing other forms and documents, the Office is closed all day on Saturday and Sunday and public holidays.</p>

<h3 id="section-3">120.04</h3>

<p>On Monday to Friday (except public holidays), the Office closes at midnight for the filing of applications, forms and other documents (except for the filing of applications in respect of which no declaration for the purposes of s.5(2) is made) but at 5 pm for all other business. The Office opens to the public at 9 am but it is possible to hand in documents prior to that time. After 5 pm and before 9 am the following working day, the documents should be handed to the custodian. During the night, it may be necessary to use the telephone at the gatehouse in order to gain access to the Newport office.</p>

<h3 id="section-4">120.04.1</h3>

<p>Applications likely to be subject to directions under s.22 <a href="/guidance/manual-of-patent-practice-mopp/section-22-information-prejudicial-to-national-security-or-safety-of-public/#ref22-07">see 22.07</a> may be filed in person at the Newport or London office, but only between the hours of 9am and 5pm. Such applications should be in envelopes marked “For the attention of GR70” and the receptionist should be informed that the application is for GR70.</p>

<h3 id="section-5">120.05</h3>

<p>All documents handed in outside the normal 9 am to 5 pm Monday to Friday periods should be in sealed packages. The packages are stamped with the date and time of receipt. During the 9 am to 5 pm periods, documents should be handed in at the appropriate counters.</p>

<h3 id="excluded-days">Excluded days</h3>

<h3 id="section-6">120.06</h3>

<p>Good Friday, Christmas Day and any day specified as or proclaimed to be a bank holiday in England in or under section 1 of the Banking and Financial Dealings Act 1971 are excluded days for the purposes of all business, except for the filing of applications in respect of which no declaration for the purposes of s.5(2) is made. All Saturdays immediately preceded by one of the above and all Sundays are also excluded days for the purposes of all business, except for the filing of applications in respect of which no declaration for the purposes of s.5(2) is made; all other Saturdays are similarly excluded except for the filing of applications in respect of which no declaration for the purposes of s.5(2) is made). Tuesday 4 January 2000 is also particularly specified as an excluded day for all purposes under the Act.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 120(2)</strong></td>
    </tr>
    <tr>
      <td>Any business done under this Act on any day after the hour so specified in relation to business of that class, or on a day which is an excluded day in relation to business of that class, shall be taken to have been done on the next following day not being an excluded day; and where the time for doing anything under this Act expires on an excluded day that time shall be extended to the next following day not being an excluded day.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref120-07">120.07</h3>

<p>Any business under the Act which is done when the Office is closed (i.e. after the hour of closure or on an excluded day) for the class of business in question is treated as done on the next non-excluded day. (This of course does not affect items delivered to the Office prior to 9 a.m. on a non-excluded day, such items being accorded that day’s date as their date of filing.) Any time limit expiring on an excluded day is extended to the next nonexcluded day. However, excluded days do not constitute a period of general interruption in the postal services as contemplated within r.110, <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-43">see 123.43-45</a>.The compliance period does not impose any additional requirement on the applicant therefore this is not extended to the next non-excluded day, <a href="/guidance/manual-of-patent-practice-mopp/section-20-failure-of-application/#ref20-02-2">see 20.02.2</a>.</p>

<h3 id="section-1203">Section 120(3)</h3>

<p>Directions under this section shall be published in the prescribed manner.</p>

<h3 id="section-7">120.08</h3>

<p>Directions under this section are required to be published in the Journal as prescribed by r.117(b).</p>


</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
