<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 11: Effect of transfer of application under s.8 or 10 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (11.01 - 11.10) last updated: October 2019.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">11.01</h3>

<p>Orders or directions regarding the name(s) in which a patent application should proceed may be given under s.8 (determination before grant of questions about entitlement to patents under the Act) or s.10 (disputes between joint applicants). The effects of such orders or directions on licences or other rights in or under the application are laid down by s.11. This section also gives certain rights to applicants or licensees who worked the invention, or prepared to do so, before the registration of a reference under s.8, see <a href="#ref11-05">11.05</a> to <a href="#ref11-07">11.07</a>.</p>

<h3 id="ref11-02">11.02</h3>

<p>s.12(5) is also relevant</p>

<p>Section 11 is also applicable in relation to orders made under  s.12(1) (determination before grant of questions about entitlement to  patents under foreign or international law) and orders made by a convention court with respect to corresponding questions. For the purposes of s.11, those orders are treated as if made under s.8. The directions under s.10 to which s.11 applies include those given in relation to patents under foreign or international law by virtue of s.12(4).  With regard to the applicability of sections 8 to 12 in relation to European patents, see also <a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-02">8.02</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-10-handling-of-application-by-joint-applicants/#ref10-03">10.03</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-12-determination-of-questions-about-entitlement-to-foreign-and-convention-patents-etc/#ref12-09">12.09</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(1)</strong></td>
    </tr>
    <tr>
      <td>Where an order is made or directions are given under section 8 or 10 above that an application for a patent shall proceed in the name of one or some of the original applicants (whether or not it is also to proceed in the name of some other person), any licences or other rights in or under the application shall, subject to the provisions of the order and any directions under either of those sections, continue in force and be treated as granted by the persons in whose name the application is to proceed.</td>
    </tr>
  </tbody>
</table>

<h3 id="where-an-original-applicant-is-retained">Where an original applicant is retained</h3>

<h3 id="section-1">11.03</h3>

<p>This subsection applies where the effect of an order or directions under s.8 or 10 (or s.12, see 11.02) is that the name(s) in which the application proceeds include one or more of the original applicants. Licences or other rights continue in force as if granted by the person(s) in  whose name the application proceeds, unless  the order or directions provide otherwise.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(2)</strong></td>
    </tr>
    <tr>
      <td>Where an order is made or directions are given under section 8 above that an application for a patent shall proceed in the name of one or more persons none of whom was an original applicant (on the ground that the original applicant or applicants was or were not entitled to be granted the patent), any licences or other rights in or under the application shall, subject to the provisions of the order and any directions under that section and subject to subsection (3) below, lapse on the registration of that person or those persons as the applicant or applicants or, where the application has not been published, on the making of the order.</td>
    </tr>
  </tbody>
</table>

<h3 id="where-none-of-the-original-applicants-is-retained">Where none of the original applicants is retained</h3>

<h3 id="section-2">11.04</h3>

<p>Subsections (2) to (5) apply where the effect of an order or directions under s.8 (or s.12, see <a href="#ref11-02">11.02</a> is that the name(s) in which the application proceeds include none of the original applicants. Licences or other rights lapse on registration of the new name(s) or, where the application is unpublished, on the making of the order, unless in either case the order or directions provide otherwise but see <a href="#ref11-05">11.05</a> to <a href="#ref11-10">11.10</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(3)</strong></td>
    </tr>
    <tr>
      <td>If before registration of a reference under section 8 above resulting in the making of any order mentioned in subsection (2) above -<br/>(a)	the original applicant or any of the applicants, acting in good faith, worked the invention in question in the United Kingdom or made effective and serious preparations to do so; or <br/>(b)	a licensee of the applicant, acting in good faith, worked the invention in the United Kingdom or made effective and serious preparations to do so;<br/>that or those original applicant or applicants or the licensee shall, on making a request within the prescribed period to the person in whose name the application is to proceed, be entitled to be granted a licence (but not an exclusive licence) to continue working or, as the case  may be, to work the invention.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(3A)</strong></td>
    </tr>
    <tr>
      <td>If, before registration of a reference under section 8 above resulting in the making of an order under subsection (3) of that section, the condition in subsection (3)(a) or (b) above is met, the original applicant or any of the applicants or the licensee shall, on making a request within the prescribed period to the new applicant, be entitled to be granted a licence (but not an exclusive licence) to continue working or, as the case may be, to work the invention so  far as it is the subject of the new application.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref11-05">11.05</h3>

<p>The making of a reference under s.8 (or s.12) is recorded in the register, see <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05-4">123.05.4</a>.  If the reference results in an order under s.8 (or s.12) to the effect that none of the original applicants is retained or that a new application for a patent may be made, the Office notifies all original applicants and their licensees of whom it is aware of the making of the order.</p>

<h3 id="ref11-06">11.06</h3>

<p>r.90(1) and r.108(1) is also relevant</p>

<p>An applicant or licensee so notified may make a request under s.11(3) (or under that subsection as applied by s.12(5)) to the person in whose name the application is to proceed for a non-exclusive licence to work or continue working the invention. Similarly, following the insertion of s.11(3A) by the Patents Act 2004 with effect from 1 January 2005, an applicant or licensee notified may make a request to the person making a new application under s.8(3) for a non-exclusive licence to work or continue working the invention. Any such request should be made within two months of the date of the order under s.8 or, where s.11 is applied by s.12(5), under s.12(1), this period being extensible at the discretion of the comptroller. (For the meanings of “exclusive licence” and “non-exclusive licence”, see s.130(1).)</p>

<h3 id="ref11-07">11.07</h3>

<p>The original applicant or licensee making the request is entitled to such a licence if they, acting in good faith, worked the invention in the UK or made effective and serious preparations to do so, before the registration of the reference. The period and terms of the licence should comply with s.11(4), ie, be “reasonable”. Any dispute regarding such period or terms or whether they are entitled to a licence may be referred to the comptroller under s.11(5) by either party, see <a href="#ref11-08">11.08</a> to <a href="#ref11-10">11.10</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(4)</strong></td>
    </tr>
    <tr>
      <td>A licence under subsection (3) or (3A) above shall be granted for a reasonable period and on reasonable terms.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 11(5)</strong></td>
    </tr>
    <tr>
      <td>Where an order is made as mentioned in subsection (2) or (3A) above, the person in whose name the application is to proceed or, as the case may be, who makes the new application, or any person claiming that he is entitled to be granted any such licence may refer to the comptroller the question whether the latter is so entitled and whether any such period is or terms are reasonable, and the comptroller shall determine the question and may, if he considers it appropriate, order the grant of such a licence.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref11-08">11.08</h3>

<p>r.76(4)(c) is also relevant
PR  part  7 is also relevant</p>

<p>The dispute see <a href="#ref11-07">11.07</a> should be referred by filing Patents Form 2 accompanied by a copy thereof and a statement of grounds in duplicate. This starts proceedings before the comptroller, the procedure for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05  – 123.05.13</a>. The statement should include the period or terms of the licence which the claimant is prepared to accept or grant.</p>

<h3 id="section-3">11.09</h3>

<p>r.77 is also relevant</p>

<p>The Office sends a copy of the reference and statement to every person (not being the claimant) in whose name the application is to proceed or, as the case may be, who makes the new application, and every person claiming to be entitled to a licence. If any recipient does not agree to grant or accept a licence as specified they should file a counter- statement in the proceedings.</p>

<h3 id="ref11-10">11.10</h3>

<p>s.108 is also relevant</p>

<p>When the comptroller determines the question to which the  reference relates they may, if appropriate, order the grant of such a licence <a href="#ref11-06">see 11.06</a>. Without prejudice to any other method of enforcement, such an order has effect as if it were a deed, executed by the proprietor of the patent and all other necessary parties, granting a licence in accordance with the order.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
