<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70C: Remedies and defences
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (70C.01-70C.04) last published: September 2017.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-70c1">Section 70C(1)</h3>

<p>Proceedings in respect of an actionable threat may be brought against the person who made the threat for—
(a) a declaration that the threat is unjustified;
(b) an injunction against the continuance of the threat;
(c) damages in respect of any loss sustained by the aggrieved person by reason of the threat.</p>

<h3 id="section-70c2">Section 70C(2)</h3>

<p>In the application of subsection (1) to Scotland-<br/>
(a) “declaration” means “declarator”, and<br/>
(b) “injunction” means “interdict”.<br/></p>

<h3 id="c01">70C.01</h3>

<p>Section 70C(1) sets out the remedies that a person aggrieved by the threat can obtain when bringing legal action against a person who has made the threat. An injunction can be obtained as an interim or final remedy. The damages that can be awarded must relate to a loss caused by the threat that is a natural and reasonable consequence of the threat being made.</p>

<h3 id="section-70c3">Section 70C(3)</h3>

<p>It is a defence for the person who made the threat to show that the act in respect of which proceedings were threatened constitutes (or if done would constitute) an infringement of the patent.</p>

<h3 id="ref70C-02">70C.02</h3>

<p>Section 70C(3) sets out that, if the person who has made the threat can show the act in question is an infringing act, or if done would be an infringing act, then they have a defence in any threats proceedings. However, the validity of the patent can be put in issue in proceedings under the unjustified threats provisions (<a href="/guidance/manual-of-patent-practice-mopp/section-74-proceedings-in-which-validity-of-patent-may-be-put-in-issue/#ref74-03">see 74.03</a>). Therefore, even if the act in question was found to fall within the scope of the patent claims, if the person aggrieved by the threat successfully shows that the patent is invalid, then no infringement can have occurred. In this case, the section 70C(3) defence that infringement occurred must fail.</p>

<h3 id="section-70c4">Section 70C(4)</h3>

<p>It is a defence for the person who made the threat to show-<br/>(a) that, despite having taken reasonable steps, the person has not identified anyone who has done an act mentioned in section 70A(2)(a) or (b) in relation to the product or the use of a process which is the subject of the threat, and<br/>(b) that the person notified the recipient, before or at the time of making the threat, of the steps taken.</p>

<h3 id="c03">70C.03</h3>

<p>Section 70C(4) provides a defence which allows alleged secondary infringers to be threatened in the circumstances where a primary actor cannot be found. This defence applies the principle that a patent holder must first try to direct any threats towards an alleged primary actor. If the steps taken identify a primary actor, then this defence cannot be relied upon even if it appears likely that there are multiple primary actors, not all of whom have been found.</p>

<h3 id="c04">70C.04</h3>

<p>Whether the requirement of “reasonable steps” is satisfied depends on the facts of the case. A reasonable step can include the use of the permitted communications exception (see <a href="/guidance/manual-of-patent-practice-mopp/section-74-proceedings-in-which-validity-of-patent-may-be-put-in-issue/#ref70B-02">70B.02-70B.03</a>) to determine whether a primary act has been committed and by whom. In some circumstances, it is reasonable to pursue all possible lines of enquiry, however in other circumstances it may be reasonable to do less.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
