<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 37: Determination of right to patent after grant 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (37.01 - 37.22) last updated: April 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">37.01</h3>

<p>This is the last of the three sections (8, 12 and 37) under which questions about entitlement to patents may be referred to the comptroller. Section 37 relates to such questions in the case of patents granted under the Act and granted European patents (UK).</p>

<h3 id="ref37-02">37.02</h3>

<p>s.25(1) is also relevant.</p>

<p>The procedure for a reference under s.37 is prescribed by Part 7 (Proceedings heard before the comptroller) of the Patents Rules 2007 (<a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">see 123.05 – 123.05.13</a>). Questions may also be determined under s.37 as a result of a reference under s.8 (which provides for questions about entitlement to be referred to the comptroller at any time before a patent has been granted for the invention in question). This is by virtue of s.9 which provides that, if a question referred to the comptroller under s.8 has not been determined when a patent is granted, it may then be treated as having been referred under s.37. Section 37 takes effect from the date on which the notice of grant appears in the Journal; when a question is referred between the date on which the grant letter is issued and this date, it is treated as having been referred under s.37 on the date on which the notice of grant appears in the Journal (<a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-03">see 8.03</a>).</p>

<h3 id="section-1">37.03</h3>

<p>Certain effects of orders made under s.37, particularly their effects with regard to licences, are laid down by s.38.</p>

<h3 id="section-2">37.04</h3>

<p>Some guidance with regard to the determination of questions about entitlement is given by the judgments and decisions referred to in <a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-06">8.06 to 8.09</a>, some of which were under s.8 but others of which were under s.12 or s.37. The considerations applying to such questions under s.8, s.12 or s.37 are essentially the same.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(1)</strong></td>
    </tr>
    <tr>
      <td>After a patent has been granted for an invention any person having or claiming a proprietary interest in or under the patent may refer to the comptroller the question <br/>­(a) who is or are the true proprietor or proprietors of the patent,<br/>(b) whether the patent should have been granted to the person or persons to whom it was granted, or<br/>(c) whether any right in or under the patent should be transferred or granted to any other person or persons;<br/>and the comptroller shall determine the question and make such order as he thinks fit to give effect to the determination.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref37-05">37.05</h3>

<p>s.37(5) is also relevant.</p>

<p>A question concerning entitlement to a granted patent may be referred to the comptroller under s.37 by any person having or claiming a proprietary interest in a patent at any time after publication of the mention of its grant (<a href="/guidance/manual-of-patent-practice-mopp/section-25-term-of-patent/#ref25-02">see 25.02</a>). However, the remedies available may be restricted if the reference is made on or after the second anniversary of the mention of grant in the journal, <a href="#ref37-19">see 37.19-20.1</a>.</p>

<h3 id="section-3">37.06</h3>

<p>[deleted]</p>

<h3 id="section-4">37.07</h3>

<p>The question (or one referred under s.8 but treated as referred under s.3, <a href="#ref37-02">see 37.02</a>) is normally in due course determined by the comptroller although they may instead decline to deal with it, <a href="#ref37-12">see 37.21</a>. The comptroller has a general power to make such order as they think fit to give effect to the determination, which order may if appropriate contain inter alia any of the provisions set out in subsection (2), <a href="#ref37-12">see 37.12</a>, or allow the making of a new application, <a href="#ref37-15">see 37.15</a>. The order may over-ride the specific provisions of s.36(3) - <a href="/guidance/manual-of-patent-practice-mopp/section-36-co-ownership-of-patents-and-applications-for-patents/#ref36-07">36.07</a>.</p>

<h3 id="procedure">Procedure</h3>

<h3 id="ref37-08">37.08</h3>

<p>PR part 7	is also relevant.</p>

<p>A reference under s.37(1) should be made on Patents Form 2 accompanied by a copy thereof and a statement of grounds in duplicate. This starts proceedings before the comptroller, the procedure for which is discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>.</p>

<h3 id="section-5">37.09</h3>

<p>[deleted]</p>

<h3 id="not-used">[37.10-11 Not used.]</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(2)</strong></td>
    </tr>
    <tr>
      <td>Without prejudice to the generality of subsection (1) above, an order under that subsection may contain provision <br/>(a) directing that the person by whom the reference is made under that subsection shall be included (whether or not to the exclusion of any other person) among the persons registered as proprietors of the patent;<br/> (b) directing the registration of a transaction, instrument or event by virtue of which that person has acquired any right in or under the patent;<br/>(c) granting any licence or other right in or under the patent;<br/>(d) directing the proprietor of the patent or any person having any right in or under the patent to do anything specified in the order as necessary to carry out the other provisions of the order.</td>
    </tr>
  </tbody>
</table>

<h3 id="specific-remedies-available">Specific remedies available</h3>

<h3 id="ref37-12">37.12</h3>

<p>Orders under s.37(1) may, in respect of the patent in question, inter alia (a) direct that the claimant should be on the register as a proprietor; (b) direct registration of a transaction, instrument or event in favour of the claimant; (c) grant any licence. Moreover, the existing proprietor or any person having rights in respect of the patent may be given directions as necessary to carry out the other provisions of the order (<a href="#ref37-13">see 37.13</a> if those directions are not complied with). However, no order is made by virtue of s.37(2) unless notice of the reference has been given to interested parties as required by s.37(7) (such notice normally having been given by the Office).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(3)</strong></td>
    </tr>
    <tr>
      <td>If any person to whom directions have been given under subsection (2)(d) above fails to do anything necessary for carrying out any such directions within 14 days after the date of the order containing the directions, the comptroller may, on application made to him by any person in whose favour or on whose reference the order containing the directions was made, authorise him to do that thing on behalf of the person to whom the directions were given.</td>
    </tr>
  </tbody>
</table>

<h3 id="directions-not-complied-with">Directions not complied with</h3>

<h3 id="ref37-13">37.13</h3>

<p>If a person given directions under s.37(2)(d) fails to comply with them within 14 days, any person in whose favour or on whose reference the order containing those directions was made may apply for authority to do whatever is necessary on behalf of that person. An application under s.37(2)(d) is not included in Schedule 3 to the Patents Rules 2007. Patents Form 2 need not therefore be filed in order to start the application, which
should however set out fully the facts upon which the applicant relies and the nature of the authorisation sought.</p>

<h3 id="section-6">37.14</h3>

<p>The Office sends a copy of the application to the person alleged to have failed to comply with the directions. The comptroller may give such directions as they may think fit with regard to the subsequent procedure, and may grant authorisation if they think fit.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(4)</strong></td>
    </tr>
    <tr>
      <td>Where the comptroller finds on a reference under this section that the patent was granted to a person not entitled to be granted that patent (whether alone or with other persons) and on application made under section 72 below makes an order on that ground for the conditional or unconditional revocation of the patent, the comptroller may order that the person by whom the application was made or his successor in title may, subject to section 76 below, make a new application for a patent -<br/>(a) in the case of unconditional revocation, for the whole of the matter comprised in the specification of that patent; and<br/>(b) in the case of conditional revocation, for the matter which in the opinion of<br/>the comptroller should be excluded from that specification by amendment under section 75 below;<br/>and where such new application is made, it shall be treated as having been filed on the date of filing the application for the patent to which the reference relates.</td>
    </tr>
  </tbody>
</table>

<h3 id="making-of-new-application">Making of new application</h3>

<h3 id="ref37-15">37.15</h3>

<p>s.72(2)(a)	is also relevant.</p>

<p>Subsection (4) provides, at the discretion of the comptroller, for the making of a new application by the claimant where the comptroller has (as well as finding that an existing proprietor of the patent was not entitled thereto) ordered conditional or unconditional revocation of the patent in question under s.72 on entitlement grounds, <a href="/guidance/manual-of-patent-practice-mopp/section-72-power-to-revoke-patents-on-application/#ref72-40">see 72.40</a>. The application for revocation under s.72 on those grounds may be made only by a person who has already been found under s.37 (or by the court in an action for a declaration or declarator) to be entitled to be granted that patent or a patent for part of its content. If the revocation ordered is unconditional, the permitted new application is for the whole content of the revoked patent whereas if conditional, the permitted new application is for that part of the patent’s content which should be excised (by amendment under s.75).</p>

<h3 id="section-7">37.16</h3>

<p>r.20(2)-(4), r.108(1) is also relevant.</p>

<p>Where the decision to make an order has not been appealed, the new r.108(1) application should be made within a period of three months calculated from the day after the order under section 37(4) was made. However, where an appeal is brought, the new application should be made within a period of three months beginning immediately after the date on which the appeal was finally disposed of. In either case, this period may be extended or shortened at the discretion of the comptroller.</p>

<h3 id="section-8">37.17</h3>

<p>s.76(1) is also relevant.</p>

<p>The new application is treated as having been filed on the date of filing of the earlier application. However, the application requires amendment in order to proceed if it discloses matter which extends beyond that disclosed in the earlier application as filed, as discussed in <a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-25">8.25</a>.</p>

<h3 id="ref37-17-1">37.17.1</h3>

<p>The compliance period for putting in order an application under s.37(4) is prescribed by r.30(3) and is the same as that for an application under s.8(3) or 12(6) - <a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-25-1">see 8.25.1</a>.</p>

<h3 id="section-9">37.18</h3>

<p>An order under s.37(4) allowing the making of such a new application may be precluded by s.37(5), <a href="#ref37-19">see 37.19</a>. Moreover, such an order is not made unless notice of the reference has been given to interested parties as required by s.37(7) (such notice normally having been given by the Office).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(5)</strong></td>
    </tr>
    <tr>
      <td>On any such reference no order shall be made under this section transferring the patent to which the reference relates on the ground that the patent was granted to a person not so entitled, and no order shall be made under subsection (4) above on that ground, if the reference was made after the second anniversary of the date of the grant, unless it is shown that any person registered as a proprietor of the patent knew at the time of the grant or, as the case may be, of the transfer of the patent to him that he was not entitled to the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="effect-of-timing-of-reference">Effect of timing of reference</h3>

<h3 id="ref37-19">37.19</h3>

<p>Orders under s.37 transferring the patent in question on the ground that it was granted to a person not so entitled, or under s.37(4) allowing a new application on the same ground, can be made only (with one exception) if the reference is made within a period of two years from the date of publication of the mention of grant of the patent (<a href="#ref37-20-1">see 37.20.1</a> below). The exception to this time limit is where it is shown that a registered proprietor knew at the time of grant or, if applicable, of transfer of the patent to them that they were not entitled to the patent. It was held in <a href="https://www.gov.uk/government/publications/patent-decision-o07493">Cartwright’s Patent (BL O/74/93)</a> that the words “not so entitled” in s.37(5) are not restricted to a reference under s.37(1)(b) but are also applicable in the case of a reference under s.37(1)(a).</p>

<h3 id="section-10">37.19.1</h3>

<p>The fact that a reference is not opposed does not override the limitation on the comptroller’s powers imposed by s.37(5) and the consequential onus on the referrer to show that the registered proprietor knew at the relevant time that they were not entitled to a patent <a href="https://www.gov.uk/government/publications/patent-decision-o04694">(Parr’s Patent, BL O/46/94)</a>.</p>

<h3 id="ref37-20">37.20</h3>

<p>s.130(7) is also attached.</p>

<p>Subsection (5) is so framed as to have, as nearly as practicable, the same effects as the corresponding provisions of the EPC, CPC and PCT. Article 23(3) of the CPC [1989] appears to be equivalent. In Yeda Research and Development Co Ltd v RhonePoulenc Rorer International Holdings Inc. [2007] UKHL 43, the House of Lords allowed an amendment to a statement initially claiming joint ownership to claim sole ownership even though the 2 year limitation period had expired, on the basis that the original reference had
been made within that period.</p>

<h3 id="ref37-20-1">37.20.1</h3>

<p>The reference must be made by, at the latest, the second anniversary of the date of grant.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(6)</strong></td>
    </tr>
    <tr>
      <td>An order under this section shall not be so made as to affect the mutual rights or obligations of trustees or of the personal representatives of a deceased person, or their rights or obligations as such.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(7)</strong></td>
    </tr>
    <tr>
      <td>Where a question is referred to the comptroller under this section an order shall not be made by virtue of subsection (2) or under subsection (4) above on the reference unless notice of the reference is given to all persons registered as proprietor of the patent or as having a right in or under the patent, except those who are parties to the reference.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(8)</strong></td>
    </tr>
    <tr>
      <td>If it appears to the comptroller on a reference under this section that the question referred to him would more properly be determined by the court, he may decline to deal with it and, without prejudice to the court’s jurisdiction to determine any such question and make a declaration, or any declaratory jurisdiction of the court in Scotland, the court shall have jurisdiction to do so.</td>
    </tr>
  </tbody>
</table>

<h3 id="comptroller-declines-to-deal-with-question">Comptroller declines to deal with question</h3>

<h3 id="section-11">37.21</h3>
<p>CPR 63.11 is also relevant.</p>

<p>The comptroller has discretion to decline to deal with a question they consider would more properly be determined by the court. The relevant procedure, subject to rule 63.11 of Part 63 of the Civil Procedure Rules, and comments on the exercise of this discretion are given in 8.28 to 8.30, and chapter 2 of the Patent Hearings Manual.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 37(9)</strong></td>
    </tr>
    <tr>
      <td>The court shall not in the exercise of any such declaratory jurisdiction determine a question whether a patent was granted to a person not entitled to be granted the patent if the proceedings in which the jurisdiction is invoked were commenced after the second anniversary of the date of the grant of the patent, unless it is shown that any person registered as a proprietor of the patent knew at the time of the grant or, as the case may be, of the transfer of the patent to him that he was not entitled to the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="restriction-on-determination-by-court">Restriction on determination by court</h3>

<h3 id="section-12">37.22</h3>

<p>Subsection (9) places a limitation (similar to that in subsection (5), <a href="#ref37-19">see 37.19</a> on the power of the court to determine a question whether a patent was granted to a person not entitled thereto. The use of the phrase “declaratory jurisdiction” may refer back to the way in which it is used in subsection (8) and thus restrict the effect of subsection (9) to Scotland, but appears more likely to have the broader meaning of the jurisdiction of the court, both in Scotland and elsewhere, to make a declaration.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
