<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 94: Communication of information to the European Patent Office, etc 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (94.01 - 94.03) last updated April 2008.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-94">Section 94</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 94</strong></td>
    </tr>
    <tr>
      <td>It shall not be unlawful by virtue of any enactment to communicate the following information in pursuance of the European Patent Convention to the European Patent Office or the competent authority of any country which is party to the Convention, that is to say<br/>(a) information in the files of the court which, in accordance with the rules of court, the court authorises to be so communicated; <br/> (b) information in the files of the Patent Office which, in accordance with rules under this Act, the comptroller authorises to be so communicated.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">94.01</h3>

<p>CPR 63PD para 14.1 and CPR 63PD para 14.2 are also relevant</p>

<p>This section provides that the communication of information in pursuance of the EPC as set out below is not unlawful.</p>

<h3 id="section-1">94.02</h3>

<p>r.63 and r.51 are also relevant</p>

<p>The Practice Direction supplementing Part 63 of the Civil Procedure Rules provides that the court may authorise the communication to the EPO or the competent authority of any country which is a party to the EPC of any such information in the files of the court as the court thinks fit. However, before authorising the disclosure of such information, the court may permit any party who may be affected by the disclosure to make representations, in writing or otherwise, on the question of whether the information should be disclosed.</p>

<h3 id="section-2">94.03</h3>

<p>The comptroller may authorise any information in the files of the Office to be communicated to the EPO or to a competent authority of any country which is a party to the EPC, except where that information cannot be communicated under s.118.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
