<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 46: Patentee's application for entry in register that licences are available as of right 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (46.01 - 46.78.3) last updated: April 2023.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref46-01">46.01</h3>

<p>This section provides for the making of an entry in the register that licences under a patent are available as of right, thereby reducing subsequent renewal fees by half. Such entries in the register under s.46 may be made at the request of the proprietor of the patent. It is also concerned with the settlement of the terms of such licences and with proceedings for infringement of a patent under which such a licence has been granted. Section 47 makes provision for the cancellation of an entry made under this section.
Procedures under s.46 are prescribed by rule 43 and Part 7 of the Patents Rules 2007.</p>

<h3 id="ref46-02">46.02</h3>

<p>s.53(4), s.49(4) is also relevant</p>

<p>Sections 48 to 54 relate to the making of entries that licences are available as of right (and the compulsory grant of licences without there being such an entry) by order of the comptroller. A compulsory entry made under ss.48 to 51 has the same effect as an entry made under s.46, and some of the provisions of s.46 also apply to a licence granted by virtue of a compulsory entry. According to the observations of Lord Diplock in the House of Lords in Allen &amp; Hanburys Ltd v Generics (UK) Ltd and Gist-Brocades NV and others and the Comptroller-General of Patents [1986] RPC 203 (hereinafter known as the GistBrocades case), recourse may be had to the provisions of s.48(3) and s.50 to identify the policy to be achieved when settling the terms of a licence under s.46(3) (even though the Act does not specifically state this to be so), as discussed <a href="#ref46-29">in 46.29</a>.</p>

<h3 id="deleted">46.03-04 [deleted]</h3>

<h3 id="ref46-05">46.05</h3>

<p>The term ‘licence’ has been defined by Lord Diplock in his judgment in the ‘Gist-Brocades’ case [1986] RPC 203 at page 246 as follows: “A licence passes no proprietary interest in anything, it only makes an action lawful that would otherwise have been unlawful. In the context of the royal grant of patents for inventions it was a consent given by the proprietor of the patent to another person, the licensee, to do something that the patent entitled the proprietor of it to prevent anyone from doing except with his consent. This is the meaning which “licence” has borne throughout the UK patent legislation up to and including the Act of 1977. Apart from certain statutory prohibitions … such a licence, at any rate where it is granted by the proprietor of his own free will, may be subject to whatever limitations or conditions the proprietor thinks fit to impose”.</p>

<h3 id="section">46.06</h3>

<p>ss.48-51, s.24(2); r34 is also relevant</p>

<p>As Lord Diplock goes on to explain, the concept of the particular class of  licences known as “licences of right” was introduced into domestic patent law by the Patents and Designs Act 1919. That Act provided that the words “licences of right” could be endorsed upon a patent and entered in the register either voluntarily at the request of the patentee or compulsorily by order of the comptroller upon the application of any interested
person on the ground that there had been an abuse of monopoly rights under the patent, the legal consequences being the same whether the endorsement was made voluntarily or compulsorily. Those provisions have been reenacted in the present Act, although since this provides for issue of a certificate of grant rather than letters patent the fact that licences are available as of right is only entered in the register.</p>

<h3 id="section-1">46.07</h3>

<p>From 1st January 2012, applicants interested in licensing the inventions contained in their international applications can request the International Bureau of WIPO to make this information available on its Patentscope website. Although this will indicate that a licence of right is available for the invention contained in the international application, this will have no effect under section 46(1) of the Act when the application enters the national phase. An entry that a licence is available as of right can only be recorded on the Register once the patent has been granted. Applicants wishing to apply for an entry to be made in the Register that licences are available as of right on their international application (UK) will need to request this after the patent application has been granted as detailed in paragraph <a href="#ref46-08">46.08</a> below.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(1)</strong></td>
    </tr>
    <tr>
      <td>At any time after the grant of a patent its proprietor may apply to the comptroller for an entry to be made in the register to the effect that licences under the patent are to be available as of right.</td>
    </tr>
  </tbody>
</table>

<h3 id="application-for-licences-of-right-entry">Application for ‘Licences of Right’ entry</h3>

<h3 id="ref46-08">46.08</h3>

<p>r.43(1) is also relevant</p>

<p>At any time after the publication in the Journal of notice of grant of a patent s.46(3)(d)	 (see 25.02) its proprietor may apply for a “licences of right” entry to be made in the register. The application should be made on Patents Form 28. It is advisable to make the application at least 28 working days (longer if other persons need to be notified, <a href="#ref46-09">see 46.09</a>) before renewal of the patent falls due so as to allow time for the entry to be made before that date. If the entry is not made in time, payment of that renewal fee at full rate is necessary instead of at the half rate payable after the day of the entry. Renewal fees that have already been paid cannot be refunded retrospectively following the appearance of a “licences of right” entry on the register.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(2)</strong></td>
    </tr>
    <tr>
      <td>Where such an application is made, the comptroller shall give notice of the application to any person registered as having a right in or under the patent and, if satisfied that the proprietor of the patent is not precluded by contract from granting licences under the patent, shall make that entry.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref46-09">46.09</h3>

<p>Form 28 includes a declaration that the applicant is not prevented by contract from granting licences under the patent. Any person registered as having a right in or under the patent is notified that the form has been filed and given a period of time (normally fourteen days) in which to make any observations; no entry is made during that period or while any observations received are being considered.</p>

<h3 id="section-2">46.10</h3>

<p>r.43(2) is also relevant</p>

<p>When the Office is satisfied that the grant of licences is not so precluded, the entry in the register is made. Form 28 also includes a tear-off slip which is then stamped and returned to the applicant to confirm that the entry has been made. The making of the entry is announced in the Journal. Interested parties have two months in which to apply for cancellation of the entry, see <a href="/guidance/manual-of-patent-practice-mopp/section-47-cancellation-of-entry-made-under-s-46/#ref47-07">47.07</a>, except that the proprietor of the patent can apply for cancellation at any time, see <a href="/guidance/manual-of-patent-practice-mopp/section-47-cancellation-of-entry-made-under-s-46/#ref47-03">47.03</a>.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3)</strong></td>
    </tr>
    <tr>
      <td>Where such an entry is made in respect of a patent ­<br/>(a) any person shall, at any time after the entry is made, be entitled as of right to a licence under the patent on such terms as may be settled by agreement or, in default of agreement, by the comptroller on the application of the proprietor of the patent or the person  requiring the licence;</td>
    </tr>
  </tbody>
</table>

<h3 id="applications-for-comptroller-to-settle-terms-of-licence">Applications for Comptroller to settle terms of licence</h3>

<h3 id="ref46-11">46.11</h3>

<p>Applications for settlement of terms of licences under patents where owners have volunteered to make licences available as of right have been extremely rare, and only one such case has been reported (Cassou’s Patent [1971] RPC 91). In that case, which arose under Section 35 of the 1949 Act, the invention was taken to reside in the use of a sterilized plastics sheath in association with a known type of injection gun used for artificial insemination purposes, and royalty was settled at 5% of the selling price of the sheaths on the basis that that seemed to be the going rate in commercial agreements of like nature. It was further decided that the licence should continue for the duration of the patent in suit.</p>

<h3 id="section-3">46.12</h3>

<p>In the Cassou case, the patentee’s response to the application under section 35 included the filing of an application under section 36(1) for cancellation of the endorsement “licences of right”, but it was decided that cancellation was discretionary and the discretion should not be exercised in such a way as to defeat the purpose of section 35. In the result, the licence provided for consent of the applicants (licensees) to cancellation of the endorsement.</p>

<h3 id="section-4">46.13</h3>

<p>There were a relatively large number of applications for settlement of terms of licences under “new existing patents”. Although all such patents have now expired, similar principles will apply for other cases, such as where an application under section 48 has resulted in an entry in the register that licences are available as of right. PR part 7</p>

<h3 id="ref46-14">46.14</h3>

<p>Applications under section 46(3)(a) are initiated by filing Patents Form 2 r.76(4)(c) (and a copy thereof) to start proceedings before the comptroller, the procedure for which is r.89 discussed at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>. Where (a) the applicant is the proprietor of the patent, Form 2 should be accompanied by a statement of grounds including, as appropriate, the period or terms of the licence they proposes. Where (b) the application is made by any other person, Form 2 should be accompanied by two copies of a draft of the licence they seeks. Because in the latter case the applicant does not usually have many of the relevant facts, they are thus only required to provide a draft licence. In the case of an application by any other person who is an existing licensee - see <a href="#ref46-77">46.77</a>.</p>

<h3 id="section-5">46.14.1</h3>

<p>PR part 7 is also relevant</p>

<p>In case (a) the proceedings continue as set out at <a href="/guidance/manual-of-patent-practice-mopp/section-123-rules/#ref123-05">123.05 – 123.05.13</a>. In case (b), r.89 the comptroller must notify the proprietor that an application has been made, send them a copy of the draft licence and specify a period for the proprietor to file a statement of grounds if they wish to contest the applicant’s case. If the proprietor files a statement of grounds, the proceedings continue as if the proprietor were the claimant and the applicant the defendant; the applicant is therefore given an opportunity to file a counter-statement in response to the proprietor’s statement.</p>

<h3 id="section-6">46.14.2</h3>

<p>Deleted</p>

<h3 id="ref46-15">46.15</h3>

<p>The sufficiency of the statement was at issue in Roussel-Uclaf (Clemence &amp; le Martret’s) Patent [1987] RPC 109, and in that case it was decided, after a first preliminary hearing, that although the statement was not unlike many which were filed and accepted in the absence of a challenge, it did not in fact meet the strict requirements of the old r.63(1). (R.63 of the 1982 Rules was repealed by the 1990 Rules.) The statement in that case was accompanied by a draft licence containing terms acceptable to the applicant Harris, but it simply identified the parties, the patent and the product covered by the patent, and stated that Harris wished to do all acts which but for the licence would amount to infringement. In the view of the hearing officer, whilst patentees cannot reasonably expect to find in the statement answers of a confidential nature to questions which may seem relevant, it would be reasonable for the applicants to state whether they intend to manufacture themselves or obtain the product from some other source. If the latter the intended source should be indicated, and any intentions as regards importation and exportation should also be stated, as should the form of presentation of the product. The principles on which the applicants rely in arriving at the proposed royalty should also be stated, although costs and profits need not be included in the statement. In general, the hearing officer observed that “The statement in my view must contain sufficient facts to foreshadow what is subsequently produced in the evidence”. The hearing officer’s views were not challenged on a first appeal in that case, but Falconer, J. did qualify the statement just quoted by saying that: “… the statement should contain a clear statement of the facts which are to be relied on and which will be proved by the evidence. In that way, if the matter is so pleaded, only then can one hope to keep the evidence to essential matters which on the counterstatement would turn out to be in issue”. Following further preliminary hearings in that case, it was confirmed by the hearing officer that information on purchase price, selling price and anticipated profit need not be given in the statement, and that decision was upheld on appeal by Falconer, J. In the statement as finally settled, the applicants pleaded particular facts and matters on which they relied in support of their proposed royalty rate and the judge observed: “They are bound now of course by those and will not be allowed to go outside them. Those are the facts upon which they rely”.</p>

<h3 id="ref46-16">46.16</h3>

<p>The sufficiency of the pleadings should be considered in the light of the observation of Graham, J. in Ford Motor Co Ltd (Cuskie’s) Application [1973] RPC 573 at page 576; “I think it is not right to treat a pleading in the Patent Office with that great strictness with which pleadings are treated in the High Court”. That approach was adopted in Roussel-Uclaf and also in Smith Kline and French Laboratories Ltd’s Patents 1338169 and 1397436 (Generics’ Application) [1988] RPC 148 where the hearing officer proceeded on the basis that, since the question of whether the statement is entirely satisfactory can only be fully determined after the applicant has filed their evidence, it is only in the clearest of cases that they should intervene. In the latter case, the hearing officer did order that the statement be amended to indicate whether the applicant intended selling or exporting active ingredients per se (as well as pharmaceutical formulations) and to set out the royalty rate(s), but he refused to order amplification of the forms of presentation proposed to be marketed and the intentions regarding exportation, selling price and the particular countries they might import from. His view was that if the applicant’s precise intentions are not firmed up, their only course may well be to draw their licence request very broadly, thus giving themselves the flexibility to adapt to prevailing market conditions at any time during the period of the licence. The fact that certain formulations and manufacturing routes might infringe other patents was not considered directly material to the application in suit, but was a matter for other proceedings. In Smith Kline &amp; French Laboratories Ltd’s Patents 1338169, 1395929, 1397436 and 1398426 (Harris Pharmaceuticals’ Application [1990] RPC 203), the statement as filed did not refer to sub-contracting. The hearing officer held that the statement could be amended to refer to sub-contracting of packaging of the finished pharmaceutical dosage form since this fell outside the claims of the patents. The applicant also wished to subcontract the manufacture of the raw material and the making up of that material into the dosage form. Such manufacture and making up were held to fall within the scope of or infringe the claims and therefore to be acts which need to be sub-licensed. In order to pursue sub-contracting of these acts, the hearing officer held that the proposed subcontractors would have to be joined in the present application or in a fresh one with details of the intended form of sub-contract being given.</p>

<h3 id="ref46-17">46.17</h3>

<p>Sufficiency of pleadings has also been considered in Upjohn’s Patent 1291632 (BL O/40/87; BL O/102/87), where it was decided following a first preliminary hearing that particular compounds to be imported under the licence should be specified, and that whilst the country or countries of origin should be identified the particular manufacturer(s) or town(s) need not be. Further information regarding the manufacturing process was not considered necessary, and it was also considered unnecessary to elaborate as to why no price advantage was obtained if a patented process was used. The patentees instituted a parallel infringement action against the applicants in that case and sought a stay of proceedings until the outcome of that action was known, but this was refused. The patent in suit was a divisional claiming a process and intermediates of use in preparing pharmaceutically active compounds claimed in the parent patent (the subject of a separate application under section 46), and although they were seeking a licence the applicants nevertheless declined to admit that they would in fact be infringing the divisional in working the licence under the parent, and would therefore give no undertaking to pay royalty under the (divisional) licence. In these circumstances, the patentees argued that the applicants should be put to an election: either admit infringement and pursue the application or deny infringement and withdraw the application, otherwise the application should be struck out on the ground that there was no jurisdiction to hear the case or that it was an abuse of process. Those arguments were rejected following a second preliminary hearing.</p>

<h3 id="ref46-18">46.18</h3>

<p>Various objections to the pleadings were also considered in Monsanto’s  Patent 1366379 (BL O/116/87), where evidence filed shortly before a preliminary hearing to support the patentees request for further information was not admitted. The evidence was concerned with the quality of some products which might be imported under the licence, but it was felt that this was a matter which could be raised in the counterstatement and evidence. In any case, the applicants had not had an opportunity to reply to it. As regards the importation rights sought in the statement, which were effectively unlimited, the hearing officer did not consider he had the power to require the applicants to limit themselves to particular countries at that stage, but he did envisage that further information might be required later if any issue in the evidence stages turned on the source of the product. The patent covered herbicidal compounds and compositions and the hearing officer decided that the formulations which the applicants wished to sell were sufficiently identified in the statement even though all the ingredients and their precise quantities were not specified. Proposed sales to manufacturers and formulators under the licence of one particular compound used for preparing the herbicidal compositions but not claimed per se were not seen as objectionable. It was appreciated that the purchaser would infringe the patent if they produced the claimed formulation, but that was considered to be of no concern in those proceedings. It was sufficient that the applicants were seeking a licence to cover that particular compound (even though, being a known compound, it was not covered by the claims) and were therefore protecting themselves against contributory infringement under Section 60(2).</p>

<h3 id="ref46-19">46.19</h3>

<p>It is established practice to allow the parties to file evidence as in other inter partes procedures. In those cases where the parties reached agreement it has been the usual practice to issue a decision ordering the grant of a licence on the agreed terms having confirmed that the terms contain nothing prima facie unlawful (see eg the unreported decision (BL O/91/87) on an application by Thomas Kerfoot &amp; Co Ltd in respect of ICI’s atenolol Patent No 1285038).</p>

<h3 id="ref46-20">46.20</h3>

<p>In those cases where the parties were unable to agree terms, it has become the practice to adopt the format usual in inter-partes proceedings, ie the parties are allowed a period to file evidence in support of their case in turn and the party who first filed evidence is allowed to file evidence in reply, following which a hearing is appointed. In some cases (under the old Rule 63), the applicants adopted the practice of filing their first round of evidence with their statement and requested that the patentees be directed to file their evidence with the counterstatement. This has been acceded to where appropriate, due account being taken of the decision of the House of Lords in the Gist-Brocades case that hearings should not be unduly delayed.</p>

<h3 id="ref46-21">46.21</h3>

<p>In Roussel-Uclaf’s Patent mentioned in <a href="#ref46-15">46.15</a>, having decided that the statement was deficient, the hearing officer ordered the applicants to file a supplementary statement within two weeks and indicated that failure to do so would mean that the application would be deemed not to have been properly made and that the applicant would have to start afresh with a new application if the matter was to proceed further. At the same
time, the hearing officer refused to allow the patentees a further three months from the date of receipt of the supplementary statement within which to file their counterstatement, but ordered, in the light of delays which had already occurred, that the latter should be filed by the end of what he regarded as a rather generous three months extension of the period originally allowed under the old Rule 63(2) for filing the counterstatement. What this meant in effect was that the counterstatement was due about one month after receipt of the supplementary statement. The hearing officer was upheld on appeal [1989] RPC 405 on this point when Falconer, J. decided that, although the hearing officer did not say as much, he was in fact applying his discretionary power to regulate proceedings before him and it could not be said that he had gone wrong in principle in taking delays into account. In the Smith Kline and French (Generics’ Application) case mentioned in <a href="#ref46-16">46.16</a>, the hearing officer did allow the patentees the full 3 months from the date of receipt of the amended statement to file the counterstatement, but in that case the patentees had objected promptly to the adequacy of the original statement. It was observed in the Roussel-Uclaf case that should a counterstatement not be filed by the date ordered then it would be considered that they do not take issue with the terms proposed by the applicants.</p>

<h3 id="ref46-22">46.22</h3>

<p>The question as to whether the comptroller has jurisdiction to consider an application under section 46(3)(a) until there has been a prior “default of agreement” was also considered in Roussel-Uclaf’s Patent. In that case, the hearing officer followed the decision of Whitford, J. in R. v The Comptroller-General, Ex parte Bayer AG (BL C/56/85), where a similar question arose under section 35(2)(a) of the 1949 Act and it was decided that an attempt to reach agreement was not a pre-condition to making the application. On appeal, Falconer, J. upheld the decision of the hearing officer on the basis that the slight alteration of language in section 46(3)(a) did not in any way affect the reasoning of Whitford, J.</p>

<h3 id="section-7">46.23</h3>

<p>The patentees (Roussel-Uclaf) in the case mentioned above also sought to have the application dismissed or stayed on the grounds that it was vexatious and an abuse of the process. In particular, they argued in effect that the applicants, being a non-trading company, were only interested in obtaining a licence bestowing rights under the patent on affiliates and others not a party to the application, and that the comptroller had no jurisdiction to grant such a licence. In refusing to dismiss or stay the proceedings, the hearing officer pointed out that the applicants already had licences of right and that it could not be taken for granted that it would ultimately be found they were not entitled to the sort of licence they were seeking or that they would not be able to operate their licence even if it did not include all the provisions they would like. This decision was upheld by Falconer, J on appeal ([1989] RPC 405), when the judge confirmed that the comptroller does have the power to prevent any proceedings before them being used in any way which could properly be described as vexatious and an abuse of the process, but considered that the application had been properly pleaded and that the jurisdictional point should be decided at the substantive hearing.</p>

<h3 id="ref46-24">46.24</h3>

<p>Deleted</p>

<h3 id="ref46-25">46.25</h3>

<p>Applicants are not entitled to the grant of an “interim” licence pending settlement of the terms of the substantive licence. A decision to this effect was made in ICI’s Patent 1285038 et al (Harris Pharmaceuticals’ Application) (<a href=";%20BL%20C/82/86">BL O/59/86</a> and upheld on appeal by the Patents Court.</p>

<h3 id="ref46-26">46.26</h3>

<p>The question of the validity of the patent in suit cannot be raised in proceedings under section 46(3)(a). This was confirmed in Schering AG’s Patent 1193998 (ABM Chemicals Ltd’s Application) (BL O/133/87).</p>

<h3 id="scope-of-comptrollers-discretion-as-to-terms-of-licence-of-right">Scope of Comptroller’s discretion as to terms of licence of right</h3>

<h3 id="ref46-27">46.27</h3>

<p>Although in the Gist-Brocades case the House of Lords was not required to decide the full scope of the comptroller’s discretion to impose limitations or conditions upon a licensee of right (being only concerned with the question of whether they have power to prohibit or limit importation - <a href="#ref46-53">see 46.53-46.55.2</a>), certain observations were made in the judgment which have guided subsequent decisions of the comptroller, the Patents Court and the Court of Appeal. In particular, Lord Diplock (see pages 248-250) and Lord Bridge of
Harwich were agreed that the comptroller has a wide discretion as to the terms that they settle and the only fetters of their jurisdiction are that the comptroller - cannot (a) impose upon the licensee any positive obligation to do any of the licensed acts and (b) settle terms effectively debarring others from applying for a similar licence.</p>

<h3 id="section-8">46.28</h3>

<p>Lord Templeman, whilst agreeing that the comptroller has power to prohibit or control importation, came to the opposite conclusion to Lord Diplock on the general question of whether the comptroller has a wide discretion, while both Lord Fraser of Tullybelton and Lord Brightman reserved their opinion on the scope of the comptroller’s discretion. However, subsequent decisions of the courts have so far relied on the interpretation of Lord Diplock (as indicated in <a href="#ref46-27">46.27</a>).</p>

<h3 id="ref46-29">46.29</h3>

<p>Lord Diplock further observed that by virtue of section 53(4), which provides that entries made in the register under section 48 to 51 shall for all purposes have the same effect as entries made under section 46, recourse may be had to the provisions of sections 48(3) and 50 to identify the policy intended to be achieved by the comptroller in the exercise of their discretion.</p>

<h3 id="function-of-patents-court-on-appeal-re-settlement-of-terms">Function of Patents Court on Appeal re Settlement of Terms</h3>

<h3 id="section-9">46.30</h3>

<p>Deleted - (<a href="/guidance/manual-of-patent-practice-mopp/section-97-appeals-from-the-comptroller/#ref97-03">see 97.03 to 97.05</a>) for appeals to the Patents Court from the Comptroller in general).</p>

<h3 id="ref46-31">46.31</h3>

<p>In Allen &amp; Hanburys Ltd’s Patent [1987] RPC 327 (the salbutamol case), the original appeal to the Patents Court Whitford J (17 March 1986) overturned the comptroller’s decision allowing importation (<a href="#ref46-53">see 46.53</a>) and, observing that the decision was a final rather than an interim decision as is generally customary in such cases, he discharged the licence, leaving the applicants free to apply for a manufacturing licence. The Court of Appeal, having regard to the fact that in the unusual circumstances of that case a radically different licence would ensue, considered that the judge acted correctly in discharging the licence, but it was confirmed that a licence takes effect from the time when terms are settled by the comptroller so, presumably, it is appropriate to issue a final decision in such cases.</p>

<h3 id="section-10">46.32</h3>

<p>The discharge by Whitford, J of the licence settled by the comptroller in the salbutamol case was not retrospective, and the Court of Appeal decided in that case that applicants may accept terms settled by the comptroller or the Court and operate the licence without prejudice to any appeal seeking more favourable terms.</p>

<h3 id="settlement-of-terms">Settlement of Terms</h3>

<h3 id="section-11">46.33</h3>

<p>The following paragraphs are based on decisions of the Office and the Courts settling terms of licences of right under provisions relating to particular 1949 Act patents. Care will need to be taken if it becomes necessary to determine whether the decisions are relevant to settlement of terms of licences of right under other patents. In
general, terms in the draft licences under consideration at the hearing about which the parties were agreed, or to which no objection was raised, have been taken as settled and not interfered with, provided the terms contain nothing unlawful.</p>

<h3 id="royalty">Royalty</h3>
<p>(see also <a href="#ref46-63">46.63</a> to <a href="#ref466-66-4">46.66.4</a>)</p>

<h3 id="ref46-34">46.34</h3>

<p>Where an applicant had applied for settlement of terms of licences of right under two patents (Upjohn’s Patent 1291631 and Takeda Chemical Industries Ltd’s Patent 1298364 (Generics Ltd’s Application BL C/49/87)), both licences being necessary for the applicant to manufacture and sell the same pharmaceutical formulations, the Patents Court held that the hearing officer had no power to determine only the total royalty under the two patents together and defer apportionment of the total between them; this would not settle the terms of either licence.</p>

<h3 id="ref46-35">46.35</h3>

<p>In the light of the link drawn between sections 46, 48 and 50 by Lord Diplock in the Gist-Brocades case (<a href="#ref46-27">see 46.27 - 29</a>), royalty is to be settled so as to ensure inter alia that “the inventor or other person beneficially entitled to a patent shall receive reasonable remuneration having regard to the nature of the invention” (section 50(1)(b)). Guidance as to the correct approach in achieving this end has been given by the Court of Appeal in two cases, namely the salbutamol case and Smith Kline &amp; French Laboratories Ltd’s (Cimetidine) Patents [1990] RPC 203. The approach has also been summarised by the Court of Appeal [1991] RPC 409 and the Patents Court [1990] RPC 309 in American Cyanamid Co’s (Fenbufen) Patent. From these cases it is clear that reasonable remuneration will be secured by the royalty that would be agreed between a willing licensee and willing licensor for the rights to be granted under the licence. Thus the royalty is not to reflect the fact that the patentee may be thoroughly reluctant to grant any licence at all; the obligation to grant licences of right in the context of new existing patents was seen as a quid pro quo for the uncovenanted benefit to the patentee of being granted an automatic extension of their patent from 16 to 20 years.</p>

<h3 id="section-12">46.35.1</h3>

<p>The royalty which would be agreed between a willing licensee and a willing licensor is a payment only for use of the invention and is not compensation for losses the patentee may suffer by grant of the licence. In particular, quoting Lord Justice Lloyd in the cimetidine case, “one of the effects of granting a licence in a limited market is that sales made by the licensee will necessarily reduce sales which would otherwise have been made by the
licensor. It was held by a majority of the Court of Appeal in the salbutamol case that a patentee is not entitled to claim, as part of his royalty, compensation for loss of such sales. This was expressed by saying that the patentee’s position as manufacturer is to be ignored. The licensee is to pay a proper sum for the use of the patentee’s invention, as an invention. But he is not to pay for the patentee’s loss of sales as manufacturer, or to make a contribution to the patentee’s manufacturing overheads”. The majority view of the Court of Appeal in the salbutamol case was formed partly on the wording of section 50(1)(b) and partly by analogy with Patchett’s Patent [1967] RPC 237 in which it was decided that a reasonable royalty to be paid for Crown use of an invention should be determined on the basis of what the patentee as willing licensor and the Crown as willing licensee would agree upon, “provided it is borne in mind that the only subject matter of the payment is the use of the invention”.</p>

<h3 id="section-13">46.36</h3>

<p>A variety of approaches have been used in determining the royalty that would be agreed between a willing licensor and a willing licensee. However, as the Court of Appeal confirmed in the cimetidine case, the best guide to what a willing licensor and a willing licensee would agree is what other licensors and licensees have in fact agreed in existing voluntary licences for the same or similar products. Where comparison between the
licence sought and existing licences is not exact, the practice has been to adjust the royalty to take account of the differences. This method was sanctioned by the Court of Appeal in the salbutamol case. The comparable licences approach to royalty determination, as well as other approaches, have been developed mainly in pharmaceutical cases. However, the general principles will often be of wider application.</p>

<h3 id="ref46-37">46.37</h3>

<p>In the cimetidine case, Nicholls, L.J. stressed that the various approaches to royalty determination are no more than aids and that they are to be used with due flexibility having regard to the circumstances of each case. In any event, the use of a number of approaches in one case will not always give compatible results. In the fenbufen case, the comparable licences approach indicated a royalty of around 27% whereas a section 41
calculation (<a href="#ref46-39">see 46.39-45</a>) suggested a figure between 47 and 54%. The comparability figure was preferred, although it was uplifted by 5% to acknowledge the unusual market circumstances in that case.</p>

<h3 id="section-14">46.37.1</h3>

<p>In the cimetidine case, the Court of Appeal in supporting the Patents Court emphasised that once a royalty figure has been determined by the use of suitable comparables, it is wrong then to modify that figure in order to bring it into line with some predetermined range, for example the range of pharmaceutical royalties so far determined in Office decisions.</p>

<h3 id="ref46-37-2">46.37.2</h3>

<p>Patentees sometimes argue that they have suffered inadequate remuneration which would have entitled them to an extension of term under section 23 of the 1949 Act. However, accountancy evidence of the kind advanced in proceedings under section 23 has not so far appeared in licence of right cases. In The Upjohn Company’s Patents 1291631 and 1291632 (Generics Ltd’s Application BL C/70/88) concerned with the pharmaceutical triazolam, Whitford, J. stated that adequacy of remuneration is a relevant factor in royalty
determination. However, it appears likely from that case that the factor will be taken into account by adoption of the willing licensor/willing licensee approach. In the cimetidine case,Falconer, J. stated that he had taken adequacy of remuneration into account in arriving at a royalty figure of 45%. The Court of Appeal in the same case did not refer to adequacy of remuneration, but Lloyd, L.J. made clear that comparability grounds alone would be enough to justify the figure of 45%.</p>

<h3 id="ref46-37-3">46.37.3</h3>

<p>In Filpin Filpost Ltd v Fairfax (Dental Equipment) Ltd (<a href="https://www.gov.uk/government/publications/patent-decision-o00793">BL O/7/93</a>) the hearing officer rejected the argument that an applicant who sold via a distributor, should not be expected to pay a royalty on income received by the distributor. It was held that to set the royalty rate solely on the price at which the applicants sold to the distributor would enable the distributor to benefit without contributing by way of a royalty to the patentee.</p>

<h3 id="ref46-37-4">46.37.4</h3>

<p>In Interdibipack SPA &amp; Quickpack (UK) Ltd v Francesco Torre (<a href="https://www.gov.uk/government/publications/patent-decision-o14695">BL O/146/95</a>) the proprietor had in the past supplied the applicants with machines in accordance with the patent for sale within the United Kingdom and the applicants had developed their own UK market for them. Whilst the benefits to the proprietor of the applicants’ marketing efforts in the United Kingdom were unquantifiable on the evidence, the hearing officer recognised them to the extent that, in the absence of any other convincing pointers, he decided that the appropriate royalty should be at the lower end of the normal range for mechanical inventions.</p>

<h3 id="pharmaceutical-royalties">Pharmaceutical royalties</h3>

<h3 id="i-existing-licences-approach">(i) Existing licences approach</h3>

<h3 id="ref46-38">46.38</h3>

<p>Where they exist, licences entered into voluntarily by the patentee for the drug in question will carry particular weight. However, existing licences for other drugs whether or not granted by the same patentee will afford close comparability, provided there is sufficient similarity between the drugs and their positions in the market. In the cimetidine case, the Patents Court (supported by the Court of Appeal) found close comparability in licences granted by ICI for the drug atenolol. The drugs (though for treatment of different disorders) were said to be of broadly similar medical value, and both their total and generic sales were closely similar. In the fenbufen case, comparison was made with voluntary licences for naproxen and piroxicam in view of their market shares and therapeutic similarity as non-steroidal anti-inflammatory drugs.</p>

<h3 id="ref46-38-1">46.38.1</h3>

<p>In the salbutamol case and in the naproxen case (Syntex Corporation’s Patent [1986] RPC 585), voluntary licence/supply agreements existed for the same drugs. However, only the supply agreements had actually been worked and it was decided that the effective royalty paid under the supply agreements was somewhat less than the 30% specified in the unworked licences. In the fenbufen case, the effective naproxen royalty was
accepted as comparable, and the fact that the unworked naproxen licences included a more comprehensive import ban than the prospective fenbufen licence was held to be irrelevant to the comparability exercise.</p>

<h3 id="ref46-38-2">46.38.2</h3>

<p>In Allen &amp; Hanburys Ltd’s Patent 1429184 (3M Health Care Ltd’s Application; not reported), a royalty derived from an existing licence was scaled down by the hearing officer because the applicants would be selling the product in a different form of dispenser from the patentees’ and would therefore in part be supplying a market in which the patentees were not competing.</p>

<h3 id="section-15">46.38.3</h3>

<p>It has been consistently accepted that agreements made early in the development of a product provide no guidance as to the royalty payable under a licence of right towards the end of the life of the patent.</p>

<h3 id="ii-section-41-approach">(ii) Section 41 approach</h3>

<h3 id="ref46-39">46.39</h3>

<p>In the salbutamol case, the Court of Appeal decided that the approach adopted for determining royalty payable under compulsory licences granted under section 41 of the 1949 Act was of use in settling royalties under licences of right relating to pharmaceuticals. Section 41 gave the comptroller discretion to grant, on such terms as they thought fit, compulsory licences under patents relating to foods, medicines and surgical and curative devices, and following Geigy’s Patent [1964] RPC 391 it became well established that pharmaceutical royalties should cover three elements, namely (a) an allowance for the recovery by the patentees of the cost of discovering the drug and establishing its efficiency, (b) an allowance for the recoupment of the promotional expenses incurred in creating and maintaining the market for it and (c) a reward for the patentees for their contribution to the art secured by an appropriate measure of profit upon the capital investment they have been constrained to make in the project. The sum of these three elements represented the royalty payable, expressed as a percentage of the patentee’s selling price. Element (a) was obtained by expressing the patentee’s current world-wide research and development expenditure as a percentage of its current world-wide sales of pharmaceutical products  which were the fruits of that research. Element (b) was obtained by expressing the patentee’s current promotional expenditure on the licensed product(s) in the UK as a percentage of its current UK sales of the licensed products. Element (c) was obtained by uplifting elements (a) and (b) by 22.5%.</p>

<h3 id="ref46-39-1">46.39.1</h3>

<p>Whilst accepting that section 46 was not a direct parallel to section 41, which required the comptroller to endeavour to secure that medicines etc should be available to the public at the lowest prices consistent with the patentee’s deriving a reasonable advantage from their patent rights, the Court of Appeal in the salbutamol case was clear that “the three elements….are properly to be taken into account in considering, for the purposes
of section 46 of the Act, the patentee’s ‘reasonable remuneration having regard to the nature of the invention’.” In the later cimetidine case, Lloyd, L.J. emphasised that the section 41 approach is never more than an approximation.</p>

<h3 id="section-16">46.40</h3>

<p>Generally speaking, the rules laid down in the authorities under section 41 for evaluating the three elements have been followed in decisions under section 46. Thus it has been accepted as appropriate that the evaluation should be made with reference to the patentee’s research, development and promotional costs and sales during the last three years for which figures are available.</p>

<h3 id="ref46-41">46.41</h3>

<p>In evaluating the expenditure component of element (a), formulation costs are excluded, as are central administration costs and half of the patentee’s patent department costs. The costs of the patentee’s medical information services should be excluded when evaluating element (a) and brought into account when evaluating element (b), but often there has not been enough information for the hearing officer to make the
necessary correction, and in any case it has been accepted that it should not affect the royalty calculation significantly. The costs of Phase IV (post-product registration) clinical trials are usually left under R &amp; D as, for example, in the fenbufen case. R &amp; D by the patentee and an exclusive licensee in bringing a product to its current state of development should be treated as one; see Research Corporation’s (Carboplatin) Patent [1990] RPC 663.</p>

<h3 id="ref46-42">46.42</h3>

<p>In evaluating the sales component of element (a), sales of veterinary and cosmetic products are excluded, as are sales of fine chemicals and “commodity” products which are not the fruits of the patentee’s own R &amp; D effort. Where the product is a pharmaceutical, but the patentee’s only R &amp; D contribution is to the product formulation, its sales will be excluded (see the decisions of the Patents Court and the Court of Appeal in the cimetidine case). Sales of licensed-in and bought-in products are also excluded. Otherwise, sales of all pharmaceutical products which are the fruits of the patentee’s R &amp; D effort need to be considered regardless of whether those products are currently patented or not, but provided that their sales contribute to funding the patentee’s R &amp; D; see for example the hearing officer’s decision in the carboplatin case.</p>

<h3 id="ref46-43">46.43</h3>

<p>Prior to the decisions of the Patents Court and the Court of Appeal in the cimetidine case, it was the practice in Office decisions to apply a discount to promotional expenditure in evaluating element (b) on the basis that part of the expenditure went towards promoting the patentee’s brand name rather than the generic product and was therefore not of benefit to the licensee. A major influence on the size of the discount was often evidence
about the proportion of prescriptions written generically. However, the appeal decisions in the cimetidine case made clear that this approach was wrong and that in normal circumstances the whole of the promotional element is to be allowed. As expressed by Aldous, J. in Eli Lilly &amp; Co’s Patent 1277137 (the cephalexin case; BL O/69/87, but quoted by the Court of Appeal in the cimetidine case):­</p>

<blockquote>
  <p class="last-child">The question to be asked is: what part of the promotional expenditure was incurred in creating and maintaining the market? It is not right to look at the promotion expenses and deduct the amount that is directed to advertising with a trade mark as that advertising creates and maintains the reputation of the drug and the market as a whole. That reputation, in a drug as well-known as the one in question, is available for use by a licensee even though he cannot use the trade mark and even though his sales will be limited to
supplying generic prescriptions.</p>

</blockquote>

<h3 id="ref46-44">46.44</h3>

<p>It was acknowledged in the cimetidine case that there can be situations in which it would still be appropriate to apply a discount to the promotional element. The Court of Appeal made clear that such a situation would exist if there were suitable evidence to show that the proportion of promotional costs attributable to the brand name market exceeded the share of that market in the total market for the drug (Lloyd, L.J. at page 242); however, the normal assumption should be that the promotional expenditure is spread evenly (Lord Justice Nicholls at page 255). In the Office decision in Allen &amp; Hanbury Ltd’s Patent 1429184 (3M Health Care Ltd’s Application; not reported), issued between the decisions of the Patents Court and the Appeal Court in the cimetidine case, a discount was allowed on promotion because the licence did not cover a product form sold and promoted
by the patentee (<a href="#ref46-38">see 46.38.2</a>).</p>

<h3 id="ref46-45">46.45</h3>

<p>Element (c) in the section 41 approach, ie the uplift applied to elements (a) and (b) was set at 20% in Bayer’s Patent 1173862 (Generics’ Application; <a href="https://www.gov.uk/government/publications/patent-decision-o04986">BL O/49/86</a>) and used in all subsequent cases until the Patents Court and Court of Appeal decisions in the cimetidine case. However, the 20% figure was a percentage on capital, and the cimetidine decisions make clear that an uplift expressed as a percentage on sales will usually, though not always, be more appropriate. According to Nicholls, L.J., the appropriate profit uplift will sometimes be the rate of return which the particular patentee normally obtains on their costs, but in other cases an uplift related to the return normally obtained in the industry as a whole may be more appropriate. In the cimetidine appeals themselves, the uplift was set at 43% and was derived from the current level of profitability of the ethical pharmaceuticals division of the patentee in that case. In the carboplatin case, an uncontested uplift of 27.6% was applied. In other cases, for example fenbufen and cephalexin, where the evidence did not allow derivation of an uplift personal to the patentee concerned, the figure of 22.5% first appearing in the Geigy case has been reverted to. That figure was endorsed as a return on sales in the cimetidine appeal decisions.</p>

<h3 id="not-used">[46.46 Not used]</h3>

<h3 id="iii-profits-available">(iii) Profits available</h3>

<h3 id="ref46-47">46.47</h3>

<p>This approach involves making an estimate of the likely profit available to the licensee and then looking at the way in which that profit might be divided between the licensee and the patentee. It has normally been adopted only in cases where there was some agreement between the parties on the manner in which it should be used, see eg Tanabe Seiyaku’s Patent 1236467 (the diltiazem case; <a href="https://www.gov.uk/government/publications/patent-decision-o14086">BL O/140/86</a>) where the profit available was split equally between the parties. In the cimetidine case, there was no agreement between the parties, but Falconer, J. split the profit into two shares, one which gave the applicants a return on sales equal to their general level of profitability in all their trading, and another which represented the residue to be returned to the patentee as royalty. However, this use of the approach was criticised by the Court of Appeal in the same case
because it made the royalty dependent upon the licensee’s reasonable remuneration rather than on the patentee’s as required by section 50(1)(b). It was also held to be contrary to Dillon, L.J.’s statement in the salbutamol case that applicants cannot insist on a licence which will be profitable to them however low they may choose to fix their selling price. It appears from the Court of Appeal’s cimetidine decision that in general the profits available approach should be used only as a last resort though it may be employed as a cross check 
on other results by showing their consequences in terms of the profit shares the parties will receive. In Gerber Garment Technology Inc’s Patent, <a href="https://www.gov.uk/government/publications/patent-decision-o09996">BL O/99/96</a> the hearing officer used the profits available approach as a last resort when all other approaches proved to be unsuitable.</p>

<h3 id="ref46-47-1">46.47.1</h3>

<p>By overriding the Patents Court on the profits available approach, the Court of Appeal in the cimetidine case left untouched the assumption in other cases that different applicants under the same patent should pay similar royalties for similar licences. This is based in part on an observation by Whitford, J. in ICI’s Patent 1285038 (Harris Pharmaceuticals’ Application; BL O/59/86; BL C/82/86) and has been discussed in subsequent Office decisions, eg Bayer AG’s Patent 1173862 (Harris Pharmaceuticals’ Application; BL O/8/88). In Smith Kline &amp; French Laboratories Ltd’s Patents 1338169 and 1397436 (Ivax Corporation and others’ applications), the hearing officer decided that it is the percentage royalty that should be common to the applicants. The unit price royalty may therefore be different if the patentees’ selling price has changed.</p>

<h3 id="iv-equivalent-daily-patients-cost">(iv) Equivalent daily patient’s cost</h3>

<h3 id="ref46-47-2">46.47.2</h3>

<p>This approach involves setting royalty by reference to the costs attaching to daily doses of comparable drugs. In Pfizer’s Patent 1257180 (BL O/78/87), the hearing officer found it to provide a useful cross-check on other approaches. In the Office decision in the fenbufen case, the approach was rejected as having little to do with questions relating to a patentee’s entitlement or to matters of concern to a willing licensee and willing licensor.</p>

<h3 id="v-basis-of-royalty">(v) Basis of royalty</h3>

<h3 id="ref46-48">46.48</h3>

<p>Following the decision of Whitford, J. in the salbutomol case, royalties payable in respect of pharmaceuticals have generally been expressed as a fixed unit price equivalent to the relevant percentage of the patentee’s net selling price. Departures from the practice in Office decisions have been reversed by the courts in the triazolam case (where the drug was “white listed”, ie it could only be prescribed generically) and in the cimetidine case (in respect of sales to hospitals). The practice was reinforced in the latter case in which Lloyd, L.J. said “the principle that the rate of royalty is set at a fixed price per unit quantity sold across the whole market, irrespective of variations in the patentee’s selling price, is one of great importance, and should be upheld except in very exceptional circumstances.” In the later carboplatin case, Hoffmann, J. confirmed that the possibility of a price cutting spiral initiated by either party was no reason for departing from the general principle. In The Procter &amp; Gamble Company’s Patent 1254465 (BL O/88/88), the hearing officer based the royalty on the licensee’s price because the patentee did not market the product in question. In Farmitalia Carlo Erba SpA’s Patent 1249443 (not reported), the hearing officer set the royalty as a percentage of the patentee’s price because the parties were agreed on that basis.</p>

<h3 id="ref46-48-1">46.48.1</h3>

<p>In Bayer’s Patent 1173862 Generics Ltd’s Application; <a href="https://www.gov.uk/government/publications/patent-decision-o04986">BL O/49/86</a>, a proposal by the patentees that royalty should be expressed as a percentage of the NHS Drug Tariff Price (ie the price officially established for the generic product once there are a certain number of competitive suppliers of that product) was rejected since there was likely to be a considerable delay before the Tariff Price was set.</p>

<h3 id="non-pharmaceutical-royalties">Non-pharmaceutical royalties</h3>

<h3 id="i-mechanical">(i) Mechanical</h3>

<h3 id="ref46-49">46.49</h3>

<p>Royalties settled or agreed for licences of right under new existing patents in the mechanical field have been in the range 5 - 7% of the selling price (typically the licensees’). This follows voluntary licensing practice and is consistent with the decisions in Cassou’s Patent [1971] RPC 91 (a licence of right case), Patchett’s Patent [1967] RPC 237 (a Crown use case), and various compulsory licence cases cited for example on Ashland
Oil’s Patent 1190644 (BL O/35/86). In the absence of guidance from existing voluntary licences, the general approach in Office decisions has been to take 5% as a starting point and to settle a higher figure only if the licence confers benefits in addition to use of the invention. An example is the allowance of sub-licensing in Holywell Mining Group Ltd’s Patent 1297787 (BL O/47/88). Other justifications for higher royalties referred to in Office decisions include the provision of technical assistance and know-how, and the enhancement 
by a licensed article of the value of apparatus of which it forms a part, (see, for example, Abraham’s Patent 1302188 (BL O/186/87) and Firma Carl Kurt Walther’s Patent 1368039).</p>

<h3 id="ii-surgical-and-medical">(ii) Surgical and medical</h3>

<h3 id="ref46-50">46.50</h3>

<p>Surgical devices are in a special category along with pharmaceuticals, and the old section 41 approach is applicable as a guide in royalty determination, see Shiley Inc’s Patent [1988] RPC 97. That patent covered heart valves and the Patents Court settled an index-linked fixed unit price royalty equivalent to 15% of the patentee’s selling price. Index-linking of the royalty was also adopted in Hilti’s Patent (<a href="#ref46-58">see 46.58</a>).</p>

<h3 id="ref46-50-1">46.50.1</h3>

<p>In Smith &amp; Nephew’s Patent 1280631 (<a href="https://www.gov.uk/government/publications/patent-decision-o12687">BL O/126/87</a>) which related to medical dressings, the parties were agreed that existing voluntary licences provided a guide without reference to section 41 considerations. The hearing officer derived a royalty from those licences (taking account of their provision for lump sum payments), but then applied an uplift on the basis that there would otherwise be insufficient recognition of the patentees’ promotional expenditure in this medical field. On appeal to the Patents Court, the uplift was removed (to give a royalty of 11 1/4%) on the basis that negotiation of the existing voluntary licences would already have taken the promotional element into account.</p>

<h3 id="ref46-50-2">46.50.2</h3>

<p>In Cyprane’s Patent 1224478 (BL O/108/88), which concerned an anaesthetic vaporiser, the hearing officer noted that the vaporiser was not a surgical or curative device under section 41 of the 1949 Act. However, a section 41 approach was adopted because of similarities with pharmaceutical and surgical products, eg high promotion costs. The resultant royalty of 7.2% of the patentee’s price was substantially uplifted because both
parties agreed that the royalty should take account of alleged infringing activities which took place prior to the settlement of the licence.</p>

<h3 id="ref46-50-3">46.50.3</h3>

<p>In Cabot Safety Corporation’s Patent [1992] RPC 39, the hearing officer regarded an earplug as having similarities with surgical inventions and, after taking the commercial value of the invention into account, settled a fixed sum royalty equivalent to 18%.</p>

<h3 id="iii-agrochemicals">(iii) Agrochemicals</h3>

<h3 id="ref46-51">46.51</h3>

<p>Bearing in mind the extensive research, development and testing involved, royalties for agrochemicals (notably herbicides) have been approached on the same general basis as those for pharmaceuticals. Thus fixed unit price royalties have been settled in all cases and section 41 calculations have been accepted as giving guidance; see eg Schering Agrochemicals Ltd’s Patent 1271659 (BL O/115/88). A profit sharing approach has so far been used only when the parties were agreed on it; see eg Schering AG’s Patent 1193998 (BL O/133/87).</p>

<h3 id="iv-bulk-chemicals">(iv) Bulk chemicals</h3>

<h3 id="ref46-52">46.52</h3>

<p>A fixed unit price royalty equivalent to 4% of the patentees’ selling price was settled in Ciba Geigy’s Patent 1146173 [1986] RPC 403 relating to flame retardant plasticisers for vinyl chloride polymers. However, this was based to a certain extent on the decision to allow importation which was overturned by the Patents Court.</p>

<h3 id="importation">Importation</h3>

<h3 id="ref46-53">46.53</h3>

<p>In the Gist-Brocades’ case (see 46.27-46.29), the House of Lords decided that the comptroller has the discretion to ban imports from countries who were not member states of the then European Community, but referred to the European Court of Justice questions regarding the banning of imports from such member states. In response to the reference, the ECJ held (Allen &amp; Hanburys Ltd v Generics (UK) Ltd C-434/85 [1988] FSR 312) that a person importing from a member state should be treated the same as one manufacturing in the UK; that is, the importation should only be banned by injunction or by the terms of a licence if such manufacture would be banned. This applies even if the product being imported is not patentable in the member state in which it was manufactured. Thus in all normal circumstances, imports from within the EU must be allowed. Moreover, as pre-2 May 1992 ECJ cases apply to the European Economic Area (EEA) where the relevant measure has been extended to the EEA, imports from within the EEA must also be allowed. In both the Ciba-Geigy (<a href="#ref46-52">see 46.52</a>) and salbutamol cases, the Patents Court took account the House of Lords’ judgment in Gist-Brocades’ and decided, bearing in mind the criteria of sections 48 and 50, to ban importation, because the patentees were manufacturing the products in question in the UK and meeting all demands on reasonable terms. Their interests would therefore be unfairly prejudiced by the proposed importation from outside the then-EC. The meaning of “reasonable terms” has been considered in the carboplatin case.</p>

<h3 id="ref46-54">46.54</h3>

<p>The situation under section 46 with regard to non-European Union (EU) countries has therefore corresponded closely to that which developed under the old section 41; that is importation has been allowed when UK demand is currently met only by importation, but not when there is domestic manufacture. However, in the cimetidine case, where the patentees manufactured in Ireland and met UK demand by importation from that country, the Court of Appeal referred to the ECJ the question of whether there was discrimination contrary to the Treaty establishing the European Economic Community if importation from outside the then EC was allowed when demand in the UK was being satisfied by manufacture in another member state of the then EC. The ECJ ruling (Generics (UK) and Harris v Smith Kline &amp; French C-191/90 [1993] 1 CMLR 89) was that, although restrictions applied to third-country (that is, non-EC) imports were not covered by EC rules on free movement of goods, importation from outside the then-EC in the above circumstances would affect trade between member states in a discriminatory way and so contravene articles 30 and 36 of the Treaty. On a second point of referral, as to whether importation from Spain and Portugal should automatically be allowed given that their Treaty of Accession to the European Economic Community provided that for a limited period the exhaustion of rights principle should not apply to certain types of goods put on the market in those countries, the ECJ ruled that national authorities in the other member states were entitled to restrict patent licensees from importing patented products from Spain and Portugal as long as the derogating provisions were observed.</p>

<h3 id="ref46-55">46.55</h3>

<p>There was domestic manufacture by the patentee and importation by existing licensees in Smith &amp; Nephew’s Patent 1280631 (<a href="https://www.gov.uk/government/publications/patent-decision-o12687">BL O/126/87</a>, and in the circumstances of that case the hearing officer allowed importation under the licence of right. In the carboplatin case, the invention was worked in this country not by the patentee, but by a licensee and sub-contractor. This situation was held by the Patents Court not to alter the fact that the invention was being worked in the UK, and the hearing officer was therefore supported in banning imports from outside the then EC. However, the court gave leave to appeal on aspects of the question.</p>

<h3 id="section-17">46.55.1</h3>

<p>The Court of Appeal in the cimetidine case supported the Patents Court in its judgment that where a patent contains, in addition to the main product and process claims, a claim to pharmaceutical formulations containing the product, the mere formulation in the UK of the active ingredient manufactured in and imported from another country did not amount to commercial working of the patented invention to the fullest extent practicable for the
purposes of section 48(3)(a) of the Patents Act 1977 at the time. However, the patentees’ investment in the UK devoted to making up formulations from the imported active ingredient was a relevant matter to be taken into account under section 50(1)(c) and should not be unfairly prejudiced. Importation from non-EU countries should therefore be limited to the active ingredient.</p>

<h3 id="ref46-55-2">46.55.2</h3>

<p>The Court of Appeal in the cimetidine case rejected an argument that importation should be banned even where the invention is not being worked in the UK, with the object of thereby encouraging the initiation of such working. This follows the rejection of a similar argument in Hoffmann-La Roche &amp; Co AG’s Patent [1969] RPC 504.</p>

<h3 id="ref46-55-3">46.55.3</h3>

<p>The Treaty principles on free movement of goods within the EU ceased to apply in the UK following the end of the transition period provided by the Agreement on the Withdrawal of the United Kingdom from the European Union, subject to the provisions of the Protocol on Ireland/Northern Ireland in that Agreement. As a result, the CJEU case law on whether licence of right terms can prevent imports from EEA states is no longer applicable, except in as far as it relates to the Protocol. However, domestic courts, and the Office, may remain bound by precedent as regards the interpretation of section 46.</p>

<h3 id="exportation">Exportation</h3>

<h3 id="ref46-56">46.56</h3>

<p>Following the Patents Court decision in the salbutamol case, it has been consistent practice to include no ban on exports other than to countries where parallel patents are in force. In the cimetidine case, Falconer, J. rejected an argument that exports should be banned to any country from which imports were permitted. Furthermore, he was not persuaded that a broader export ban was needed because of the patentees’
apprehension that they might lose export sales. In that case there was little manufacture in the UK by the patentees. In the fenbufen case, the patentees manufactured exclusively in the UK and argued for a broader export ban to protect their UK manufacture. However, the hearing officer decided there was no evidence to suggest that UK manufacture by the patentees would be affected to any significant extent by exports on the part of the licensees to countries where the patentees had no patent protection.</p>

<h3 id="ref56-57">46.57</h3>

<p>The clause banning exportation to parallel patent countries which was settled in Ciba-Geigy’s Patent 1255258 (Agan/Alpha’s Application) (BL O/85/86) precluded supply of the licensed product to anyone whom the licensee believed would export it to such countries. Similar provision was made in the Ciba-Geigy (Portman Agrochemicals’ Application) case (<a href="#ref46-60">see 46.60</a>), but in that case exports to other licensees in parallel patent countries were not precluded.</p>

<h3 id="sub-licensing-and-sub-contracting">Sub-licensing and sub-contracting</h3>

<h3 id="ref46-58">46.58</h3>

<p>From the salbutamol case and from Hilti AG’s Patent [1988] RPC 51 it is clear that licences of right should only rarely give the licensees the right to grant sublicences. In the salbutamol case, the patent included claims to dosage forms as well as to the active ingredient, and the Patents Court and the Court of Appeal held that subcontracting of the manufacture of the dosage forms amounted to sub-licensing and should not be allowed under the licence. The sub-contractor, who would be infringing monopoly rights under the patent, should have been joined in the application and detailed proposals, including the intended form of sub-contract, should have been put before the comptroller. In the Hilti case, Falconer, J. confirmed that the comptroller has the jurisdiction to grant sublicensing rights, although in the circumstances of that case he refused to grant the right to sub-licence the licensees’ subsidiary companies. Following that case, sub-licensing rights have rarely been given except where the parties were agreed. In Bergwerksverband Gmbh’s Patent 1364674 (BL O/58/89), the applicants were a parent company and the patentees agreed that the applicants could sub-licence the one company in the group that would actually be working the patent. However, the hearing officer refused the right to sub-licence other companies in the group. In the Holywell Mining Group case (<a href="#ref46-49">see 46.49</a>), the hearing officer gave the licensees the right to sub-licence tendering companies to manufacture the patented equipment. However, the equipment would not be sold by the licensees and would be for their use alone. In the Shiley case (<a href="#ref46-50">see 46.50</a>), the licensee was granted the power to appoint a UK distributor to handle the sales etc but not the importation of the licensed product which was the primary infringement.</p>

<h3 id="ref46-58-1">46.58.1</h3>

<p>In Penn’s Patent 1357961 (not reported), the patent related to pumps, but included no claims to pump components. It was agreed that in these circumstances section 60(2) of the Act does not prevent a licensee from sub-contracting manufacture of such components. However, because the situation is already covered by statute, the hearing officer declined to include a clause confirming the position.</p>

<h3 id="quality-control">Quality control</h3>

<h3 id="ref46-59">46.59</h3>

<p>Although in the Gist-Brocades’ case Lord Diplock mentioned quality control as one of the conditions that the comptroller may attach to a licence of right, particularly in respect of pharmaceuticals, it has since been decided in a number of cases that for pharmaceuticals quality control is a matter for the authority responsible for granting product licences, and no specific provisions are needed in licences of right to safeguard the interests of the public or the patentees. This is consistent with cases decided under section 41 of the 1949 Act.</p>

<h3 id="ref46-60">46.60</h3>

<p>In non-pharmaceutical cases, proposals for quality control provisions have been accepted where necessary to protect the interests of the public or the patentees. That has occurred in a number of agrochemical cases where only a voluntary code of practice applied, see eg Ciba-Geigy’s Patents 1255258 and 1407587 (Portman Agrochemical’s Application; <a href="https://www.gov.uk/government/publications/patent-decision-o15986">BL O/159/86</a>), and Schering AG’s Patent 1193998 (BL O/133/87). Quality control provisions were also included in respect of the nail gun cartridges of Hilti’s Patent (<a href="#ref46-58">see 46.58</a> and the sterility indicator of PyMah Corporation’s Patent <a href="https://www.gov.uk/government/publications/patent-decision-o06895">BL O/68/95</a>. Provisions were refused in the Cabot Safety corporation’s case (<a href="#ref46-50-3">see 46.50.3</a>), where it was not established that the applicants’ earplugs were likely to constitute a health risk, and in the Holywell Mining Group case (<a href="#ref46-49">see 46.49</a>, where it was decided that the normal run of commercial and safety considerations provided sufficient assurance that the licensees would not buy inferior goods from their sub-licensees.</p>

<h3 id="passing-off">Passing-off</h3>

<h3 id="ref46-61">46.61</h3>

<p>Patentees frequently propose that licences of right should include antipassing off provisions, notably to ensure that licensees’ products are clearly distinguished from their own. Such provisions were considered unnecessary in the naproxen case and that view was upheld by the Patents Court ([1986] RPC 585). In Hilti’s Patent (<a href="#ref46-58">see 46.58</a>), the Patents Court supported the rejection of a clause preventing the licensees from suggesting that their products were licensed or approved by the patentees. In general it seems that patentees must rely on their remedies at law to combat any passing off or misrepresentation by licensees.</p>

<h3 id="most-favoured-nationlicensee">Most favoured nation/licensee</h3>

<h3 id="ref46-62">46.62</h3>

<p>Voluntary licences often contain a “most favoured nation/licensee” clause providing a licensee with the right to have the terms of their licence revised to bring them into line with more favourable terms granted subsequently to some third party. However, Whitford, J. in the salbutamol case thought it inappropriate to include such clauses in licences of right, and Office decisions have consistently refused them. In Allen &amp; Hanbury’s Patent 1266058 (<a href="https://www.gov.uk/government/publications/patent-decision-o13785">BL O/137/85</a>) and in DST SA’s Patent 1195871 (BL O/152/85), the hearing officer indicated that if circumstances change to the extent that a licensee considers that different terms are justified, then a fresh application should be made under section 46(3). A most favoured licensee clause was rejected in the diltiazem case (<a href="#ref46-47">see 46.47</a>) and in Interdibipack SPA &amp; Quickpack (UK) Ltd v Francesco Torre (<a href="https://www.gov.uk/government/publications/patent-decision-o14695">BL O/146/95</a>) even though not actually disputed by the patentees.</p>

<h3 id="security-for-royalty-and-other-royalty-provisions">Security for royalty, and other royalty provisions</h3>

<h3 id="ref46-63">46.63</h3>

<p>In the Shiley case, the applicants agreed to provide a bank guarantee as security for royalties and the licence included a term keeping the guarantee in being throughout the term of the licence. In Penn’s Patent (<a href="#ref46-58-1">see 46.58.1</a>), the applicant company was newly formed and there was no evidence available on which to judge its creditworthiness. The applicants agreed that security for royalty should be provided, but the hearing officer rejected the patentees’ request that the level of security should be reassessed during the term of the licence. Requests for security for royalties have been refused in other cases, see eg Pfizer’s Patent 1257180 (BL O/78/87) and Hilti’s Patent 1217908 (Bauco’s Application; <a href="https://www.gov.uk/government/publications/patent-decision-o17086">BL O/170/86</a>).</p>

<h3 id="ref46-64">46.64</h3>

<p>Requests by patentees for initial lump sum payments in addition to normal royalties have been consistently rejected, see eg the hearing officers’ decisions in the Smith &amp; Nephew case (<a href="#ref46-50-1">see 46.50.1</a>), in the Holywell Mining Group case (<a href="#ref46-49">see 46.49</a>), and in the Bergwerksverband case (<a href="#ref46-58">see 46.58</a>). Those decisions held initial lump sum payments to be appropriate only when exclusive licences are granted or where capital assets, eg know-how, are changing hands.</p>

<h3 id="section-18">46.65</h3>

<p>Requests for guarantees of minimum total royalty payments have also been rejected. In the Shiley case (<a href="#ref46-50">see 46.50</a>), an initial downpayment to be credited against royalties due was sought. As well as refusing the downpayment, the hearing officer declined to insert an anti-dumping clause in the licence which would have provided for additional royalties if the licensee’s price was reduced below a specified level. A fixed unit price royalty was settled in that case and was considered to be a sufficient deterrent to dumping.</p>

<h3 id="ref46-66">46.66</h3>

<p>Except where the parties have agreed otherwise, quarterly accounting periods have been the general rule, with royalty due 30 days after the end of each period, although a 90 day period was settled in the exceptional circumstances of the DST case (<a href="#ref46-62">see 46.62</a>). In the Firma Carl Kurt Walther case (<a href="#ref46-49">see 46.49</a>), the hearing officer rejected a proposal from the applicants that they should not pay royalties before they received payment from their customers.</p>

<h3 id="ref46-66-1">46.66.1</h3>

<p>In general royalty is payable in respect of sales or other disposals under a licence.However, in the DST case (<a href="#ref46-62">see 46.62</a>) the hearing officer decided that royalty should instead be payable in respect of manufacture, and in the Hassle case (<a href="#ref46-75">see 46.75</a>) the hearing officer approved a clause relating royalty liability to the first of any series of infringing acts.</p>

<h3 id="section-19">46.66.2</h3>

<p>Patentees have been held to be entitled to royalty on licensed materials in the possession of the licensee at the natural expiry of the patent, but the licensee’s stocks stand to be destroyed upon termination of the licence for breach of the terms.</p>

<h3 id="ref46-66-3">46.66.3</h3>

<p>In the Firma Carl Kurt Walther’s Patent (see 46.49), the hearing officer declined to provide for back payment of royalties in respect of possible infringing acts, on the basis that the patentees already had a suitable remedy in the provisions of section 46(3)(c). The hearing officer in Book Protectors and Co.’s Patent (<a href="https://www.gov.uk/government/publications/patent-decision-o02396">BL O/23/96</a>) also declined to include a clause relating (i) to royalties for sales made before the licence came into force or (ii) to a lump sum representative of damages for past infringements since his jurisdiction lay in the settlement of terms of a licence of right and not, except to the limited extent provided for in s.46(3)(c), in determining payments, whether characterised as damages or as backpayments, in respect of acts which took place earlier.</p>

<h3 id="ref46-66-4">46.66.4</h3>

<p>In Grace’s Patent 1307054 (not reported), apparatus claims in the patent related to a whole machine of which the applicants proposed to import and sell a component. In considering whether the invention resided in the machine or in the component and therefore on which of them the royalty should be calculated, the hearing officer decided that the nature of the invention should be assessed against the prior art at the priority date, and that the invention therefore lay in the whole machine.</p>

<h3 id="termination">Termination</h3>

<h3 id="ref46-67">46.67</h3>

<p>Falconer, J. decided in the Hilti case (see 46.58) that a period of 30 days for remedying a breach of the licence terms was reasonable, the period to run from receipt of notice of the breach. Except where the parties have agreed otherwise, the 30 day period has been adopted.</p>

<h3 id="section-20">46.68</h3>

<p>In the naproxen case (<a href="#ref46-38-1">see 46.38.1</a>), the hearing officer included a clause in the licence providing for termination if the licensee came under the direct or indirect direction or control of any other company operating in the field covered by the licence, such a clause being considered to complement the usual no-assignment provision of the licence. The decision was upheld by the Patents Court and has been followed since.</p>

<h3 id="ref46-69">46.69</h3>

<p>It has also been accepted that a patentee should be entitled to terminate a licence if the licensee becomes insolvent or has a receiver appointed over a substantial part of its assets or enters into liquidation otherwise than for the purpose of amalgamation or reconstruction (eg as in the Ciba-Geigy (Portman Agrochemicals’ Application) case (<a href="#ref46-60">see 46.60</a>).</p>

<h3 id="ref46-69-1">46.69.1</h3>

<p>The inclusion of a clause providing for termination by the patentee upon a challenge to the validity of the patent by the licensee was considered and approved by the Patents Court in Schering’s Patent 1193998 (ABM Chemical Ltd’s Application) (<a href="#ref46-26">see 46.26</a>) and Du Pont de Nemour’s Patent 1393011 (Enka BV and other’s Application) [1988] RPC 479,497.</p>

<h3 id="ref46-69-2">46.69.2</h3>

<p>In the fenbufen case, prospective sub-contractors who were not subsidiaries of the main applicant had been joined in the application. The Patents Court confirmed the decision of the hearing officer that if either of the sub-contractors was in breach of the licence terms or changed its status as in <a href="#ref46-69">46.69</a> above, then the patentees should be entitled to terminate the sub-contractors’ rights under the licence, but that the licence should otherwise remain in force.</p>

<h3 id="verification">Verification</h3>

<h3 id="ref46-70">46.70</h3>

<p>Licences usually include clauses authorising the inspection of the licensee’s books and records on behalf of the patentee. This will usually be by an independent accountant, who will commonly be required to pass on to the patentee no more information than is necessary to verify the amount of royalties due. There may be provision for payment of verification costs by the licensee if an underpayment of more than a certain amount, say
1/2% or 1%, is found. More onerous verification clauses involving provision by the licensee of samples of imported materials to allow the patentee to check the licensee’s decision that their quality was unsatisfactory or to check whether foreign patents had been infringed were rejected in the cimetidine and fenbufen cases, and also in the Smith Kline &amp; French case referred to <a href="#ref46-73">in 46.73</a> (which latter case also related to cimetidine). It appears that such clauses should only be included where there may be doubts about the applicants’ trustworthiness. Indemnity clauses</p>

<h3 id="ref46-71">46.71</h3>

<p>Clauses indemnifying the licensor from any action brought on account of licensed goods sold by the licensee are common, whether applying to such things as product liability, or to infringement of third parties intellectual property rights. In the Penn case (<a href="#ref46-58-1">see 46.58.1</a>), the hearing officer rejected a request that the licensee should be required to take out liability insurance, and in Allen &amp; Hanbury Ltd’s Patent 1429184 (3M Health Care Ltd’s Application) the hearing officer rejected a general indemnity clause in respect of all activities undertaken by the licensees in relation to the licence.</p>

<h3 id="force-majeure-clauses">Force majeure clauses</h3>

<h3 id="section-21">46.72</h3>

<p>In the two cases referred to <a href="#ref46-71">in 46.71</a>, the hearing officer thought it unnecessary to include force majeure clauses, ie clauses which protect the licensee against termination of the licence for events beyond the control of the parties, eg fire and earthquake.</p>

<h3 id="territorial-extent">Territorial extent</h3>

<h3 id="ref46-72-1">46.72.1</h3>

<p>In Interdibipack SPA &amp; Quickpack (UK) Ltd v Francesco Torre <a href="https://www.gov.uk/government/publications/patent-decision-o14695">BL O/146/95</a> the hearing officer when considering a draft licence which was intended to apply to “the United Kingdom, Hong Kong and Singapore” decided that he could only settle the terms of a licence of right in the territory to which the Patents Act 1977 extends and that he had no locus to arbitrate between the parties as to the terms of licences in other territories.</p>

<h3 id="costs">Costs</h3>

<h3 id="ref46-73">46.73</h3>

<p>It has become conventional in proceedings before the comptroller to make no award of costs in respect of substantive issues. An exception is Smith Kline &amp; French Laboratories Ltd’s Patents 1338169 and 1397436 (Ivax Corporation and others’ applications) where an award was made to the applicants, in part because the patentees had refused to grant a licence in the same terms as earlier licences under the same patents to one of the same applicants, and which terms were confirmed by the hearing officer on the later case as still applicable. Awards were also made in two cases which were ultimately settled by agreement, ie Bayer’s Patent 1170188 (DDSA Pharmaceuticals Application; BL O/139/85) and Rhone-Poulenc’s Patent 1164585 (BL O/46/85). Awards of costs are sometimes made in respect of preliminary issues, eg in the Smith &amp; Nephew case (<a href="#ref46-50-1">see 46.50.1</a>), and are often made to the patentees when an application has been withdrawn.</p>

<h3 id="miscellaneous">Miscellaneous</h3>

<h3 id="ref46-74">46.74</h3>

<p>In Frosst’s Patent 1253709 (BL O/84/87), the hearing officer rejected a clause requiring the licensees to notify the patentees of any adverse reactions affecting the safety or efficacy claims of the product, since such matters were dealt with under the Medicines Act. He also rejected a clause restricting the licensees to promoting only the indications set out in the patentees’ Data Sheet for the product and to making only representations approved by the patentees.</p>

<h3 id="ref46-75">46.75</h3>

<p>It was considered reasonable in AB Hassle’s Patent 1308106 (BL O/79/87) to require the licensees to notify the patentees of any apparent or threatened infringement, but in the Frosst case (<a href="#ref46-74">see 46.74</a>) a clause was rejected which would have had the effect that the licensees could be drawn against their will into the patentees’ defence of their patent. A clause considered to derogate from the licensees’ rights under section 46(4) was rejected in the Eli Lilly case (<a href="#ref46-43">see 46.43</a>).</p>

<h3 id="section-22">46.76</h3>

<p>A limitation on the licensees’ right to denigrate the patentees’ own product was considered appropriate in the Shiley case (<a href="#ref46-50">see 46.50</a>), notwithstanding the possible availability of a trade libel remedy.</p>

<h3 id="ref46-76-1">46.76.1</h3>

<p>In cases where the applicant has asked for a licence to cover anything which would otherwise be an infringement of the patent in suit, yet appears from the statement and evidence not to be concerned to work the invention across its full range, the licence has been restricted to cover only those acts which have been specified and for which royalty and other terms can be settled on the evidence, eg as in Bayer’s Patent 1173862 (Generics’ Application; [BL O/49/86]9https://www.gov.uk/government/publications/patent-decision-o04986)). In Rhone Poulenc’s (Ketoprofen) Patent [1989] RPC 561 where the need to obtain a Product Licence stood in the way of practical working of a licence of right, Falconer J approved the hearing officer’s view that an application for a licence of right could be rejected if the licensee would as a practical matter be unable to use the licence. However, in Coflexip Stena Offshore Ltd’s Patent (BL O/67/96) where the applicants had already converted a ship to a pipe laying vessel in accordance with the invention but it would be impossible for them to convert another in what remained of the patent term, the hearing officer nevertheless included manufacture in the acts permitted under the licence because s.46(3A) effectively contemplates retrospective capping of damages in infringement proceedings when an undertaking has been given under s.46(3)(c).</p>

<h3 id="ref46-76-2">46.76.2</h3>

<p>A clause requiring annual renewal of the licence was rejected in the Hassle case (<a href="#ref46-75">see 46.75</a>). This is consistent with the decision in Cassou’s case (<a href="#ref46-11">see 46.11</a>).</p>

<h3 id="ref46-76-3">46.76.3</h3>

<p>A request by the patentees that the licence terms should remain confidential was rejected in the Smith &amp; Nephew case (<a href="#ref46-50-1">see 46.50.1</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3)</strong></td>
    </tr>
    <tr>
      <td>(b) the comptroller may, on the application of the holder of any licence granted under the patent before the entry was made, order the licence to be exchanged for a licence of right on terms so settled.</td>
    </tr>
  </tbody>
</table>

<h3 id="application-by-existing-licensee">Application by existing licensee</h3>

<h3 id="ref46-77">46.77</h3>

<p>An existing licensee may apply for their licence to be exchanged for a licence of right on terms which may be settled by the comptroller. The procedure for such applications is the same as that described in <a href="#ref46-14">46.14</a> et seq, except that the existing licensee should file not only Form 2 in duplicate together with two copies of the draft of a licence they seek but also two copies of the licence they seek to exchange. The considerations applying to the settlement of terms of such licences are generally the same as for any other licence of right. The terms of the existing licence, and the circumstances surrounding that licence, may also need to be taken into account.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3)</strong></td>
    </tr>
    <tr>
      <td>(c) if in proceedings for infringement of the patent (otherwise than by the importation of any article from a country which is not a member State of the European Economic Community) the defendant or defender undertakes to take a licence on such terms, no injunction or interdict shall be granted against him and the amount (if any) recoverable against him by way of damages shall not exceed double the amount which would have been payable by him as licensee if such a licence on those terms had been granted before the earliest infringement;</td>
    </tr>
  </tbody>
</table>

<h3 id="infringement-by-person-willing-to-take-a-licence">Infringement by person willing to take a licence</h3>

<h3 id="section-23">46.78</h3>

<p>Restrictions are imposed by s.46(3)(c) on the penalties which may be imposed on an infringer who agrees to take out a licence on terms which may be settled by the comptroller.</p>

<h3 id="ref46-78-1">46.78.1</h3>

<p>The words “from a country which is not a member State of the European Economic Community” qualifying the exception of infringement by importation were added to s.46(3)(c) by paragraph 12 of Schedule 5 to the CDP Act. This amendment followed the 3 March 1988 decision of the European Court of Justice in Allen and Hanbury v Generics C-434/85 [1988] FSR 312. that the exclusion of importation from member states from the benefits of the concession in s.46(3)(c) was contrary to the Treaty establishing the European Economic Community. The amendment came into force on 1 August 1989. Subsequently the European Economic Area Act 1993 has automatically modified the reference in this subsection to ‘European Economic Community’ to a reference to the “European Economic Area” (EEA). Thus, importation from the EEA is considered to be on par with domestic production; the concession applies to both.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3)</strong></td>
    </tr>
    <tr>
      <td>(d) if the expiry date in relation to a renewal fee falls after the date of that entry, that fee shall be half the fee which would be payable had the entry not been made.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-24">46.78.2</h3>

<p>A patent must be available for licences of right before the anniversary of the filing date (also see subsection (3B) below) if a patent proprietor is to take advantage of the reduction by one half in the renewal fee payable for the following year. For example, if the anniversary date is 18 June, the proprietor will have to make licences of right available prior to this date if the renewal fee for the following year (payable by 30 June) is to be halved.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3A)</strong></td>
    </tr>
    <tr>
      <td>An undertaking under subsection (3)(c) above may be given at any time before final order in the proceedings, without any admission of liability.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-25">46.78.3</h3>

<p>Subsection (3A) clarifies that a person who wishes to give an undertaking to take out a licence (under s.46(3)(c)) is not prevented from contesting an infringement action.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(3B)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of subsection (3)(d) above the expiry date in relation to a renewal fee is the day at the end of which, by virtue of section 25(3) above, the patent in question ceases to have effect if that fee is not paid.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(4)</strong></td>
    </tr>
    <tr>
      <td>The licensee under a licence of right may (unless, in the case of a licence the terms of which are settled by agreement, the licence otherwise expressly provides) request the proprietor of the patent to take proceedings to prevent any infringement of the patent; and if the proprietor refuses or neglects to do so within two months after being so requested, the licensee may institute proceedings for the infringement in his own name as if he were proprietor, making the proprietor a defendant or defender.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 46(5)</strong></td>
    </tr>
    <tr>
      <td>A proprietor so added as defendant or defender shall not be liable for any costs or expenses unless he enters an appearance and takes part in the proceedings.</td>
    </tr>
  </tbody>
</table>

<h3 id="right-of-licensee-to-sue-for-infringement">Right of licensee to sue for infringement</h3>

<h3 id="ref46-79">46.79</h3>

<p>Unless otherwise provided by the terms of a licence of right which were settled by agreement, the licensee may request the patentee to take proceedings to prevent infringement. If the patentee fails to do so within two months of such request, the licensee may take action in their own name, making the patentee a defendant. A clause considered to derogate from this right of the licensee has been rejected by a hearing officer when settling the terms of a licence of right, <a href="#ref46-75">see 46.75</a></p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
