<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70A: Actionable threats
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (70A.01-70A.08) last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref70A-01">70A.01</h3>

<p>A communication that satisfies the test at section 70 will be a threat to sue for infringement, and the threats provisions may be engaged in respect of it. However, not all threats to sue for infringement will give rise to a right to sue under these provisions. Section 70A sets out which types of threats are actionable by a person aggrieved, i.e. those threats where the person aggrieved can sue the person who made the threat.</p>

<h3 id="section-70a1">Section 70A(1)</h3>

<p>Subject to subsections (2) to (5), a threat of infringement proceedings made by any person is actionable by any person aggrieved by the threat.</p>

<h3 id="a02">70A.02</h3>

<p>The person making the threat need not have any right in a patent, nor need the threat have been made to the claimant for the threat to be actionable. However, the claimant is required to satisfy the court that such threats were made and that they are a person aggrieved by them, in order that the threat is actionable.</p>

<h3 id="a03">70A.03</h3>

<p>Anyone whose commercial interests have, or might be, affected by the threat in a real rather than fanciful way may sue as a person aggrieved by the threat. See Brain v Ingledew Brown Bennison and Garrett (No 3) [1997‐98] Info TLR 329, [1997] FSR 511 at 520 (decided under the previous threats provisions). There are some exceptions which prevent a person aggrieved from suing the person who made the threat ([see 70A.04-70A.08(/guidance/manual-of-patent-practice-mopp/section-70-remedy-for-groundless-threats-of-infringement-proceedings-#ref70-04)]).</p>

<h3 id="section-70a2">Section 70A(2)</h3>

<p>A threat of infringement proceedings is not actionable if the infringement is alleged to consist of—
(a) where the invention is a product, making a product for disposal or importing a product for disposal, or
(b) where the invention is a process, using a process.</p>

<h3 id="a04">70A.04</h3>

<p>Section 70A(2) sets out a “primary act” exception. A threat will not be actionable if it is a threat to bring proceedings for an infringement alleged to consist of an act of primary infringement. Thus a threats action cannot be brought against the person who made such a threat. A primary act is the making or importing of a patented product for disposal or the use of a patented process.</p>

<h3 id="section-70a3">Section 70A(3)</h3>

<p>A threat of infringement proceedings is not actionable if the infringement is alleged to consist of an act which, if done, would constitute an infringement of a kind mentioned in subsection (2)(a) or (b).</p>

<h3 id="a05">70A.05</h3>

<p>Since a threat can be made in respect of an intended or future act (<a href="/guidance/manual-of-patent-practice-mopp/section-70-remedy-for-groundless-threats-of-infringement-proceedings-#ref70-03">see 70.03</a>), section 70A(3) makes clear that the “primary act” exception also applies to such acts – that is, to acts of primary infringement which have not yet been done. Thus a threat alleging that an act, if done, would constitute infringement is not actionable if the act referred to is a primary act.</p>

<h3 id="section-70a4">Section 70A(4)</h3>

<p>A threat of infringement proceedings is not actionable if the threat—
(a) is made to a person who has done, or intends to do, an act mentioned in subsection (2)(a) or (b) in relation to a product or process, and
(b) is a threat of proceedings for an infringement alleged to consist of doing anything else in relation to that product or process.</p>

<h3 id="a06">70A.06</h3>

<p>A threat made to a primary actor is not actionable. A person who has done or intends to do a primary act (<a href="#ref70A-04">see 70A.04</a>) in relation to a product (or process) to which the threat relates cannot bring a threats action even if the threat refers to other acts which are not primary acts. This allows threats made to primary actors to extend to refer to secondary acts (such as selling the product in question) done by that primary actor. So, for example, a threat to sue a manufacturer for making an allegedly-infringing product may also extend to threatening in relation to acts of selling the product they have manufactured. This is an exception to the general principle that threats made to secondary actors are actionable.</p>

<h3 id="a07">70A.07</h3>

<p>Importantly, this exception only applies where the mentioned secondary act is in relation to the same product or process as the primary act. So if a person produces and sells a product, a threat to sue for infringement for both producing and selling the product will not be actionable. But if the same person also sells an equivalent product produced by someone else, a threat to sue for infringement for selling that equivalent product will be actionable since, in this respect, the person being threatened is a pure secondary actor.</p>

<h3 id="section-70a5">Section 70A(5)</h3>
<p>A threat of infringement proceedings which is not an express threat is not actionable if it is contained in a permitted communication.</p>

<h3 id="ref70A-08">70A.08</h3>

<p>A threat, as determined by the test of section 70(1) (<a href="/guidance/manual-of-patent-practice-mopp/section-70-remedy-for-groundless-threats-of-infringement-proceedings/#ref70-03">see 70.03-70.04</a>, is not actionable if it is contained in a “permitted communication”, provided that it is not an express threat to sue. Section 70B defines what is meant by a permitted communication (<a href="/guidance/manual-of-patent-practice-mopp/section-70b-permitted-communications/#ref70B-02">see 70B.02-70B.03</a>).</p>

<h3 id="section-70a6">Section 70A(6)</h3>

<p>In sections <a href="/guidance/manual-of-patent-practice-mopp/section-70c-remedies-and-defences">70C</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-70d-professional-advisers">70D</a> “an actionable threat” means a threat of infringement proceedings that is actionable in accordance with this section.</p>


</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
