<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 99B: Power of Court of Session to order report 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (99B.01 - 99B.03) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="b01">99B.01</h3>

<p>The CDP Act gave the court in England and Wales (see 99A.01-02) and in Scotland the power to order reports by the Office in proceedings under the 1977 Act.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99B(1)</strong></td>
    </tr>
    <tr>
      <td>In any proceedings before the Court of Session under this Act the court may, either of its own volition or on the application of any party, order the Patent Office to inquire into and report on any question of fact or opinion.</td>
    </tr>
  </tbody>
</table>

<h3 id="b02">99B.02</h3>

<p>The Court of Session may order the Office to inquire into and report on any question of fact or opinion, either of its own motion or on the application of any party to the relevant proceedings.</p>

<p>[ For report procedure, <a href="/guidance/manual-of-patent-practice-mopp/section-99a-power-of-patents-court-to-order-report/#ref99A-01">see 99A.01</a>. ]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99B(2)</strong></td>
    </tr>
    <tr>
      <td>Where the court makes an order under subsection (1) above of its own volition the fee payable to the Patent Office shall be at such rate as may be determined by the Lord President of the Court of Session with the consent of the Treasury and shall be defrayed out of moneys provided by Parliament.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 99B(3)</strong></td>
    </tr>
    <tr>
      <td>Where the court makes an order under subsection (1) above on the application of a party, the fee payable to the Patent Office shall be at such rate as may be provided for in rules of court and shall be treated as expenses in the cause.</td>
    </tr>
  </tbody>
</table>

<h3 id="b03">99B.03</h3>

<p>Subsections (2) and (3) provide for the payment of fees to the Office where the Court of Session makes such an order. These subsections cover the rate of payment and who is required to provide the money, depending on whether or not the order is made on the application of a party.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
