<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 93: Enforcement of orders for costs 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (93-01 - 93-02) last updated October 2013.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 93</strong></td>
    </tr>
    <tr>
      <td>If the European Patent Office orders the payment of costs in any proceedings before it<br/>(a) in England and Wales the costs shall, if the county court so orders, be recoverable by execution issued from the county court or otherwise as if they were payable under an order of that court;<br/>(b) in Scotland the order may be enforced in like manner as an extract registered decree arbitral bearing a warrant for execution issued by the sheriff court of any sheriffdom in Scotland;<br/>(c) in Northern Ireland the order may be enforced as if it were a money judgment;<br/>(d) in the Isle of Man the order may be enforced in like manner as an execution issued out of the court.</td>
    </tr>
  </tbody>
</table>

<h3 id="section">93.01</h3>

<p>This section provides for the enforcement in the UK of orders for costs made by the EPO. The methods of enforcement are the same as those for an award of costs by the comptroller under s.107, <a href="/guidance/manual-of-patent-practice-mopp/section-107-costs-and-expenses-in-proceedings-before-the-comptroller/#ref107-09">see 107.09</a>.</p>

<h3 id="section-1">93.01.1</h3>

<p>In paragraph (b) which applies to Scotland only, the words “a recorded decree arbitral” were replaced by “an extract registered decree arbitral bearing a warrant for execution issued by the sheriff court of any sheriffdom in Scotland” by the Debtors (Scotland) Act 1987, s.108(1), Sch 6, para 20.</p>

<h3 id="section-2">93.02</h3>

<p>Part (d) is was added by The Patents Act (Isle of Man) Order 1978( SI 1978 No 621). This Order has since been revoked and replaced by The Patents Act (Isle of Man) Order 2003 (SI 2003 No 1249).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
