<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 121: Comptroller's annual report 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (121.01 - 121.02) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-121">Section 121</h3>

<p>Before 1st December in every financial year the comptroller shall cause to be laid before both Houses of Parliament a report with respect to the execution of this Act and the discharge of his functions under the European Patent Convention and the Patent Cooperation Treaty, and every such report shall include an account of all fees, salaries and allowances, and other money received and paid by him under this Act, that convention and that treaty during the previous financial year.</p>

<h3 id="section">121.01</h3>

<p>The comptroller’s annual report is laid before Parliament and also placed on sale to the public. It covers not only activities under the 1977 Patents Act, EPC and PCT (including trends of inventions in published 1977 Act applications) but also those under the extant Acts relating to registered designs and trade marks. Financial and other statistics in respect of such activities, and accounts of other activities in which The Office staff have been involved (e.g. international conferences concerning intellectual property), are also included.</p>

<h3 id="section-1">121.02</h3>

<p>The date of the report was changed by Article 6 of The Office Trading Fund Order 1991 (SI 1991 No 1796) to require laying of the report (for the previous financial year) before 30 November of the same year. This article was revoked by the Patents Act 2004, which changed the date required for the report in section 121 from 1 June in every year to 1 December in every financial year.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
