<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 117B: Extension of time limits specified by comptroller 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (117B.01 - 117B.05) last updated: January 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref117b-01">117B.01</h3>

<p>This section was added by Article 18 of the Regulatory Reform (Patents) Order 2005. It is effective from 1 January 2005 and applies to applications and patents of any date. It implements the requirements of Article 11 of the Patent Law Treaty.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117B(1)</strong></td>
    </tr>
    <tr>
      <td>Subsection (2) below applies in relation to a period if it is specified by the comptroller in connection with an application for patent, or a patent.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117B(2)</strong></td>
    </tr>
    <tr>
      <td>Subject to subsections (4) and (5) below, the comptroller shall extend a period to which this subsection applies if<br/>(a) the applicant or the proprietor of the patent requests him to do so; and<br/>(b) the request complies with the relevant requirements of rules.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref117B-02">117B.02</h3>

<p>r.109(1) is also relevant</p>

<p>The applicant (or proprietor of the patent, as the case may be) is entitled on request to a single extension of a period that is specified by the comptroller in connection with the application or patent, provided that the requirements of r.109(1) are satisfied, viz that the request is made in writing (e.g. by letter or email) and is made before the end of the extended period. Directions have been made under section 124A for making a request to extend a specified time limit by electronic means and are reprinted in the “Official Notices and Directions” section of the Manual. An email request to request an extension of a specified time limit should be sent to <a href="mailto:pateot@ipo.gov.uk">pateot@ipo.gov.uk</a> and should identify the patent application or patent to which the request relates, and the specified period for which an extension is requested.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117B(3)</strong></td>
    </tr>
    <tr>
      <td>An extension of a period under subsection (2) above expires<br/>(a) at the end of the period prescribed for the purposes of this subsection, or<br/>(b) if sooner, at the end of the period prescribed for the purposes of section 20 above.</td>
    </tr>
  </tbody>
</table>

<h3 id="b03">117B.03</h3>

<p>r.109(2) is also relevant</p>

<p>The s.117B(2) extension is two months, unless the end of the section 20 period (“compliance period”) intervenes.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117B(4)</strong></td>
    </tr>
    <tr>
      <td>If a period has already been extended under subsection (2) above<br/>(a) that subsection does not apply in relation to it again;<br/>(b) the comptroller may further extend the period subject to such conditions as he thinks fit.</td>
    </tr>
  </tbody>
</table>

<h3 id="b04">117B.04</h3>

<p>A period may be extended only once under s.117B(2); further extensions are at the comptroller’s discretion and may be subject to conditions. Any request for a further extension should include a statement of reasons for the request.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 117B(5)</strong></td>
    </tr>
    <tr>
      <td>Subsection (2) above does not apply to a period specified in relation to proceedings before the comptroller.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref117B-05">117B.05</h3>

<p>Periods that are specified in relation to proceedings before the comptroller,
for example if a hearing officer specifies a period for producing a particular document,
cannot be extended under section 117B(2).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
