<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 286: Interpretation
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (286.01 - 286.05) last updated April 2011.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">286.01</h3>

<p>This defines certain terms used in Part V of the CDP Act (patent agents and trade mark agents). This section was amended on 1 January 2010 by section 208(1) and Schedule 21, paragraph 79 of the Legal Services Act 2007.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 286</strong></td>
    </tr>
    <tr>
      <td>In this part “<br/><br/>the comptroller” means the Comptroller-General of Patents, Designs and Trade Marks;<br/><br/>“director”, in relation to a body corporate whose affairs are managed by its members, means any member of the body corporate;<br/><br/>“the European list” means the list of professional representatives maintained by the European Patent Office in pursuance of the European Patent Convention;<br/><br/>“registered patent attorney” has the meaning given by section 275(2).</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">286.02</h3>

<p>The comptroller means the Comptroller-General of Patents, Designs and Trade Marks. “Proceedings before the comptroller” therefore includes proceedings in the Patent Office, the Trade Marks Registry and the Designs Registry.</p>

<h3 id="section-2">286.03</h3>

<p>Director includes “member” in the case of a body corporate managed by its members. The normal operation of company law means that a chief executive or other most senior manager who is not a director would also be deemed to be a director for the purposes of this Act.</p>

<h3 id="section-3">286.04</h3>

<p>The European list is defined to mean the list of persons qualified to represent applicants before the European Patent Office. This list is established under Article 134(1) of the European Patent Convention.</p>

<h3 id="section-4">286.05</h3>

<p>A registered patent attorney is a person whose name is entered in the register of patent agents (<a href="/guidance/manual-of-patent-practice-mopp/section-275-the-register-of-patent-attorneys/#ref275-04">see 275.04</a>). The reference to registered trade mark attorney in section 286 was repealed by Schedule 5 to the Trade Marks Act 1994. A registered trade mark attorney is now a person whose name is entered on the register of trade mark attorneys in accordance with s.83 of the Trade Marks Act 1994.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
