<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 100: Burden of proof in certain cases
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (100.01 - 100.06) last updated October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">100.01</h3>

<p>s.60(1)(c) is also relevant</p>

<p>This section relates to the burden of proof with regard to whether a product was obtained by a patented process. It is relevant to infringement proceedings since a person may infringe a patent for a process if they dispose of, offer to dispose of, use or import any product obtained directly by means of that process or keeps any such product whether for disposal or otherwise.</p>

<h3 id="section-1">100.02</h3>

<p>It applies to 1977 Act patents including European patents (UK).</p>

<h3 id="section-2">100.03</h3>

<p>s.130(7)  is also relevant</p>

<p>Section 100 is so framed as to have, as nearly as practicable, the same effects as the corresponding provisions of the EPC, CPC and PCT. It corresponds to CPC Article 75 (renumbered as Article 35 [1989]), <a href="#ref100-06">see 100.06</a>.</p>

<h3 id="section-1001">Section 100(1)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 100(1)</strong></td>
    </tr>
    <tr>
      <td>If the invention for which a patent is granted is a process for obtaining a new product, the same product produced by a person other than the proprietor of the patent or a licensee of his shall, unless the contrary is proved, be taken in any proceedings to have been obtained by that process.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref100-04">100.04</h3>

<p>This section is concerned with patents where the invention is a process for obtaining a “new product”. If the “same product” is produced by a person other than the patentee or their licensee, it is taken in any proceedings to have been obtained by that process unless the contrary is proved. The onus is thus on an alleged infringer to prove otherwise, ie, that the product was not obtained by that process and therefore does not infringe the patent. (This assumes that the product is not also claimed independently of the process; if it is, this section will not normally be relevant.) This moves the burden of proof from the patentee or licensee who, without s.100(1), would normally have had to show that the product constituted an infringement.</p>

<h3 id="ref100-04-1">100.04.1</h3>

<p>In <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2015/3596.html">Magnesium Elektron Ltd v Molycorp Chemicals &amp; Oxides (Europe) Ltd &amp; Anor [2015] EWHC 3596</a>, the claimants sought permission to serve proceedings for patent infringement against a defendant based in China. In order to gain permission from the court, the claimant had to show there was a serious issue to be tried. The claims related to a process for preparing zirconium-cerium-based mixed oxides. The claimant relied on s.100 to argue that the defendant’s product was obtained directly by the patented process and so there was a serious issue to be tried. The claimant said that experimental results indicated that products made by the patented process have a particular fingerprint which is unique to the patented process, and that the alleged infringing product had that fingerprint. Birss J held that the word “new” in s.100 must mean the same thing as in s.1(1)(a), that is, the “new product” must be novel. The judge also found there is nothing in s.100 which requires that the product which must be a new product is a thing defined in the same level of generality as the words used in the process claim. Whilst the patent acknowledged that zirconium-cerium-based mixed oxides as such are not novel, the court found that the fingerprint could nevertheless make the product new for the purposes of s.100 - the fact that the patent did not assert that products made that way have a unique fingerprint did not matter. The court therefore gave permission to serve proceedings.</p>

<h3 id="section-1002">Section 100(2)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 100(2)</strong></td>
    </tr>
    <tr>
      <td>In considering whether a party has discharged the burden imposed upon him by this section, the court shall not require him to disclose any manufacturing or commercial secrets if it appears to the court that it would be unreasonable to do so.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">100.05</h3>

<p>Subsection (2) concerns the disclosure of manufacturing or commercial secrets by an alleged infringer in attempting to prove that a product was not obtained by the patented process. They are not required to disclose any such secrets if the court considers that it would be unreasonable to require them to do so. Disclosure of a secret would apparently not be required if it was possible to discharge the burden of proof without it.</p>

<h3 id="ref100-06">100.06</h3>

<p>The wording of s.100(2) differs substantially from that of the corresponding part of CPC Article 75 (renumbered as Article 35 [1989]) which reads:</p>

<p>2.In the adduction of proof to the contrary, the legitimate interests of the defendant in protecting his manufacturing and business secrets shall be taken into account.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
