<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 105: Extension of privilege in Scotland for communications relating to patent proceedings
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">105.01</h3>

<p>This section provides for certain documents relating to patent proceedings to be privileged from disclosure in Scotland. It was amended by section 303(1) and schedule 7, paragraph 21, of the CDP Act.</p>

<h3 id="section-1">105.02</h3>

<p>In addition, section 280(4) of the CDP Act declares that in Scotland the rules of law which confer privilege from disclosure in legal proceedings in respect of communications extend to such communications as are mentioned in section 280. That section is concerned with communications with, or seeking information for the purpose of instructing, one’s patent agent. It is to be noted that s.105 does not contain any such restriction to patent agents.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 105(1)</strong></td>
    </tr>
    <tr>
      <td>It is hereby declared that in Scotland the rules of law which confer privilege from disclosure in legal  proceedings in respect of communications, reports or other documents (by whomsoever made) made for the purpose of any pending or contemplated proceedings in a court in the United Kingdom extend to communications, reports or other documents made for the purpose of patent proceedings.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">105.03</h3>

<p>Section 105(1) declares that in Scotland the privilege from disclosure afforded to documents made for the purpose of any pending or contemplated proceedings in a court in the UK extends to those made for the purpose of patent proceedings.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 105(2)</strong></td>
    </tr>
    <tr>
      <td>In this section<br/><br/>“patent proceedings” means proceedings under this Act or any of the relevant conventions, before the court, the comptroller or the relevant convention court, whether contested or uncontested and including an application for a patent; and<br/><br/>“the relevant conventions” means the European Patent Convention and the Patent Co-operation Treaty.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">105.04</h3>

<p>[deleted]</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
