<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 43: Supplementary 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (43.01 - 43.03) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">43.01</h3>

<p>This is the fifth and last of the group of sections relating to inventions made by employees. Its provisions supplement those of ss.39 to 42 and relate to the applicability and construction of those sections. The various provisions of s.43 are referred to where appropriate in the chapters on ss.39 to 42.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(1)</strong></td>
    </tr>
    <tr>
      <td>Sections 39 to 42 above shall not apply to an invention made before the appointed day.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(2)</strong></td>
    </tr>
    <tr>
      <td>Sections 39 to 42 above shall not apply to an invention made by an employee unless at the time he made the invention one of the following conditions was satisfied in his case, that is to say -<br/>(a) he was mainly employed in the United Kingdom; or-<br/> (b)	he was not mainly employed anywhere or his place of employment could not be determined, but his employer had a place of business in the United Kingdom to which the employee was attached, whether or not he was also attached elsewhere.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(3)</strong></td>
    </tr>
    <tr>
      <td>In sections 39 to 42 above and this section, except so far as the context otherwise requires, references to the making of an invention by an employee are references to his making it alone or jointly with any other person, but do not include references to his merely contributing advice or other assistance in the making of an invention by another employee.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(4)</strong></td>
    </tr>
    <tr>
      <td>Any references in sections 39 to 42 above to a patent and to a patent being granted are respectively references to a patent or other protection and to its being granted whether under the law of the United Kingdom or the law in force in any other country or under any treaty or international convention.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(5)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of sections 40 and 41 above the benefit derived or expected to be derived by an employer from an invention or patent shall, where he dies before any award is made under section 40 above in respect of it, include any benefit derived or expected to be derived from it by his personal representatives or by any person in whom it was vested by their assent.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(5A)</strong></td>
    </tr>
    <tr>
      <td>For the purposes of sections 40 and 41 above the benefit derived or expected to be derived by an employer from an invention shall not include any benefit derived or expected to be derived from the invention after the patent for it has expired or has been surrendered or revoked.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">43.02</h3>

<p>Section 43(5A) was added by the Patents Act 2004. This subsection ensures that when assessing benefits under section 40(1) or (2) in relation to inventions made by an employee and calculating the amount of compensation under section 41, benefits that arise after the relevant patent has ceased cannot be taken into account.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(6)</strong></td>
    </tr>
    <tr>
      <td>Where an employee dies before an award is made under section 40 above in respect of a patented invention made by him, his personal representatives or their successors in title may exercise his right to make or proceed with an application for compensation under subsection (1) or (2) of that section.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(7)</strong></td>
    </tr>
    <tr>
      <td>In sections 40 and 41 above and this section “benefit” means benefit in money or money’s worth.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 43(8)</strong></td>
    </tr>
    <tr>
      <td>Section 533 of the Income and Corporation Taxes Act 1970 (definition of connected persons) shall apply for determining for the purposes of section 41(2) above whether one person is connected with another as it applies for determining that question for the purposes of the Tax Acts.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">43.03</h3>

<p>S.43(8) refers to s.533 of the Income and Corporation Taxes Act 1970 which was repealed and replaced by s.839 of the Income and Corporation Taxes Act 1988. No consequential amendment was made to s.43(8).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
