<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 95: Financial provisions 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (95.01) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-95-financial-provisions">Section 95: Financial provisions</h3>

<p>This section has been affected by the use of powers under the Government Trading Funds Act 1973 (as amended) enabling the Patent Office to be operated as a trading fund (The Patent Office Trading Fund Order, SI 1991/1796). The effect of the provisions of the Government Trading Funds Act 1973 is to allow the establishment of new financing arrangements, which supersede any existing statutory provision for vote funding.</p>

<h3 id="section-951">Section 95(1)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 95(1)</strong></td>
    </tr>
    <tr>
      <td>There shall be paid out of moneys provided by Parliament any sums required by any Minister of the Crown or government department to meet any financial obligation of the United Kingdom under the European Patent Convention or the Patent Co-operation Treaty.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-952">Section 95(2)</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 95(2)</strong></td>
    </tr>
    <tr>
      <td>Any sums received by any Minister of the Crown or government department in pursuance of that convention or that treaty shall be paid into the Consolidated Fund.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
