<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 88: Jurisdiction in legal proceedings in connection with Community Patent Convention [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (88.01) last updated: April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">88.01</h3>

<p>The CDP Act repealed section 88 of the 1977 Act, as this section had been rendered otiose by the coming into force in respect of the UK of the “Judgments Convention” (the 1968 Convention on Jurisdiction and Enforcement of Judgments in Civil and Commercial Matters). Section 88 specified how to determine the residence of a party for the purposes of deciding which courts of the Member States of the then European Community had jurisdiction in proceedings relating to infringement of a patent granted under the Community Patent Convention. It was introduced as an interim measure because the Community Patent Convention was expected to enter into force before the Judgments Convention - which also specifies how this question is to be determined - became effective
in the UK. In the event the Community Patent Convention has not entered into force, whereas the Judgments Convention is now effective.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
