<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 292: Rights and duties of registered patent agents in relation to proceedings in patents county court [Repealed]
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (292.01 - 292.02) last updated April 2011.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">292.01</h3>

<p>This section provided registered patent agents rights of audience before the patents county court and the right to conduct the rest of proceedings outside the courtroom.</p>

<h3 id="section-1">292.02</h3>

<p>Section 292 has been repealed by section 208(1), Schedule 21, paragraph 80 and Schedule 23 of the Legal Services Act 2007. The new regime established by the Legal Services Act 2007 gives the definitions and specific authorisation to take part in reserved legal activities such as the rights and duties in the patents county court.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
