<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 107: Costs and expenses in proceedings before the comptroller
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (107.01 - 107.13) last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">107.01</h3>

<p>This section provides for the award of costs (expenses in Scotland) by the comptroller in proceedings before them. It also provides for enforcement of orders made by the comptroller awarding costs, and allows the comptroller to require security for the costs of certain proceedings before them.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(1)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may, in proceedings before him under this Act, by order award to any party such costs or, in Scotland, such expenses as he may consider reasonable and direct how and by what parties they are to be paid.</td>
    </tr>
  </tbody>
</table>

<h3 id="award-of-costs-by-comptroller">Award of costs by comptroller</h3>

<h3 id="section-1">107.02</h3>

<p>The comptroller is empowered to award by order any party in proceedings before them under the 1977 Act such costs as he may consider reasonable and direct how and by what parties they are to be paid.</p>

<h3 id="section-2">107.03</h3>

<p>As explained in Tribunal Practice Notice 4/2007 (reproduced in the “Relevant Official Notices and Directions” section of this Manual), costs in proceedings before the comptroller are not intended to compensate parties for the expenses to which they have been put; they are a contribution to costs in the form of a lump sum.</p>

<p>[Guidance on the assessment of costs is given in chapter 5 of the Patent Hearings Manual. ]</p>

<h3 id="to-10708">107.04 to 107.08</h3>

<p>[deleted]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(2)</strong></td>
    </tr>
    <tr>
      <td>In England and Wales any costs awarded under this section shall, if the county court so orders, be recoverable by execution issued from the county court or otherwise as if they were payable under an order of that court.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(3)</strong></td>
    </tr>
    <tr>
      <td>In Scotland any order under this section for the payment of expenses may be enforced in like manner as an extract registered decree arbitral bearing a warrant for execution issued by the sheriff court of any sheriffdom in Scotland.</td>
    </tr>
  </tbody>
</table>

<p>Enforcement of order for costs</p>

<h3 id="ref107-09">107.09</h3>

<p>An award of costs by a hearing officer cannot be enforced by the Office, but a successful party who is unable to obtain the awarded amount from the other party is at liberty to seek the assistance of the courts in enforcing the award, in accordance with subsection (2), (3), (5) or (6) as appropriate.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(4)</strong></td>
    </tr>
    <tr>
      <td>The comptroller may make an order for security for costs or expenses against any party to proceedings before him under this Act if<br/>(a) the prescribed conditions are met, and<br/>(b) he is satisfied that it is just to make the order, having regard to all the circumstances of the case;<br/><br/>and in default of the required security being given the comptroller may treat the reference, application or notice in question as abandoned.</td>
    </tr>
  </tbody>
</table>

<h3 id="security-for-costs">Security for costs</h3>

<h3 id="ref107-10">107.10</h3>

<p>r.85 is also relevant</p>

<p>The comptroller may require a party to give security for costs or expenses in proceedings. The conditions for making an order, which are similar to those applicable to the courts under rule 25.13(2) of the Civil Procedure Rules, are prescribed by r.85. These are that the party against whom the order is made:<br/><br/>(a) is resident outside the UK, but not resident in a Brussels Contracting State, a Lugano Contracting State, or a Regulation State, as defined in section 1(3) of the Civil Jurisdiction and Judgments Act 1982;<br/>(b)is a company or other body (whether incorporated inside or outside the UK) and there is reason to believe that it will be unable to pay another party’s costs if ordered to do so;<br/>(c) has changed their address for service with a view to evading the consequences of the litigation;<br/>(d) has furnished an incorrect address for service; or<br/>(e) has taken steps in relation to their assets that would make it difficult to enforce an order for costs against them.<br/><br/>
In practice, the comptroller will only require such security following successful application from another party to the proceedings.<br/><br/>[Guidance on security for costs is given in chapter 2 of the Patent Hearings Manual.]</p>

<h3 id="section-3">107.11</h3>

<p>When an application asking the comptroller to require security for costs has been successful, security for a fixed sum will generally be required when the proceedings are initiated. If it does not accompany the reference, application or notice, a letter is issued requiring provision thereof. It suffices for the person’s patent agent in the UK to guarantee the sum in writing.</p>

<p>[ The matter of security for costs is dealt with by Tribunal Section. The letter should identify the writer and provide a contact telephone number. ]</p>

<h3 id="section-4">107.12</h3>

<p>If the required security is not given, the reference, application or notice may be treated as abandoned.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(5)</strong></td>
    </tr>
    <tr>
      <td>In Northern Ireland any order under this section for the payment of costs may be enforced as if it were a money judgment.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 107(6)</strong></td>
    </tr>
    <tr>
      <td>In the Isle of Man, any order under this section for the payment of costs may be enforced as if it were a judgment or order of the court for the payment of money.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref107-13">107.13</h3>

<div class="call-to-action">
<p><a href="#ref107-09">See 107.09</a>. Subsection (6) was added by the <a rel="external" href="https://www.legislation.gov.uk/uksi/1978/621/contents/made">Patents Act 1977 (Isle of Man) Order 1978</a> (SI 1978/621), and was restated most recently by the <a rel="external" href="https://www.legislation.gov.uk/uksi/2013/2602/contents/made">Patents Act 1977 (Isle of Man) Order 2013</a> (SI 2013/2602).</p>
</div>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
