<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 74: Proceedings in which validity of patent may be put in issue
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (74.01 - 74)(8)  last updated: July 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">74.01</h3>

<p>This section is concerned with putting the validity of a patent in issue, including the proceedings in which it can be done (s.74(1)-(2)), the grounds on which it can be done (s.74(3)), the relationship of the determination of validity with the determination of entitlement (s.74(4)-(6)) and the effect of pending court proceedings on the institution of proceedings before the comptroller (s.74(7)).</p>

<h3 id="section-1">74.02</h3>
<p>s.77(1) is also relevant.</p>

<p>It also applies in relation to applications for a European patent (UK) to the extent indicated in s.78(2), and in relation to granted European patents (UK).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(1)</strong></td>
    </tr>
    <tr>
      <td>Subject to the following provisions of this section, the validity of a patent may be put in issue -<br/><br/> (a) by way of defence, in proceedings for infringement of the patent under section 61 above or proceedings under section 69 above for infringement of rights conferred by the publication of an application; <br/><br/> (b) proceedings in respect of an actionable threat under section 70A above;<br/><br/> (c) in proceedings in which a declaration in relation to the patent is sought under section 71 above; <br/><br/> (d) in proceedings before the court or the comptroller under section 72 above for the revocation of the patent; (e) in proceedings under section 58 above.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(2)</strong></td>
    </tr>
    <tr>
      <td>The validity of a patent may not be put in issue in any other proceedings and, in particular, no proceedings may be instituted (whether under this Act or otherwise) seeking only a declaration as to the validity or invalidity of a patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="proceedings-in-which-validity-may-be-questioned">Proceedings in which validity may be questioned</h3>

<h3 id="ref74-03">74.03</h3>

<p>s.74(8)  is also relevant.</p>

<p>Validity cannot be put in issue except in proceedings under the Act as above defined, ie ss.58 (disputes as to Crown use), 61 (infringement of patent), 69 (infringement of rights conferred by publication of application), 70A (unjustified threats of infringement proceedings), 71 (declaration as to non-infringement) and 72 (revocation of patents on application). Section 73 is specifically excluded by a declaration that the validity of a patent is not put in issue merely because the comptroller is considering its validity in order to decide whether to revoke it under s.73. There are no other proceedings in which validity may be put in issue, proceedings directed solely to the question of validity being specifically prohibited. This includes a non-statutory claim for a declaration of noninfringement pursuant to the inherent jurisdiction of the court (Organon Teknika Ltd v F. Hoffmann-La Roche AG [1996] FSR 383).</p>

<h3 id="ref74-03-1">74.03.1</h3>

<p>S.74(2) does not exclude oppositions in the European Patent Office since s.77(2) specifically preserves the jurisdiction of the European Patent Office to revoke a European Page 1 of 3 April 2015 patent (UK) (<a href="/guidance/manual-of-patent-practice-mopp/section-77-effect-of-european-patent-uk/#ref77-08">see 77.08</a>) (Organon Teknika Ltd v F. Hoffmann-La Roche AG [1996] FSR 383).</p>

<h3 id="ref74-03-2">74.03.2</h3>

<p>Although section 74 does not allow validity to be put in issue in inventorship or entitlement disputes, the Court of Appeal in Markem Corp v Zipher Ltd [2005] RPC 31 held that if a clear and unarguable attack on validity is raised, there is no reason why the Comptroller should not take it into account as part of their wide discretion in determining such disputes (<a href="/guidance/manual-of-patent-practice-mopp/section-8-determination-before-grant-of-questions-about-entitlement-to-patents-etc/#ref8-09">see 8.09</a>).</p>

<h3 id="ref74-03-3">74.03.3</h3>
<p>Section 74(1)(b) was amended by the Intellectual Property (Unjustified Threats) Act 2017 to refer to the relevant part of the threats provisions as reformed by that Act, namely to an actionable threat under section 70A.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(3)</strong></td>
    </tr>
    <tr>
      <td>The only grounds on which the validity of a patent may be put in issue (whether in proceedings for revocation under section 72 above or otherwise) are the grounds on which the patent may be revoked under that section.</td>
    </tr>
  </tbody>
</table>

<h3 id="grounds-on-which-validity-may-be-questioned">Grounds on which validity may be questioned</h3>

<h3 id="section-2">74.04</h3>

<p>Validity cannot be put in issue except on one or more of the grounds set out in s.72(1) (<a href="/guidance/manual-of-patent-practice-mopp/section-72-power-to-revoke-patents-on-application/#ref72-03">see 72.03</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(4)</strong></td>
    </tr>
    <tr>
      <td>No determination shall be made in any proceedings mentioned in subsection (1) above on the validity of a patent which any person puts in issue on the ground mentioned in section 72(1)(b) above unless<br/><br/> (a) it has been determined in entitlement proceedings commenced by that person or in the proceedings in which the validity of the patent is in issue that the patent should have been granted to him and not some other person; and<br/><br/>(b) except where it has been so determined in entitlement proceedings, the proceedings in which the validity of the patent is in issue are commenced on or before the second anniversary of the date of the grant of the patent or it is shown that any person registered as a proprietor of the patent knew at the time of the grant or of the transfer of the patent to him that he was not entitled to the patent.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(5)</strong></td>
    </tr>
    <tr>
      <td>Where the validity of a patent is put in issue by way of defence or counterclaim the court or the comptroller shall, if it or he thinks it just to do so, give the defendant an opportunity to comply with the condition in subsection (4)(a) above.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(6)</strong></td>
    </tr>
    <tr>
      <td>In subsection (4) above “entitlement proceedings”, in relation to a patent, means a reference under section 37(1) above on the ground that the patent was granted to a person not entitled to it or proceedings for a declaration or declarator that it was so granted.</td>
    </tr>
  </tbody>
</table>

<h3 id="determination-of-validity-on-entitlement-ground">Determination of validity on entitlement ground</h3>

<h3 id="section-3">74.05</h3>
<p>s.130(7)  is also relevant.</p>

<p>Sub-sections (4) to (6) are concerned only with proceedings in which validity is put in issue on the entitlement ground set out in s.72(1)(b). Sub-section (4) is so framed as to have, as nearly as practicable, the same effects as the corresponding provisions of the EPC, CPC and PCT. Articles 27 and 56(1) of the CPC (renumbered as Articles 23 and 55(1) [1989]) appear to be in question.</p>

<h3 id="section-4">74.06</h3>

<p>Validity cannot be determined on that ground unless it has first been determined that the patent should have been granted to the person who has put validity in issue and not some other person. The proceedings in which such determinations can be made are defined in s.74(4)-(6).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(7)</strong></td>
    </tr>
    <tr>
      <td>Where proceedings with respect to a patent are pending in the court under any provision of this Act mentioned in sub-section (1) above, no proceedings may be instituted without the leave of the court before the comptroller with respect to that patent under section 61(3), 69, 71 or 72 above.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref74-07">74.07</h3>

<p>Proceedings pending in the court in which validity may be put in issue preclude the institution of certain proceedings before the comptroller unless the court gives leave, as detailed in subsection (7). However, court proceedings for infringement may be stayed pending the outcome of proceedings under ss.71 and 72 before the comptroller (Hawker Siddeley Dynamics Engineering Ltd v Real Time Developments Ltd [1983] RPC 395). In Cayless &amp; Sci-Sport Limited v Barton &amp; Cullis (<a rel="external" href="https://www.ipo.gov.uk/p-challenge-decision-results/p-challenge-decision-results-bl.htm?BL_Number=O%2F073%2F98&amp;submit=Go+%BB">BL O/073/98</a>), an application under s.71(1) for a declaration of non-infringement was seriously defective and the proprietors of the patent then launched a High Court infringement action. The hearing officer subsequently refused to allow amendment of the s.71(1) application, holding that the application had not properly been launched and that the amendment would have effectively been the institution of the proceedings in the meaning of s.74(7).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 74(8)</strong></td>
    </tr>
    <tr>
      <td>It is hereby declared that for the purposes of this Act the validity of a patent is not put in issue merely because<br/><br/> (a) the comptroller is considering its validity in order to decide whether to revoke it under section 73 above, or <br/><br/> (b) its validity is being considered in connection with an opinion under section 74A below or a review of such an opinion.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
