<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 34: Rectification of register 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (34.01 - 34.06) last updated : April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">34.01</h3>

<p>This section relates to rectification of the register of patents by order of the court in response to an application by an aggrieved person. It authorises rules of court to provide for relevant procedures, the relevant rule being paragraph 16 of the Practice Direction supplementing CPR 63 (CPR 63PD).</p>

<h3 id="section-1">34.02</h3>
<p>s.77(1), s.78(2) is also relevant.</p>

<p>The section also applies to register entries relating to granted European patents (UK) but not to applications for European patents (UK).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 34(1)</strong></td>
    </tr>
    <tr>
      <td>The court may, on the application of any person aggrieved, order the register to be rectified by the making, or the variation or deletion, of any entry in it.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-2">34.03</h3>

<p>CPR 63PD, para 16.1 is also relevant.</p>

<p>An application for rectification should be made using a claim form, which should be served both on the other party and on the comptroller.</p>

<h3 id="section-3">34.04</h3>

<p>s.130(1) CPR 63.3(1) is also relevant.</p>

<p>The “court” means the High Court or any patents county court having jurisdiction by virtue of an order under s.287 of the CDP Act (or the Court of Session in Scotland). Patent proceedings before the High Court of England and Wales are in fact assigned to Chancery Division and taken by the Patents Court.</p>

<h3 id="section-4">34.05</h3>

<p>Rectification of the register may take the form of the making of an entry therein or the variation or deletion of an existing entry.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 34(2)</strong></td>
    </tr>
    <tr>
      <td>In proceedings under this section the court may determine any question which it may be necessary or expedient to decide in connection with the rectification of the register.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 34(3)</strong></td>
    </tr>
    <tr>
      <td>Rules of court may provide for the notification of any application under this section to the comptroller and for his appearance on the application and for giving effect to any order of the court on the application.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-5">34.06</h3>

<p>CPR 63PD, paras 16.1 and 16.2 is also relevant.</p>

<p>A copy of the claim form and the accompanying documents must be served on the comptroller, who is entitled to appear and to be heard on the application.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
