<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 102A: Right of audience, etc., in proceedings on appeal from the comptroller [Repealed] 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (102A.01 - 102A.02) last updated: April 2011. </p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="a01">102A.01</h3>

<p>This section provided the rights of audience and communications in proceedings on appeal from the Comptroller. This section was added to the 1977 Act by the CDP Act but derives from the previous s.102, see 102.01.</p>

<h3 id="a02">102A.02</h3>

<p>Section 102A has been repealed by the Legal Services Act 2007, section 210 and Schedule 23. The new regime established by the Legal Services Act 2007 now gives the definitions and specific authorisation for parties to take part in reserved legal activities such as the right of audience in proceedings.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
