<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 287: Patents county courts: special jurisdiction [Repealed]
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (287.01 - 287.03) last updated: October 2021.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">287.01</h3>

<p>Sections 287 to 292 of the CDP Act introduced a new arena for proceedings concerning patents or designs and provided for patents cases to be conducted in a county court, and patent agents to conduct such litigation. Sections 287 to 292 were brought into force on 1 August 1989. Section 287 was amended by the Constitutional Reform Act 2005 to provide a role for the Lord Chief Justice of England and Wales or a judicial office holder appointed by them to exercise functions under the section.</p>

<h3 id="section-1">287.02</h3>

<p>Section 287 set out the framework for the establishment of a county court jurisdiction over patents and designs in England and Wales.</p>

<h3 id="section-2">287.03</h3>

<p>Section 287 has been repealed by Schedule 9, paragraph 30 of the Crimes and Courts Act 2013.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
