<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 76: Amendments of applications and patents not to include added matter 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (76.01 - 76.28) last updated: April 2024.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="ref76-01">76.01</h3>

<p>This section, which bars the inclusion of additional matter in a patent application or specification, was rewritten by the CDP Act. The changes then made had little effect with regard to the prohibition on the introduction of new matter when amending an application or patent, but changed the consequences of the presence of such matter in a new application based on, and claiming the filing date of, an earlier application or patent. Section 76(1A) was added to this section by the Regulatory Reform (Patents) Order 2004 to prohibit the introduction of new matter in a description when the initial filing includes a reference under s.15(1)(c)(ii) to an earlier application.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 76(1)</strong></td>
    </tr>
    <tr>
      <td>An application for a patent which<br/>(a) is made in respect of matter disclosed in an earlier application, or in the specification of a patent which has been granted, and<br/>(b) discloses additional matter, that is, matter extending beyond that disclosed in the earlier application, as filed, or the application for the patent, as filed,<br/><br/>may be filed under section 8(3), 12 or 37(4) above, or as mentioned in section 15(9) above, but shall not be allowed to proceed unless it is amended so as to exclude the additional matter.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 76(1A)</strong></td>
    </tr>
    <tr>
      <td>Where, in relation to an application for a patent<br/>(a) a reference to an earlier relevant application has been filed as mentioned in section 15(1)(c)(ii) above; and<br/>(b) the description filed under section 15(10)(b)(i) above discloses additional matter, that is, matter extending beyond that disclosed in the earlier relevant application,<br/><br/>the application shall not be allowed to proceed unless it is amended so as to exclude the additional matter.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref76-02">76.02</h3>

<p>Section 76(1) requires that an application which seeks divisional status under s.15(9) (or to be treated as a new application under s.8(3), 12 or 37(4) following entitlement proceedings) and which discloses matter extending beyond that disclosed in the relevant earlier application, shall not be allowed to proceed unless it is amended to exclude that matter (see procedure in <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-35">15.35</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-45">15.45</a>). Once amended, it should be published (provided all requirements are met) under s.16(1) as filed (see <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-38">15.38-39</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-16-publication-of-application/#ref16-08">16.08</a>). Similarly, where an application contains a reference to an earlier application under s.15(1)(c)(ii) and the description of the invention sought required under s.15(10)(b)(i) discloses matter extending beyond the earlier application, the application shall not be allowed to proceed unless it is amended to exclude that matter (<a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-06-03">see 15.06.3 to 15.06.5</a>), but once amended, the description as first filed should be published under s.16(1).</p>

<h3 id="ref76-03">76.03</h3>

<p>The tests for deciding whether a later application discloses matter which extends beyond that disclosed in an earlier application are the same as the tests for determining whether amendment of an application adds matter (<a href="#ref76-05">see 76.05 to 76.19</a>).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 76(2)</strong></td>
    </tr>
    <tr>
      <td>No amendment of an application for a patent shall be allowed under section 15A(6), 18(3) or 19(1) if it results in the application disclosing matter extending beyond that disclosed in the application as filed.</td>
    </tr>
  </tbody>
</table>

<h3 id="before-grant">Before grant</h3>

<h3 id="ref76-04">76.04</h3>

<p>Section 76(2) disallows amendment of an application which results in it disclosing matter extending beyond that which it disclosed when filed. Its strictures apply to amendment of an application made either in response to an objection made in the course of preliminary or substantive examination or at the applicant’s own volition.<br/><br/>[ RC9 may be used to object to a specification which contains added matter as a result of amendment under s.18(3), r.31(3) or r.31(4). It is not however appropriate for amendments requested under r.31(6) which would add matter. (See further <a href="/guidance/manual-of-patent-practice-mopp/section-19-general-power-to-amend-application-before-grant/#ref19-19">19.19</a>, <a href="/guidance/manual-of-patent-practice-mopp/section-19-general-power-to-amend-application-before-grant/#ref19-21">19.21</a>) ]</p>

<h3 id="ref76-04-1">76.04.1</h3>

<p>In addition to the following UK precedents, Decisions of the EPO’s Boards of Appeal are also relevant. In Lowndes’ Application (<a href="https://www.gov.uk/government/publications/patent-decision-o01993">BL O/019/93</a>), the hearing officer noted that, although s.76 is not one of those specified in s.130(7) as having been framed to have the same effect as a corresponding provision of the EPC, there is an indirect link to the EPC through s.72(1)(d), which concerns added matter as a ground for revocation. This latter
provision is worded in similar terms to s.76(1) and (2) and is covered by s.130(7) (see also <a href="#ref76-22">76.22</a> and <a href="/guidance/manual-of-patent-practice-mopp/section-91-evidence-of-conventions-and-instruments-under-conventions/#ref91-02">91.02</a>). Moreover, in Merrell Dow Pharmaceuticals Inc v H N Norton &amp; Co Ltd (BL C/089/96) Jacob J came to the firm conclusion that s.76 is not intended to have a different effect from a.123 EPC.</p>

<h3 id="ref76-05">76.05</h3>

<p>The same general considerations arise under s.76(2), and s.72(1)(d), regardless of whether an amendment relates to the description (including any drawings) (<a href="#ref76-06-14">see paras 76.06-14</a> or to the claims <a href="#ref76-15">see paras 76.15 to 76.22</a>. Questions as to whether amendments disclose additional matter can arise both pre- and post-grant in the context of claim broadening. However, it is important to realise that the stricture against claim broadening in s.76(3)(b) and the sanction provided by s.72(1)(e) only apply to post-grant amendment (<a href="#ref76-24-27">see 76.24-27</a>), as was confirmed by the Court of Appeal in Texas Iron Works v Nodeco [2000] RPC 207. The only stricture governing pre-grant amendment is that no additional matter should be disclosed, and s.69(2) clearly contemplates allowability of claim broadening (or “lateral shifting”) so that acts which did not infringe the claims of the published application could yet infringe those of the granted patent (<a href="#ref76-16">see 76.16</a>). The same possibility is contemplated by ss.17(8) and 18(1A).</p>

<h3 id="ref76-06">76.06</h3>

<p>When considering in Bonzel and Schneider (Europe) AG v Intervention Ltd [1991] RPC 553 whether an amendment to the description had the result that a patent as granted disclosed matter which extended beyond that disclosed in the application, Aldous J described his task as<br/>(1) to ascertain through the eyes of the skilled addressee what is disclosed, both explicitly and implicitly in the application;<br/>(2) to do the same in respect of the patent as granted;<br/>(3) to compare the two disclosures and decide whether any subject matter relevant to the invention has been added whether by deletion or addition. The comparison is strict in the sense that subject matter will be added unless such matter is clearly and unambiguously disclosed in the application either explicitly or implicitly.<br/><br/>As summarised by Jacob J. in Richardson-Vicks Inc.’s Patent [1995] RPC 568, “the test of added matter is whether a skilled man would, upon looking at the amended specification, learn anything about the invention which he could not learn from the unamended specification.”<br/><br/>(With regard to the narrowing of a claim to claim a sub-range not specified before, <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-69">see 18.69-18.69.1</a> and <a href="#ref76-27">76.27</a>).</p>

<h3 id="ref76-07">76.07</h3>

<p>In the Bonzel case, it was decided that additional matter was disclosed by an amendment resulting in a guide wire lumen of a dilatation catheter being described as “relatively short” (compared with the prior art), rather than as “about as long as the (catheter) balloon” (the original description of its length). The terms of the comparison at (3) above conform broadly with those of the test for novelty adopted in some EPO decisions as a basis for determining the allowability of amendments. (i.e. no (new) subject matter may be disclosed by amendment which is not derivable directly and unambiguously from the original application by a person skilled in the art; see, eg, Technical Board of Appeal Decision T201/83, OJEPO 10/84.) However, in A C Edwards Ltd v Acme Signs &amp; Displays Ltd [1990] RPC 621 at p.644 whilst acknowledging that the novelty test could often prove useful, and would have given the same result in that case, Aldous J observed nonetheless that it should be applied with caution.</p>

<h3 id="ref76-08">76.08</h3>
<p>r.15(2) and s.14(2) is also relevant.</p>

<p>In order to determine the original teaching of an application, the whole of the description, any drawings and any claims which was or were present on the filing date may be considered (for later-filed original claims, see <a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-145">14.145</a>). When viewed as a source of disclosure, the claims of a patent specification are no different from any other source. The Court of Appeal so held in A C Edwards Ltd v Acme Signs &amp; Displays Ltd [1992] RPC 131 at
p.142, applying the decision of the House of Lords in Asahi Kasei Kogyo KK [1991] RPC 485 (see also <a href="/guidance/manual-of-patent-practice-mopp/section-2-novelty/#ref2-10-2">2.10.2</a>).</p>

<h3 id="section">76.08.1</h3>

<p>A priority document does not form part of the application, and matter disclosed in the priority document but omitted from the specification as filed may not be subsequently added (as confirmed in VEB Kombinat Walzlager [1987] RPC 405, <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-08">see 15.08</a></p>

<h3 id="ref76-08-2">76.08.2</h3>

<p>s.14(2) is also relevant.</p>

<p>Matter that is only disclosed in the abstract cannot be added to the specification, regardless of whether the abstract was filed on or after the filing date. The abstract is part of the application, though not part of the specification, and so the hearing officer in ARMCO Inc’s Application (<a href="https://www.gov.uk/government/publications/patent-decision-o08485">BL O/84/85</a>) accepted that matter present in an abstract filed on the date of filing could be considered to be part of the disclosure of the application when determining under s.76(2) whether an amendment adds matter. However, the Patents Court in Abbott Laboratories Ltd. v Medinol Ltd [2010] EWHC 2865 (Pat) held that the content of the abstract, filed on the date of filing of the application, could not be used to determine the content of the application as filed for the purpose of s.76 – <a href="/guidance/manual-of-patent-practice-mopp/section-14-the-application/#ref14-171">see 14.171</a>. Examiners should therefore disregard the content of the abstract in determining whether an amendment adds matter.</p>

<h3 id="ref76-09">76.09</h3>

<p>It is allowable to add to the description or claims matter disclosed in a drawing provided it does not go beyond what a skilled person would judge to be disclosed in the drawing. If it is necessary to rely on the drawings for support and the formal drawings were filed later than the application date, then the informal drawings should be consulted. A drawing treated as omitted under s.15(2) or (3) (<a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-07">see 15.07-15.16</a>) may be reinstated by amendment, or a new drawing may be added, provided that it shows nothing not originally disclosed in the application (including any other drawings) on the date of filing. A similar criterion applies to the amendment of a drawing.</p>

<h3 id="implicit-disclosure">Implicit Disclosure</h3>

<h3 id="ref76-10">76.10</h3>

<p>Matter may be regarded as having been disclosed if the skilled reader would realise that it was implicit in the original document (cf 18.22) - see, for example, <a rel="external" href="http://rpc.oxfordjournals.org/content/118/19/675.full.pdf+html?sid=992bf004-43f5-40e6-bfd9-c6255f589f16">DSM NV’s Patent [2001] RPC 35 at paragraphs 197-200</a>. In this decision, Neuberger J gives the hypothetical illustration of a description which refers to carrying out experiments at a certain acidity, but which does not contain a reference to the fact that pH is a measure of acidity. Since the skilled person would take this for granted, it means that a claim which was amended to refer to this acidity in terms of pH would not amount to added matter.</p>

<h3 id="section-1">76.11</h3>

<p>Consider a further hypothetical example. If an applicant seeks to amend a disclosure of a rubber composition comprising several ingredients to specify that a further ingredient is present, this is prima facie not allowable. However, the amendment may be allowable if the applicant can show convincingly that the further ingredient is an additive normally used in rubber compositions of that kind and that its omission would be questioned by the skilled reader; such an amendment may be regarded as clarification and as introducing nothing not already known to such a reader, since the presence of the additive is implicit in the description of the composition. If however the additive is merely common but by no means universal, or if it is merely one additive selected from several which are generally used, then the reference to its presence constitutes added matter. A third example
is an application originally disclosing “resilient means” without disclosing any particular form of such means. An amendment introducing the specific information that the resilient means is, or could be, a helical spring, will not normally be allowable. If however it can be convincingly argued that in the kind of apparatus in question use of a helical spring is universal (for example if the “resilient means” is for retracting the tip of a ball-point pen), then
the amendment may be allowable.</p>

<h3 id="ref76-12">76.12</h3>

<p>Matter which is not disclosed, but which the skilled reader would find it obvious to add, is not regarded as having been implicitly disclosed. The specification of Flexible Direction Indicators Ltd’s Application [1994] RPC 207 concerned a traffic bollard characterised by its flexibility and originally indicated that the bollard was made from a compound of two polymers. The applicants produced evidence, suggesting that a skilled reader would immediately see that one of the polymers alone could provide the desired flexibility. They argued that removal of the reference to a second polymer would be no more than rendering explicit that which was already implicit. In refusing the amendment, Aldous, J observed that s.76 “is concerned with what is disclosed, not with that which the skilled reader might think could be substituted or what had been omitted”.</p>

<h3 id="ref76-13">76.13</h3>

<p>If a generic term used in the document can be regarded as necessarily disclosing a relatively small number of particular alternatives, then restriction to one of these may be an allowable amendment. For example, if a pump or valve is disclosed as for use with “fluid” then it is reasonable to construe this as disclosing use with either liquid or gas, so that a statement that use with only one of these is contemplated can be regarded as a
restriction of the disclosure rather than as added subject-matter. However, in Noxell Ltd’s Application (<a href="https://www.gov.uk/government/publications/patent-decision-o13792">BL O/137/92</a>), the hearing officer refused to allow the applicants to specify that a layer of plastic film was non-peelable, rejecting their submission that the word “layer” disclosed two particular alternatives: peelable and non-peelable layers. The hearing officer also rejected the applicant’s submission that s.76 does not apply to disclaiming amendments.</p>

<h3 id="ref76-13-1">76.13.1</h3>

<p>In Protoned BV’s Application, [1983] FSR 110, the invention as originally described and claimed related to a mechanism for adjusting the seat and back of a chair which used the co-operation of a gas spring and a mechanical compression spring. The applicant sought to delete from the claims the word “compression”, and argued that a skilled reader would at once realise that a tension spring could be used equally effectively. This
was rejected by Whitford J, who stated that even if this were accepted to be the case, the amendment was not allowable, since it added notionally to the body of the specification a whole range of springs which were not originally in the application as filed. However, the claim could well have been allowed if the approach taken later in A C Edwards Ltd v Acme Signs &amp; Displays Ltd and Southco Inc v Dzus Fastener Europe Ltd (<a href="#ref76-15">see 76.15</a> and <a href="#ref76-20">76.20</a>) had been applied.</p>

<h3 id="prior-art">Prior Art</h3>

<h3 id="ref76-14">76.14</h3>

<p>There may be no objection to an amendment introducing information regarding prior art, provided it does not alter the construction of the claims of the patent in suit (Cartonneries de Thulin SA v CTP White Knight Ltd [2001] RPC 6). For example, while the originally filed description of prior art may give the impression that the inventor has developed the invention from a certain point, cited documents may show that certain aspects of the alleged development were already known. The subsequent inclusion of a reference to or a brief summary of the relevant documents would not contravene s.76 (Merrell Dow Pharmaceutical Inc v N H Norton &amp; Co Ltd BL C/089/96). Likewise an amendment may be allowable which sets out disadvantages of the prior art, and thus helps to put the invention in its proper perspective in the art. If, however, such an amendment implies an advantage of the invention, or if a statement of such an advantage is sought to be introduced, for example in order to distinguish the invention from the prior art, then this will be allowable only if the advantage would have been apparent to a skilled reader of the specification who was aware of the prior art (EPO Decision T344/89; [1993] EPOR 209). In Palmaz’s European Patents (UK) ([1999] RPC 47, upheld on appeal [2000] RPC 631) Pumfrey J stated that the practice, allowed by Advanced Semiconductor Products OJEPO 8/94 &amp; [1995] EPOR 97 (G 01/93) of adding an acknowledgement of prior art to the body of the specification and limiting the claim by reference to the prior art so acknowledged was too generally used in proceedings before the EPO to be challenged, but noted that caution must be exercised where the patentee themselves described the prior art in terms which they propose to use in the limitation of their claim.</p>

<h3 id="scope-of-the-claims-vs-disclosure">Scope of the Claims vs. Disclosure</h3>

<h3 id="ref76-15">76.15</h3>

<p>In the case of <a rel="external" href="http://rpc.oxfordjournals.org/content/109/7/131">A C Edwards Ltd v Acme Signs &amp; Displays Ltd [1992] RPC 131</a> (<a href="#ref76-08">see 76.08</a>), the claim had been reduced in scope during examination by the introduction of further features in generalised terms which, the defendants contended, had the result that the claim covered, and therefore disclosed, certain variations not disclosed in the application as filed. The Court, in rejecting this argument, distinguished between the ambit of the protection which the claim identified and the matters which it disclosed. The Court decided that although the claim covered certain variations, it contained no disclosure of any of them; thus there was no added information and the disclosure had not been extended. The Court also held that, in any event, the variations in question had been implicitly disclosed to a person skilled in the art by the contents of the application as filed.</p>

<h3 id="ref76-15-0">76.15.0</h3>

<p>Similarly, <a rel="external" href="http://www.bailii.org/ew/cases/EWCA/Civ/2014/40.html">AP Racing Ltd v Alcon Components Ltd [2014] EWCA Civ 40</a> concerned an appeal of a Patents County Court decision to revoke AP Racing’s patent due to added matter. The patent related to a disc brake calliper with the claimed feature of asymmetrical peripheral stiffening bands (PSBs); however the application as filed did not explicitly refer to the PSBs as being asymmetrical and contained instead disclosure of […one particular geometry of PSB in a “hockey stick” shape…]. The Patents County Court judge recognised that the PSBs disclosed in the application were necessarily asymmetrical but said that a skilled addressee would not have derived from the application “a concept at the same level of generality as” the feature of claim 1. Thus he held matter had been added in claiming the general feature of asymmetrical PSBs. However, this was overturned by a decision of the Court of Appeal, in which Floyd LJ stated:<br/></p>

<blockquote>
  <p class="last-child">Having correctly concluded that the description in the application of the hockey stick shaped PSBs was of something “necessarily asymmetrical” [the judge] should have gone on to ask himself whether there was any added disclosure in the granted specification. The description of the PSBs in claim 1 as “asymmetric” has to be read as part of the disclosure of the specification of the granted patent as a whole, taking account of the different function of the claims and the specification. When this is done the skilled person would understand that the patentee has drafted his claim so that it covers asymmetric PSBs generally. However I am not persuaded that the specification read as a whole discloses any configuration of PSB which is not disclosed in the application.</p>

</blockquote>

<p>It is therefore possible to broaden the scope of a claim without disclosing new information about an invention <a href="#ref76-15">also see 76.15</a>. That is, although broadening the scope of a claim may result in the claim covering matter which was not previously disclosed, this does not necessarily mean that the claim itself (and the specification as a whole) actually discloses any additional matter. In contrast, <a rel="external" href="http://www.bailii.org/ew/cases/EWHC/Patents/2014/1959.htm">Koninklijke Philips Electronics NV v Nintendo of Europe GmbH [2014] EWHC 1959 (Pat)</a> illustrates that a granted claim may cover new matter and also disclose new matter over what was filed. A granted claim referring to “at least one room localisation beacon” was held to add matter over an application which disclosed only the use of plural beacons. The judge determined that the granted claim clearly covered a system with only one beacon, and also disclosed such a system, because that idea is conveyed by the language of the claim. He stated</p>

<blockquote>

  <p class="last-child">The skilled addressee reading the granted patent would have the idea that one of the things they could build if they put the ideas in the document into practice was a system with a single beacon in it.</p>

</blockquote>

<h3 id="ref76-15-1">76.15.1</h3>

<p>The addition of what, in essence, was specific new disclosure was considered in Van der Lely’s Application [1987] RPC 61. In that case, a divisional application claimed a baling machine comprising “at least one swingable conveyor” whereas the main application only disclosed a machine having three such conveyors. In the absence of any suggestion in the main application that the baling machine could have less than three swingable conveyors, and because the claim of the divisional application embraced a machine with only one or only two conveyors of this type, the disclosure of the divisional application was considered to extend beyond that of the main application.</p>

<h3 id="ref76-15-2">76.15.2</h3>

<p>As discussed in paragraph 4A.27.1, it does not add matter to amend a “Swisstype” second medical use claim (e.g. “The use of substance X in the manufacture of a medicament to treat disease Y”), or an unpatentable method of treatment claim (e.g. “A method of treating disease Y by administering substance X”), to the equivalent direct form of second medical use claim (“Substance X for use in the treatment of disease Y”). Although such a change in claim format does not add to the technical disclosure of a patent application, it would extend the scope of the claims and is therefore contrary to s.76(3)(b) if made post grant (see <a href="/guidance/manual-of-patent-practice-mopp/-section-4a-methods-of-treatment-or-diagnosis/#ref4A-27-1">4A.27.1</a> and <a href="#ref76-26">76.26</a>).</p>

<h3 id="intermediate-generalisation">Intermediate Generalisation</h3>

<h3 id="section-2">76.15.3</h3>

<p>Amendments which limit the scope of a claim by the introduction of one or more features from the description or claims may in certain circumstances add matter through what is known as “intermediate generalisation”. This concept was explained by Pumfrey J in Palmaz’s European Patents (UK) ([1999] RPC 47, upheld on appeal [2000] RPC 631):<br/></p>

<blockquote>
  <p class="last-child">If the specification discloses distinct sub-classes of the overall inventive concept, then it should be possible to amend down to one or other of those sub-classes, whether or not they are presented as inventively distinct in the specification before amendment. The difficulty comes when it is sought to take features which are only
disclosed in a particular context and which are not disclosed as having any inventive significance and introduce them into the claim deprived of that context. This is a process sometimes called ‘intermediate generalisation’.</p>

</blockquote>

<h3 id="ref76-15-4">76.15.4</h3>

<p>This definition has been endorsed in subsequent decisions of the courts, such as Vector Corp v Glatt Air Technologies Ltd [2007] RPC 12. In particular, if a feature is taken from only one, or a subset, of the embodiments, stripped of the other related features of the embodiment(s), and claimed as a defining feature of the invention, then unless the application suggests that this feature has a particular significance this is likely to constitute an intermediate generalisation; as in Datacard Corp. v Eagle Technologies Ltd. [2011] EWHC 244 (Pat), [2011] RPC 17.</p>

<h3 id="ref76-15-5">76.15.5</h3>

<p>As discussed in Nokia Corporation v IPCOM GMBH &amp; Co KG (No. 3) [2013] R.P.C. 5 it is not permissible to introduce into a claim a feature taken from a specific embodiment unless the skilled person would understand that the other features of the embodiment are not necessary to carry out the claimed invention. Put another way, it must be apparent to the skilled person that the selected feature is generally applicable to the claimed invention absent the other features of that embodiment. Teva UK Limited &amp; Anor v AstraZeneca AB [2014] EWHC 2873 (Pat) relates to a patent for a therapy for asthma. In his decision Mr Justice Sales applied the teaching of Nokia Corporation v IPCOM and found that a specific example given in the patent specification could not be used to generate generalisable patent claims. He held that the skilled addressee would not be able to derive from the example that the dose amounts set out are capable of abstraction from the details of the factual scenario set out in that example. The proprietor was thus held to have added matter to the application in attempting to generate patent claims based on particular details from the example. In Starsight Telecast Inc &amp; Anor v Virgin Media Ltd &amp; Ors [2014] EWHC 828 (Pat) the invention presented in the application as filed was a detailed and specific method of using parental controls to restrict access to program schedule information displayed on a television. The judge however considered that the claim 1 in the granted patent was directed to a method of restricting access to program schedule information based on parental control options per se and was not restricted to the specific features set out in the specification as filed. The granted claim 1 therefore presented the skilled team with new information about the invention which was not directly and unambiguously apparent from the original disclosure. It was further held that claim 4, in combination with claims 1 and 2, generalised the invention in a way that omitted important parts of the disclosed method and thereby told the skilled team for the first time that those parts were inessential. Consequently claim 1 and the combination of claims 1, 2 and 4 were held to be intermediate generalisations and therefore invalid on the grounds of added matter. In <a rel="external" href="https://www.bailii.org/ew/cases/EWHC/Patents/2023/2616.html">Philip Morris Products SA &amp; Anor v Nicoventures Trading Ltd &amp; Anor [2023] EWHC 2616 (Pat)</a> the invention related to ‘heat-not-burn’ cigarettes where a cartridge of smokable material is inserted into a device which can electrically heat the smokable material. An amendment was filed which specified that the heater “…extends to opposite longitudinal ends of the mass of smokable material.” This feature was only disclosed in a single embodiment of the invention in which the heater was described as part of the cartridge of smokable material, not part of the device itself. The judge held that the disclosure did not clearly and unambiguously teach that this feature could be generalised to the claimed embodiment in which the heater was part of the device itself. Hacon J therefore concluded that the amendment added matter.</p>

<h3 id="ref76-15-6">76.15.6</h3>

<p>It is worth noting that the disclosure of the application includes all the information that the skilled person may ascertain about the invention. An intermediate generalisation is considered to add matter (at least in part) because it results in the skilled addressee being presented with information which they could not have derived from the application as originally filed, concerning the importance of the newly claimed feature. This new understanding is the ‘matter’ which is added. In a similar vein, an amendment limiting the scope of a claim to a single pill comprising 70 mg of alendronate by deleting other tablet weights and dosage combinations was held by the Court of Appeal in Merck &amp; Co Inc’s Patents [2004] FSR 16 to add to the teaching of the patent by introducing the importance of the 70 mg dosage being in the form of a single pill. For discussion of amendments which restrict a claim to a sub-range of a range disclosed at filing <a href="/guidance/manual-of-patent-practice-mopp/section-18-substantive-examination-and-grant-or-refusal-of-patent/#ref18-69-1">see 18.69.1</a>.</p>

<h3 id="ref76-16">76.16</h3>

<p><a href="#ref76-20">see 76.20</a></p>

<h3 id="omission-of-a-feature">Omission of a feature</h3>

<h3 id="ref76-17">76.17</h3>

<p>Thus the omission from an amended claim of a feature specified in the original claim may be allowable if it is apparent from the whole document that its inclusion as a characterising feature was arbitrary and unnecessary. On the other hand, if the specification gave the impression that a feature was regarded as an essential element of the invention then amendment to omit this feature is not allowable. In Raychem Ltd’s Application [1986] RPC 547, the applicants sought to amend two divisional applications by omitting the final (cross-linking) step from a process for producing a heat-recoverable polymeric sleeve assembly. The hearing officer’s refusal to allow the applications as so amended to proceed under s.15(4) was upheld in the Patents Court where it was held that the cross-linking feature was clearly disclosed as an essential feature of the invention described; claims relating to the “intermediate” product obtained without the final crosslinking were not supported by that disclosure and would offend against s.76 as disclosing matter extending beyond that disclosed in the applications (and parent) as filed. In Decision T122/90, not published, concerning corresponding European patent applications, the EPO Board of Appeal similarly supported objection to claims “which did not specify that the bonded parts could be cross-linked so that the sleeve assembly was presented out of its original context”, but allowed claims to the intermediate product which required the relevant material to be cross-linkable so that the bonded parts could be cross-linked, thus preserving the cross-linking feature.</p>

<h3 id="ref76-18">76.18</h3>

<p>Likewise, if a feature is necessary in order that the invention may fulfil an originally-stated purpose, then its omission will not be allowable. In International Playtex Corporation’s Application, [1969] RPC 362, the specification originally stated that an object of the invention was “to design a brassiere with maximum resistance to riding over derived from its built-in differential stretch patterns”, and the claim included “a triangular piece of stretchable fabric”. Objection was upheld to an amendment which sought to delete the statement of object and to replace the reference in the claim by one to “a triangular insert”. The same outcome would appear likely under the current law.</p>

<h3 id="ref76-18-1">76.18.1</h3>

<p>The Court of Appeal in [Nokia Corporation v IPCOM GMBH &amp; Co KG (No. 3) [2013] R.P.C. 5]( considered whether matter had been added by omission with reference to the “Houdaille Test” set out by the EPO Board of Appeal in <a rel="external" href="https://www.epo.org/en/boards-of-appeal/decisions/t870331ep1">T331/87 Houdaille/Removal of feature [1991] E.P.O.R. 194</a>. The test was summarised by Kitchin L J:<br/><br/></p>

<blockquote>
  <p class="last-child">The skilled person must be able to recognise directly and unambiguously that (1) the [omitted] feature is not explained as essential in the original disclosure, (2) it is not, as such, indispensible for the function of the invention in light of the technical problem it serves to solve, and (3) the replacement or removal requires no real modification of other features to compensate for the change.</p>

</blockquote>

<h3 id="claim-broadening">Claim Broadening</h3>

<h3 id="ref76-19">76.19</h3>

<p>If an invention has been claimed narrowly and the applicant subsequently realises that they could have claimed it more broadly, this will not generally be possible if the whole teaching of the original specification was that the invention related only to the narrow aspect. For example, Glatt’s Application [1983] RPC 122 was for an article (suitable for conditioning fabrics in a laundry dryer) comprising a flexible woven or non-woven airpermeable web. It was held to be wrong to allow claims to go forward omitting the requirement of air-permeability “upon a description of the invention in the body of the specification which only supports an article in which the use of an air-permeable base fabric is an essential feature”.</p>

<h3 id="ref76-20">76.20</h3>

<p>Nevertheless, the fact that an amendment has the effect of broadening the scope of the claims does not necessarily mean that it will be regarded as adding matter (<a href="#ref76-05">see 76.05</a>). Aldous J said in Southco Inc v Dzus Fastener Europe Ltd ([1990] RPC 587; upheld on appeal - see [1992] RPC 299) that “What the Act is seeking to prevent is a patentee altering his claims in such a way that they claim a different invention from that which is disclosed in the application. Thus, provided the invention in the amended claim is disclosed in the application when read as a whole, it will not offend against section 76”, and that “section 76 is there to prevent the patentee disclosing either by deletion or addition any inventive concept which was not disclosed before but not to prevent a patentee claiming the same invention in a different way”. From a consideration of ss.125 and 130(3) in that case, the judge concluded that although there was no definition of the word “matter” it was wide
enough to cover structural features of the mechanism and inventive concepts, and that it was reasonable to look at the claims construed as part of the whole document to see what was the invention.</p>

<h3 id="ref76-20-1">76.20.1</h3>

<p>Care must be taken when considering amendments to the description which impact the construction of the claims. In <a rel="external" href="https://www.bailii.org/ew/cases/EWHC/Patents/2023/1495.html">Ensygnia v Shell [2023] EWHC 1495 (Pat)</a>, a statement that embodiments comprising an electronic display were “outside the scope of the claims” was added to the description by amendment. However, the judge at paragraph 177 held that “without hindsight, I do not think it would even occur to the skilled reader reading this passage in the context of the application as a whole that the invention could be implemented using a sign that is not electronic or which cannot be changed.” The patent was therefore found to be invalid due to both added matter and for having extended the scope of protection (<a href="#ref76.24">see 76.24-76.26</a>).</p>

<h3 id="ref76-21">76.21</h3>

<p>In many cases it will be possible to raise objection to unacceptable claim broadening under either s.76 or  s.14(5)(c); if both are contravened, then in general objection should be raised under both. When objecting under s.14(5)(c), a warning should be given against an attempt to overcome the objection by amending the description in a way which would contravene s.76(2). (For divisional applications, see <a href="/guidance/manual-of-patent-practice-mopp/section-15-date-of-filing-application/#ref15-30">15.30</a>.</p>

<h3 id="ref76-22">76.22</h3>

<p><a href="#ref76-15-1">See 76.15.1</a></p>

<h3 id="deleted">76.23 [deleted]</h3>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 76(3)</strong></td>
    </tr>
    <tr>
      <td>No amendment of the specification of a patent shall be allowed under section 27(1), 73 or 75 if it<br/>(a) results in the specification disclosing additional matter, or<br/>(b) extends the protection conferred by the patent.</td>
    </tr>
  </tbody>
</table>

<h3 id="after-grant">After grant</h3>

<h3 id="ref76-24">76.24</h3>

<p id="ref76-24-27">Post-grant amendments are barred not only if they add matter (<a href="#ref76-04">see 76.04 - 76.23</a>) but also if they extend the protection conferred by the patent. These strictures apply to amendment of a granted patent, whether in proceedings initiated by the proprietor of the patent for that purpose or in the course of either proceedings initiated by the comptroller to revoke the patent, or of other proceedings in which the validity of the patent is put in issue.</p>

<h3 id="ref76-25">76.25</h3>
<p>s.125(1) is also relevant.</p>

<p>There is no restriction in the form of a post grant amendment, provided that it neither (a) extends the disclosure of the granted patent over the application as filed – <a href="#ref76-05">see 76.05-23</a>, nor (b) extends the protection conferred by the patent. The protection conferred is determined by the scope of the claims  interpreted by the description and any drawings, and the disclosure of the claims is similarly determined - <a href="#ref76-16">see 76.16</a>. The term “matter” was held by Jacob J in Merrell Dow Pharmaceuticals Inc v H N Norton &amp; Co Ltd (BL C/089/96) to be equivalent to “subject matter” in EPC a.123(2) and from the purposive construction applied in that case it is presumed that “additional” means compared to the application as filed, not as granted. This means that it could be possible to re-introduce matter deleted before grant, provided that it does not result in extending the protection conferred by the patent. When interpreting s.76(3), due account may be taken of relevant decisions of the EPO Boards of Appeal; <a href="#ref76-04-1">see 76.04.1</a>.</p>

<h3 id="ref76-26">76.26</h3>

<p>To determine whether an amendment extends the protection conferred by the patent, the question to be asked is, is it possible to conceive of any act or apparatus which would infringe the amended claim but would not infringe any claim of the patent as it stands, without the proposed amendment? If the answer is negative then no objection arises under s.76(3)(b). If the claims have already been amended post-grant, then the proposed amendment must not extend the scope of the patent as currently amended. So, for example, if the claims have already been limited by amendment post-grant, the limitation cannot be removed in a further amendment. In Siegfried Demel v C &amp; H Jefferson [1999] FSR 204 it was held that an amendment was permissible which broadened the scope of an appendant claim on the grounds that any case covered by that claim as amended would already have been covered by the earlier broader independent claim. It would appear that it would also be permissible to broaden the scope of an independent claim which is within the scope of another independent claim, or to introduce a new claim, whether appendant or independent providing the overall scope of the protection conferred by the patent is not extended. However any such broadening or intermediate generalisation (<a href="#ref76-15-2">see 76.15.2</a>) must not be contrary to the provisions of Sections 76(3)(a) and 14(5)(c) - ie must not extend the matter disclosed and must be supported by the description (<a href="/guidance/manual-of-patent-practice-mopp/section-27-general-power-to-amend-specification-after-grant/#ref27-11">see also 27.11</a>). In patents with second medical use claims, post-grant amendment to replace “Swiss-type” claims (e.g. “The use of substance X in the manufacture of a medicament to treat disease Y”) with the direct form of second medical use claim (“Substance X for use in the treatment of disease Y”) is considered to extend the scope of protection and thus is contrary to s.76(3)(b) – <a href="/guidance/manual-of-patent-practice-mopp/-section-4a-methods-of-treatment-or-diagnosis/#ref4A-27-1">see 4A.27.1</a>).</p>

<h3 id="ref76-27">76.27</h3>

<p>If an amendment allowed pre-grant is determined post-grant to have disclosed additional matter, then s.76(3)(b) prevents amendment to remove the additional matter if removal would have the result of extending the protection conferred by the patent (see EPO Enlarged Board of Appeal Decision G 01/93 Advanced Semiconductor Products, OJEPO 8/94). This can have potentially fatal consequences for the validity of the patent post-grant; the Enlarged Board described this as an “inescapable trap”.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 76(4)</strong></td>
    </tr>
    <tr>
      <td>In subsection (1A) above “relevant application” has the meaning given by section 5(5) above.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">76.28</h3>

<p>See <a href="/guidance/manual-of-patent-practice-mopp/section-5-priority-date/#ref5-30">5.30</a>.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
