<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 70F: Supplementary: proceedings for delivery up etc
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section (70F-01) last published: 2017</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section-70f">Section 70F</h3>

<p>In section 70(1)(b) the reference to proceedings for infringement of a patent includes a reference to proceedings for an order under section 61(1)(b) (order to deliver up or destroy patented products etc.)</p>

<h3 id="f01">70F.01</h3>

<p>Section 70F confirms that a threat of infringement proceedings within the definition in section 70 includes a threat to bring proceedings for an order to deliver up or destroy a patented product. (<a href="/guidance/manual-of-patent-practice-mopp/section-61-proceedings-for-infringement-of-patent">See also section 61</a>).</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
