<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 127: Existing patents and applications
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (127.01 - 127.10) last updated: April 2007</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">127.01</h3>

<p>This section provided for the position of 1949 Act patents and applications as a result of the advent of the 1977 Act. It authorises Schedules 1 to 4 to the 1977 Act which respectively set out which provisions of the 1949 Act and of the 1977 Act applied in relation to 1949 Act patents and applications, repealed certain provisions of the 1949 Act and made transitional provisions. All patents granted under the 1949 Act have now expired.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(1)</strong></td>
    </tr>
    <tr>
      <td>No application for a patent may be made under the 1949 Act on or after the appointed day.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-1">127.02</h3>

<p>s.130(1) is also relevant</p>

<p>The “appointed day” on which s.127 came into operation was 1 June 1978. From that day onwards, it has not been possible to make an application for a patent under the Patents Act 1949.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(2)</strong></td>
    </tr>
    <tr>
      <td>Schedule 1 to this Act shall have effect for securing that certain provisions of the 1949 Act shall continue to apply on and after the appointed day to<br/>(a) a patent granted before that day:<br/>(b) an application for a patent which is filed before that day, and which is accompanied by a complete specification or in respect of which a complete specification is filed before that day;<br/>(c) a patent granted in pursuance of such an application.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref127-03">127.03</h3>

<p>Certain provisions of the 1949 Act as set out in Schedule 1 applied to 1949 Act applications for which a complete specification was filed before 1 June 1978 and to patents granted before 1 June 1978 or in pursuance of such an application. Those 1949 Act provisions applied subject to various qualifications given in Schedules 1, 3 and 4.</p>

<h3 id="section-2">127.04</h3>

<p>[deleted]</p>

<h3 id="section-3">127.05</h3>

<p>[deleted]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(3)</strong></td>
    </tr>
    <tr>
      <td>Schedule 2 to this Act shall have effect for securing that (subject to the provisions of that Schedule) certain provisions of this Act shall apply on and after the appointed day to any patent and application to which subsection (2) above relates, but, except as provided by the following provisions of this Act, this Act shall not apply to any such patent or application.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref127-06">127.06</h3>

<p>Certain provisions of the 1977 Act as set out in Schedule 2 have, from 1 June 1978, applied to the 1949 Act applications and patents mentioned in <a href="#ref127-03">127.03</a>. Those 1977 Act provisions applied subject to various qualifications given in Schedules 2 and 4.</p>

<h3 id="section-4">127.07</h3>

<p>[deleted]</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(4)</strong></td>
    </tr>
    <tr>
      <td>An application for a patent which is made before the appointed day, but which does not comply with subsection (2)(b) above, shall be taken to have been abandoned immediately before that day, but, notwithstanding anything in section 5(3) above, the application may nevertheless serve to establish a priority date in relation to a later application for a patent under this Act if the date of filing the abandoned application falls within the period of fifteen months immediately preceding the filing of the later application.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-5">127.08</h3>

<p>1949 Act applications for which a complete specification was not filed before 1 June 1978 were treated as abandoned. However, such an application could provide priority for a subsequent 1977 Act application filed within fifteen months of the date of filing of the abandoned application.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(5)</strong></td>
    </tr>
    <tr>
      <td>Schedule 3 to this Act shall have effect for repealing certain provisions of the 1949 Act.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref127-09">127.09</h3>

<p>Certain provisions of the 1949 Act which have no counterpart in the 1977 Act were repealed, as set out in Schedule 3 but subject to the transitional provisions of Schedule 4.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(6)</strong></td>
    </tr>
    <tr>
      <td>The transitional provisions and savings in Schedule 4 to this Act shall have effect.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref127-10">127.10</h3>
<p>Sch. 4, para 1 is also relevant</p>

<p>Schedule 4 makes provision for the transition from the 1949 Act to the 1977 Act. It provides that anything done under a 1949 Act provision (since repealed by the 1977 Act) which could have been done under a corresponding 1977 Act provision has effect as if done under the latter. It also makes specific provision with regard to the use of patented inventions for services of the Crown, infringement, notices of opposition to the grant of 1949 Act patents, secrecy directions, revocation (including appeals from the court), licences of right and compulsory licences, convention countries, appeals from the comptroller under continuing or repealed provisions of the 1949 Act, appeals from the Patents Appeal Tribunal to the Court of Appeal and the power to make rules.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 127(7)</strong></td>
    </tr>
    <tr>
      <td>In Schedules 1 to 4 to this Act “existing patent” means a patent mentioned in subsection (2)(a) and (c) above, “existing application” means an application mentioned in subsection (2)(b) above, and expressions used in the 1949 Act and those Schedules have the same meanings in those Schedules as in that Act.</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
