<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Section 30: Nature of, and transactions in, patents and applications for patents 
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Sections (30.1 - 30.9) last updated April 2007.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h3 id="section">30.01</h3>

<p>The nature of patents and applications as property, and transactions which may be made therein, are laid down in this section, except that it does not extend to Scotland where s.31 applies instead.</p>

<h3 id="section-1">30.02</h3>

<p>According to s.30, particularly sub-sections (1), (3) and (4), any patent or application is personal property; the patent or application and rights therein vest by operation of law in the same way as any other personal property.</p>

<h3 id="section-2">30.03</h3>

<p>s.77(1), s.78(2) is also relevant.</p>

<p>Section 30 applies in relation to not only 1977 Act patents and applications but also granted European patents (UK) and applications for European patents (UK).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(1)</strong></td>
    </tr>
    <tr>
      <td>Any patent or application for a patent is personal property (without being a thing in action), and any patent or any such application and rights in or under it may be transferred, created or granted in accordance with subsections (2) to (7) below.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(2)</strong></td>
    </tr>
    <tr>
      <td>Subject to section 36(3) below, any patent or any such application, or any right in it, may be assigned or mortgaged.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-3">30.04</h3>

<p>s.36(3) is also relevant.</p>

<p>A patent or application or right therein may be assigned or mortgaged provided that, where two or more persons are proprietors of or applicants for a patent, all of the proprietors or applicants have consented (subject to ss.8, 12 and 37 (which relate to the determination of questions about entitlement to applications and patents) and to any agreement in force).</p>

<h3 id="ref30-05">30.05</h3>

<p>s.130(1) is also relevant.</p>

<p>The term “right” in relation to any patent or application includes an interest in the patent or application; it has also been held to  extend to the right to file a future application (<a href="/guidance/manual-of-patent-practice-mopp/section-130-interpretation/#ref130-22-1">see 130.22.1</a>). Any reference to a right in a patent includes a reference to a share in the patent. A “mortgage” includes a charge for securing money or money’s worth.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(3)</strong></td>
    </tr>
    <tr>
      <td>Any patent or any such application or right shall vest by operation of law in the same way as any other personal property and may be vested by an assent of personal representatives.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(4)</strong></td>
    </tr>
    <tr>
      <td>Subject to section 36(3) below, a licence may be granted under any patent or any such application for working the invention which is the subject of the patent or the application; and <br/>(a) to the extent that the licence so provides, a sub-licence may be granted under any such licence and any such licence or sub-licence may be assigned or mortgaged; and<br/> (b)any such licence or sub-licence shall vest by operation of law in the same way as any other personal property and may be vested by an assent of personal representatives.</td>
    </tr>
  </tbody>
</table>

<h3 id="section-4">30.6</h3>

<p>Following the death of the proprietor or applicant, a patent or application or right therein or licence or sub-licence there under may be vested by an assent of personal representatives and can thus be disposed of in the same way as any other personal property (<a href="/guidance/manual-of-patent-practice-mopp/sections-32-register-of-patents-etc/#ref32-10">see 32.10</a> for registration procedure).</p>

<h3 id="section-5">30.07</h3>

<p>s.36(3) is also relevant.</p>

<p>The grant of licences etc as detailed in s.30(4), where two or more persons are proprietors of or applicants for a patent, again requires the consent of all of the proprietors or applicants (subject to ss.8, 12 and 37 (which relate to the determination of entitlement to applications and patents) and to any agreement in force).</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(5)</strong></td>
    </tr>
    <tr>
      <td>Subsections (2) to (4) above shall have effect subject to the following provisions of this Act.</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(6)</strong></td>
    </tr>
    <tr>
      <td>Any of the following transactions, that is to say -<br/>(a) any assignment or mortgage of a patent or any such application, or any right in a patent or any such application; <br/>(b) any assent relating to any patent or any such application or right; <br/>shall be void unless it is in writing and is signed by or on behalf of the assignor or mortgagor (or, in the case of an assent or other transaction by a personal representative, by or on behalf of the personal representative).</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(6A)</strong></td>
    </tr>
    <tr>
      <td>If a transaction mentioned in subsection (6) above is by a body corporate, reference in that subsection to such a transaction being signed by or on behalf of the assignor or mortgagor shall be taken to include references to its being under the seal of the body corporate.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref30-8">30.8</h3>

<p>Subsection (6) defines the form which certain transactions must take to avoid being treated as void for the purposes of the section. This subsection was deregulated by the Regulatory Reform (Patents) Order 2004 which replaced the requirement that a transaction must be signed by all parties to the transaction with a requirement that it only has to be signed by the assignor. The amended subsection applies to all transactions done outside Scotland and signed on or after 1 January 2005. Transactions done before that date will need to be signed by all parties to the assignment. <a href="#ref30-05">See 30.05</a> with regard to the meanings of “right” and “mortgage” in the Act. In Hartington Conway Ltd’s Patent Applications [2004] RPC 6, where the right in question was the right to file a future application, it was held that s.30(6) applied prior to filing a patent application and would therefore bite on assignments made at that time.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Section 30(7)</strong></td>
    </tr>
    <tr>
      <td>An assignment of a patent or any such application or a share in it, and an exclusive licence granted under any patent or any such application, may confer on the assignee or licensee the right of the assignor or licensor to bring proceedings by virtue of section 61 or 69 below for a previous infringement or to bring proceedings under section 58 below for a previous act.</td>
    </tr>
  </tbody>
</table>

<h3 id="ref30-09">30.9</h3>

<p>An assignment or exclusive licence may also transfer rights under ss.58 (with regard to previous Crown use), 61 and 69 (with regard to previous infringement) to the assignee or licensee.</p>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
