<main role="main" id="content" class="manual-section" lang="en">
      <span id="Top"/>
        <div id="manuals-frontend" class="manuals-frontend-body">
      

    <div class="govuk-grid-row">
      <div class="manual-body">
        <article aria-labelledby="section-title">
          <div class="govuk-grid-column-full">
            <h1 id="section-title" class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">
  Standard titles for online database names
</h1>
          </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="gem-c-lead-paragraph">Section last updated January 2024.</p>

            </div>

          
  <div class="govuk-grid-column-two-thirds">
      
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <p>Within the scope of the investigations made under Section 17(4) of the Patents Act 1977 examiners use their discretion to perform searches of selected online databases. Therefore, most reports issued under Section 17(5) contain references to online databases. It is Office practice for each database to be identified by a short standard title, this overcomes inconsistencies in the use of online database names and ensures the names will fit into the space provided for the Field of Search on the front page of published documents. The standard titles and their definitions are listed below.</p>

<p>An online database may be present on more than one online host and may be divided into a number of individually-named component files. In general only the standard title will be used irrespective of the host accessed for the search or the particular component files searched. It should be noted that the presence of a standard database title does not imply that all component files of that database, or indeed the whole of any one component file, was searched.</p>

<p>It should be noted that the following names are registered trademarks: EMBASE, INSPEC and IP.COM.</p>

<table>
  <tbody>
    <tr>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Standard title</strong></td>
      <td><strong>Corresponding Database and (Host)</strong></td>
    </tr>
    <tr>
      <td>AGRICOLA</td>
      <td>- AGRICOLA (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>ALLOYS</td>
      <td>- ALLOYS (EPOQUE)</td>
    </tr>
    <tr>
      <td>BIOSIS</td>
      <td>- BIOSIS Previews (DIALOG)<br/> - BIOSIS (EPOQUE, STN)</td>
    </tr>
    <tr>
      <td>BIOABS</td>
      <td>- BIOTECHABS (STN)</td>
    </tr>
    <tr>
      <td>BIOTECHNO</td>
      <td>- BIOTECHNO (STN)</td>
    </tr>
    <tr>
      <td>BLASTN</td>
      <td>- Nucleotide Blast search (STN)</td>
    </tr>
    <tr>
      <td>BLASTP</td>
      <td>- Protein Blast search (STN)</td>
    </tr>
    <tr>
      <td>CABA</td>
      <td>- CAB ABSTRACTS [Commonwealth Agricultural Bureau Abstracts] (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>CAS ONLINE</td>
      <td>- CAS REGISTRY File; graphical structure searching CA, CAOLD (STN)</td>
    </tr>
    <tr>
      <td>CBA</td>
      <td>- Current Biotechnology Abstracts (DIALOG)</td>
    </tr>
    <tr>
      <td>CHABS</td>
      <td>- CAS (QUESTEL.ORBIT)<br/>CA SEARCH, CHEMNAME, CHEMSEARCH (DIALOG)</td>
    </tr>
    <tr>
      <td>CLAIMS</td>
      <td>- CLAIMS/CITATION, CLAIMS/REASSIGNMENT &amp; REEXAMINATION, CLAIMS/REFERENCE, CLAIMS/US PATENT ABSTRACTS, CLAIMS/US PATENT ABSTRACTS WEEKLY,<br/> - CLAIMS/UNITERM (DIALOG) IFIPAT, IFIUDB (QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>CMP</td>
      <td>- COMPUTER FULLTEXT (DIALOG)</td>
    </tr>
    <tr>
      <td>COMPUTER NEWS</td>
      <td>- COMPUTER NEWS FULLTEXT (DIALOG)</td>
    </tr>
    <tr>
      <td>COMPENDEX</td>
      <td>- EiCOMPENDEX (DIALOG) <br/> COMPENDEX (STN, QUESTEL.ORBIT)</td>
    </tr>
    <tr>
      <td>DGENE</td>
      <td>- DGENE (STN)</td>
    </tr>
    <tr>
      <td>DOEE</td>
      <td>- ENERGY SCIENCE AND TECHNOLOGY [formerly DOE Energy] (DIALOG) <br/> - ENERGY (STN)</td>
    </tr>
    <tr>
      <td>EPODOC</td>
      <td>- EPODOC; Documentation of the European Patent Office [includes patent and technical literature, and since January 2005 PAJ data] (EPOQUE)</td>
    </tr>
    <tr>
      <td>EMBASE</td>
      <td>- EMBASE (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>FSTA</td>
      <td>- Food Science and Technology Abstracts (DIALOG) <br/> - FSTA (QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>GENEBANK</td>
      <td>- GENEBANK (STN)</td>
    </tr>
    <tr>
      <td>GENEN</td>
      <td>- Nucleotide algorithm search through a selection of EMBL databases and the GENESEQ databases (GENOMEQUEST)</td>
    </tr>
    <tr>
      <td>GENEP</td>
      <td>- Protein algorithm search through a selection of EPO, JPO and USPTO data and the UniProt and GENESEQ databases (GENOMEQUEST)</td>
    </tr>
    <tr>
      <td>GEOPHYSICS</td>
      <td>- Society of Exploration Geophysicists journal archive (Internet)</td>
    </tr>
    <tr>
      <td>IEL</td>
      <td>- IEEE Xplore (Internet)</td>
    </tr>
    <tr>
      <td>INPADOC</td>
      <td>- INPADOC/FAMILY AND LEGAL STATUS (DIALOG)<br/> -  INPADOC (STN)</td>
    </tr>
    <tr>
      <td>INTERNET</td>
      <td>- General Internet search</td>
    </tr>
    <tr>
      <td>INSPEC</td>
      <td>- INSPEC (DIALOG, EPOQUE, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>IP.COM</td>
      <td>- IP.COM (Internet)<br/> - XPIPCOM (EPOQUE)</td>
    </tr>
    <tr>
      <td>JANE’S</td>
      <td>- Jane’s Defense &amp; Aerospace News/Analysis (DIALOG)</td>
    </tr>
    <tr>
      <td>JAPIO</td>
      <td>- Patent Abstracts of Japan [see also PAJ] (DIALOG, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>LFSCICOL</td>
      <td>- Life Science Collection (DIALOG)</td>
    </tr>
    <tr>
      <td>MEDLINE</td>
      <td>- MEDLINE (DIALOG, EPOQUE, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>MOBILITY</td>
      <td>- 1MOBILITY, 2MOBILITY (STN)</td>
    </tr>
    <tr>
      <td>MARPAT</td>
      <td>- MARPAT (STN)</td>
    </tr>
    <tr>
      <td>METADEX</td>
      <td>- METADEX (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>NAPRALERT</td>
      <td>- NAPRALERT (STN)</td>
    </tr>
    <tr>
      <td>NPL</td>
      <td>- NPL (EPOQUE)</td>
    </tr>
    <tr>
      <td>OAC</td>
      <td>- Open Access Central Journal Articles from BioMed Central, Chemistry Central, PhysMathCentral (Internet) <br/> - XPOAC (EPOQUE)</td>
    </tr>
    <tr>
      <td>PAJ</td>
      <td>- Patent Abstracts of Japan [PAJ was merged into EPODOC from January 2005 and ceased to exist as a separate database on EPOQUE from November 2006] (EPOQUE)</td>
    </tr>
    <tr>
      <td>PASCAL</td>
      <td>- PASCAL (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>PCI</td>
      <td>- DERWENT PATENT CITATION INDEX (DIALOG)<br/> - DPCI (STN)</td>
    </tr>
    <tr>
      <td>PIRA</td>
      <td>- Paper, Printing &amp; Packaging Abstracts (DIALOG, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>RAPRA</td>
      <td>- RAPRA Abstracts (DIALOG, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>RM25</td>
      <td>- RM25 laminates (EPOQUE)</td>
    </tr>
    <tr>
      <td>RM26</td>
      <td>- RM26 laminates (EPOQUE)</td>
    </tr>
    <tr>
      <td>SADIQ</td>
      <td>- Glass compositions (EPOQUE)</td>
    </tr>
    <tr>
      <td>SCISEARCH</td>
      <td>- SCISEARCH (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>SPRINGER</td>
      <td>- Springer Verlag Journals (EPOQUE, Internet)</td>
    </tr>
    <tr>
      <td>SEARCH - NPL<br/>(CST)</td>
      <td>- Non-patent literature database of the European Patent Office (subject to UK IPO active subscriptions), specific databases may also be listed</td>
    </tr>
    <tr>
      <td>SEARCH - PATENT<br/>(CST)</td>
      <td>Patent documentation of the European Patent Office including patent and technical literature</td>
    </tr>
    <tr>
      <td>TCM</td>
      <td>- Traditional Chinese Medicine (EPOQUE)</td>
    </tr>
    <tr>
      <td>TEXTECH</td>
      <td>- Textile Technology Digest (DIALOG, STN)</td>
    </tr>
    <tr>
      <td>TDB</td>
      <td>- IBM Technical Disclosure Bulletin (EPOQUE)</td>
    </tr>
    <tr>
      <td>TKDL</td>
      <td>- <a rel="external" href="http://www.tkdl.res.in/tkdl/langdefault/common/Home.asp?GL=Eng">Indian Traditional Knowledge Digital Library</a>
</td>
    </tr>
    <tr>
      <td>TXTA</td>
      <td>- English language full text patent collection [Translated and native] (EPOQUE) - used prior to April 2017</td>
    </tr>
    <tr>
      <td>TXTE</td>
      <td>- Native English language full text patent collection (EPOQUE) - used prior to April 2017</td>
    </tr>
    <tr>
      <td>TXTEN</td>
      <td>- Native English language full text patent collection (EPOQUE) - used prior to April 2017</td>
    </tr>
    <tr>
      <td>TXTT</td>
      <td>- Translated English full text patent collection (EPOQUE) - used prior to April 2017</td>
    </tr>
    <tr>
      <td>Patent Fulltext</td>
      <td>- Selection of full-text patent databases (EPOQUE) - used from April 2017</td>
    </tr>
    <tr>
      <td>WPI</td>
      <td>- DERWENT WORLD PATENT INDEX (DIALOG, EPOQUE, QUESTEL.ORBIT, STN)</td>
    </tr>
    <tr>
      <td>WTEXT</td>
      <td>- World Textiles (DIALOG)</td>
    </tr>
    <tr>
      <td>XP3GPP</td>
      <td>- XP3GPP 3rd Generation Partnership Project (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPAIP</td>
      <td>- XPAIP American Institute of Physics (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPESP</td>
      <td>- XPESP/Science Direct, Elsevier Publishing Group (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPIEE</td>
      <td>- XPIEE Institution of Electrical Engineers (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPIETF</td>
      <td>- XPIETF Internet Engineering Taskforce (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPIOP</td>
      <td>- XPIOP Institute of Physics (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPI3E</td>
      <td>- XPI3E Institution of Electrical and Electronic Engineers (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPJPEG</td>
      <td>- XPJPEG Joint Photographic, and Joint Bi-level Image Experts Groups (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPMISC</td>
      <td>- XPMISC non-patent literature full-text from miscellaneous providers [inc Alcatel Telecommunications Review, Siemens Technical Reports and Speech recognition Conference Proceedings] (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPRD</td>
      <td>- XPRD Research Disclosure (EPOQUE)</td>
    </tr>
    <tr>
      <td>XPTK</td>
      <td>- XPTK Traditional Knowledge (EPOQUE)</td>
    </tr>
  </tbody>
</table>

</div>


        
  </div>

        </article>
      </div>
    </div>

    
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

    </main>
